{% extends 'base.html.twig' %}

{% block title %}Les championnats{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}
    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class='container center'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les championnats</h4>
        </div>

        {% if app.user.admin %}
            <a href='{{ path('backoffice.championnat.new') }}'
               class='btn waves-effect blue lighten-1 btn_gestion'>
                Créer un championnat
            </a>
        {% endif %}

        <div class='card-panel' style='margin-top: 20px;'>
            {% if championnats|length %}
                <table class='striped centered responsive-table backoffice-table'>
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th class='hide-on-med-and-down'>Nombre de journées</th>
                        <th class='hide-on-large-only'>Nb journées</th>
                        <th>Périodicité</th>
                        <th>Brûlage</th>
                        <th>Règle brûlage J2</th>
                        <th>Tri auto.</th>
                        <th>Lié à la FFTT</th>
                        {% if app.user.admin %}
                            <th></th>
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for championnat in championnats %}
                        <tr>
                            <td>
                                <b>{{ championnat.nom }}</b>
                            </td>
                            <td>{{ championnat.nbJournees }} journée{% if championnat.nbJournees > 1 %}s{% endif %}</td>
                            <td>{{ championnat.periodicite ? 'Phase' : 'Saison' }}</td>
                            <td>
                                {% if championnat.limiteBrulage %}
                                    Après {{ championnat.limiteBrulage }} journée{% if championnat.nbJournees > 1 %}s{% endif %}
                                {% else %}
                                    <i>Pas de brûlage</i>
                                {% endif %}
                            </td>
                            <td>
                                <i class='material-icons'>{% if championnat.j2Rule %}check{% else %}clear{% endif %}</i>
                            </td>
                            <td>
                                <i class='material-icons'>{% if championnat.compoSorted %}check{% else %}clear{% endif %}</i>
                            </td>
                            <td>
                                {% if championnat.organismePere %} <i class='material-icons green-text'>leak_add</i>
                                {% else %} <i class='material-icons red-text'>leak_remove</i>
                                {% endif %}
                            </td>
                            {% if app.user.admin %}
                                <td>
                                    <a href='{{ path('backoffice.championnat.edit', {idChampionnat: championnat.idChampionnat}) }}' class='btn waves-effect blue lighten-2 btn_gestion'><i class='material-icons'>edit</i></a>
                                </td>
                                <td>
                                    <form method='post' action='{{ path('backoffice.championnat.delete', {idChampionnat: championnat.idChampionnat}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le championnat ?')">
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ championnat.idChampionnat) }}'>
                                        <button class='btn waves-effect red lighten-2 btn_gestion'>
                                            <i class='material-icons'>delete</i>
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun championnat enregistré</p>
            {% endif %}
        </div>
    </div>
{% endblock %}