{% extends 'base.html.twig' %}

{% block title %}Back-office - Les championnats{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les championnats</h4>
        </div>

        <div class="card-panel center">

            <a style="margin-bottom: 20px;" href="{{ path('backoffice.championnat.new') }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion">Créer un championnat</a>

            {% if championnats|length > 0 %}
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Slug</th>
                        <th>Règle J2</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for championnat in championnats %}
                        <tr>
                            <td>{{ championnat.nom }}</td>
                            <td>{{ championnat.slug }}</td>
                            <td>
                                {% if not rencontre.exempt %}
                                    {% if rencontre.domicile %} <i class="material-icons">home</i>
                                    {% else %} <i class="material-icons">directions_car</i>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('backoffice.championnat.edit', {idChampionnat: championnat.idChampionnat}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('backoffice.championnat.delete', {idChampionnat: championnat.idChampionnat}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer le championnat ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ championnat.idChampionnat) }}">
                                    <button class="btn waves-effect waves-light red lighten-2 btn_gestion">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="lobster_2" style="font-size: 20px;">Il n'y a pas de championnats enregistrés.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}