{% extends 'base.html.twig' %}

{% block title %}Back-office - Les championnats{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class='container center'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les championnats</h4>
        </div>

        <a href='{{ path('backoffice.championnat.new') }}'
           class='btn waves-effect waves-light blue lighten-1 btn_gestion'>
            Créer un championnat
        </a>

        <div class='card-panel' style='margin-top: 20px;'>
            {% if championnats|length %}
                <table class='striped centered responsive-table backoffice-table'>
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th class='hide-on-med-and-down'>Nombre de journées</th>
                        <th class='hide-on-large-only'>Nb journées</th>
                        <th>Limite brûlage</th>
                        <th>Règle brûlage J2</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for championnat in championnats %}
                        <tr>
                            <td>
                                <b>{{ championnat.nom }}</b>
                            </td>
                            <td>{{ championnat.nbJournees }}</td>
                            <td>{{ championnat.limiteBrulage }}</td>
                            <td>
                                {% if championnat.j2Rule %} <i class='material-icons green-text'>check</i>
                                {% else %} <i class='material-icons red-text'>block</i>
                                {% endif %}
                            </td>
                            <td>
                                <a href='{{ path('backoffice.championnat.edit', {idChampionnat: championnat.idChampionnat}) }}' class='btn waves-effect waves-light blue lighten-2 btn_gestion'><i class='material-icons'>edit</i></a>
                            </td>
                            <td>
                                <form method='post' action='{{ path('backoffice.championnat.delete', {idChampionnat: championnat.idChampionnat}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le championnat ?')">
                                    <input type='hidden' name='_method' value='DELETE'>
                                    <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ championnat.idChampionnat) }}'>
                                    <button class='btn waves-effect waves-light red lighten-2 btn_gestion'>
                                        <i class='material-icons'>delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun championnat enregistré</p>
            {% endif %}
        </div>
    </div>
{% endblock %}