{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/edit/championnat.html.twig' as edit %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}Back-office - Les championnats{% endblock %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">
        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ form_errors(form) }}

        {{ edit.championnat(form, 'Créer') }}
    </div>

{% endblock %}