{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/account.html.twig' as edit_account %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}
    {% if type == 'general' %}
        Mon compte
    {% elseif type == 'backoffice' %}
        Modifier le compte
    {% endif %}
{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar" ~ (type != 'general' or isBackOffice ? '_backoffice' : '') ~ ".html.twig") %}
    </header>

    <div class="container">
        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {% if type == 'general' %}
            {{ edit_account.edit_account(type, 'Modifier mon compte', form, equipesAssociees, {editMode: true}) }}
            {{ edit_account.edit_password('Modifier mon mot de passe', path, type, form.vars.value.idCompetiteur) }}
        {% elseif type == 'backoffice' %}
            {{ edit_account.edit_account(type, 'Modifier le compte', form, null, {editMode: true, onlyOneAdmin: onlyOneAdmin, equipesAssociees: equipesAssociees, idsEquipesAssociees: idsEquipesAssociees}) }}
            {% if app.user.admin %}
                {{ edit_account.edit_password('Modifier le mot de passe', path, type, form.vars.value.idCompetiteur) }}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}