{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/account.html.twig' as edit_account %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}
    {% if type == 'general' %}
        Mon compte
    {% elseif type == 'backoffice' %}
        Modifier le compte
    {% endif %}
{% endblock %}

{% block body %}

    <header>
        {% if type == 'general' %}
            {% include("components/navbar.html.twig") %}
        {% elseif type == 'backoffice' %}
            {% include("components/navbar_backoffice.html.twig") %}
        {% endif %}
    </header>

    <div class="container">
        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}

            {% if type == 'general' %}
                <span class="pastille reset christmas_code golden">VB34H</span>
            {% endif %}
        {% endfor %}

        {% if type == 'general' %}
            {{ edit_account.edit_account(type, 'Modifier mon compte', form, app.user.avatar, true, app.user.anneeCertificatMedical, app.user.age, app.user.categorieAgeLabel, app.user.critFed, {licence: app.user.licence, isArchived: false, usernameEditable: true, displayCode: true, cheating: app.user.cheating, isWinner: app.user.winner, isFullWinner: app.user.fullWinner}) }}
            {{ edit_account.edit_password('Modifier mon mot de passe', path, type, 'Modifier') }}
        {% elseif type == 'backoffice' %}
            {{ edit_account.edit_account(type, 'Modifier le compte', form, urlImage, true, anneeCertificatMedical, age, categorieAge, isCritFed, {competiteurId: competiteurId, isLoisir: isLoisir, isArchived: isArchived, usernameEditable: usernameEditable, displayCode: app.user.admin and not isArchived, cheating: cheating, isWinner: winner, isFullWinner: fullWinner}) }}
            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                {{ edit_account.edit_password('Modifier le mot de passe', path, type, {competiteurId: competiteurId}) }}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}