{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/account.html.twig' as edit_account %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}
    {% if type == 'general' %}
        Mon compte
    {% elseif type == 'backoffice' %}
        Modifier le compte
    {% endif %}
{% endblock %}

{% block body %}

    {% if type == 'general' %}
        {% include("components/navbar.html.twig") %}
    {% elseif type == 'backoffice' %}
        {% include("components/navbar_backoffice.html.twig") %}
    {% endif %}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {% if type == 'general' %}
            {{ edit_account.edit_account(type, 'Modifier mon compte', form, urlImage, true, {licence: app.user.licence}) }}
            {{ edit_account.edit_password('Modifier mon mot de passe', path, type, 'Modifier') }}
        {% elseif type == 'backoffice' %}
            {{ edit_account.edit_account(type, 'Modifier le compte', form, urlImage, true, {competiteurId: competiteurId, competiteurIsVisitor: competiteurIsVisitor}) }}
            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                {{ edit_account.edit_password('Modifier le mot de passe', path, type, {competiteurId: competiteurId}) }}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}