{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}
    <header>
        {% include("components/navbar.html.twig") %}
        <script type="text/javascript" src="{{ asset('JS/togglePasswordField.min.js') }}"></script>
    </header>

    <div style="margin-top: 40px;" class="container">
        <div class="card-panel center-align">
            <h3 style="margin-top: 0; margin-bottom: 6px; color: #0c3565">Kompo</h3>

            {% if error %}
                {{ _flash.message(error.messageKey | trans(error.messageData, 'security'), 'red') }}
            {% endif %}

            {% for message in app.flashes('success') %}
                {{ _flash.message(message, 'green') }}
            {% endfor %}

            <form action="{{ path('login') }}" method="POST">
                <div class="container">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="_username" type="text" autocapitalize="off" class="validate" required>
                        <label for="username">Pseudo</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="_password" type="password" class="validate" required>
                        <label for="password" id="label_password">Mot de passe</label>
                        <span id="toggle_password" ontoggle="#password" class="field-icon toggle-password"><span class="material-icons">visibility</span></span>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="filled-in" name="_remember_me"/>
                            <span>Rester connecté</span>
                        </label>
                    </div>
                </div>

                <button class="btn waves-effect blue lighten-2"><i class="material-icons prefix">check</i> C'est parti !</button>
            </form>

            <br><a href="{{ path('login.forgotten.password') }}">Mot de passe oublié</a>
        </div>
    </div>

    <script type="text/javascript">
        if ($('input#password').val()) {
            $('label#label_password').addClass('active')
        }
    </script>
{% endblock %}