{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ flash.success(message) }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ flash.fail(message) }}
        {% endfor %}

        <div class="card-panel center-align">
            <h4 class="h4_form">Modifier mon compte</h4>
            {{ form_start(formCompetiteur) }}
                <div class="row">
                    <div class="col s4">
                        {{ form_row(formCompetiteur.nom) }}
                    </div>
                    <div class="col s4">
                        {{ form_row(formCompetiteur.username) }}
                    </div>
                    <div class="col s4">
                        {{ form_row(formCompetiteur.licence) }}
                    </div>
                </div>
                <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
            {{ form_end(formCompetiteur) }}
        </div>

        <div class="card-panel center-align">
            <h4 class="h4_form">Modifier mon mot de passe</h4>
            <form action="{{ path('account.update.password') }}" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="new_password" id="new_password" type="password" class="validate" required>
                        <label for="new_password">Nouveau mot de passe</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="new_password_validate" id="new_password_validate" type="password" class="validate" required>
                        <label for="new_password_validate">Valider le nouveau mot de passe</label>
                    </div>
                </div>
                <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
            </form>
        </div>
    </div>

{% endblock %}