{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}
{% import 'macros/account.edit.html.twig' as edit_account %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    {% if type == 'general' %}
        {% include("components/navbar.html.twig") %}
    {% elseif type == 'backoffice' %}
        {% include("components/navbar_backoffice.html.twig") %}
    {% endif %}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ flash.success(message) }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ flash.fail(message) }}
        {% endfor %}

        {% if type == 'general' %}
            {{ edit_account.edit_account('Modifier mon compte', form) }}
            {{ edit_account.edit_password('Modifier mon mot de passe', path, type) }}
        {% elseif type == 'backoffice' %}
            {{ edit_account.edit_account('Modifier son compte', form) }}
            {{ edit_account.edit_password('Modifier son mot de passe', path, type, {competiteurId: competiteur.idCompetiteur}) }}
        {% endif %}
    </div>

{% endblock %}