{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Back office - Les dispos{% endblock %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        <div id="disponibilites">

            {% for message in app.flashes('success') %}
                {{ flash.success(message) }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ flash.fail(message) }}
            {% endfor %}

            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                <li class="tab"><a href="#disponibilites_departementales" class="active">Championnat départemental</a></li>
                <li class="tab"><a href="#disponibilites_paris">Championnat de Paris</a></li>
            </ul>

            <div class="card-panel center" id="disponibilites_departementales">

                <table class="striped">
                    <thead>
                        <tr>
                            <th class="center"><h5>Joueur</h5></th>
                            <th class="center"><h5>Journée</h5></th>
                            <th class="center"><h5>Date</h5></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteDepartementales %}
                        <tr>
                            <td>{{ dispo.nom | raw }}</td>
                            <td class="center">{{ dispo.id_journee }}</td>
                            <td class="center">{{ dispo.date | date("d/m/Y") }}</td>
                            <td class="center">
                                {% if dispo.id_disponibilite is null %}
                                    <span><i>Disponibilité non déclarée</i></span><br>
                                    <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'departementale', dispo: 1}) }}">
                                        <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Déclarer disponible</button>
                                    </a>
                                    <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'departementale', dispo: 0}) }}">
                                        <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Déclarer indisponible</button>
                                    </a>
                                {% else %}
                                    {% if dispo.disponibilite == 1 %}
                                        <p class="green lighten-3 white-text">Disponible</p>
                                        <a href="{{ path('backoffice.disponibilite.update', {type: 'departementale', disposJoueur: dispo.id_disponibilite, dispo: 0}) }}">
                                            <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Déclarer indisponible</button>
                                        </a>
                                    {% else %}
                                        <p class="red lighten-3 white-text">Indisponible</p>
                                        <a href="{{ path('backoffice.disponibilite.update', {type: 'departementale', disposJoueur: dispo.id_disponibilite, dispo: 1}) }}">
                                            <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Déclarer disponible</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-panel center" id="disponibilites_paris">

                <table class="striped">
                    <thead>
                        <tr>
                            <th class="center"><h5>Joueur</h5></th>
                            <th class="center"><h5>Journée</h5></th>
                            <th class="center"><h5>Date</h5></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteParis %}
                        <tr>
                            <td>{{ dispo.nom | raw }}</td>
                            <td class="center">{{ dispo.id_journee }}</td>
                            <td class="center">{{ dispo.date | date("d/m/Y") }}</td>
                            <td class="center">
                                {% if dispo.id_disponibilite is null %}
                                    <span><i>Disponibilité non déclarée</i></span><br>
                                    <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'paris', dispo: 1}) }}">
                                        <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Déclarer disponible</button>
                                    </a>
                                    <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'paris', dispo: 0}) }}">
                                        <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Déclarer indisponible</button>
                                    </a>
                                {% else %}
                                    {% if dispo.disponibilite == 1 %}
                                        <p class="green lighten-3 white-text">Disponible</p>
                                        <a href="{{ path('backoffice.disponibilite.update', {journee: dispo.id_journee, type: 'paris', disposJoueur: dispo.id_disponibilite, dispo: 0}) }}">
                                            <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Déclarer indisponible</button>
                                        </a>
                                    {% else %}
                                        <p class="red lighten-3 white-text">Indisponible</p>
                                        <a href="{{ path('backoffice.disponibilite.update', {journee: dispo.id_journee, type: 'paris', disposJoueur: dispo.id_disponibilite, dispo: 1}) }}">
                                            <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Déclarer disponible</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}