{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Back office - Les dispos{% endblock %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        <div id="disponibilites">

            {% for message in app.flashes('success') %}
                {{ flash.success(message) }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ flash.fail(message) }}
            {% endfor %}

            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                <li class="tab"><a href="#disponibilites_departementales" class="active">Championnat départemental</a></li>
                <li class="tab"><a href="#disponibilites_paris">Championnat de Paris</a></li>
            </ul>

            <div class="card-panel center" id="disponibilites_departementales">
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th><h5>Joueur</h5></th>
                            <th><h5>Journée</h5></th>
                            <th><h5>Date</h5></th>
                            <th><h5>Disponibilité</h5></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteDepartementales %}
                        <tr>
                            <td>{{ dispo.idCompetiteur.nom }}</td>
                            <td>{{ dispo.idJournee.idJournee }}</td>
                            <td>{{ dispo.idJournee.date | date("d/m/Y") }}</td>
                            <td>
                                {% if dispo.disponibilite == 1 %}
                                    <a href="{{ path('backoffice.journee.disponibilite.update', {journee: dispo.idJournee.idJournee, type: 'departementale', disposJoueur: dispo.idDisponibilite, dispo: 0}) }}">
                                        <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Déclarer indisponible</button>
                                    </a>
                                {% else %}
                                    <a href="{{ path('backoffice.journee.disponibilite.update', {journee: dispo.idJournee.idJournee, type: 'departementale', disposJoueur: dispo.idDisponibilite, dispo: 1}) }}">
                                        <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Déclarer disponible</button>
                                    </a>
                                {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-panel center" id="disponibilites_paris">
                <table class="striped centered">
                    <thead>
                        <tr>
                            <th><h5>Joueur</h5></th>
                            <th><h5>Journée</h5></th>
                            <th><h5>Date</h5></th>
                            <th><h5>Disponiblité</h5></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteParis %}
                        <tr>
                            <td>{{ dispo.idCompetiteur.nom }}</td>
                            <td>{{ dispo.idJournee.idJournee }}</td>
                            <td>{{ dispo.idJournee.date | date("d/m/Y") }}</td>
                            <td>{% if dispo.disponibilite == 1 %}
                                    <a href="{{ path('journee.disponibilite.update', {journee: dispo.idJournee.idJournee, type: 'paris', disposJoueur: dispo.idDisponibilite, dispo: 0}) }}">
                                        <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Déclarer indisponible</button>
                                    </a>
                                {% else %}
                                    <a href="{{ path('journee.disponibilite.update', {journee: dispo.idJournee.idJournee, type: 'paris', disposJoueur: dispo.idDisponibilite, dispo: 1}) }}">
                                        <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Déclarer disponible</button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}