{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Back office - Les dispos{% endblock %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        <div id="disponibilites">

            {% for message in app.flashes('success') %}
                {{ flash.success(message) }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ flash.fail(message) }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ flash.warning(message) }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Les disponibilités</h4>
            </div>

            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                <li class="tab"><a href="#disponibilites_departementales" class="active">Départemental</a></li>
                <li class="tab"><a href="#disponibilites_paris">Paris</a></li>
            </ul>

            <div class="card-panel center" id="disponibilites_departementales">

                <table class="centered striped responsive-table">
                    <thead>
                        <tr class="hide-on-small-only">
                            <th>Joueur</th>
                            <th>Journée</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteDepartementales %}
                        <tr>
                            <td class="valign-wrapper">
                                {% if dispo.disponibilite is not null %}
                                    {% if dispo.disponibilite == 1 %}
                                        <span class="dot dot1 center">&nbsp;</span>
                                    {% elseif dispo.disponibilite == 0 %}
                                        <span class="dot dot2 center">&nbsp;</span>
                                    {% else %}
                                        <span class="dot dot3 center">&nbsp;</span>
                                    {% endif %}
                                {% else %}
                                    <span class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                                <div class="chip">
                                    <img src="{{ dispo.avatar }}" alt="Avatar">
                                    <span>{{ dispo.nom }}</span>
                                </div>
                            </td>
                            <td>J{{ dispo.id_journee }}</td>
                            <td>{{ dispo.date | date("d/m/Y") }}</td>
                            <td>
                                {% if dispo.id_disponibilite is null %}
                                    <div class="row" style="margin-bottom: 0;">
                                        <div class="col s12 xl6" style="margin-bottom: 2px;">
                                            <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'departementale', dispo: 1}) }}">
                                                <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                            </a>
                                        </div>
                                        <div class="col s12 xl6">
                                            <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'departementale', dispo: 0}) }}">
                                                <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if dispo.disponibilite == 1 %}
                                        <a href="{{ path('backoffice.disponibilite.update', {type: 'departementale', disposJoueur: dispo.id_disponibilite, dispo: 0}) }}">
                                            <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer indisponible</button>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('backoffice.disponibilite.update', {type: 'departementale', disposJoueur: dispo.id_disponibilite, dispo: 1}) }}">
                                            <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer disponible</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-panel center" id="disponibilites_paris">

                <table class="centered striped responsive-table">
                    <thead>
                        <tr class="hide-on-small-only">
                            <th>Joueur</th>
                            <th>Journée</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteParis %}
                        <tr>
                            <td class="valign-wrapper">
                                {% if dispo.disponibilite is not null %}
                                    {% if dispo.disponibilite == 1 %}
                                        <span class="dot dot1 center">&nbsp;</span>
                                    {% elseif dispo.disponibilite == 0 %}
                                        <span class="dot dot2 center">&nbsp;</span>
                                    {% else %}
                                        <span class="dot dot3 center">&nbsp;</span>
                                    {% endif %}
                                {% else %}
                                    <span class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                                <div class="chip">
                                    <img src="{{ dispo.avatar }}" alt="Avatar">
                                    <span>{{ dispo.nom }}</span>
                                </div>
                            </td>
                            <td>J{{ dispo.id_journee }}</td>
                            <td>{{ dispo.date | date("d/m/Y") }}</td>
                            <td>
                                {% if dispo.id_disponibilite is null %}
                                    <div class="row">
                                        <div class="col s12 m6">
                                            <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'paris', dispo: 1}) }}">
                                                <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                            </a>
                                        </div>
                                        <div class="col s12 m6">
                                            <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: 'paris', dispo: 0}) }}">
                                                <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if dispo.disponibilite == 1 %}
                                        <a href="{{ path('backoffice.disponibilite.update', {journee: dispo.id_journee, type: 'paris', disposJoueur: dispo.id_disponibilite, dispo: 0}) }}">
                                            <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer indisponible</button>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('backoffice.disponibilite.update', {journee: dispo.id_journee, type: 'paris', disposJoueur: dispo.id_disponibilite, dispo: 1}) }}">
                                            <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer disponible</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}