{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}

{% block title %}Les disponibilités{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {% for message in app.flashes('warning') %}
            {{ _flash.message(message, 'orange') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les disponibilités</h4>
        </div>

        {% if not disponibilites|length %}
            <div class='card-panel center'>
                <p class="lobster_2 center missingTitle">Aucun championnat enregistré</p>

                <a href='{{ path('backoffice.championnat.new') }}'
                   class='btn waves-effect blue lighten-1 btn_gestion'>
                    Créer un championnat
                </a>
            </div>
        {% else %}
            {% if disponibilites|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1'>
                    {% for nomChampionnat, id_et_joueurs in disponibilites %}
                        <li class='tab'>
                            <a {% if id_et_joueurs.idChampionnat == active %} class="active" {% endif %} href='{{ '#disponibilites_' ~ id_et_joueurs.idChampionnat }}'>{{ nomChampionnat }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, id_et_joueurs in disponibilites %}
                <div id='{{ 'disponibilites_' ~ id_et_joueurs.idChampionnat }}' class='card-panel backoffice-panel'>
                    {{ _disponibilites.backoffice(id_et_joueurs.joueurs) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}