{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}

{% block title %}Back-office - Les dispos{% endblock %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {% for message in app.flashes('warning') %}
            {{ _flash.message(message, 'orange') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les disponibilités</h4>
        </div>

        <ul class='tabs tabs-fixed-width tab-demo z-depth-1'>
            {% for nomChampionnat, disponibilites_champ in disponibilites %}
                <li class='tab'><a href='{{ '#disponibilites_' ~ nomChampionnat|slug }}'>{{ nomChampionnat }}</a></li>
            {% endfor %}
        </ul>

        {% for nomChampionnat, disponibilites_champ in disponibilites %}
            <div id='{{ 'disponibilites_' ~ nomChampionnat|slug }}' class='card-panel backoffice-panel'>
                {{ _disponibilites.backoffice(disponibilites_champ) }}
            </div>
        {% endfor %}
    </div>

{% endblock %}