{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}

{% block title %}Back-office - Les dispos{% endblock %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        <div id="disponibilites">

            {% for message in app.flashes('success') %}
                {{ _flash.message(message, 'green') }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ _flash.message(message, 'orange') }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Les disponibilités</h4>
            </div>

            <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                <li class="tab"><a href="#disponibilites" class="active">Départemental</a></li>
            </ul>

            <div id="disponibilites" class="card-panel backoffice-panel">
                {% if disponibilites|length > 0 %}
                    {{ _disponibilites.backoffice(disponibilites, 'departementale') }}
                {% else %}
                    <p style="font-size: 20px" class="lobster_2 center">Il n'y a pas de disponibilités disponibles</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}