{% extends 'base.html.twig' %}

{% block title %}Back office - Les compétiteurs{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les Compétiteurs</h4>
        </div>

        <div class="card-panel center">

            <a style="margin-bottom: 20px;" href="{{ path('back_office.competiteur.new') }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">person_add</i> Créer un compétiteur</a>

            <table class="striped centered responsive-table table_competiteur_backoffice">
                <thead>
                    <tr class="hide-on-small-only">
                        <th></th>
                        <th class="avatar hide-on-small-only">Avatar</th>
                        <th>Nom</th>
                        <th>Pseudo</th>
                        <th>Licence</th>
                        <th>Classement</th>
                        <th></th>
                    </tr>
                    <tr class="hide-on-med-and-up">
                        <th></th>
                        <th>Nom</th>
                        <th>Pseudo</th>
                        <th>Lic.</th>
                        <th>Class.</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                {% for competiteur in competiteurs %}
                    <tr>
                        <td>
                            {% if not competiteur.visitor %}
                                {% if competiteur.role %}
                                    <span class="new badge blue" data-badge-caption="Capitaine"></span>
                                {% else %}
                                    <span class="new badge green" data-badge-caption="Joueur"></span>
                                {% endif %}
                            {% else %}
                                <span class="new badge orange" data-badge-caption="Visiteur"></span>
                            {% endif %}
                        </td>
                        <td class="hide-on-small-only">
                            <img src="{{ asset(competiteur.avatar ? 'images/profile_pictures/' ~ competiteur.avatar : 'images/account.png') }}" alt="image de profil du joueur" width="80rem" height="80rem" style="object-fit:cover">
                        </td>
                        <td>{{ competiteur.nom }}</td>
                        <td>{{ competiteur.username }}</td>
                        <td>
                            {% if competiteur.visitor %}
                                <i>Sans licence</i>
                            {% else %}
                                {% if competiteur.licence %}
                                    {{ competiteur.licence }}
                                {% else %}
                                    <span class="red-text lighten-2">Non renseignée</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if competiteur.visitor %}
                                <i>Sans classement</i>
                            {% else %}
                                {% if competiteur.classementOfficiel %}
                                    {{ competiteur.classementOfficiel }}
                                {% else %}
                                    <span class="red-text lighten-2">Non renseigné</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('backoffice.competiteur.edit', {id: competiteur.idCompetiteur}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a>
                        </td>
                        <td>
                            <form method="post" action="{{ path('backoffice.competiteur.delete', {id: competiteur.idCompetiteur}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer le joueur ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competiteur.idCompetiteur) }}">
                                <button class="btn waves-effect waves-light red lighten-2 btn_gestion">
                                    <i class="material-icons">delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}