{% if erreur %}
    <p class="pastille red white-text">{{ erreur }}</p>
{% else %}
    <h6><b>{{ equipe.division }} - Poule {{ equipe.poule }} - {{ equipe.nom }}</b></h6>
    {% if classementPoule|length > 0 %}
        <table class="striped classementPoule">
            {% for equipeClassement in classementPoule %}
                <tr>
                    <td class="td-position_club">
                        {% if equipeClassement.classement %}
                            <span class="badge light-blue darken-2 white-text">{{ equipeClassement.classement }}</span>
                        {% endif %}
                    </td>
                    <td class="{{ equipeClassement.isOurClub }} td-club_name">
                        <span class="truncate">{{ equipeClassement.nom }}</span>
                    </td>
                    <td class="td-club_points">
                        <span class="pastille reset virtualPoints truncate">{{ equipeClassement.points }} pts</span>
                    </td>
                    <td class="td-pg_pp">
                        <div class="pg_pp">
                            <div class="green-text">{{ equipeClassement.victoires }}</div>
                            <div class="red-text">{{ equipeClassement.defaites }}</div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h6 class="center pastille reset orange">Aucune équipe n'est enregistrée pour le moment</h6>
    {% endif %}
{% endif %}