{% if erreur %}
    <p class="pastille red white-text">{{ erreur }}</p>
{% else %}

    <div class="virtualRankButtons">
        <div class="buttonGroup">
            <button class="btn waves-effect firstBtnVirtualPoints withMiddle" type="submit" name="action" onclick="changePeriode('mois')" id="btnMois">Mois</button>
            <button class="btn waves-effect" type="submit" name="action" onclick="changePeriode('phase')" id="btnPhase">Phase</button>
            <button class="btn waves-effect lastBtnVirtualPoints" type="submit" name="action" onclick="changePeriode('saison')" id="btnSaison">Saison</button>
        </div>
        <div class="buttonGroup">
            <button class="btn waves-effect firstBtnVirtualPoints" type="submit" name="action" onclick="changeTri('progression')" id="btnProgression">Progression</button>
            <button class="btn waves-effect lastBtnVirtualPoints" type="submit" name="action" onclick="changeTri('points')" id="btnPoints">Points</button>
        </div>
    </div>

    <table class="striped rankingVirtualPoints">
        <tbody id="mode_progression_mensuel">
            {{ _self.classement(classementProgressionMensuel, 'pointsVirtuelsPointsWonMensuel') }}
        </tbody>

        <tbody id="mode_progression_saison" hidden="hidden">
            {{ _self.classement(classementProgressionSaison, 'pointsVirtuelsPointsWonSaison') }}
        </tbody>

        <tbody id="mode_points_saison" hidden="hidden">
            {{ _self.classement(classementPointsSaison, 'pointsVirtuelsPointsWonSaison') }}
        </tbody>

        <tbody id="mode_progression_phase" hidden="hidden">
            {{ _self.classement(classementProgressionPhase, 'pointsVirtuelsPointsWonPhase') }}
        </tbody>

        <tbody id="mode_points_mensuel" hidden="hidden">
            {{ _self.classement(classementPointsMensuel, 'pointsVirtuelsPointsWonMensuel') }}
        </tbody>

        <tbody id="mode_points_phase" hidden="hidden">
            {{ _self.classement(classementPointsPhase, 'pointsVirtuelsPointsWonPhase') }}
        </tbody>
    </table>

    <script type="text/javascript">
        periode = 'mois';
        tri = 'progression';

        tbody_mode_progression_saison = $('tbody#mode_progression_saison');
        tbody_mode_progression_mensuel = $('tbody#mode_progression_mensuel');
        tbody_mode_progression_phase = $('tbody#mode_progression_phase');
        tbody_mode_points_saison = $('tbody#mode_points_saison');
        tbody_mode_points_mensuel = $('tbody#mode_points_mensuel');
        tbody_mode_points_phase = $('tbody#mode_points_phase');
        btnMois = $('button#btnMois');
        btnPhase = $('button#btnPhase');
        btnSaison = $('button#btnSaison');
        btnProgression = $('button#btnProgression');
        btnPoints = $('button#btnPoints');

        btnMois.css('background-color', '#64b5f6');
        btnProgression.css('background-color', '#64b5f6');

        function changePeriode(newPeriode) {
            periode = newPeriode;

            if (periode === 'saison') {
                btnMois.css('background-color', '#2196f3');
                btnPhase.css('background-color', '#2196f3');
                btnSaison.css('background-color', '#64b5f6');
                tbody_mode_points_phase.attr('hidden', '');
                tbody_mode_progression_phase.attr('hidden', '');
                tbody_mode_points_mensuel.attr('hidden', '');
                tbody_mode_progression_mensuel.attr('hidden', '');
                if (tri === 'progression') {
                    tbody_mode_points_saison.attr('hidden', '');
                    tbody_mode_progression_saison.removeAttr('hidden');
                } else if (tri === 'points') {
                    tbody_mode_progression_saison.attr('hidden', '');
                    tbody_mode_points_saison.removeAttr('hidden');
                }
            } else if (periode === 'phase') {
                btnMois.css('background-color', '#2196f3');
                btnPhase.css('background-color', '#64b5f6');
                btnSaison.css('background-color', '#2196f3');
                tbody_mode_progression_saison.attr('hidden', '');
                tbody_mode_points_saison.attr('hidden', '');
                tbody_mode_points_mensuel.attr('hidden', '');
                tbody_mode_progression_mensuel.attr('hidden', '');
                if (tri === 'progression') {
                    tbody_mode_points_phase.attr('hidden', '');
                    tbody_mode_progression_phase.removeAttr('hidden');
                } else if (tri === 'points') {
                    tbody_mode_progression_phase.attr('hidden', '');
                    tbody_mode_points_phase.removeAttr('hidden');
                }
            } else if (periode === 'mois') {
                btnMois.css('background-color', '#64b5f6');
                btnPhase.css('background-color', '#2196f3');
                btnSaison.css('background-color', '#2196f3');
                tbody_mode_points_saison.attr('hidden', '');
                tbody_mode_progression_saison.attr('hidden', '');
                tbody_mode_points_phase.attr('hidden', '');
                tbody_mode_progression_phase.attr('hidden', '');
                if (tri === 'progression') {
                    tbody_mode_points_mensuel.attr('hidden', '');
                    tbody_mode_progression_mensuel.removeAttr('hidden');
                } else if (tri === 'points') {
                    tbody_mode_progression_mensuel.attr('hidden', '');
                    tbody_mode_points_mensuel.removeAttr('hidden');
                }
            }
        }

        function changeTri(newTri) {
            tri = newTri;

            if (tri === 'progression') {
                tbody_mode_points_phase.attr('hidden', '');
                tbody_mode_points_mensuel.attr('hidden', '');
                tbody_mode_points_saison.attr('hidden', '');
                btnProgression.css('background-color', '#64b5f6');
                btnPoints.css('background-color', '#2196f3');
                if (periode === 'saison') {
                    tbody_mode_progression_saison.removeAttr('hidden');
                    tbody_mode_progression_phase.attr('hidden', '');
                    tbody_mode_progression_mensuel.attr('hidden', '');
                } else if (periode === 'phase') {
                    tbody_mode_progression_saison.attr('hidden', '');
                    tbody_mode_progression_phase.removeAttr('hidden');
                    tbody_mode_progression_mensuel.attr('hidden', '');
                } else if (periode === 'mois') {
                    tbody_mode_progression_saison.attr('hidden', '');
                    tbody_mode_progression_phase.attr('hidden', '');
                    tbody_mode_progression_mensuel.removeAttr('hidden');
                }
            } else if (tri === 'points') {
                tbody_mode_progression_saison.attr('hidden', '');
                tbody_mode_progression_mensuel.attr('hidden', '');
                tbody_mode_progression_phase.attr('hidden', '');
                btnProgression.css('background-color', '#2196f3');
                btnPoints.css('background-color', '#64b5f6');
                if (periode === 'phase') {
                    tbody_mode_points_mensuel.attr('hidden', '');
                    tbody_mode_points_phase.removeAttr('hidden');
                    tbody_mode_points_saison.attr('hidden', '');
                } else if (periode === 'mois') {
                    tbody_mode_points_mensuel.removeAttr('hidden');
                    tbody_mode_points_phase.attr('hidden', '');
                    tbody_mode_points_saison.attr('hidden', '');
                } else if (periode === 'saison') {
                    tbody_mode_points_saison.removeAttr('hidden');
                    tbody_mode_points_phase.attr('hidden', '');
                    tbody_mode_points_mensuel.attr('hidden', '');
                }
            }
        }
    </script>
{% endif %}

{% macro classement(classementVirtuel, pointsWonField) %}
    {% for joueur in classementVirtuel %}
        <tr>
            {% if joueur["gap"] is defined %}
                <td class="progression-td">
                    {% if joueur["hasLicence"] %}
                        <i class="material-icons {{ joueur["gap"]["color"] }}-text">{% if joueur["gap"]["gap"] > 0 %}keyboard_arrow_up{% elseif joueur["gap"]["gap"] == 0 %}keyboard_arrow_right{% else %}keyboard_arrow_down{% endif %}</i><span class="{{ joueur["gap"]["color"] }}-text">{{ joueur["gap"]["gap"] | abs }}</span>
                    {% endif %}
                </td>
            {% endif %}
            <td class="td-chip">
                <div class="chip">
                    <img src="{{ asset(joueur["avatar"]) }}" alt="Avatar">
                    {% if loop.index <4 %}
                        <i class="material-icons {% if loop.index == 1 %}gold-color{% elseif loop.index == 2 %}silver-color{% elseif loop.index == 3 %}bronze-color{% endif %}">military_tech</i>
                    {% endif %}
                    <span class="nom{% if joueur["nom"] == app.user.prenom ~ ' ' ~ app.user.nom %} bold light_blue{% endif %}">{{ joueur["nom"] }}</span>
                </div>
            </td>
            <td class="td-name{% if joueur["gap"] is not defined %} pl5{% endif %}">
                <span class="nom{% if joueur["nom"] == app.user.prenom ~ ' ' ~ app.user.nom %} bold light_blue{% endif %}">{{ joueur["nom"] }}</span>
            </td>
            {% if joueur["hasLicence"] %}
                <td class="points-td">
                    <span class="pastille reset virtualPoints">{{ joueur["pointsVirtuelsVirtualPoints"] | round(1, 'floor') }} pts</span>
                </td>
                <td class="progression-td">
                    <span class="{% if joueur[pointsWonField] > 0 %}green{% elseif joueur[pointsWonField] == 0 %}grey{% else %}red{% endif %}-text">
                        <i class="material-icons">{% if joueur[pointsWonField] > 0 %}keyboard_arrow_up{% elseif joueur[pointsWonField] == 0 %}keyboard_arrow_right{% else %}keyboard_arrow_down{% endif %}</i>{{ joueur[pointsWonField] | round(1, 'floor') | abs }}</span>
                </td>
            {% else %}
                <td colspan="2" class="center">
                    <span class="red-text text-lighten-1">Licence indéfinie</span>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endmacro %}