{% if erreur %}
    <p class="pastille red white-text erreurXHR" style="margin-top: 15px">{{ erreur }}</p>
{% else %}
    <h6><b>{{ equipe.division }} - Poule {{ equipe.poule }} - {{ equipe.nom }}</b></h6>

    {# Classement de la poule #}
    {% if classementPoule|length > 0 %}
        <table class="striped classementPoule">
            {% for equipeClassement in classementPoule %}
                <tr>
                    <td class="td-position_club">
                        {% if equipeClassement.classement %}
                            <span class="badge light-blue darken-2 white-text">{{ equipeClassement.classement }}</span>
                        {% endif %}
                    </td>
                    <td class="{{ equipeClassement.isOurClub }} td-club_name">
                        <span class="truncate">{{ equipeClassement.nom }}</span>
                    </td>
                    <td class="td-club_points">
                        <span class="pastille reset virtualPoints truncate">{{ equipeClassement.points }} pts</span>
                    </td>
                    <td class="td-pg_pp">
                        <div class="pg_pp">
                            <div class="green-text">{{ equipeClassement.victoires }}</div>
                            <div class="red-text">{{ equipeClassement.defaites }}</div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h6 class="center pastille reset orange">Aucune équipe n'est enregistrée pour le moment</h6>
    {% endif %}

    {# Résultats des journées de la poule #}
    {% if resultatsPoule|length > 0 %}
        <div class="histoMatchesContentPoule">
            {% for date, resultatsJournees in resultatsPoule %}
                <div class="card grey lighten-4 z-depth-0 rencontre journeePoule">
                    <p class="date white-text">{{ date }}</p>
                    <p class="blue-text text-darken-2"><b>Journée {{ loop.index }}</b></p>

                    {% for journee in resultatsJournees %}
                        <div class="row{% if (journee.equipeA | upper) == (equipe.nom | upper) or (journee.equipeB | upper) == (equipe.nom | upper) %} depthed{% endif %}">
                            <div class="col s5">
                                <p class="nomAdversaire {{ journee.winner == 'A' ? 'green' : (journee.winner == 'B' ? 'red' : (journee.winner == 'NUL' ? 'grey' : 'black')) }}-text{% if (journee.equipeA | upper) == (equipe.nom | upper) %} bold{% endif %}">{{ journee.equipeA }}</p>
                            </div>
                            <div class="col s2">
                                {% if journee.winner != 'LATER' %}
                                    <span class="scoreRencontre"><b>{{ journee.score }}</b></span>
                                {% elseif not journee.equipeA or not journee.equipeB %}
                                    <span class="scoreRencontre grey-text text-lighten-1"><b>Exemptée</b></span>
                                {% else %}
                                    <span class="scoreRencontre"><b>-</b></span>
                                {% endif %}
                            </div>
                            <div class="col s5">
                                <p class="nomAdversaire {{ journee.winner == 'B' ? 'green' : (journee.winner == 'A' ? 'red' : (journee.winner == 'NUL' ? 'grey' : 'black')) }}-text{% if (journee.equipeB | upper) == (equipe.nom | upper) %} bold{% endif %}">{{ journee.equipeB }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h6 class="center pastille reset orange">Aucun résultat n'est enregistré pour le moment</h6>
    {% endif %}
{% endif %}