{% if erreur %}
    <p class="pastille red white-text erreurXHR">{{ erreur }}</p>
{% else %}
    <script type="text/javascript">
        $('.tabs').tabs({});
    </script>

    <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 10px;'>
        {% for statsChamp in classementProgressionMensuelEquipe %}
            <li class='tab'>
                <a href='{{ '#statsChamp_' ~ statsChamp.championnat.idChampionnat }}' {% if statsChamp.championnat.idChampionnat == idChampActif %} class="active" {% endif %}>{{ statsChamp.championnat.nomChampionnat }}</a>
            </li>
        {% endfor %}
    </ul>

    {% for statsChamp in classementProgressionMensuelEquipe %}
        <div class='row center' id='{{ 'statsChamp_' ~ statsChamp.championnat.idChampionnat }}' style="margin-top: 20px">
            <div class="col s12 m8 offset-m2">
                <table class="striped rankingVirtualPoints">
                    <tbody>
                    {% for equipe in statsChamp.progression %}
                        <tr>
                            <td class="td-chips">
                                <span class="nom"><b>Équipe {{ equipe["numEquipe"] }}</b></span>
                            </td>
                            <td class="nbJoueurs-td">
                                <span>{{ equipe["nbJoueurs"] }} joueur{{ equipe["nbJoueurs"] > 1 ? 's' : '' }}</span>
                            </td>
                            <td class="progression-td">
                                <span class="{% if equipe['progressionEquipe'] > 0 %}green{% elseif equipe['progressionEquipe'] == 0 %}grey{% else %}red{% endif %}-text">
                                    <i class="material-icons">{% if equipe['progressionEquipe'] > 0 %}keyboard_arrow_up{% elseif equipe['progressionEquipe'] == 0 %}keyboard_arrow_right{% else %}keyboard_arrow_down{% endif %}</i>
                                    {{ equipe['progressionEquipe'] | abs }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endif %}