{% if matchesDates is not empty %}
    {% for date, matches in matchesDates %}
        <div class="card grey lighten-3 z-depth-0 rencontre">
            <p class="date blue white-text">{{ date }}</p>
            <p class="epreuve"><i>{{ matches.epreuve }}</i></p>
            <p class="evolution">
                <b>{{ matches.startVirtualPoints }}
                    <i class="material-icons {{ matches.startVirtualPoints == matches.updatedVirtualPoints ? 'grey' : (matches.startVirtualPoints > matches.updatedVirtualPoints ? 'red' : 'green') }}-text">navigate_next</i>
                    {{ matches.updatedVirtualPoints }}</b>
            </p>

            {% for match in matches.matches %}
                <div class="row">
                    <div class="col s7">
                        <p class="nomAdversaire">{{ match.adversaire }}</p>
                    </div>
                    <div class="col s2">
                        <p class="{{ match.isForfait ? 'grey' : (match.isVictoire ? 'green' : 'red') }}-text">
                            {{ (match.pointsGagnes > 0 ? '+' : '') ~ match.pointsGagnes }}
                        </p>
                    </div>
                    <div class="col s3">
                        <p class="{{ match.isForfait ? 'grey' : (match.isVictoire ? 'green' : 'red') }}-text">
                            {{ match.pointsAdversaire }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col s7"></div>
                <div class="col s2 finalPointsWon">
                    <p class="{{ matches.totalPointsWon > 0 ? 'green' : 'red' }}-text">
                        <b>{{ (matches.totalPointsWon > 0 ? '+' : '') ~ matches.totalPointsWon }}</b>
                    </p>
                </div>
                <div class="col s3 finalPointsWon">
                    <p class="grey-text text-darken-1 coeff">{{ matches.coefficient }}</p>
                </div>
            </div>

        </div>
    {% endfor %}
{% else %}
    <p style="max-width: 375px; margin-top: 15px;" class="pastille reset blue-text text-lighten-1">Vous n'avez aucun match virtuel en attente de calcul, tous vos matches ont été comptabilisés par la FFTT et vos points mensuels sont à jour.</p>
{% endif %}