{% if erreur %}
    <p class="pastille red white-text">{{ erreur }}</p>
{% else %}
    <h6><b>Joueurs alignés par {{ nomAdversaire }}</b></h6>
    {% if journees|length > 0 %}
        {% for journee in journees %}
            <p style="margin-top: 20px; margin-bottom: 8px" class="pastille blue reset">Journée {{ loop.index }} contre {{ journee.nomAdversaireBis }}</p>
            {% if not journee.errorMatchSheet %}
                {% if journee.joueurs|length > 0 %}
                        <table class="striped centered table-last-compos">
                            {% for nom, donnees in journee.joueurs %}
                                <tr>
                                    <td style="max-width: 50px" class="tdShowedInPhone"><span class="truncate">{{ nom }}</span></td>
                                    <td>{% if donnees.points %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ donnees.points }}</span>
                                        {% else %}
                                            <i class='material-icons block grey-text text-lighten-2'>block</i>
                                        {% endif %}
                                    <td>
                                        {% for resultat in donnees.resultats %}
                                            <span class="reset pastille {{ resultat.resultat }}">{{ resultat.pointsJoueurAdversaire | raw }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                {% else %}
                    <h6 class="center">En attente des résulats ... patience 😊</h6>
                {% endif %}
            {% else %}
                <p style="margin: 0; border-radius: 5px;" class="pastille grey darken-5">Feuille de match erronée</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <h6 class="center pastille reset orange">Aucune rencontre n'est enregistrée pour le moment</h6>
    {% endif %}
{% endif %}