<ul class="collapsible backoffice_disponibilites">
    {% for tournoi in tournois %}
        <li>
            <div class="collapsible-header" style="padding: 6px 0 !important;">
                <div class="chip" style="padding: 0 !important;">
                    <b>{{ tournoi.address.addressLocality }}</b>{{ ' (' ~ tournoi.address.postalCode ~ ') - ' ~ tournoi.startDate|date('d/m') ~ ' au ' ~ tournoi.endDate|date('d/m') }}
                    <b>{{ tournoi.address.addressLocality }}</b>{{ ' (' ~ tournoi.address.postalCode ~ ') - ' ~ tournoi.startDate|format_datetime(pattern='d MMMM', locale='fr') ~ ' au ' ~ tournoi.endDate|format_datetime(pattern='d MMMM', locale='fr') }}
                </div>
                <i class="caret material-icons">keyboard_arrow_down</i>
            </div>
            <div class="collapsible-body">
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for tableau in tournoi.tableaux %}
                            <tr>
                                <td>
                                    <b>{{ tableau.name }}</b>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </li>
    {% endfor %}
</ul>