<script type="text/javascript" defer src="{{ asset('JS/copyPaste.min.js') }}"></script>
<script type="text/javascript" defer src="{{ asset('JS/getDetailsTableauxTournoi.min.js') }}"></script>
<p class="center" id="nbTournois"><i>{{ tournois|length }} tournoi{{ tournois|length > 1 ? 's' : '' }} trouvé{{ tournois|length > 1 ? 's' : '' }} ({{ dateStart }} - {{ dateEnd }})</i></p>

<ul class="collapsible">
    {% for tournoi in tournois %}
        <li>
            <div onclick="getDetailsTableauxTournoi('{{ tournoi.id }}')" class=" collapsible-header" style="padding: 6px 0 !important;">
                <div class="chip">
                    <span class="hide-on-med-and-up"><b>{{ tournoi.address.addressLocality }}</b>{{ ' - ' ~ tournoi.startDate|date('d/m') ~ (tournoi.endDate != tournoi.startDate ? ' au ' ~ tournoi.endDate|date('d/m') : '') }}</span>
                    <span class="hide-on-small-and-down"><b>{{ tournoi.address.addressLocality }}</b>{{ ' (' ~ tournoi.address.postalCode ~ ') - ' ~ tournoi.startDate|format_datetime(pattern='EEE d MMM', locale='fr')|title ~ (tournoi.endDate != tournoi.startDate ? ' au ' ~ tournoi.endDate|format_datetime(pattern='EEE d MMM', locale='fr')|title : '') }}</span>
                </div>
                <i class="caret material-icons">keyboard_arrow_down</i>
            </div>
            <div class="collapsible-body">
                <h6 class="center"><b>{{ tournoi.startDate|format_datetime(pattern='EEEE d MMM', locale='fr')|title ~ (tournoi.endDate != tournoi.startDate ? ' au ' ~ tournoi.endDate|format_datetime(pattern='EEEE d MMM', locale='fr')|title : '') }}</b></h6>

                <div class="row">
                    <div class="col s12 m6 sectQuote">
                        <blockquote>Nom du tournoi</blockquote>
                        <span>{{ tournoi.name }}</span>
                    </div>
                    <div class="col s8 m4 sectQuote">
                        <blockquote>Club</blockquote>
                        <span>{{ tournoi.clubName }}</span>
                    </div>
                    <div class="col s4 m2 sectQuote">
                        <blockquote>Type</blockquote>
                        <span>{{ tournoi.type }}</span>
                    </div>
                </div>

                <div class="row">
                    {% if tournoi.reglement.url or tournoi.autreFichier.url %}
                        <div class="col s12 m6 sectQuote" id="reglement">
                            <blockquote>Documents</blockquote>
                            {% if tournoi.reglement.url %}<a target="_blank" href="{{ tournoi.reglement.url }}">{{ tournoi.reglement.originalFilename }}</a><br>{% endif %}
                            {% if tournoi.autreFichier.url and tournoi.reglement.originalFilename != tournoi.autreFichier.originalFilename %}<a target="_blank" href="{{ tournoi.autreFichier.url }}">{{ tournoi.autreFichier.originalFilename }}</a>{% endif %}
                        </div>
                    {% endif %}
                    {% if tournoi.dotationTotale %}
                        <div class="col s8 m4 l4 sectQuote">
                            <blockquote {% if not (tournoi.reglement.url or tournoi.autreFichier.url) %}id="reglement"{% endif %}>Dotation</blockquote>
                            <span>{{ tournoi.dotationTotale }}</span>
                        </div>
                    {% endif %}
                    {% if tournoi.page %}
                        <div class="col s4 m2 l2 sectQuote">
                            <blockquote {% if not (tournoi.reglement.url or tournoi.autreFichier.url or tournoi.dotationTotale) %}id="reglement"{% endif %}>Page</blockquote>
                            <a target="_blank" href="{{ tournoi.page }}">Cliquez ici</a><br>
                        </div>
                    {% endif %}
                </div>

                <blockquote>S'y rendre</blockquote>
                <p {% if tournoi.address.disambiguatingDescription %}style="margin-bottom: 0;"{% endif %} class="adresse_{{ tournoi.id }}">{{ tournoi.address.GPSAddress }}</p>
                {% if tournoi.address.disambiguatingDescription %}<p style="margin-top: 2px">{{ tournoi.address.disambiguatingDescription }}</p>{% endif %}

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.1573075487363!2d-0.5248402!3d47.4868488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480878532b9af879%3A0x41ad956cda444e64!2s2%20Rue%20de%20l&#39;%C3%89criture%2C%2049100%20Angers!5e0!3m2!1sfr!2sfr!4v1690572090830!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                <div class="center">
                    <div class="btn-gps">
                        <div class="row_btns">
                            <div class="card grey lighten-3 z-depth-0">
                                <div><h6>Maps</h6></div>
                                <div>
                                    <a target="_blank" href="{{ tournoi.address.hrefMapsAdresse }}" class="z-depth-3 btn-small btn-floating white waves-effect modal-trigger">
                                        <img src="{{ asset('images/maps.svg') }}" alt="logo de google maps">
                                    </a>
                                </div>
                            </div>
                            <div class="card grey lighten-3 z-depth-0">
                                <div><h6>Waze</h6></div>
                                <div>
                                    <a target="_blank" href="https://waze.com/ul?q={{ tournoi.address.hrefWazeAdresse }}" class="z-depth-3 btn-small btn-floating waves-effect modal-trigger">
                                        <img src="{{ asset('images/waze.svg') }}" alt="logo de waze">
                                    </a>
                                </div>
                            </div>
                            <div class="card grey lighten-3 z-depth-0">
                                <div><h6>Copier</h6></div>
                                <div>
                                    <button onclick="copyPaste('{{ tournoi.id }}')" class="z-depth-3 btn-small btn-floating white waves-effect modal-trigger">
                                        <i class="material-icons white black-text">content_copy</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <blockquote>Les tableaux</blockquote>
                <div id="preloaderTableauxTournoi{{ tournoi.id }}" class="center">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </li>
    {% endfor %}
    <script type="text/javascript" defer src="{{ asset('JS/resizeResponsiveTable.min.js') }}"></script>
</ul>