{% if tableaux|length %}
    <table class="striped centered responsive-table table-to-adapt-columns">
        <thead class="hide-on-med-and-down">
        <tr>
            <th>Jour</th>
            <th>Pointage</th>
            <th>Tableau</th>
            <th>Coût</th>
            <th>Dotation</th>
            <th>Type</th>
            <th>Genres</th>
        </tr>
        </thead>
        <tbody>
        {% for jour, tableauxPerDay in tableaux %}
            {% for tableau in tableauxPerDay %}
                <tr {% if loop.first and not loop.parent.loop.first %}class="firstBorderTr"{% endif %}>
                    {% if loop.first %}
                        <td class="hide-on-med-and-down rowspan{{ loop.parent.loop.first ? ' firstBorder' : '' }}" rowspan="{{ tableauxPerDay|length }}">
                            {{ tableau.date|format_datetime(pattern='EEEE dd/MM', locale='fr')|title }}
                        </td>
                    {% endif %}
                    {% if tableaux|filter((v, k) => (v|filter(t => t.time != null)))|length %}
                        <td class="noWrap hide-on-med-and-down{{ loop.first and not loop.parent.loop.first ? ' firstBorderTd' : '' }}">{{ tableau.time }}</td>
                    {% endif %}
                    <td class="show-on-medium-and-down hide-on-large-only hide-on-extra-large-only">
                        <u>{{ tableau.date|format_datetime(pattern='EEEE dd/MM', locale='fr')|title }}{% if tableau.time %}{{ ' - ' ~ tableau.time }}{% endif %}</u>
                    </td>
                    <td {% if loop.first and not loop.parent.loop.first %}class="firstBorderTd"{% endif %}>
                        <b>{{ tableau.name }}</b>
                    </td>
                    {% if tableaux|filter((v, k) => (v|filter(t => t.description != null)))|length %}
                        <td class="description{{ loop.first and not loop.parent.loop.first ? ' firstBorderTd' : '' }}">
                            <b>{{ tableau.description }}</b>
                        </td>
                    {% endif %}
                    <td class="noWrap{% if loop.first and not loop.parent.loop.first %} firstBorderTd{% endif %}">{{ tableau.cout }}</td>
                    <td class="noWrap{% if loop.first and not loop.parent.loop.first %} firstBorderTd{% endif %}">{{ tableau.type }}</td>
                    {% if tableaux|filter((v, k) => (v|filter(t => t.dotation != null)))|length %}
                        <td class="noWrap{% if loop.first and not loop.parent.loop.first %} firstBorderTd{% endif %}">{{ tableau.dotation }}</td>
                    {% endif %}
                    <td class="noWrap{% if loop.first and not loop.parent.loop.first %} firstBorderTd{% endif %}">{{ tableau.genres }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p><i>Non communiqués pour le moment ...</i></p>
{% endif %}