{% macro edit_account(type, title, form, urlImage, editMode, options) %}
    <div class="card-panel center-align account-card">

        <h4 class="h4_form" style="margin-bottom: 0;">{{ title }}</h4><br>

        {{ form_start(form) }}
            <div class="row section" style="margin-bottom: 0;">
                <h5 style="margin-top: 0;">Informations personnelles</h5>

                <div class="col s12 m4">
                    <span><i class="material-icons prefix">person</i> NOM *</span>{{ form_row(form.nom, {'id': 'my_own_id'}) }}
                </div>
                <div class="col s12 m4">
                    <span><i class="material-icons prefix">person</i> Prénom *</span>{{ form_row(form.prenom) }}
                </div>
                <div class="col s12 m4">
                    <span><i class="material-icons prefix">account_circle</i> Pseudo *</span>{{ form_row(form.username, {'attr': {'autocapitalize': 'off'}}) }}
                </div>

                {% if 'ROLE_ADMIN' in app.token.roleNames and type == 'backoffice' %}
                    <div class="col s12 m4">
                        {{ form_row(form.isAdmin, {'id': 'cb_admin'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.isCapitaine, {'id': 'cb_capitaine'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.visitor, {'id': 'cb_visiteur'}) }}
                    </div>
                {% endif %}
            </div>

            {% if type == 'general' or ('ROLE_ADMIN' in app.token.roleNames and type == 'backoffice') %}
                <div class="row section">
                    <h5>Contacts</h5>

                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">mail</i> Adresse mail n°1</span>{{ form_row(form.mail, {'id': 'i_mail'}) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactableMail, {'id': 'cb_c_mail'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">mail</i> Adresse mail n°2</span>{{ form_row(form.mail2, {'id': 'i_mail2'}) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactableMail2, {'id': 'cb_c_mail2'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">smartphone</i> Numéro de téléphone n°1</span>{{ form_row(form.phoneNumber, {'id': 'i_num'}) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactablePhoneNumber, {'id': 'cb_c_num'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">smartphone</i> Numéro de téléphone n°2</span>{{ form_row(form.phoneNumber2, {'id': 'i_num_2'}) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactablePhoneNumber2, {'id': 'cb_c_num2'}) }}
                    </div>
                </div>
            {% endif %}

            <div class="row section" style="margin-bottom: 0;">
                <h5>Informations Ping</h5>

                <div class="col s12 m6">
                    <span><i class="material-icons prefix">payment</i> Licence</span>
                    {% if ('ROLE_ADMIN' in app.token.roleNames or 'ROLE_CAPITAINE' in app.token.roleNames) and type == 'backoffice' %}
                        {{ form_row(form.licence) }}
                    {% else %}
                        <br><br>
                        <b><span style="margin-top: 20px;">{{ options.licence }}</span></b>
                    {% endif %}
                </div>
                <div class="col s12 m5">
                    <span><i class="material-icons prefix">trending_up</i> Classement (points officiels de la phase)</span>{{ form_row(form.classementOfficiel) }}
                </div>
                <div class="col m1 hide-on-small-and-down"></div>
            </div>
            <br>

            <div class="section profile_pic" style="margin-bottom: 0;">
                <h5>Image de profil</h5>
                <p><i>Formats acceptés : JPEG, PNG et GIF</i></p>
                {{ form_row(form.imageFile) }}
                <img style="max-height: 10rem; margin-top: 8px;" id="img_competiteur_avatar" class="center-align" src="{{ asset(urlImage ? 'images/profile_pictures/' ~ urlImage : 'images/account.png') }}" alt="image de profil du joueur">
            </div>

            {% if app.request.getPathInfo == '/backoffice/competiteur/new' %}
                <p style="margin-top: 0; margin-bottom: 25px;" class="blue-text"><i class="material-icons">info</i> Le mot de passe par défaut est <b>esftt</b></p>
            {% endif %}

            <a href="{{ path(type == 'backoffice' ? 'backoffice.competiteurs' : 'index') }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
            <button
                {% if editMode and (not options.competiteurIsVisitor is defined or options.competiteurIsVisitor == false) %}
                    onclick="alertBecomingVisitor()"
                {% endif %}
                class="btn waves-effect waves-light light-blue darken-1 btn_gestion">{{ editMode ? 'Modifier' : 'Créer' }}</button>
        {{ form_end(form) }}
    </div>

    {% if 'ROLE_ADMIN' in app.token.roleNames %}
        <script type="text/javascript">
            function alertBecomingVisitor(){
                if ($('#cb_visiteur').is(":checked")){
                    let r = confirm('Les disponiblités seront supprimées et le joueur désélectionné de toutes compositions. Êtes-vous sûr ?');
                    if (r !== true) {
                        event.preventDefault();
                    }
                } else return false;
            }
        </script>
        <script type="text/javascript" src="{{ asset('JS/eventsCheckboxAdminAccount.js') }}" defer></script>
    {% endif %}

    <script type="text/javascript" src="{{ asset('JS/eventsCheckboxAccount.js') }}" defer></script>
{% endmacro %}

{% macro edit_password(title, path, type, options) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ title }}</h4>

        <form action="{% if type == 'general' %}{{ path(path) }}{% elseif type == 'backoffice' %}{{ path(path, {id: options.competiteurId}) }}{% endif %}" method="POST">
            <div class="row">
                <div class="input-field col s12 m4">
                    <input name="actual_password" id="actual_password" type="password" class="validate" maxlength="100" required>
                    <label for="actual_password">Mot de passe actuel</label>
                </div>
                <div class="input-field col s12 m4">
                    <input name="new_password" id="new_password" type="password" class="validate" maxlength="100" required>
                    <label for="new_password">Nouveau mot de passe</label>
                </div>
                <div class="input-field col s12 m4">
                    <input name="new_password_validate" id="new_password_validate" type="password" maxlength="100" class="validate" required>
                    <label for="new_password_validate">Ressaisissez le nouveau mot de passe</label>
                </div>
            </div>
            <br><button id="btnEditPassword" class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        </form>
    </div>

    <script type="text/javascript" src="{{ asset('JS/accountEditPassword.js') }}" defer></script>
{% endmacro %}