{% macro edit_account(type, title, form, equipesAssociees, options) %}
    {% import 'macros/membre.html.twig' as _membre %}

    {% set showPointsVirtuels = type == 'backoffice' and not form.vars.value.isArchive and form.vars.value.isCompetiteur and options.createMode is not defined %}
    {% if showPointsVirtuels %}
        {% import 'macros/virtualPointsClassement.html.twig' as _virtualPointsClassement %}
        <script type="text/javascript" src="{{ asset('JS/chart.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/getClassementVirtualPoints.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/getHistoMatches.min.js') }}"></script>
        {% import 'macros/modales/histoMatches.html.twig' as _histoMatches %}
    {% endif %}

    {% set champsEditablesObligatoires = editableMandatoryFields(form.children) %}

    <div class="card-panel center-align account-card">

        <h4 class="h4_form" style="margin-bottom: 0;">{{ title }}</h4><br>

        {% if not form.vars.value.isArchive and not options.createMode is defined and form.vars.value.profileCompletion and form.vars.value.profileCompletion.completude < 100 %}
            <div class="row">
                <div class="col m8 offset-m2 s12 l6 offset-l3 divProfileCompletionCol">
                    <div class="divProfileCompletion orange-text text-darken-4">
                        <p><i class="material-icons red-text">rule</i><b>Profil complété à {{ form.vars.value.profileCompletion.completude }}%</b></p>
                        <div style="display: flex; align-items: center; justify-content: center;">
                            <div class="progress white center" style="width: 90%">
                                <div class="determinate orange" style="width: {{ form.vars.value.profileCompletion.completude }}%"></div>
                            </div>
                        </div>

                        <div class="champsManquants">
                            <p><b>Champ{{ form.vars.value.profileCompletion.champsManquants|length > 1 ? 's' : '' }} manquant{{ form.vars.value.profileCompletion.champsManquants|length > 1 ? 's' : '' }}</b></p>
                            <ul>
                                {% for champ in form.vars.value.profileCompletion.champsManquants %}
                                    <li><b>-</b> {{ champ | raw }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if champsEditablesObligatoires | filter(c => c) | length %}
            <span class="red-text"><i>* Champs obligatoires</i></span>
        {% endif %}

        {{ form_start(form) }}
        <div class="row section" style="margin-bottom: 0;">
            <h5 class="dark_blue" style="margin-top: 0;">Informations personnelles</h5>

            {% if type != 'backoffice' %}
                <div class="col s12 account_roles">
                    {{ _membre.badgesRoles(app.user, {sheetDataHasViolations: null, dejaInscrit: null}) }}
                </div>
            {% endif %}

            <div class="col s12 m6 l{% if isFieldEditable("username", champsEditablesObligatoires) or options.createMode is not defined %}3{% else %}4{% endif %}">
                <b><i class="material-icons prefix">person</i> NOM{% if isFieldEditableMandatory("nom", champsEditablesObligatoires) %} <span class="red-text">*</span>{% endif %}</b>
                {% if type == 'backoffice' and not form.vars.value.isArchive %}
                    {{ form_row(form.nom) }}
                {% else %}
                    <p>{{ form.vars.value.nom }}</p>
                {% endif %}
            </div>
            <div class="col s12 m6 l{% if isFieldEditable("username", champsEditablesObligatoires) or options.createMode is not defined %}3{% else %}4{% endif %}">
                <b><i class="material-icons prefix">person</i> Prénom{% if isFieldEditableMandatory("prenom", champsEditablesObligatoires) %} <span class="red-text">*</span>{% endif %}</b>
                {% if type == 'backoffice' and not form.vars.value.isArchive %}
                    {{ form_row(form.prenom) }}
                {% else %}
                    <p>{{ form.vars.value.prenom }}</p>
                {% endif %}
            </div>
            {% if isFieldEditable("username", champsEditablesObligatoires) or options.createMode is not defined %}
                <div class="col s12 m6 l{% if isFieldEditable("username", champsEditablesObligatoires) or options.createMode is not defined %}3{% else %}4{% endif %}">
                    <b><i class="material-icons prefix">account_circle</i> Pseudo{% if isFieldEditableMandatory("username", champsEditablesObligatoires) %} <span class="red-text">*</span>{% endif %}</b>
                    {% if not form.vars.value.isArchive %}
                        {{ form_row(form.username, {'attr': {'autocapitalize': 'off'}}) }}
                    {% else %}
                        <p>{{ form.vars.value.username }}</p>
                    {% endif %}
                </div>
            {% endif %}
            <div class="col s12 {% if isFieldEditable("username", champsEditablesObligatoires) or options.createMode is not defined %}m6 l3{% else %}offset-m2 m8 l4{% endif %}">
                <b><i class="material-icons prefix">cake</i> Date de naissance</b>
                <div class="titlecase">
                    {% if isFieldEditable("dateNaissance", champsEditablesObligatoires) %}
                        {{ form_row(form.dateNaissance) }}
                    {% else %}
                        {% if form.vars.value.dateNaissance is not null %}
                            <p>{{ form.vars.value.dateNaissance | date("d/m/Y") }}</p>
                        {% else %}
                            <p><i>Indéfinie</i></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if app.user.admin and type == 'backoffice' %}
            <div class="section" style="margin-bottom: 0;">
                <h5 class="dark_blue" style="margin-top: 0;">Statut(s) du joueur</h5>

                <div class="row" style="margin-bottom: 0">
                    <div class="col s12 m4">
                        {{ form_row(form.isAdmin, {'id': 'cb_admin'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.isCapitaine, {'id': 'cb_capitaine'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.isEntraineur, {'id': 'cb_entraineur'}) }}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0">
                    <div class="col s12 m4">
                        {{ form_row(form.isCompetiteur, {'id': 'cb_competiteur'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.isCritFed, {'id': 'cb_crit_fed'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.isLoisir, {'id': 'cb_loisir'}) }}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0">
                    <div class="col s12 m4">
                        {{ form_row(form.isJeune, {'id': 'cb_jeune'}) }}
                    </div>
                    <div class="col s12 m4">
                        {{ form_row(form.isArchive, {'id': 'cb_archive'}) }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if options.equipesAssociees is defined %}
            <div class="row hide" id="equipesAssocieesForm">
                <h5 class="dark_blue" style="margin-top: 0;">Titularisations</h5>
                {% for nomChampionnat, infos in options.equipesAssociees %}
                    <div class="form_div_list col m6 s12 l4">
                        <label for="equipesAssociees-{{ infos.idChampionnat.idChampionnat }}">{{ nomChampionnat }}</label>
                        <select name="equipesAssociees-{{ infos.idChampionnat.idChampionnat }}" id="equipesAssociees-{{ infos.idChampionnat.idChampionnat }}">
                            <option value="" {% if options.idsEquipesAssociees|length == 0 %}selected{% endif %}>Sans équipe</option>
                            {% for equipe in infos.listeEquipes %}
                                <option value="{{ equipe.idEquipe }}" {% if equipe.idEquipe in options.idsEquipesAssociees %}selected{% endif %}>Équipe {{ equipe.numero }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if not form.vars.value.isArchive %}
            <div style="margin-bottom: 0;">
                <p><b><i class="material-icons">health_and_safety</i>Certificat médical</b></p>
                {% if (form.vars.value.age != null and form.vars.value.age > 18) or form.vars.value.age == null %}
                {% if form.vars.value.anneeCertificatMedical != null and form.vars.value.anneeCertificatMedical >= "now"|date('Y')-2 %}
                    <p class="pastille green white-text reset" style="margin-bottom: 10px">Renouvellement pour la rentrée <br><b>{{ form.vars.value.anneeCertificatMedical+3 }}/{{ form.vars.value.anneeCertificatMedical+4 }}</b></p>
                {% else %}
                {% if form.vars.value.anneeCertificatMedical != null %}
                    <p class="pastille red white-text reset label-renew-certif{{ form.vars.value.idCompetiteur }}" style="margin-bottom: 10px">Renouvellement pour la rentrée <br><b>{{ "now"|date('Y') }}/{{ "now"|date('Y')+1 }}</b></p>
                {% else %}
                {% if options.editMode is defined %}
                    <p class="pastille red white-text reset" style="margin-bottom: 10px">Certificat médical non présenté</p>
                {% else %}
                    <p class="blue-text"><i class="material-icons">info</i> Laissez le champ vide si le joueur n'a pas encore fourni de certificat médical valide</p>
                {% endif %}
                {% endif %}
                {% if app.user.admin and type == 'backoffice' %}
                {% if form.vars.value.anneeCertificatMedical != null %}
                    <button type="button" id="btnCertif{{ form.vars.value.idCompetiteur }}" onclick="renouvelerCertifMedical({{ form.vars.value.idCompetiteur }}, '{{ form.vars.value.prenom }}', false)" class='btn waves-effect green btn_gestion'>
                        Renouveler
                    </button>

                    <div hidden id="loaderCertif{{ form.vars.value.idCompetiteur }}">
                        <div class="preloader-wrapper small active" style="width: 27px; height: 27px;">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript" src="{{ asset('JS/renouvelerCertifMedical.min.js') }}" defer></script>
                {% else %}
                    <p style="margin-bottom: 0;"><b>Renseignez l'année du dernier certificat médical valide</b></p>

                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s12 m4 offset-m4" style="margin-top: 0;">
                            {{ form_row(form.anneeCertificatMedical) }}
                        </div>
                    </div>
                {% endif %}
                {% endif %}
                {% endif %}
                {% else %}
                    <p class="pastille green white-text reset" style="margin-bottom: 10px"><b>Membre mineur</b> (certificat facultatif)</p>
                {% endif %}
            </div>

            <div class="row section">
                <h5 class="dark_blue">Contact</h5>

                {% if app.user.admin and type == 'backoffice' and not (app.request.getPathInfo ends with '/new') %}
                    <script type="text/javascript" src="{{ asset('JS/resendWelcomeMail.min.js') }}" defer></script>
                    <button type="button" id="btnRenvoiMailBienvenue" onclick="renvoyerMailBienvenue('{{ form.vars.value.idCompetiteur }}', '{{ form.vars.value.prenom }}')" data-tooltip="Renvoyer l'e-mail de bienvenue" data-position="top" class="btn-small tooltipped btn-floating blue">
                        <i class="material-icons" id="iconRenvoiMailBienvenue">outgoing_mail</i>
                    </button>
                {% endif %}

                <p class="orange-text"><i><i class="material-icons">mark_email_read</i> Une adresse e-mail minimum requise{% if isFieldEditable("mail", champsEditablesObligatoires) and isFieldEditable("mail2", champsEditablesObligatoires) %} <span class="red-text">*</span>{% endif %}</i></p>

                {% if app.request.getPathInfo ends with '/new' %}
                    <p style="margin-top: 0; margin-bottom: 25px;" class="blue-text">
                        <i class="material-icons">info</i> Un e-mail de bienvenue sera envoyé !
                    </p>
                {% endif %}

                <div class="col s12 {{ options.createMode is defined ? 'm10 offset-m1' : 'm7 offset-m2' }}">
                    <b><i class="material-icons prefix">mail</i> Adresse e-mail principale</b>{{ form_row(form.mail, {'id': 'i_mail'}) }}
                </div>
                {% if not options.createMode is defined %}
                    <div class="col s12 m3 left-align">
                        {{ form_row(form.contactableMail, {'id': 'cb_c_mail'}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s12 {{ options.createMode is defined ? 'm10 offset-m1' : 'm7 offset-m2' }}">
                    <b><i class="material-icons prefix">mail</i> Adresse e-mail secondaire</b>{{ form_row(form.mail2, {'id': 'i_mail_2'}) }}
                </div>
                {% if not options.createMode is defined %}
                    <div class="col s12 m3 left-align">
                        {{ form_row(form.contactableMail2, {'id': 'cb_c_mail_2'}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s12 {{ options.createMode is defined ? 'm10 offset-m1' : 'm7 offset-m2' }}">
                    <b><i class="material-icons prefix">smartphone</i> Téléphone principal</b>{{ form_row(form.phoneNumber, {'id': 'i_num'}) }}
                </div>
                {% if not options.createMode is defined %}
                    <div class="col s12 m3 left-align">
                        {{ form_row(form.contactablePhoneNumber, {'id': 'cb_c_num'}) }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s12 {{ options.createMode is defined ? 'm10 offset-m1' : 'm7 offset-m2' }}">
                    <b><i class="material-icons prefix">smartphone</i> Téléphone secondaire</b>{{ form_row(form.phoneNumber2, {'id': 'i_num_2'}) }}
                </div>
                {% if not options.createMode is defined %}
                    <div class="col s12 m3 left-align">
                        {{ form_row(form.contactablePhoneNumber2, {'id': 'cb_c_num_2'}) }}
                    </div>
                {% endif %}
            </div>

            <script>
                $('#i_num').on('keypress', function (e) {
                    if (e.which === 32) return false;
                });
                $('#i_num_2').on('keypress', function (e) {
                    if (e.which === 32) return false;
                });
            </script>
        {% endif %}

        <div class="section" style="margin-bottom: 0;">
            <h5 class="dark_blue">Informations licence</h5>

            {% if app.request.getPathInfo ends with '/new' %}
                <div class="row">
                    <div class="col s12 hide-on-med-and-down">
                        <p style="margin-top: 0; margin-bottom: 0;" class="blue-text">
                            <i class="material-icons">info</i> Si le joueur n'est actuellement pas licencié auprès de la FFTT, renseignez sa licence une fois qu'il devient licencié.<br>Laissez le champ <b>N° licence</b> vide pour l'instant.
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                {% if app.request.getPathInfo ends with '/new' %}
                    <div class="col s12 show-on-medium-and-down hide-on-large-only hide-on-extra-large-only">
                        <p style="margin-top: 0; margin-bottom: 0;" class="blue-text">
                            <i class="material-icons">info</i> Si le joueur n'est actuellement pas licencié auprès de la FFTT, renseignez sa licence une fois qu'il devient licencié.<br>Laissez le champ <b>N° licence</b> vide pour l'instant.
                        </p>
                    </div>
                {% endif %}

                <div class="col s12 m6 {% if type != 'backoffice' %}l3{% else %}l4 offset-l1{% endif %} col_infos_licence">
                    <p {% if type == 'backoffice' and not form.vars.value.isArchive %}style="margin-bottom: 0" {% endif %}>
                        <b><i class="material-icons prefix">payment</i> N° licence</b>
                    </p>
                    {% if type == 'backoffice' %}
                        {% if not form.vars.value.isArchive %}
                            {{ form_row(form.licence) }}
                        {% endif %}
                        {% if options.createMode is not defined and form.vars.value.licence is null %}
                            {% if form.vars.value.histoLicence is not null and (options.hasErrorLicenceAPI is defined) %}
                                <span class="grey-text centered"><i>Historique : {{ form.vars.value.histoLicence }}</i></span>
                            {% else %}
                                {% if form.vars.value.isArchive %}
                                    <p><i>Pas d'historique</i></p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if form.vars.value.licence %}
                            <span class="pastille blue centered">{{ form.vars.value.licence }}</span>
                        {% else %}
                            <p class="red-text">Licence indéfinie</p>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="col s12 m6 {% if type != 'backoffice' %}l3{% else %}l4 offset-l1{% endif %} col_infos_licence">
                    <p class="noWrap" {% if type == 'backoffice' and not form.vars.value.isArchive %}style="margin-bottom: 0" {% endif %}>
                        <b><i class="material-icons prefix">show_chart</i> Classement officiel</b>
                    </p>
                    {% if type == 'backoffice' and not form.vars.value.isArchive %}
                        {{ form_row(form.classementOfficiel) }}
                    {% else %}
                        {% if form.vars.value.isArchive %}
                            {% if form.vars.value.classementOfficiel %}
                                <span class="pastille blue centered">{{ form.vars.value.classementOfficiel }} pts</span>
                            {% else %}
                                <p class="red-text">Classement indéfini</p>
                            {% endif %}
                        {% else %}
                            {% if app.user.classementOfficiel %}
                                <span class="pastille blue centered">{{ app.user.classementOfficiel }} pts</span>
                            {% else %}
                                <p class="red-text">Classement indéfini</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                {% if type != 'backoffice' %}
                    <div class="col s12 l3 m6 col_infos_licence">
                        <p><b>Titularisation{{ equipesAssociees|length ? 's' : '' }}</b></p>
                        {% if equipesAssociees|length and type != 'backoffice' %}
                            <ul class="collection">
                                {% for championnat, numero in equipesAssociees %}
                                <li class="collection-item"><b>{{ championnat }} :</b>
                                    {% if numero %}
                                        Équipe {{ numero }}
                                    {% else %}
                                        <i>Sans équipe</i>
                                    {% endif %}
                                    {% endfor %}
                            </ul>
                        {% else %}
                            <i class="grey-text">Aucune équipe associée</i>
                        {% endif %}
                    </div>

                    <div class="col s12 m6 l3 col_infos_licence">
                        <p><b>Crit. fédéral</b></p>
                        <span class="centered">
                            {% if form.vars.value.isCritFed %}
                                <i class="material-icons green-text">check</i> Je participe
                            {% else %}
                                <i class="material-icons red-text">clear</i> Je ne participe pas
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>

            {% if showPointsVirtuels %}
                {{ _virtualPointsClassement.labelVirtualPoints('1', null, form.vars.value.licence) }}
                {{ _histoMatches.histoMatches(form.vars.value.licence) }}

                <script type="text/javascript">
                    getPersonnalClassementVirtuel('{{ form.vars.value.licence }}', false);
                </script>
            {% endif %}
        </div>


        <div class="section input_file" style="margin-bottom: 0;">
            <h5 class="dark_blue">Image de profil</h5>
            {% if isFieldEditable("imageFile", champsEditablesObligatoires) %}
                <p style="margin-top: 0; margin-bottom: 0;"><i>Formats acceptés : <b>JPEG, PNG, GIF et WEBP</b></i></p>
                {{ form_row(form.imageFile) }}
            {% endif %}

            <div class="avatarSectionDelete">
                {% if form.vars.value.avatar and isFieldEditable("imageFile", champsEditablesObligatoires) %}
                    <a onclick="return confirm('Êtes-vous sûr de supprimer l\'avatar ?')" class='deleteAvatar btn waves-effect red lighten-2'
                            {% if type == 'backoffice' %}
                        href="{{ path('backoffice.competiteur.delete.avatar', {id: form.vars.value.idCompetiteur}) }}"
                    {% else %}
                        href="{{ path('account.delete.avatar') }}"
                            {% endif %}>
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}
                <img class="avatar" width="120" height="120" src="{{ asset(form.vars.value.avatar ? 'images/profile_pictures/' ~ form.vars.value.avatar : 'images/account.png') | imagine_filter('thumb') }}" alt="image de profil du membre">
            </div>
        </div>

        {% if app.request.getPathInfo ends with '/new' %}
            <p style="margin-top: 0; margin-bottom: 25px;" class="blue-text"><i class="material-icons">info</i> Le mot de passe par défaut est <b>{{ default_password }}</b></p>
        {% endif %}

        {% if type != 'backoffice' or (type == 'backoffice' and options.editMode is defined and not form.vars.value.isArchive) %}
            <div class="row" id="encadreNotContactable" hidden="hidden" style="margin-top: 20px;">
                <div class="col s12 m10 offset-m1 l10 offset-l1 divProfileCompletionCol">
                    <div class="divProfileCompletion red-text orange-darken-4">
                        <p>
                            <i class="material-icons red-text">phonelink_erase</i>
                            <b>
                                {{ type == 'backoffice' ? "Le joueur n'est" : "Vous n'êtes" }} pas contactable <span class="parMail" hidden="hidden">par mail</span><span class="niMailSMS" hidden="hidden"> ni</span><span class="parSMS" hidden="hidden"> par SMS</span>
                            </b>
                        </p>
                        <div class="champsManquants">
                            <p><b>{{ type == 'backoffice' ? "Le joueur ne pourra" : "Vous ne pourrez" }} pas :</b></p>
                            <ul>
                                <li id="pageContacter"><b>-</b> être contacté depuis la page <a href="{{ path('contact') }}">Contacter</a> <b><span class="parMail" hidden="hidden">par mail</span><span class="parSMS" hidden="hidden"><span class="niMailSMS" hidden="hidden"> ni</span> par SMS</span></b></li>
                                <li id="alertSelection"><b>-</b> être alerté par les capitaines pour {{ type == 'backoffice' ? "lui" : "vous" }} demander de signaler {{ type == 'backoffice' ? "sa" : "votre" }} disponibilité pour une journée <b><span class="parMail" hidden="hidden">par mail</span><span class="parSMS" hidden="hidden"><span class="niMailSMS" hidden="hidden"> ni</span> par SMS</span></b></li>
                                <li id="alertSelection"><b>-</b> être alerté par les capitaines de {{ type == 'backoffice' ? "sa" : "votre" }} sélection <b><span class="parMail" hidden="hidden">par mail</span><span class="parSMS" hidden="hidden"><span class="niMailSMS" hidden="hidden"> ni</span> par SMS</span></b></li>
                                <li class="parMail" hidden="hidden">
                                    <b>-</b> être alerté pour le renouvellement de {{ type == 'backoffice' ? "son" : "votre" }} certificat médical <b>(par mail uniquement)</b>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <script type="text/javascript">
            let isNotContactableMail = '{{ form.vars.value.getFirstContactableMail() }}'.length === 0;
            let isNotContactableSMS = '{{ form.vars.value.getFirstContactablePhoneNumber() }}'.length === 0;
        </script>

        <a href="{{ type == 'backoffice' ? path('backoffice.competiteurs') : path("index") }}" class="btn waves-effect grey btn_gestion">Annuler</a>
        <button
                {% if options.editMode is defined and type == 'backoffice' %}
                    onclick="alertBecomingLoisirOrArchived()"
                {% endif %}
                class="btn_gestion btn waves-effect light-blue darken-1" id="btn_modifier">{{ options.editMode is defined ? 'Modifier' : 'Créer' }}
        </button>
        {{ form_end(form) }}

        {% if (app.user.admin and type == 'backoffice' and options.editMode is defined) and form.vars.value.isArchive %}
            {% if options.onlyOneAdmin is defined and options.onlyOneAdmin and form.vars.value.isAdmin %}
                <div class="tooltipped" data-position="top" data-tooltip="Un administrateur minimum requis">
                    <button class='btn red lighten-2 btn_gestion' disabled="">
                        Supprimer
                    </button>
                </div>
            {% else %}
                <form method='post' action='{{ path('backoffice.competiteur.delete', {id: form.vars.value.idCompetiteur}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le membre ?')">
                    <input type='hidden' name='_method' value='DELETE'>
                    <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ form.vars.value.idCompetiteur) }}'>
                    <button class='btn waves-effect red lighten-2 btn_gestion'>
                        Supprimer
                    </button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    <script type="text/javascript">
        let type = '{{ type }}'
    </script>
    {% if type == 'backoffice' %}
        <script type="text/javascript">
            let isArchived = Boolean({{ form.vars.value.isArchive ? 1 : 0 }});
            let isLoisir = Boolean({{ form.vars.value.isLoisir ? 1 : 0 }});
            let isCompetiteur = Boolean({{ form.vars.value.isCompetiteur ? 1 : 0 }});
        </script>
        <script type="text/javascript" src="{{ asset('JS/eventsCheckboxAdminAccount.min.js') }}" defer></script>
    {% endif %}

    <script type="text/javascript" src="{{ asset('JS/eventsCheckboxAccount.min.js') }}" defer></script>
{% endmacro %}

{% macro edit_password(title, path, type, idCompetiteur) %}
    <script type="text/javascript" src="{{ asset('JS/togglePasswordField.min.js') }}"></script>
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ title }}</h4>

        <form action="{% if type == 'general' %}{{ path(path) }}{% elseif type == 'backoffice' %}{{ path(path, {id: idCompetiteur}) }}{% endif %}" method="POST">
            <div class="row">
                {% if type == 'general' %}
                    <div class="input-field col s12 l4">
                        <input name="actual_password" id="actual_password" type="password" class="validate" maxlength="100" required>
                        <span id="toggle_actual_password" ontoggle="#actual_password" class="field-icon toggle-password"><span class="material-icons">visibility</span></span>
                        <label for="actual_password">Mot de passe actuel</label>
                    </div>
                {% endif %}
                <div class="input-field col s12 {% if type == 'general' %}l4{% elseif type == 'backoffice' %}m6{% endif %}">
                    <input name="new_password" id="new_password" type="password" class="validate" maxlength="100" required>
                    <span id="toggle_new_password" ontoggle="#new_password" class="field-icon toggle-password"><span class="material-icons">visibility</span></span>
                    <label for="new_password">Nouveau mot de passe</label>
                </div>
                <div class="input-field col s12 {% if type == 'general' %}l4{% elseif type == 'backoffice' %}m6{% endif %}">
                    <input name="new_password_validate" id="new_password_validate" type="password" maxlength="100" class="validate" required>
                    <span id="toggle_new_password_validate" ontoggle="#new_password_validate" class="field-icon toggle-password"><span class="material-icons">visibility</span></span>
                    <label for="new_password_validate">Saisir de nouveau</label>
                </div>
            </div>
            <br>
            <button id="btnEditPassword" class="btn btn_form waves-effect light-blue darken-1" disabled>Modifier</button>
        </form>
    </div>

    <script type="text/javascript" src="{{ asset('JS/accountEditPassword.min.js') }}" defer></script>
{% endmacro %}