{% macro form(form, idJournee, championnat) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">Date de la journée</h4>
        <h5>Journée n°{{ idJournee }} - {{ championnat }}</h5><br>

        {{ form_start(form) }}
            <div class="container titlecase">
                {{ form_row(form.dateJournee) }}
            </div>

            <h5>OU</h5>

            {{ form_row(form.undefined, {'id': 'journee_undefined'}) }}

            <br>
            <a href="{{ path('backoffice.journees') }}" class="btn waves-effect grey btn_gestion">Annuler</a>
            <button class="btn btn_form waves-effect light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript" src="{{ asset('JS/eventEditJournee.min.js') }}" defer></script>
{% endmacro %}