{% macro form(rencontre, form, domicile, idJournee) %}
    <div class="card-panel center-align">
        <div class="hide-on-small-only">
            <h4 class="titre">Journée {{ idJournee }} - Équipe {{ rencontre.idEquipe.numero }} - {{ rencontre.idJournee.undefined ? "<span style='color: red'>Date indéfinie</span>" : rencontre.idJournee.dateJournee|format_datetime('long', 'none', locale='fr') }}</h4>
            <h5 style="margin-bottom: 20px ; margin-top: 4px ;">{{ rencontre.idChampionnat.nom }}</h5>
        </div>

        <div class="hide-on-med-and-up">
            <h4 class="titre">J{{ idJournee }} - Équipe {{ rencontre.idEquipe.numero }}</h4>
            <h5 style="margin-top: 0;">{{ rencontre.idChampionnat.nom }}</h5>
            <h5 style="margin-bottom: 20px ; margin-top: 4px ;">{{ rencontre.idJournee.undefined ? "<span style='color: red'>Date indéfinie</span>" : rencontre.idJournee.dateJournee|format_datetime('long', 'none', locale='fr') }}</h5>
        </div>

        {{ form_start(form) }}
            <div class="row" style="margin-top: 50px;">
                <div class="col s12 l6">
                    {{ form_row(form.adversaire, {'id': 'adversaire'}) }}
                    <div class="row">
                        <div class="col s12 m6" style="margin-top: 20px; margin-bottom: 10px;">
                            <div class="switch">
                                <label>
                                    <span id="domicile">Domicile</span>
                                    <input type="checkbox" name="lieu_rencontre" class="validate" id="lieu_rencontre">
                                    <span class="lever"></span>
                                    <span id="exterieur">Extérieur</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m6" style="margin-top: 20px;">
                            {{ form_row(form.hosted, {'id': 'hosted'}) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="issue" style="margin-top: 0; padding-top: 0;">
                        {{ form_row(form.reporte, {'id': 'reporte'}) }}
                        <div class="container titlecase">
                            {{ form_row(form.dateReport) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 l2" style="margin-top: 20px;">
                    {{ form_row(form.exempt, {'id': 'exempt'}) }}
                </div>
            </div>

            <br>
            <a href="{{ path('backoffice.rencontres') }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
            <button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        let exterieur = "{{ domicile }}";
    </script>
    <script type="text/javascript" src="{{ asset('JS/editRencontre.min.js') }}" defer></script>
{% endmacro %}