{% macro form(form, idJournee) %}
    <div class="card-panel center-align">
        <div class="hide-on-small-only">
            <h4 class="titre">Journée {{ idJournee }} - Équipe {{ form.vars.value.idEquipe.numero }} - {{ form.vars.value.idJournee.undefined ? "<span style='color: red'>Date indéfinie</span>" : form.vars.value.idJournee.dateJournee|format_datetime('long', 'none', locale='fr') }}</h4>
            <h5 style="margin-bottom: 20px ; margin-top: 4px ;">{{ form.vars.value.idChampionnat.nom }}</h5>
        </div>

        <div class="hide-on-med-and-up">
            <h4 class="titre">J{{ idJournee }} - Équipe {{ form.vars.value.idEquipe.numero }}</h4>
            <h5 style="margin-top: 0;">{{ form.vars.value.idChampionnat.nom }}</h5>
            <h5 style="margin-bottom: 20px ; margin-top: 4px ;">{{ form.vars.value.idJournee.undefined ? "<span style='color: red'>Date indéfinie</span>" : form.vars.value.idJournee.dateJournee|format_datetime('long', 'none', locale='fr') }}</h5>
        </div>

        {{ form_start(form) }}
            <div style="margin-top: 50px;">
                <div class="row">
                    <div class="col s10 offset-s1 m4 offset-m2">
                        <b>Adversaire + n° équipe</b>{{ form_row(form.adversaire, {'id': 'adversaire'}) }}
                    </div>
                    <div class="col s10 offset-s1 m4 lieu_rencontre">
                        <b>Lieu de la rencontre</b><br>
                        {{ form_row(form.domicile, {'id': 'lieu_rencontre'}) }}
                    </div>
                </div>

                <div class="issue row" style="margin-top: 45px; margin-bottom: 45px;">
                    <div class="col s10 offset-s1 m6 offset-m3">
                        <b>Ville de remplacement</b><br><i>(en cas de salle indisponible)</i>{{ form_row(form.villeHost, {'id': 'ville_host'}) }}
                    </div>
                </div>
                <div class="issue">
                    <div>
                        {{ form_row(form.reporte, {'id': 'reporte'}) }}
                    </div>
                    <div style="padding-left: 0; padding-right: 0;">
                        <div class="container titlecase">
                            {{ form_row(form.dateReport) }}
                        </div>
                    </div>
                </div>
                <div style="margin-top: 30px;">
                    {{ form_row(form.exempt, {'id': 'exempt'}) }}
                </div>
            </div>

            <br>
            <a href="{{ path('backoffice.rencontres', form.vars.value.idChampionnat ? { 'active': form.vars.value.idChampionnat.idChampionnat }) }}" class="btn waves-effect grey btn_gestion">Annuler</a>
            <button class="btn btn_form waves-effect light-blue btn_gestion darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        let lieu_rencontre_value = "{{ form.vars.value.domicile is not null ? (form.vars.value.domicile == true ? 1 : 2) : 0 }}";
    </script>
    <script type="text/javascript" src="{{ asset('JS/editRencontre.min.js') }}" defer></script>
{% endmacro %}