<p>Bienvenue sur Kompo <b>{{ options.prenom }}</b> ! 🏓</p>
<p>Notre club de {{ options.club_name }} vous a inscrit sur Kompo, afin que vous puissiez :<br>
    - signaler vos disponiblités pour chacune des journées de championnat;<br>
    - savoir dans quelle équipe vous êtes sélectionné;<br>
    - suivre les classements virtuels des compétiteurs en temps réèl;<br>
    - suivre les classements de nos équipes dans leurs poules;<br>
    - visualiser les précédentes compositions d'équipe des adversaires;<br>
    - contacter les membres du club par email et SMS;<br>
    ... et plein d'autres fonctionnalités, n'hésitez pas à visiter 😊 !
</p>
<p><b>Kompo</b> est accessible en suivant <a href="https://www.prive.esftt.com">ce lien</a>.
<p>Votre pseudo pour vous connecter à Kompo : <b>{{ options.pseudo }}</b>.</p>
<p>Vous devez initialiser votre mot de passe en suivant <a href="{{ options.initPasswordLink }}">ce lien</a>. Vous avez <b>{{ options.time_init_password_day }} jours</b> pour l'initialiser; une fois ce délai passé, vous devrez contacter un administrateur pour qu'il réinitialise votre mot de passe.</p>
<p>C'est dans l'espace <a href="https://www.prive.esftt.com/compte">Mon compte</a> que vous pouvez modifier vos informations
    personnelles telles que :</p>

<ul>
    <li>
        vos adresses email et numéros de téléphone (les cases <b>Contactable</b> déterminent si vous souhaitez que vos informations de
        contact (email <b>et/ou</b> téléphone) soient accessibles par tous dans l'espace <a href="https://www.prive.esftt.com/contact">Contacter</a>,
        <b>ainsi que d'être alerté de votre sélection dans une équipe par un capitaine</b>),
    </li>
    <li>votre pseudo</li>
    <li>votre mot de passe</li>
    <li>la validité de votre certificat médical</li>
    <li>etc ...</li>
</ul>

<p>Pour toute question, n'hésitez pas à aller dans l'espace <a href="https://www.prive.esftt.com/contact">Contacter</a> et prendre contact avec nos administrateurs et nos capitaines et <a href="https://www.prive.esftt.com/aide">une page d'aide</a> est disponible pour tout vous expliquer.</p>
<p>Pongistement,</p>
<p>L'équipe de Kompo</p>