{% extends 'base.html.twig' %}

{% block title %}Back-office - Les rencontres{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/rencontre.html.twig' as _rencontre %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les rencontres</h4>
        </div>

        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#journees_departementales" class="active">Départemental</a></li>
            <li class="tab"><a href="#journees_paris">Paris</a></li>
        </ul>

        <div class="card-panel" id="journees_departementales">
            {{ _rencontre.table(rencontreDepartementales, 'departementale') }}
        </div>

        <div class="card-panel" id="journees_paris">
            {{ _rencontre.table(rencontreParis, 'paris') }}
        </div>
    </div>

{% endblock %}