{% extends 'base.html.twig' %}

{% block title %}Back-office - Les rencontres{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/rencontre.html.twig' as _rencontre %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les rencontres</h4>
        </div>

        {% if not rencontres|length %}
            <div class='card-panel center'>
                <p class="lobster_2 center missingTitle">Aucun championnat enregistré</p>

                <a href='{{ path('backoffice.championnat.new') }}'
                   class='btn waves-effect blue lighten-1 btn_gestion'>
                    Créer un championnat
                </a>
            </div>
        {% else %}
            {% if rencontres|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1'>
                    {% for nomChampionnat, id_et_rencontres in rencontres %}
                        <li class='tab'><a {% if id_et_rencontres.idChampionnat == active %} class="active" {% endif %} href='{{ '#journees_' ~ nomChampionnat|slug }}'>{{ nomChampionnat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, id_et_rencontres in rencontres %}
                <div class='card-panel backoffice-panel' id='{{ 'journees_' ~ nomChampionnat|slug }}'>
                    {{ _rencontre.table(id_et_rencontres.rencontres) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}