{% macro edit_account(type, title, form, urlImage) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ title }}</h4>
        {{ form_start(form) }}
        <div class="row valign-wrapper">
            <div class="col {% if type == 'backoffice' %}s3{% else %}s4{% endif %}">
                {{ form_row(form.nom) }}
            </div>
            <div class="col {% if type == 'backoffice' %}s3{% else %}s4{% endif %}">
                {{ form_row(form.username) }}
            </div>
            <div class="col {% if type == 'backoffice' %}s3{% else %}s4{% endif %}">
                {{ form_row(form.licence) }}
            </div>
            {% if type == 'backoffice' %}
                <div class="col s3">
                    {{ form_row(form.role) }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col s2"><img id="img_competiteur_avatar" src="{{ urlImage }}" alt="image de profil du joueur" width="120rem" height="120rem"></div>
            <div class="col s10">{{ form_row(form.avatar) }}</div>
        </div>
        <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}

{% macro edit_password(title, path, type, options) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ title }}</h4>

        {% if type == 'general' %}
            <form action="{{ path(path) }}" method="POST">
        {% elseif type == 'backoffice' %}
            <form action="{{ path(path, {id: options.competiteurId}) }}" method="POST">
        {% endif %}

            <div class="row">
                <div class="input-field col s6">
                    <input name="new_password" id="new_password" type="password" class="validate" required>
                    <label for="new_password">Nouveau mot de passe</label>
                </div>
                <div class="input-field col s6">
                    <input name="new_password_validate" id="new_password_validate" type="password" class="validate" required>
                    <label for="new_password_validate">Valider le nouveau mot de passe</label>
                </div>
            </div>
            <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        </form>
    </div>
{% endmacro %}