{% macro table(type, brulages, idEquipes) %}
    <div class="card-panel bottom_0" style="padding-left: 0; padding-right: 0;">
        <div class="row bottom_0">
            <div class="col s2"><i class="red-text material-icons">highlight_off</i></div>
            <div class="col s10">Brûlé dans l'équipe</div>
        </div>

        <div class="row bottom_0">
            <div class="col s2"><i class="orange-text material-icons">error_outline</i></div>
            <div class="col s10">Brûlé prévisionnel dans l'équipe</div>
        </div>
    </div>

    <table class="card-panel brulages">
        <thead>
            <tr>
                <th class="center"><h5>Brûlages</h5></th>
                {% for idEquipe in idEquipes %}
                    <th class="center"><h5>{{ idEquipe }}</h5></th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
        {% for nom, brulage in brulages %}
            <tr>
                <td class="left">{{ nom }}</td>
                {% for brulageJournee in brulage['brulage'] %}
                    <td class="center">
                        {% if brulageCumule(brulage['brulage'], loop.index) >= (type == 'departementale' ? limite_brulage_departementale : limite_brulage_paris) %}
                            <i class="red-text material-icons">highlight_off</i>
                        {% elseif brulageCumule(brulage['brulage'], loop.index) == (type == 'departementale' ? (limite_brulage_departementale - 1) : (limite_brulage_paris - 1)) %}
                            <i class="orange-text material-icons">error_outline</i>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro joueursBrules(type, joueursBrules, idEquipe) %}
    <table style="margin-top: 20px;" class="centered card-panel dispos brulage_edit">
        <thead>
            <tr>
                <th>
                    <h5>Brûlés en {{ idEquipe }} <i class="red-text material-icons">whatshot</i></h5>
                </th>
            </tr>
        </thead>

        <tbody>
            {% if joueursBrules|length == 0 %}
                <tr>
                    <td>Aucun joueur brûlé</td>
                </tr>
            {% else %}
                {% for joueur in joueursBrules %}
                    <tr>
                        <td>{{ joueur }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endmacro %}

{% macro selectionnables(type, selectionnables, idEquipe, idJournee, idEquipes) %}
    {% if min(idEquipes) - 1 != idEquipe and idJournee == 2 %}
        <div class="card-panel center-align" style="margin-bottom: 0; padding: 8px 4px;">
            <span class="red-text" style="margin-top: 0; margin-bottom: 0;"><i>En J2, 1 joueur orange maximum doit être sélectionné dans cette équipe</i></span>
        </div>
    {% endif %}

    <table style="margin-top: {% if idEquipe > 1 and idJournee == 2 %}10px{% else %}20px{% endif %};" class="centered card-panel brulages">
        <thead>
            <tr>
                <th class="center"><h6 class="lobster">Joueurs sélectionnables et brûlages à J+1</h6></th>
                {% for idEquipe in idEquipes %}
                    <th class="center"><h5>{{ idEquipe }}</h5></th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% if selectionnables|length == 0 %}
                <tr>
                    <td class="center">Aucun joueur sélectionnable</td>
                </tr>
            {% else %}
                {% for nom, brulage in selectionnables %}
                    <tr>
                        <td {% if brulage["bruleJ2"] == true %} class="orange lighten-4"{% endif %}>
                            {{ nom }}
                        </td>
                        {% for brulageJournee in brulage['brulage'] %}
                            <td class="center">
                                {% if brulageCumule(brulage['brulage'], loop.index) >= (type == 'departementale' ? limite_brulage_departementale : limite_brulage_paris) %}
                                    <i class="red-text material-icons">highlight_off</i>
                                {% elseif brulageCumule(brulage['brulage'], loop.index) == (type == 'departementale' ? (limite_brulage_departementale - 1) : (limite_brulage_paris - 1)) %}
                                    <i class="orange-text material-icons">error_outline</i>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endmacro %}