{% macro classement(classement) %}
    {% if classement is empty %}
        <p class="center-align">Classement indisponible</p>
    {% else %}
        <table class="striped" style="height: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Equipe</th>
                    <th>pts</th>
                    <th>V</th>
                    <th>D</th>
                </tr>
            </thead>

            <tbody>
            {% for key, equipe in classement %}
                <tr>
                    <td style="padding-top: 11px; padding-bottom: 11px;" class="rank"><b>{{ key + 1 }}</b></td>
                    <td style="padding-top: 11px; padding-bottom: 11px;{% if equipe.nomEquipe starts with 'LA FRETTE' %} color: #1a237e;font-weight: bold{% endif %}">{{ equipe.nomEquipe }}</td>
                    <td style="padding-top: 11px; padding-bottom: 11px;{% if equipe.nomEquipe starts with 'LA FRETTE' %} font-weight: bold{% endif %}">{{ equipe.points }}</td>
                    <td style="padding-top: 11px; padding-bottom: 11px;{% if equipe.nomEquipe starts with 'LA FRETTE' %} font-weight: bold{% endif %}"><span class="green-text">{{ equipe.victoires }}</span></td>
                    <td style="padding-top: 11px; padding-bottom: 11px;{% if equipe.nomEquipe starts with 'LA FRETTE' %} font-weight: bold{% endif %}"><span class="red-text">{{ equipe.defaites }}</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}