{% macro tr(rank, competiteur) %}
    <tr>
        <td class="rank"><b>Joueur {{ rank }}</b></td>
        <td>
            {% if competiteur is not null %}
                <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ competiteur.classementOfficiel }}</span>
            {% else %}
                <span>&nbsp</span>
            {% endif %}
        </td>

            {% if competiteur is not null %}
                <td>
                    <div class="chip">
                        <img src="{{ competiteur.avatar }}" alt="Avatar">
                        <span>{{ competiteur.nom }}</span>
                    </div>
                </td>
            {% else %}
                <td style="height: 75px;"></td>
            {% endif %}
        <td>
            {% if competiteur is not null %}
                {{ competiteur.licence }}
            {% else %}
                <span>&nbsp</span>
            {% endif %}
        </td>
        <td>
            {% if competiteur is not null %}
                {% if competiteur.role %}
                    <span class="new badge blue" data-badge-caption="Capitaine"></span>
                {% endif %}
            {% else %}
                <span>&nbsp</span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}