{% macro joueur(rank, competiteur, nbJoueurs, brulages, idJournee, nbCompo, selectedPlayers, j2Rule, numEquipe) %}
    <tr>
        <td class="rank{% if nbJoueurs % 3 == 0 and rank >= 3 and rank < 6 %} rank_blue {% endif %}">
            <b>Joueur {{ rank + 1 }}</b>
            {% if nbCompo and competiteur and idJournee == 2 and j2Rule and isBrulesJ2(numEquipe, competiteur.idCompetiteur, selectedPlayers, brulages) %}
                <i class="material-icons red-text tooltipped" data-position="top" data-html="true" data-tooltip="<b>Règle brûlage J2 :</b> au plus un joueur ayant joué <br> au-dessus de la {{ numEquipe }} en J1 peut être sélectionné">whatshot</i>
            {% endif %}
        </td>
        <td>
            {% if competiteur is not null and competiteur.licence %}
                {{ competiteur.licence }}
            {% else %}
                <span>&nbsp</span>
            {% endif %}
        </td>
        {% if competiteur is not null %}
            <td>
                <div class="chip">
                    {% if competiteur.avatar %}
                        <img src="{{ vich_uploader_asset(competiteur, 'imageFile') | imagine_filter('thumb') }}" alt="Avatar">
                    {% else %}
                        <img src="{{ asset('images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                    {% endif %}
                    <span>{{ competiteur.nom }} {{ competiteur.prenom }}</span>
                </div>
            </td>
        {% else %}
            <td style="height: 45px;" class="grey-text text-lighten-1 center-align">Pas de sélection</td>
        {% endif %}
        <td>
            {% if competiteur is not null and competiteur.classementOfficiel %}
                <b>Class. off: </b>{{ competiteur.classementOfficiel }}
            {% else %}
                <span>&nbsp</span>
            {% endif %}
        </td>
        <td>
            {% if competiteur is not null %}
                {% if competiteur.isCapitaine %}
                    <span class="new badge blue" data-badge-caption="Capitaine"></span>
                {% else %}
                    <span class="new badge green" data-badge-caption="Joueur"></span>
                {% endif %}
            {% else %}
                <span>&nbsp</span>
            {% endif %}
        </td>
    </tr>
{% endmacro %}