{% macro table(objetJoueursSansDispos, messageJoueursSansDispo, joueursNonDeclaresContact, selectedPlayers, disponibilitesJournee, nbDispos, nbNonDeclares, allDisponibilites, type, nbMinJoueurs, nbMaxSelectedJoueurs, nomModal, hasCompos, nbMaxPotentielPlayers, isOver) %}
    {% import 'macros/modalContact.html.twig' as _modalContact %}

    {{ _self.labelDispoSelec(selectedPlayers|length, nbDispos, nbMinJoueurs, nbMaxSelectedJoueurs, hasCompos, false, nbMaxPotentielPlayers) }}

    <div class="card-panel dispos merged_cards bottom">
        <h5 class="hide-on-med-and-down">Les dispos</h5>

        <div class="legends">
            <div class="row bottom_0">
                <div class="col s2 m1 l2 center"><span class="bold light_blue grey lighten-3" style="border-radius: 25%; padding: 1px 6px;">X</span></div>
                <div class="col s10 m11 l10">Nombre de sélections sur la phase</div>
            </div>
            <div class="row bottom_0">
                <div class="col s2 m1 l2 center">
                    <span class="dot dot4 center">&nbsp;</span>
                </div>
                <div class="col s10 m11 l10">Sélectionnés pour cette journée</div>
            </div>
        </div>

        {% for nomEquipe, disposEquipe in disponibilitesJournee %}
            <table class="striped">
                {% if not (disponibilitesJournee|length == 1 and 'Sans équipe' in disponibilitesJournee|keys) %}
                    <thead>
                    <tr>
                        <th class="center">
                            <h6>{{ nomEquipe }}</h6>
                        </th>
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                {% for dispo in disposEquipe %}
                    <tr>
                        <td class="row">
                            <div class="col s10">
                                <div class="valign-wrapper">
                                    {% if dispo.disponibilite is null %}
                                        <span class="dot dot3 center">&nbsp;</span>
                                    {% elseif dispo.disponibilite == 1 and dispo.joueur.idCompetiteur in selectedPlayers %}
                                        <span class="dot dot4 center">&nbsp;</span>
                                    {% elseif dispo.disponibilite == 1 %}
                                        <span class="dot dot1 center">&nbsp;</span>
                                    {% elseif dispo.disponibilite == 0 %}
                                        <span class="dot dot2 center">&nbsp;</span>
                                    {% endif %}
                                    <span class="{% if dispo.disponibilite is null %}grey-text {% elseif dispo.disponibilite == 1 %}green-text {% elseif dispo.disponibilite == 0 %} red-text {% endif %}{% if dispo.joueur.idCompetiteur == app.user.idCompetiteur %} bold{% endif %}">
                                        {{ dispo.joueur.nom }} {{ dispo.joueur.prenom }}
                                    </span>
                                    {% if dispo.joueur.licence is null %}
                                        &nbsp;<i class="material-icons red-text tooltipped" data-position="top" data-tooltip="Licence indéfinie" style="font-size: 18px">warning_amber</i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col s2 center" style="border-radius: 25%;">
                                <span class="bold light_blue grey lighten-3" style="border-radius: 25%; padding: 1px 6px;">{{ dispo.nbMatchesJoues }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        <div class="btnsDispos">
            <a href="#{{ nomModal }}" class="btn-small modal-trigger btn waves-effect blue" style="margin-top: 10px; margin-bottom: 10px;">Tout afficher</a>

            {% if not isOver and nbNonDeclares > 0 and (app.user.capitaine or app.user.admin) %}
                <a href="#modalAlertNoDispoSet{{ nomModal }}" id="modalAlertNoDispoSet{{ nomModal }}Style" class="modalAlertNoDispoSet btn-small btn waves-effect blue lighten-2 modal-trigger orange darken-1"><i class="material-icons">voice_over_off</i></a>
            {% endif %}
        </div>
    </div>
    <div id="{{ nomModal }}" class="modal modal-medium modal-fixed-footer">
        <div class="modal-content" style="padding: 10px;">
            {{ _self.recapitulatif(allDisponibilites, nomModal, type) }}
        </div>
        <div class="modal-footer">
            <h6 class="valign-wrapper left">Toutes les disponibilités</h6>
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">FERMER</a>
        </div>
    </div>

    {% if joueursNonDeclaresContact|length > 0 %}
        {{ _modalContact.modalAlertPlayers
            (
            'AlertNoDispoSet' ~ nomModal,
            joueursNonDeclaresContact,
            'Joueurs non déclarés',
            'mailto:' ~ joueursNonDeclaresContact.mail.toString ~ '?subject=Kompo - ' ~ objetJoueursSansDispos ~ '&body=' ~ (messageJoueursSansDispo|raw),
        'sms:' ~ joueursNonDeclaresContact.sms.toString ~ ';?&body=' ~ messageJoueursSansDispo,
        true,
        { info: "Alerter les joueurs n'ayant pas déclaré leurs disponiblités pour cette journée" }
        ) }}
    {% endif %}
{% endmacro %}

{% macro recapitulatif(allDisponibilites, nomTab, championnat) %}
    {% if allDisponibilites|length > 1 %}
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-bottom: 2px">
            {% for nomChamp, disponibilites in allDisponibilites %}
                <li class="tab">
                    <a href="{{ '#all_dispo_' ~ nomTab ~ nomChamp|slug }}" {% if nomChamp|slug|lower == championnat|lower %} class="active"{% endif %}>{{ nomChamp }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for nomChamp, disponibilites in allDisponibilites %}
        <div id="{{ 'all_dispo_' ~ nomTab ~ nomChamp|slug }}" style="margin-top: 15px">

            {% for nomEquipe, disponibilitesEquipes in disponibilites.dispos %}
                {% if not (disponibilites.dispos|length == 1 and 'Sans équipe' in disponibilites.dispos|keys) %}
                    <h6 class="hide-on-large-only hide-on-extra-large-only recapitulatifDispos">{{ nomEquipe }}</h6>
                {% endif %}

                <table class="centered responsive-table striped recapitulatifDispos">
                    <thead>
                    <tr>
                        <th>
                            {% if not (disponibilites.dispos|length == 1 and 'Sans équipe' in disponibilites.dispos|keys) %}
                                <h6 class="hide-on-med-and-down"><b>{{ nomEquipe }}</b></h6>
                            {% endif %}
                        </th>

                        {% for i in 1..disponibilites.nbJournees %}
                            <th>J{{ i }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for disponibilite in disponibilitesEquipes %}
                        <tr>
                            <td style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="chip" style="margin-right: 0; margin-bottom: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                    <img src="{{ asset(disponibilite.avatar ? 'images/profile_pictures/' ~ disponibilite.avatar : 'images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                                    <span {% if disponibilite.idCompetiteur == app.user.idCompetiteur %}class="bold light_blue"{% endif %}>
                                        {{ disponibilite.nom }} {{ disponibilite.prenom }} {% if disponibilite.licence is null %}<i class="material-icons red-text tooltipped" style="vertical-align: middle; margin-bottom: 3px;" data-position="top" data-tooltip="Licence indéfinie">warning_amber</i>{% endif %}
                                    </span>
                                </div>
                            </td>
                            {% for i in 1..disponibilites.nbJournees %}
                                <td>
                                    {% if (disponibilite[disponibilites.slug]|split(','))[i-1] != -1 %}
                                        {% if ((disponibilite['selections' ~ disponibilites.slug])|split(','))[i-1] != -1 %}
                                            <b class="blue-text center">
                                                {{ ((disponibilite['selections' ~ disponibilites.slug])|split(','))[i-1] }}
                                            </b>
                                        {% elseif (disponibilite[disponibilites.slug]|split(','))[i-1] == 1 %}
                                            <i style="vertical-align: middle;" class="green-text center material-icons">check</i>
                                        {% else %}
                                            <i style="vertical-align: middle;" class="red-text center material-icons">close</i>
                                        {% endif %}
                                    {% else %}
                                        <span style="vertical-align: middle;" class="dot dot3 center">&nbsp;</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro labelDispoSelec(nbSelectedPlayers, nbDispos, nbMinJoueurs, nbMaxSelectedJoueurs, hasCompos, isAlone, nbMaxPotentielPlayers) %}
    <div class="card-panel bottom_0 {% if not isAlone %}merged_cards up leftOne{% endif %}" style="padding: 5px 0;{% if isAlone %}margin-top: 10px;{% endif %}">
        <div class="row bottom_0" style="margin-bottom: 2px;">
            <div class="col s7">Disponibles</div>
            <div class="pastilleDispos col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbDispos >= nbMaxSelectedJoueurs %}
                        rainbow
                    {% elseif nbDispos >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbDispos }}/{{ nbMaxPotentielPlayers }}
            </div>
        </div>

        <div class="row bottom_0">
            <div class="col s7">Sélectionnés</div>
            <div class="pastilleDispos col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbSelectedPlayers == nbMaxSelectedJoueurs %}
                        rainbow
                    {% elseif nbSelectedPlayers >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbSelectedPlayers }}/{{ nbMaxSelectedJoueurs }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro backoffice(disponibilites) %}
    {% if disponibilites|length %}
        <script type="text/javascript" src="{{ asset('JS/defineDisponibilite.min.js') }}"></script>

        {% for nomJoueur, infos in disponibilites %}
            <ul class="collapsible backoffice_disponibilites">
                <li>
                    <div class="collapsible-header">
                        <div class="chip">
                            <img src="{{ asset((infos).avatar ? 'images/profile_pictures/' ~ (infos).avatar : 'images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                            <span>{{ nomJoueur }}</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>

                    <div class="collapsible-body">
                        {% if not infos.licence or not infos.classement_officiel %}
                            <div class="center" style="padding-top: 10px; padding-bottom: 10px;">
                                <span class="red-text lighten-2">
                                    <i class="material-icons red-text">warning_amber</i>
                                    {% if not infos.licence and infos.classement_officiel %} Licence indéfinie
                                    {% elseif infos.licence and not infos.classement_officiel %} Classement indéfini
                                    {% elseif not infos.licence and not infos.classement_officiel %} Licence et classement indéfinis
                                    {% endif %}
                                    {% if app.user.admin %}
                                        <br><a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: infos.idCompetiteur}) }}">Corriger</a>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}

                        <table class="centered striped responsive-table table-backoffice-disponibilites">
                            <tbody>
                            {% for dispos in infos.disponibilites %}
                                <tr>
                                    <td><b>Journée {{ loop.index }}</b></td>
                                    <td>
                                        {% if dispos.undefined %}
                                            <i class='material-icons red-text'>event_busy</i>
                                        {% else %}
                                            {{ dispos.dateRencontre | date("d/m/Y") }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div id="dispoJoueur{{ dispos.idJournee ~ dispos.idCompetiteur }}">
                                            {% if dispos.idDisponibilite is null %}
                                                {% if journeeStillEditable(dispos.dateRencontre) %}
                                                    <div class="row" style="margin-bottom: 0;">
                                                        <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                            <button onclick="newDisponibilite('{{ dispos.idJournee }}', 1, '{{ dispos.idCompetiteur }}')" class="btn waves-effect green btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                                        </div>
                                                        <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                            <button onclick="newDisponibilite('{{ dispos.idJournee }}', 0, '{{ dispos.idCompetiteur }}')" class="btn waves-effect red tn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <p class="grey-text" style="margin-top: 5px; margin-bottom: 5px;"><i>Disponibilité non signalée</i></p>
                                                {% endif %}
                                            {% else %}
                                                {% if dispos.disponibilite == 1 %}
                                                    <p style="margin-top: 5px; margin-bottom: 5px;">Joueur <span class="green-text"><b>disponible</b></span></p>
                                                    {% if journeeStillEditable(dispos.dateRencontre) %}
                                                        <button onclick="updateDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', 0, '{{ dispos.idJournee }}')" class="btn waves-effect red btn_gestion" type="submit" name="action">Déclarer indisponible</button>
                                                    {% endif %}
                                                {% else %}
                                                    <p style="margin-top: 5px; margin-bottom: 5px;">Joueur <span class="red-text"><b>indisponible</b></span></p>
                                                    {% if journeeStillEditable(dispos.dateRencontre) %}
                                                        <button onclick="updateDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', 1, '{{ dispos.idJournee }}')" class="btn waves-effect green btn_gestion" type="submit" name="action">Déclarer disponible</button>
                                                    {% endif %}
                                                {% endif %}
                                                {% if journeeStillEditable(dispos.dateRencontre) %}
                                                    <button onclick="deleteDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', {{ dispos.disponibilite }}, '{{ dispos.idJournee }}')" class="btn waves-effect red lighten-1 btn_gestion"><i class="material-icons">close</i></button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div id="preloader{{ dispos.idJournee ~ dispos.idCompetiteur }}" style="display: none; align-items: center; justify-content: center;">
                                            <div class="preloader-wrapper small active">
                                                <div class="spinner-layer spinner-blue-only">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="gap-patch">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="lobster_2 missingTitle">Aucune disponibilité</p>
    {% endif %}
{% endmacro %}