{% macro table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilites, type, nbMinJoueurs, nbTotalJoueurs, nomModal, hasCompos) %}
    <div class="center-align">
        {{ _self.labelDispoSelec(selectedPlayers|length, nbDispos, nbMinJoueurs, nbTotalJoueurs, hasCompos) }}

        <div class="card-panel dispos">
            <table class="striped">
                <thead>
                    <tr>
                        <th class="center">
                            <h5 class="center">Les dispos</h5>
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                {% for dispo in dispos %}
                    <tr>
                        <td>
                            <div class="valign-wrapper">
                                {% if dispo.disponibilite == 1 %}
                                    <span class="dot dot1 center">&nbsp;</span>
                                {% elseif dispo.disponibilite == 0 %}
                                    <span class="dot dot2 center">&nbsp;</span>
                                {% else %}
                                    <span class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                                <span style="margin-left: 2%;" class="{% if dispo.disponibilite %} green-text {% elseif not dispo.disponibilite %} red-text {% endif %}">{{ dispo.idCompetiteur.nom }} {{dispo.idCompetiteur.prenom }}</span>
                            </div>
                        </td>
                        <td>
                            {% if dispo.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align material-icons">done</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for joueur in joueursNonDeclares %}
                    <tr>
                        <td>
                            <div class="valign-wrapper">
                                <span class="dot dot3 center">&nbsp;</span>
                                <span style="margin-left: 2%;" class="grey-text">{{ joueur.nom }} {{ joueur.prenom }}</span>
                            </div>
                        </td>
                        <td class="left">
                            {% if joueur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a style="margin-top: 10px; margin-bottom: 10px;" class="card-panel modal-trigger btn waves-effect waves-light blue lighten-2 center-align center" href="#{{ nomModal }}">Tout afficher</a>
        </div>
    </div>
    <div id="{{ nomModal }}" class="modal modal-fixed-footer">
        <div class="modal-content" style="padding: 10px;">
            {{ _self.recapitulatif(allDisponibilites, nomModal, type) }}
        </div>
        <div class="modal-footer">
            <h6 class="valign-wrapper left">Toutes les disponibilités</h6>
            <a href="#!" class="modal-close btn waves-effect waves-light blue lighten-2">OK</a>
        </div>
    </div>
{% endmacro %}

{% macro recapitulatif(allDisponibilites, nomTab, championnat) %}
    {% if allDisponibilites|length > 1 %}
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-bottom: 2px">
            {% for nomChamp, disponibilites in allDisponibilites %}
                <li class="tab"><a href="{{ '#all_dispo_' ~ nomTab ~ nomChamp|slug }}" id="{{ nomChamp|slug|lower }} {{ championnat|lower }}" {% if nomChamp|slug|lower == championnat|lower %} class="active"{% endif %}>{{ nomChamp }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for nomChamp, disponibilites in allDisponibilites %}
        <div id="{{ 'all_dispo_' ~ nomTab ~ nomChamp|slug }}">
            <table class="centered responsive-table striped">
                <thead>
                    <tr>
                        <th><span class="hide-on-small-only">Joueurs</span></th>
                        {% for i in 1..disponibilites["nbJournees"] %}
                            <th style="width: 70px;">J{{ i }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for disponibilite in disponibilites["dispos"] %}
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 5px;">
                            <div class="chip" style="margin-right: 0; margin-bottom: 0;">
                                <img src="{{ asset(disponibilite.avatar ? 'images/profile_pictures/' ~ disponibilite.avatar : 'images/account.png') }}" alt="Avatar">
                                <span>{{ disponibilite.nom }} {{ disponibilite.prenom }}</span>
                            </div>
                        </td>
                        {% for i in 1..disponibilites["nbJournees"] %}
                            <td>
                                {% if ((disponibilite[nomChamp|slug|lower])|split(','))[i-1] != -1 %}
                                    {% if ((disponibilite[nomChamp|slug|lower])|split(','))[i-1] == 1 %}
                                        <i style="vertical-align: middle;" class="green-text center material-icons">check</i>
                                    {% else %}
                                        <i style="vertical-align: middle;" class="red-text center material-icons">close</i>
                                    {% endif %}
                                {% else %}
                                    <span style="vertical-align: middle;" class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endmacro %}

{% macro labelDispoSelec(nbSelectedPlayers, nbDispos, nbMinJoueurs, nbTotalJoueurs, hasCompos) %}
    <div class="card-panel bottom_0" style="padding: 5px 0;">
        <div class="row bottom_0" style="margin-bottom: 2px;">
            <div class="col s7">Disponibles</div>
            <div style="font-size: 100%; width: auto;" class="col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbDispos >= nbTotalJoueurs %}
                        rainbow
                    {% elseif nbDispos >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbDispos }}/{{ nbTotalJoueurs }}
            </div>
        </div>

        <div class="row bottom_0">
            <div class="col s7">Sélectionnés</div>
            <div style="font-size: 100%; width: auto;" class="col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbSelectedPlayers == nbTotalJoueurs %}
                        rainbow
                    {% elseif nbSelectedPlayers >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbSelectedPlayers }}/{{ nbTotalJoueurs }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro backoffice(disponibilites) %}
    {% if disponibilites|length %}
        {% for nomJoueur, infos in disponibilites %}
            <ul class="collapsible backoffice_disponibilites">
                <li>
                    <div class="collapsible-header">
                        <div class="chip">
                            <img src="{{ asset((infos)['avatar'] ? 'images/profile_pictures/' ~ (infos)['avatar'] : 'images/account.png') }}" alt="Avatar">
                            <span>{{ nomJoueur }}</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>

                    <div class="collapsible-body">
                        <table class="centered striped responsive-table">
                            <tbody>
                                {% for i, dispos in infos.dispos %}
                                    <tr>
                                        <td class="hide-on-med-and-down">
                                            <div class="chip">
                                                <img src="{{ asset(dispos.avatar ? 'images/profile_pictures/' ~ dispos.avatar : 'images/account.png') }}" alt="Avatar">
                                                <span>{{ dispos.nom }} {{ dispos.prenom }}</span>
                                            </div>
                                        </td>
                                        <td>J{{ i+1 }}</td>
                                        <td>
                                            {% if dispos.undefined %}
                                                <i class='material-icons red-text'>event_busy</i>
                                            {% else %}
                                                {{ dispos.dateJournee | date("d/m/Y") }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if dispos.classement_officiel and dispos.licence %}
                                                {% if dispos.idDisponibilite is null %}
                                                    <div class="row" style="margin-bottom: 0;">
                                                        <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                            <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispos.idCompetiteur, journee: dispos.idJournee, dispo: 1}) }}">
                                                                <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                                            </a>
                                                        </div>
                                                        <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                            <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispos.idCompetiteur, journee: dispos.idJournee, dispo: 0}) }}">
                                                                <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    {% if dispos.disponibilite == 1 %}
                                                        <p style="margin-top: 0; margin-bottom: 0;"><i>Joueur <span class="green-text"><b>disponible</b></span></i></p>
                                                        <a onclick="return confirm('Le joueur pourrait être désélectionné pour cette journée. Êtes-vous sûr ?')"
                                                           href="{{ path('backoffice.disponibilite.update', {idCompetiteur: dispos.idCompetiteur, idDispo: dispos.idDisponibilite, dispo: 0}) }}">
                                                            <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer indisponible</button>
                                                        </a>
                                                    {% else %}
                                                        <p style="margin-top: 0; margin-bottom: 0;"><i>Joueur <span class="red-text"><b>indisponible</b></span></i></p>
                                                        <a href="{{ path('backoffice.disponibilite.update', {idCompetiteur: dispos.idCompetiteur, idDispo: dispos.idDisponibilite, dispo: 1}) }}">
                                                            <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer disponible</button>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% if not dispos.licence and dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Licence indéfinie<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% elseif dispos.licence and not dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Classement indéfini<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% elseif not dispos.licence and not dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Licence et classement indéfinis<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="lobster_2 missingTitle">Aucune disponibilité</p>
    {% endif %}
{% endmacro %}