{% macro table(objetJoueursSansDispos, messageJoueursSansDispo, joueursNonDeclaresContact, selectedPlayers, disponibilitesGenerales, nbDispos, nbNonDeclares, allDisponibilites, type, nbMinJoueurs, nbMaxSelectedJoueurs, nomModal, hasCompos, nbMaxPotentielPlayers) %}
    {% import 'macros/modalContact.html.twig' as _modalContact %}

    {{ _self.labelDispoSelec(selectedPlayers|length, nbDispos, nbMinJoueurs, nbMaxSelectedJoueurs, hasCompos, false, nbMaxPotentielPlayers) }}

    <div class="card-panel dispos merged_cards bottom">
        <h5 class="hide-on-med-and-down">Les dispos</h5>

        <div class="row bottom_0">
            <div class="col s2 center"><span class="labelNbMatchesJoues pastille grey">&nbsp&nbsp&nbsp</span></div>
            <div class="col s10">Nombre de sélections sur la phase</div>
        </div>
        <div class="row bottom_0">
            <div class="col s2 center"><i class="blue-text right-align material-icons">done</i></div>
            <div class="col s10 m7">Sélectionnés pour cette journée</div>
        </div>

        <table class="striped">
            <tbody>
                {% for dispo in disponibilitesGenerales %}
                    <tr>
                        <td>
                            <div class="valign-wrapper">
                                {% if dispo.disponibilite is null %}
                                    <span class="dot dot3 center">&nbsp;</span>
                                {% elseif dispo.disponibilite == 1 %}
                                    <span class="dot dot1 center">&nbsp;</span>
                                {% elseif dispo.disponibilite == 0 %}
                                    <span class="dot dot2 center">&nbsp;</span>
                                {% endif %}
                                <span class="{% if dispo.disponibilite is null %}grey-text {% elseif dispo.disponibilite == 1 %}green-text {% elseif dispo.disponibilite == 0 %} red-text {% endif %}">{{ dispo.joueur.nom }} {{dispo.joueur.prenom }}</span>
                            </div>
                        </td>
                        <td>
                            <span class="pastille grey">{{ dispo.nbMatchesJoues }}</span>
                        </td>
                        <td>
                            {% if dispo.joueur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align material-icons">done</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="#{{ nomModal }}" class="btn-small modal-trigger btn waves-effect blue" style="margin-top: 10px; margin-bottom: 10px;">Tout afficher</a>

        {% if nbNonDeclares|length > 0 and ('ROLE_CAPITAINE' in app.token.roleNames or 'ROLE_ADMIN' in app.token.roleNames) %}
            <a href="#modalAlertNoDispoSet{{ nomModal }}" id="modalAlertNoDispoSet{{ nomModal }}Style" class="modalAlertNoDispoSet btn-small btn waves-effect blue lighten-2 modal-trigger orange darken-1"><i class="material-icons">voice_over_off</i></a>
        {% endif %}
    </div>
    <div id="{{ nomModal }}" class="modal modal-fixed-footer">
        <div class="modal-content" style="padding: 10px;">
            {{ _self.recapitulatif(allDisponibilites, nomModal, type) }}
        </div>
        <div class="modal-footer">
            <h6 class="valign-wrapper left">Toutes les disponibilités</h6>
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">OK</a>
        </div>
    </div>

    {% if joueursNonDeclaresContact|length > 0 %}
        {{ _modalContact.modalAlertPlayers
            (
                'AlertNoDispoSet' ~ nomModal,
                joueursNonDeclaresContact,
                'Joueurs non déclarés',
                'mailto:' ~ joueursNonDeclaresContact['mail']['toString'] ~ '?subject=Kompo - ' ~ objetJoueursSansDispos ~ '&body=' ~ (messageJoueursSansDispo|raw),
                'sms:' ~ joueursNonDeclaresContact['sms']['toString'] ~ ';?&body=' ~ messageJoueursSansDispo,
                { info: "Alerter les joueurs n'ayant pas déclaré leur disponiblité pour cette journée" }
            )
        }}
    {% endif %}
{% endmacro %}

{% macro recapitulatif(allDisponibilites, nomTab, championnat) %}
    {% if allDisponibilites|length > 1 %}
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-bottom: 2px">
            {% for nomChamp, disponibilites in allDisponibilites %}
                <li class="tab"><a href="{{ '#all_dispo_' ~ nomTab ~ nomChamp|slug }}" id="{{ nomChamp|slug|lower }}" {% if nomChamp|slug|lower == championnat|lower %} class="active"{% endif %}>{{ nomChamp }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for nomChamp, disponibilites in allDisponibilites %}
        <div id="{{ 'all_dispo_' ~ nomTab ~ nomChamp|slug }}">
            <table class="centered responsive-table striped recapitulatifDispos">
                <thead>
                    <tr>
                        <th><span class="hide-on-small-only">Joueurs</span></th>
                        {% for i in 1..disponibilites["nbJournees"] %}
                            <th style="width: 60px;">J{{ i }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for disponibilite in disponibilites["dispos"] %}
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 5px;">
                            <div class="chip" style="margin-right: 0; margin-bottom: 0;">
                                <img src="{{ asset(disponibilite.avatar ? 'images/profile_pictures/' ~ disponibilite.avatar : 'images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                                <span>
                                    {{ disponibilite.nom }} {{ disponibilite.prenom }}
                                </span>
                            </div>
                        </td>
                        {% for i in 1..disponibilites["nbJournees"] %}
                            <td>
                                {% if ((disponibilite[nomChamp|slug|lower])|split(','))[i-1] != -1 %}
                                    {% if ((disponibilite[nomChamp|slug|lower])|split(','))[i-1] == 1 %}
                                        <i style="vertical-align: middle;" class="green-text center material-icons">check</i>
                                    {% else %}
                                        <i style="vertical-align: middle;" class="red-text center material-icons">close</i>
                                    {% endif %}
                                {% else %}
                                    <span style="vertical-align: middle;" class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endmacro %}

{% macro labelDispoSelec(nbSelectedPlayers, nbDispos, nbMinJoueurs, nbMaxSelectedJoueurs, hasCompos, isAlone, nbMaxPotentielPlayers) %}
    <div class="card-panel bottom_0 {% if not isAlone %}merged_cards up leftOne{% endif %}" style="padding: 5px 0;{% if isAlone %}margin-top: 10px;{% endif %}">
        <div class="row bottom_0" style="margin-bottom: 2px;">
            <div class="col s7">Disponibles</div>
            <div class="pastilleDispos col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbDispos >= nbMaxSelectedJoueurs %}
                        rainbow
                    {% elseif nbDispos >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbDispos }}/{{ nbMaxPotentielPlayers }}
            </div>
        </div>

        <div class="row bottom_0">
            <div class="col s7">Sélectionnés</div>
            <div class="pastilleDispos col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbSelectedPlayers == nbMaxSelectedJoueurs %}
                        rainbow
                    {% elseif nbSelectedPlayers >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbSelectedPlayers }}/{{ nbMaxSelectedJoueurs }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro backoffice(disponibilites) %}
    {% if disponibilites|length %}
        <script type="text/javascript" src="{{ asset('JS/defineDisponibilite.min.js') }}"></script>

        {% for nomJoueur, infos in disponibilites %}
            <ul class="collapsible backoffice_disponibilites">
                <li>
                    <div class="collapsible-header">
                        <div class="chip">
                            <img src="{{ asset((infos)['avatar'] ? 'images/profile_pictures/' ~ (infos)['avatar'] : 'images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                            <span>{{ nomJoueur }}</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>

                    <div class="collapsible-body">
                        <table class="centered striped responsive-table table-backoffice-disponibilites">
                            <tbody>
                                {% for i, dispos in infos.disponibilites %}
                                    <tr>
                                        <td class="hide-on-med-and-down">
                                            <div class="chip">
                                                <img src="{{ asset(dispos.avatar ? 'images/profile_pictures/' ~ dispos.avatar : 'images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                                                <span>{{ dispos.nom }} {{ dispos.prenom }}</span>
                                            </div>
                                        </td>
                                        <td><b>J{{ i+1 }}</b></td>
                                        <td>
                                            {% if dispos.undefined %}
                                                <i class='material-icons red-text'>event_busy</i>
                                            {% else %}
                                                {{ dispos.dateJournee | date("d/m/Y") }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if dispos.classement_officiel and dispos.licence %}
                                                <div id="dispoJoueur{{ dispos.idJournee ~ dispos.idCompetiteur }}">
                                                    {% if dispos.idDisponibilite is null %}
                                                        {% if journeeStillEditable(dispos.latestDate) %}
                                                            <div class="row" style="margin-bottom: 0;">
                                                                <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                                    <button onclick="newDisponibilite('{{ dispos.idJournee }}', 1, '{{ dispos.idCompetiteur }}')" class="btn waves-effect green btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                                                </div>
                                                                <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                                    <button onclick="newDisponibilite('{{ dispos.idJournee }}', 0, '{{ dispos.idCompetiteur }}')" class="btn waves-effect red tn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <p class="grey-text" style="margin-top: 5px; margin-bottom: 5px;"><i>Disponibilité non signalée</i></p>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if dispos.disponibilite == 1 %}
                                                            <p style="margin-top: 5px; margin-bottom: 5px;">Joueur <span class="green-text"><b>disponible</b></span></p>
                                                            {% if journeeStillEditable(dispos.latestDate) %}
                                                                <button onclick="updateDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', 0, '{{ dispos.idJournee }}')" class="btn waves-effect red btn_gestion" type="submit" name="action">Déclarer indisponible</button>
                                                            {% endif %}
                                                        {% else %}
                                                            <p style="margin-top: 5px; margin-bottom: 5px;">Joueur <span class="red-text"><b>indisponible</b></span></p>
                                                            {% if journeeStillEditable(dispos.latestDate) %}
                                                                <button onclick="updateDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', 1, '{{ dispos.idJournee }}')" class="btn waves-effect green btn_gestion" type="submit" name="action">Déclarer disponible</button>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if journeeStillEditable(dispos.latestDate) %}
                                                            <button onclick="deleteDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', {{ dispos.disponibilite }}, '{{ dispos.idJournee }}')" class="btn waves-effect red lighten-1 btn_gestion"><i class="material-icons">close</i></button>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div id="preloader{{ dispos.idJournee ~ dispos.idCompetiteur }}" style="display: none; align-items: center; justify-content: center;">
                                                    <div class="preloader-wrapper small active">
                                                        <div class="spinner-layer spinner-blue-only">
                                                            <div class="circle-clipper left">
                                                                <div class="circle"></div>
                                                            </div><div class="gap-patch">
                                                                <div class="circle"></div>
                                                            </div><div class="circle-clipper right">
                                                                <div class="circle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% if not dispos.licence and dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Licence indéfinie<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% elseif dispos.licence and not dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Classement indéfini<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% elseif not dispos.licence and not dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Licence et classement indéfinis<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="lobster_2 missingTitle">Aucune disponibilité</p>
    {% endif %}
{% endmacro %}