{% macro table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilites, type, nbMinJoueurs, nbTotalJoueurs, nomModal, hasCompos, virtualPoints, virtualPointsProgression) %}
    <div class="center-align">
        <div class="hide-on-med-and-down">
            {{ _self.labelVirtualPoints(virtualPoints, 'left', virtualPointsProgression) }}
        </div>
        {{ _self.labelDispoSelec(selectedPlayers|length, nbDispos, nbMinJoueurs, nbTotalJoueurs, hasCompos) }}

        <div class="card-panel dispos">
            <h5>Les dispos</h5>
            <table class="striped">
                <tbody>
                {% for dispo in dispos %}
                    <tr>
                        <td>
                            <div class="valign-wrapper">
                                {% if dispo.disponibilite == 1 %}
                                    <span class="dot dot1 center">&nbsp;</span>
                                {% elseif dispo.disponibilite == 0 %}
                                    <span class="dot dot2 center">&nbsp;</span>
                                {% else %}
                                    <span class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                                <span style="margin-left: 2%;" class="{% if dispo.disponibilite %} green-text {% elseif not dispo.disponibilite %} red-text {% endif %}">{{ dispo.idCompetiteur.nom }} {{dispo.idCompetiteur.prenom }}</span>
                            </div>
                        </td>
                        <td>
                            {% if dispo.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align material-icons">done</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for joueur in joueursNonDeclares %}
                    <tr>
                        <td>
                            <div class="valign-wrapper">
                                <span class="dot dot3 center">&nbsp;</span>
                                <span style="margin-left: 2%;" class="grey-text">{{ joueur.nom }} {{ joueur.prenom }}</span>
                            </div>
                        </td>
                        <td class="left">
                            {% if joueur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a style="margin-top: 10px; margin-bottom: 10px;" class="card-panel modal-trigger btn waves-effect blue center-align center" href="#{{ nomModal }}">Tout afficher</a>
        </div>
    </div>
    <div id="{{ nomModal }}" class="modal modal-fixed-footer">
        <div class="modal-content" style="padding: 10px;">
            {{ _self.recapitulatif(allDisponibilites, nomModal, type) }}
        </div>
        <div class="modal-footer">
            <h6 class="valign-wrapper left">Toutes les disponibilités</h6>
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">OK</a>
        </div>
    </div>
{% endmacro %}

{% macro labelVirtualPoints(virtualPoints, tooltipPosition, virtualPointsProgression) %}
    <div class="card-panel bottom_0 virtualPointsCard">
        <div class="virtualPointsDiv">
            <span style="margin-left: 6px"><a onclick="getClassementVirtuel()" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger pulse" href="#rankingVirtualPoints"><i class="material-icons">trending_up</i></a></span>
            <h6 class="lobster_2"><b style="vertical-align: sub">Points virtuels</b></h6>
            <span><i class="material-icons blue-text text-darken-1 tooltipped interaction" data-position="{{ tooltipPosition }}" data-tooltip="Points virtuels en temps réel, calculés à partir des points mensuels des adversaires (légers écarts possibles), dès que les rencontres sont saisies sur SPID. Points réèls connus en début de mois.">help_outline</i></span>
        </div>
        {% if virtualPoints %}
            <p>
                <span class="pastille reset virtualPoints">{{ virtualPoints | round(1, 'floor') }} pts</span>
                <span class="{% if virtualPointsProgression > 0 %}green{% elseif virtualPointsProgression == 0 %}grey{% else %}red{% endif %}-text"><i class="material-icons">{% if virtualPointsProgression >= 0 %}keyboard_arrow_up{% else %}keyboard_arrow_down{% endif %}</i>{{ virtualPointsProgression | round(1, 'floor') }}</span>
            </p>
        {% else %}
            <p class="red-text text-lighten-1"><b>Matches introuvables</b></p>
        {% endif %}
    </div>

{% endmacro %}

{% macro recapitulatif(allDisponibilites, nomTab, championnat) %}
    {% if allDisponibilites|length > 1 %}
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="margin-bottom: 2px">
            {% for nomChamp, disponibilites in allDisponibilites %}
                <li class="tab"><a href="{{ '#all_dispo_' ~ nomTab ~ nomChamp|slug }}" id="{{ nomChamp|slug|lower }} {{ championnat|lower }}" {% if nomChamp|slug|lower == championnat|lower %} class="active"{% endif %}>{{ nomChamp }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for nomChamp, disponibilites in allDisponibilites %}
        <div id="{{ 'all_dispo_' ~ nomTab ~ nomChamp|slug }}">
            <table class="centered responsive-table striped">
                <thead>
                    <tr>
                        <th><span class="hide-on-small-only">Joueurs</span></th>
                        {% for i in 1..disponibilites["nbJournees"] %}
                            <th style="width: 70px;">J{{ i }}</th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for disponibilite in disponibilites["dispos"] %}
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 5px;">
                            <div class="chip" style="margin-right: 0; margin-bottom: 0;">
                                <img src="{{ asset(disponibilite.avatar ? 'images/profile_pictures/' ~ disponibilite.avatar : 'images/account.png') }}" alt="Avatar">
                                <span>{{ disponibilite.nom }} {{ disponibilite.prenom }}</span>
                            </div>
                        </td>
                        {% for i in 1..disponibilites["nbJournees"] %}
                            <td>
                                {% if ((disponibilite[nomChamp|slug|lower])|split(','))[i-1] != -1 %}
                                    {% if ((disponibilite[nomChamp|slug|lower])|split(','))[i-1] == 1 %}
                                        <i style="vertical-align: middle;" class="green-text center material-icons">check</i>
                                    {% else %}
                                        <i style="vertical-align: middle;" class="red-text center material-icons">close</i>
                                    {% endif %}
                                {% else %}
                                    <span style="vertical-align: middle;" class="dot dot3 center">&nbsp;</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endmacro %}

{% macro labelDispoSelec(nbSelectedPlayers, nbDispos, nbMinJoueurs, nbTotalJoueurs, hasCompos) %}
    <div class="card-panel bottom_0" style="padding: 5px 0; margin-top: 10px;">
        <div class="row bottom_0" style="margin-bottom: 2px;">
            <div class="col s7">Disponibles</div>
            <div class="pastilleDispos col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbDispos >= nbTotalJoueurs %}
                        rainbow
                    {% elseif nbDispos >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbDispos }}
            </div>
        </div>

        <div class="row bottom_0">
            <div class="col s7">Sélectionnés</div>
            <div class="pastilleDispos col s4 lobster
                {% if hasCompos %}
                    pastille
                    {% if nbSelectedPlayers == nbTotalJoueurs %}
                        rainbow
                    {% elseif nbSelectedPlayers >= nbMinJoueurs %}
                        orange darken-2
                    {% else %}
                        red
                    {% endif %}
                {% endif %}">
                {{ nbSelectedPlayers }}/{{ nbTotalJoueurs }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro backoffice(disponibilites) %}
    {% if disponibilites|length %}
        <script type="text/javascript" src="{{ asset('JS/defineDisponibilite.min.js') }}"></script>

        {% for nomJoueur, infos in disponibilites %}
            <ul class="collapsible backoffice_disponibilites">
                <li>
                    <div class="collapsible-header">
                        <div class="chip">
                            <img src="{{ asset((infos)['avatar'] ? 'images/profile_pictures/' ~ (infos)['avatar'] : 'images/account.png') }}" alt="Avatar">
                            <span>{{ nomJoueur }}</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>

                    <div class="collapsible-body">
                        <table class="centered striped responsive-table">
                            <tbody>
                                {% for i, dispos in infos.dispos %}
                                    <tr>
                                        <td class="hide-on-med-and-down">
                                            <div class="chip">
                                                <img src="{{ asset(dispos.avatar ? 'images/profile_pictures/' ~ dispos.avatar : 'images/account.png') }}" alt="Avatar">
                                                <span>{{ dispos.nom }} {{ dispos.prenom }}</span>
                                            </div>
                                        </td>
                                        <td>J{{ i+1 }}</td>
                                        <td>
                                            {% if dispos.undefined %}
                                                <i class='material-icons red-text'>event_busy</i>
                                            {% else %}
                                                {{ dispos.dateJournee | date("d/m/Y") }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if dispos.classement_officiel and dispos.licence %}
                                                <div id="dispoJoueur{{ dispos.idJournee ~ dispos.idCompetiteur }}">
                                                    {% if dispos.idDisponibilite is null %}
                                                        {% if dispos.latestDate >= date() %}
                                                            <div class="row" style="margin-bottom: 0;">
                                                                <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                                    <button onclick="newDisponibilite('{{ dispos.idJournee }}', 1, '{{ dispos.idCompetiteur }}')" class="btn waves-effect green lighten-2 btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                                                </div>
                                                                <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
                                                                    <button onclick="newDisponibilite('{{ dispos.idJournee }}', 0, '{{ dispos.idCompetiteur }}')" class="btn waves-effect red lighten-2 btn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <p class="grey-text" style="margin-top: 5px; margin-bottom: 5px;"><i>Disponibilité non signalée</i></p>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if dispos.disponibilite == 1 %}
                                                            <p style="margin-top: 5px; margin-bottom: 5px;">Joueur <span class="green-text"><b>disponible</b></span></p>
                                                            {% if dispos.latestDate >= date() %}
                                                                <button onclick="updateDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', 0, '{{ dispos.idJournee }}')" class="btn waves-effect red lighten-2 btn_gestion" type="submit" name="action">Déclarer indisponible</button>
                                                            {% endif %}
                                                        {% else %}
                                                            <p style="margin-top: 5px; margin-bottom: 5px;">Joueur <span class="red-text"><b>indisponible</b></span></p>
                                                            {% if dispos.latestDate >= date() %}
                                                                <button onclick="updateDisponibilite('{{ dispos.idCompetiteur }}', '{{ dispos.idDisponibilite }}', 1, '{{ dispos.idJournee }}')" class="btn waves-effect green lighten-2 btn_gestion" type="submit" name="action">Déclarer disponible</button>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div id="preloader{{ dispos.idJournee ~ dispos.idCompetiteur }}" style="display: none; align-items: center; justify-content: center;">
                                                    <div class="preloader-wrapper small active">
                                                        <div class="spinner-layer spinner-blue-only">
                                                            <div class="circle-clipper left">
                                                                <div class="circle"></div>
                                                            </div><div class="gap-patch">
                                                                <div class="circle"></div>
                                                            </div><div class="circle-clipper right">
                                                                <div class="circle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% if not dispos.licence and dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Licence indéfinie<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% elseif dispos.licence and not dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Classement indéfini<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% elseif not dispos.licence and not dispos.classement_officiel %}
                                                    <span class="red-text lighten-2">Licence et classement indéfinis<br>
                                                        <a href="{{ path('backoffice.competiteur.edit', {idCompetiteur: dispos.idCompetiteur}) }}">Corriger</a>
                                                    </span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="lobster_2 missingTitle">Aucune disponibilité</p>
    {% endif %}
{% endmacro %}