{% macro table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilitesDepartementales, allDisponibiliteParis, type) %}
    <a style="width: 100%; margin-bottom: 0; margin-top: 20px;" class="card-panel modal-trigger btn waves-effect waves-light blue lighten-2" href="#all_dispos">Tout voir</a>
    <div id="all_dispos" class="modal modal-fixed-footer">
        <div class="modal-content" style="padding: 10px;">
            {{ _self.recapitulatif(allDisponibilitesDepartementales, allDisponibiliteParis) }}
        </div>
        <div class="modal-footer">
            <h6 class="valign-wrapper left">Toutes les disponibilités</h6>
            <a href="#!" class="modal-close btn waves-effect waves-light blue lighten-2">OK</a>
        </div>
    </div>

    {{ _self.labelDispoSelec(selectedPlayers, type, nbDispos) }}

    <table class="card-panel dispos">
        <thead>
            <tr>
                <th class="center">
                    <h5 class="center">Les dispos</h5>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for dispo in dispos %}
            <tr>
                <td>
                    <div class="valign-wrapper">
                        {% if dispo.disponibilite == 1 %}
                            <span class="dot dot1 center">&nbsp;</span>
                        {% elseif dispo.disponibilite == 0 %}
                            <span class="dot dot2 center">&nbsp;</span>
                        {% else %}
                            <span class="dot dot3 center">&nbsp;</span>
                        {% endif %}
                        <span style="margin-left: 2%;" class="{% if dispo.disponibilite %} green-text {% elseif not dispo.disponibilite %} red-text {% endif %}">{{ dispo.idCompetiteur.nom }}</span>
                    </div>
                </td>
                <td>
                    {% if dispo.idCompetiteur.idCompetiteur in selectedPlayers %}
                        <i class="blue-text right-align material-icons">playlist_add_check</i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for joueur in joueursNonDeclares %}
            <tr>
                <td>
                    <div class="valign-wrapper">
                        <span class="dot dot3 center">&nbsp;</span>
                        <span style="margin-left: 2%;" class="grey-text">{{ joueur.nom }}</span>
                    </div>
                </td>
                <td class="left">
                    {% if joueur.idCompetiteur in selectedPlayers %}
                        <i class="blue-text right-align material-icons">playlist_add_check</i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro recapitulatif(disponibilitesDep, disponibilitesParis) %}
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a href="#all_dispo_departementale" class="active">Départemental</a></li>
        <li class="tab"><a href="#all_dispo_paris">Paris</a></li>
    </ul>

    <div id="all_dispo_departementale">
        <table class="centered responsive-table striped card-panel">
            <thead>
                <tr>
                    <th><span class="hide-on-small-only">Joueurs</span></th>
                    <th>J1</th>
                    <th>J2</th>
                    <th>J3</th>
                    <th>J4</th>
                    <th>J5</th>
                    <th>J6</th>
                    <th>J7</th>
                </tr>
            </thead>

            <tbody>
            {% for dispo in disponibilitesDep %}
                <tr>
                    <td>{{ dispo.nom }}</td>
                    {{ _self.td_recap(dispo.j1) }}
                    {{ _self.td_recap(dispo.j2) }}
                    {{ _self.td_recap(dispo.j3) }}
                    {{ _self.td_recap(dispo.j4) }}
                    {{ _self.td_recap(dispo.j5) }}
                    {{ _self.td_recap(dispo.j6) }}
                    {{ _self.td_recap(dispo.j7) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="all_dispo_paris">
        <table class="centered responsive-table striped card-panel">
            <thead>
                <tr>
                    <th><span class="hide-on-small-only">Joueurs</span></th>
                    <th>J1</th>
                    <th>J2</th>
                    <th>J3</th>
                    <th>J4</th>
                    <th>J5</th>
                    <th>J6</th>
                    <th>J7</th>
                </tr>
            </thead>

            <tbody>
            {% for dispo in disponibilitesParis %}
                <tr>
                    <td>{{ dispo.nom }}</td>
                    {{ _self.td_recap(dispo.j1) }}
                    {{ _self.td_recap(dispo.j2) }}
                    {{ _self.td_recap(dispo.j3) }}
                    {{ _self.td_recap(dispo.j4) }}
                    {{ _self.td_recap(dispo.j5) }}
                    {{ _self.td_recap(dispo.j6) }}
                    {{ _self.td_recap(dispo.j7) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro td_recap(dispo) %}
    <td>
        {% if dispo is not null %}
            {% if dispo == 1 %}
                <span style="vertical-align: middle; width: 10px; height: 10px;" class="dot dot1 center">&nbsp;</span>
            {% elseif dispo == 0 %}
                <span style="vertical-align: middle; width: 10px; height: 10px;" class="dot dot2 center">&nbsp;</span>
            {% else %}
                <span style="vertical-align: middle; width: 10px; height: 10px;" class="dot dot3 center">&nbsp;</span>
            {% endif %}
        {% else %}
            <span style="vertical-align: middle; width: 10px; height: 10px;" class="dot dot3 center">&nbsp;</span>
        {% endif %}
    </td>
{% endmacro %}

{% macro selectionnables(selectionnables) %}
    <div class="card-panel center-align" style="margin-bottom: 0; padding: 8px 4px;">
        <span class="red-text" style="margin-top: 0; margin-bottom: 0;"><i>En J2, au maximum 1 joueur orange peux être sélectionné dans cette équipe</i></span>
    </div>

    <table style="margin-top: 10px;" class="centered card-panel dispos">
        <thead>
            <tr>
                <th><h5>Sélectionnables</h5></th>
            </tr>
        </thead>

        <tbody>
        {% if selectionnables is empty %}
            <tr>
                <td>Il n'y a pas de joueurs sélectionnables</td>
            </tr>
        {% else %}
            {% for selectionnable in selectionnables %}
                <tr>
                    <td {% if selectionnable["bruleJ2"] %} class="orange lighten-4"{% endif %}>
                        {{ selectionnable["nom"] }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endmacro %}

{% macro labelDispoSelec(selectedPlayers, type, nbDispos) %}
    <div class="card-panel bottom_0" style="padding-left: 0; padding-right: 0; margin-top: 10px;">

        <div class="row bottom_0">
            <div class="col s7 offset-s1">Sélectionnés</div>
            <div style="font-size: 100%" class="col s4 lobster">
                {% if (selectedPlayers|length == 16 and type == 'departementale') or (selectedPlayers|length == 12 and type == 'paris') %}
                    <span class="green-text">{{ selectedPlayers|length }}/{% if type == 'departementale' %}16{% elseif type == 'paris' %}12{% endif %}</span>
                {% elseif (selectedPlayers|length >= 12 and type == 'departementale') or (selectedPlayers|length >= 8 and type == 'paris') %}
                    <span class="orange-text text-darken-1">{{ selectedPlayers|length }}/{% if type == 'departementale' %}16{% elseif type == 'paris' %}12{% endif %}</span>
                {% else %}
                    <span class="red-text">{{ selectedPlayers|length }}/{% if type == 'departementale' %}16{% elseif type == 'paris' %}12{% endif %}</span>
                {% endif %}
            </div>
        </div>

        <div class="row bottom_0">
            <div class="col s7 offset-s1">Disponibles</div>
            <div style="font-size: 100%" class="col s4 lobster
                {% if (nbDispos >= 16 and type == 'departementale') or (nbDispos >= 12 and type == 'paris') %}
                    green-text
                {% elseif (nbDispos >= 12 and type == 'departementale') or (nbDispos >= 8 and type == 'paris') %}
                    orange-text text-darken-1
                {% else %}
                    red-text
                {% endif %}">{{ nbDispos }}/{% if type == 'departementale' %}16{% elseif type == 'paris' %}12{% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro backoffice(disponibilites, type) %}
    <table class="centered striped responsive-table">
        <thead>
            <tr class="hide-on-small-only">
                <th>Joueur</th>
                <th>Journée</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for dispo in disponibilites %}
            {% if date(dispo.date) >= date() %}
                <tr>
                    <td>
                        <div class="chip">
                            <img src="{{ dispo.avatar }}" alt="Avatar">
                            <span>{{ dispo.nom }}</span>
                        </div>
                    </td>
                    <td>J{{ dispo.id_journee }}</td>
                    <td>{{ dispo.date | date("d/m/Y") }}</td>
                    <td>
                        {% if dispo.id_disponibilite is null %}
                            <div class="row" style="margin-bottom: 0;">
                                <div class="col s12 xl6" style="margin-bottom: 5px;">
                                    <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: type, dispo: 1}) }}">
                                        <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
                                    </a>
                                </div>
                                <div class="col s12 xl6">
                                    <a href="{{ path('backoffice.disponibilite.new', {idCompetiteur: dispo.id_competiteur, journee: dispo.id_journee, type: type, dispo: 0}) }}">
                                        <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {% if dispo.disponibilite == 1 %}
                                <p style="margin-top: 0; margin-bottom: 0;"><i>Déclaré <span class="green-text"><b>disponible</b></span></i></p>
                                <a href="{{ path('backoffice.disponibilite.update', {idCompetiteur: dispo.id_competiteur, type: type, disposJoueur: dispo.id_disponibilite, dispo: 0}) }}">
                                    <button class="btn waves-effect red lighten-2 waves-light btn_gestion" type="submit" name="action">Le déclarer indisponible</button>
                                </a>
                            {% else %}
                                <p style="margin-top: 0; margin-bottom: 0;"><i>Déclaré <span class="red-text"><b>indisponible</b></span></i></p>
                                <a href="{{ path('backoffice.disponibilite.update', {idCompetiteur: dispo.id_competiteur, type: type, disposJoueur: dispo.id_disponibilite, dispo: 1}) }}">
                                    <button class="btn waves-effect green lighten-2 waves-light btn_gestion" type="submit" name="action">Le déclarer disponible</button>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}