{% macro btnCreateEditCompo(type, idCompo, text, color) %}
    <a href="{{ path('composition.edit', {type: type, compo: idCompo}) }}" class="center-align btn waves-effect waves-light {{ color }} lighten-2">
        {{ text }}
    </a>
{% endmacro %}

{% macro btnEmptyCompo(type, idCompo) %}
    <a onclick="return confirm('Etes-vous bien sûr de vider la compo ?')" class="center-align btn waves-effect waves-light red lighten-2" href="{{ path('composition.vider', {type: type, id: idCompo, fromTemplate: true}) }}">
        <i class="material-icons">delete</i>Vider
    </a>
{% endmacro %}

{% macro btnContact(type, compo, form) %}
    <a href="#alertSelectedPlayers{{ compo.id }}" class="modal-trigger center-align btn waves-effect waves-light green lighten-2 white-text">
        <i class="material-icons">sms_failed</i> Prévenir les joueurs
    </a>

    <div id="alertSelectedPlayers{{ compo.id }}" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="input-field">
                <label for="titreAlertSelectedPlayers{{ compo.id }}">Titre</label>
                <input id="titreAlertSelectedPlayers{{ compo.id }}" value="RDV Ping Compétition - {{ compo.idJournee.date | format_datetime('long', 'none', locale='fr') }}" type="text" class="validate">
            </div>

            <div class="input-field">
                <label for="messageAlertSelectedPlayers{{ compo.id }}">Message</label>
                <textarea id="messageAlertSelectedPlayers{{ compo.id }}" class="materialize-textarea">{{ "Salut, c'est " ~ app.user.username | capitalize ~ ".\n\n" }}{{ "Tu es sélectionné pour jouer en compétition en équipe " ~ compo.idEquipe.idEquipe ~ " le " ~ compo.idJournee.date | format_datetime('long', 'none', locale='fr') ~ ". Tu as rendez-vous à la " }}{% if compo.domicile %}{{ "salle Albert Marquet à 20h00" }}{% else %}{{ "gare de La Frette à 19h30" }}{% endif %}{{ " et nous jouerons " }}{% if compo.domicile %}{{ "à domicile" }}{% else %}{{ "à l'extérieur" }}{% endif %}{{ " contre " ~ compo.adversaire ~ ".\n\nMerci de me confirmer et à vendredi !" }}</textarea>
            </div>

            <p class="center"><i>Vous pouvez modifier le titre et le message</i></p>

            <a style="margin: 5px;" id="btnSendSMS" onclick="sendSMS('{{ compo.listPhoneNumbersSelectedPlayers(app.user.idCompetiteur) }}', {{ compo.id }})" class="hide-on-med-and-up btn waves-effect blue lighten-2 waves-light"><i class="material-icons left">phone_android</i>Aller vers SMS</a>
            <a style="margin: 5px;" id="btnSendMail" onclick="sendMail('{{ type }}', {{ compo.id }})" class="btn waves-effect green lighten-2 waves-light"><i class="material-icons left">email</i>Envoyer par mail</a>

            <div id="preloaderSendMail" class="progress container" type="hidden">
                <div class="indeterminate"></div>
            </div>

        </div>
        <div class="modal-footer">
            <h6 class="valign-wrapper left"><b>Prévenir les joueurs</b></h6>
            <a class="modal-close btn waves-effect waves-light blue lighten-2 right">Annuler</a>
        </div>
    </div>

    <script>
        function sendMail(type, idCompo)
        {
            sending();

            $.ajax({
                url : '/notifySelectedPlayers/' + type + '/' + idCompo,
                type : 'POST',
                data: {
                    titre: $('#titreAlertSelectedPlayers' + idCompo).val(),
                    message: $('#messageAlertSelectedPlayers' + idCompo).val()
                },
                dataType : 'json',
                success : function(response)
                {
                    endSending();
                    M.toast({html: response.message});
                    $('#alertSelectedPlayers' + idCompo).modal('close');
                },

                error : function()
                {
                    endSending();
                    M.toast({html: 'L\'information n\'a pas pu être être transmise au contrôleur'});
                    $('#alertSelectedPlayers' + idCompo).modal('close');
                }
            });
        }

        function sending(){
            $("[id='preloaderSendMail']").show();
            $("[id='btnSendSMS']").hide();
            $("[id='btnSendMail']").hide();
        }

        function endSending(){
            $("[id='preloaderSendMail']").hide();
            $("[id='btnSendSMS']").show();
            $("[id='btnSendMail']").show();
        }

        function sendSMS(phone_number_list, idCompo){
            $("[id='btnSendSMS']").attr("href", "sms:" + phone_number_list + ";?&body=" + $('#messageAlertSelectedPlayers' + idCompo).val());
        }

        $(document).ready(function()
        {
            $("[id='preloaderSendMail']").hide();
        });
    </script>
{% endmacro %}