{% macro tableActifs(joueurs, onlyOneAdmin) %}
    <p style="margin: 10px auto 14px auto" class="blue-text">
        <i class="material-icons">groups</i><b> {{ joueurs|length }} membre{{ joueurs|length > 1 ? 's' : '' }} inscrits sur Kompo</b>
    </p>

    <div class="row" style="margin-bottom: 15px;">
        <div class="input-field col s12 m8 offset-m2 l6 offset-l3">
            <label for="search-input" style="margin-bottom: 0">Rechercher un joueur ...</label>
            <input placeholder="... par nom, prénom, rôle" id="search-input" onkeyup="searchValue('#search-table', '#search-input', 3, 0)" type="text" class="validate" style="margin-bottom: 0">
        </div>
    </div>

    <table class="striped centered responsive-table backoffice-table table-to-adapt-columns" id="search-table">
        <thead>
        <tr class="hide-on-med-and-down">
            <th class="th_picture_compet_table"></th>
            <th>Avatar</th>
            <th>Nom</th>
            <th>Licence</th>
            <th>Classement</th>
            <th class="truncate">Certificat médical</th>
            {% if app.user.admin %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for competiteur in joueurs %}
            <tr>
                <td style="padding-top: 8px; padding-bottom: 8px;">
                    {{ _self.badgesRoles(competiteur, {sheetDataHasViolations: null, dejaInscrit: null}) }}
                </td>
                <td class="td_picture_compet">
                    {% if competiteur.avatar %}
                        <img class="picture_compet avatar" src='{{ vich_uploader_asset(competiteur, 'imageFile') | imagine_filter('thumb') }}' alt='Avatar' width='60rem' height='60rem'>
                    {% else %}
                        <img class="picture_compet avatar" src='{{ asset('images/account.png') | imagine_filter('thumb') }}' alt='Avatar' width='60rem' height='60rem'>
                    {% endif %}
                </td>
                <td>
                    {{ competiteur.nom }} {{ competiteur.prenom }}
                </td>
                <td>
                    {% if competiteur.licence %}
                        {{ competiteur.licence }}
                    {% else %}
                        <span class='red-text lighten-2'>Licence indéfinie</span>
                    {% endif %}
                </td>
                <td {% if competiteur.isLoisir %}class="hide-on-med-and-down"{% endif %}>
                    {% if competiteur.classementOfficiel %}
                        {{ competiteur.classementOfficiel }} pts
                    {% else %}
                        <span class='red-text lighten-2'>{% if competiteur.isCompetiteur %}Classement indéfini{% endif %}</span>
                    {% endif %}
                </td>
                <td>
                    {% if competiteur.age != null and competiteur.age < 18 %}
                        <span class="grey-text"><i>Mineur (facultatif)</i></span>
                    {% else %}
                        <span>
                            <i id="icon-renew-certif{{ competiteur.idCompetiteur }}" class="{% if not competiteur.certifMedicalInvalid.status %}green{% else %}red{% endif %}-text material-icons" style="vertical-align: bottom;">health_and_safety</i>
                            <span class="label-renew-certif{{ competiteur.idCompetiteur }}">{{ competiteur.certifMedicalInvalid.shortMessage }}</span>
                        </span>
                        {% if competiteur.certifMedicalInvalid.status and app.user.admin %}
                            <br>
                            <button id="btnCertif{{ competiteur.idCompetiteur }}" onclick="renouvelerCertifMedical({{ competiteur.idCompetiteur }}, '{{ competiteur.prenom }}', true)" class="btn-small btn-floating green renew_certif_table"><i class="material-icons">autorenew</i></button>

                            <div hidden id="loaderCertif{{ competiteur.idCompetiteur }}">
                                <div class="preloader-wrapper small active" style="width: 27px; height: 27px;">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </td>
                {% if app.user.admin %}
                    <td style="padding-bottom: 0; padding-top: 0;">
                        <a href='{{ path('backoffice.competiteur.edit', {idCompetiteur: competiteur.idCompetiteur}) }}' class='btn waves-effect blue lighten-2 btn_gestion'><i class='material-icons'>edit</i></a>
                    </td>
                    <td>
                        {% if not (onlyOneAdmin and competiteur.admin) %}
                            <form method='post' action='{{ path('backoffice.competiteur.delete', {id: competiteur.idCompetiteur}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le membre ?')">
                                <input type='hidden' name='_method' value='DELETE'>
                                <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ competiteur.idCompetiteur) }}'>
                                <button class='btn waves-effect red lighten-2 btn_gestion'>
                                    <i class='material-icons'>delete</i>
                                </button>
                            </form>
                        {% else %}
                            <div class="tooltipped" data-position="top" data-tooltip="Un administrateur minimum requis">
                                <a class='btn red lighten-2 btn_gestion' disabled="">
                                    <i class='material-icons'>delete</i>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" src="{{ asset('JS/renouvelerCertifMedical.min.js') }}" defer></script>
{% endmacro %}

{% macro tableArchives(joueursArchives, onlyOneAdmin) %}
    <table class='striped centered responsive-table backoffice-table table-to-adapt-columns'>
        <thead>
        <tr class='hide-on-med-and-down'>
            <th class='th_picture_compet_table'></th>
            <th>Avatar</th>
            <th>Nom</th>
            <th>Licence</th>
            <th>Dernier classement</th>
            {% if app.user.admin %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        </thead>

        <tbody class="grey-text text-lighten-1">
        {% for competiteur in joueursArchives %}
            <tr>
                <td style="padding-top: 8px; padding-bottom: 8px;">
                    <span class="new badge grey lighten-1 white-text" data-badge-caption="Archivé"></span>
                </td>
                <td class="td_picture_compet">
                    {% if competiteur.avatar %}
                        <img class="picture_compet avatar" src='{{ vich_uploader_asset(competiteur, 'imageFile') | imagine_filter('thumb') }}' alt='Avatar' width='60rem' height='60rem'>
                    {% else %}
                        <img class="picture_compet avatar" src='{{ asset('images/account.png') | imagine_filter('thumb') }}' alt='Avatar' width='60rem' height='60rem'>
                    {% endif %}
                </td>
                <td>
                    {{ competiteur.nom }} {{ competiteur.prenom }}
                </td>
                <td class="hide-on-med-and-down">
                    {% if competiteur.licence %}
                        {{ competiteur.licence }}
                    {% else %}
                        Licence indéfinie
                    {% endif %}
                </td>
                <td class="hide-on-med-and-down">
                    {% if competiteur.classementOfficiel %}
                        {{ competiteur.classementOfficiel }} pts
                    {% else %}
                        Classement indéfini
                    {% endif %}
                </td>
                {% if app.user.admin %}
                    <td style="padding-bottom: 0; padding-top: 0;">
                        <a href='{{ path('backoffice.competiteur.edit', {idCompetiteur: competiteur.idCompetiteur}) }}' class='btn waves-effect blue lighten-2 btn_gestion'><i class='material-icons'>edit</i></a>
                    </td>
                    <td>
                        <form method='post' action='{{ path('backoffice.competiteur.delete', {id: competiteur.idCompetiteur}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le membre ?')">
                            <input type='hidden' name='_method' value='DELETE'>
                            <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ competiteur.idCompetiteur) }}'>
                            <button class='btn waves-effect red lighten-2 btn_gestion'>
                                <i class='material-icons'>delete</i>
                            </button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro badgesRoles(joueur, options) %}
    {% if joueur.isAdmin %}
        <span class='new badge red{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}' data-badge-caption='Administrateur'></span>
    {% endif %}

    {% if joueur.isCompetiteur %}
        {% if joueur.isAdmin %}<br>{% endif %}
        <span style="margin-top: 2px" class='new badge green{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}' data-badge-caption='Compétiteur'></span>
    {% endif %}

    {% if joueur.isCritFed %}
        {% if joueur.isAdmin or joueur.isCompetiteur %}<br>{% endif %}
        <span style="margin-top: 2px" class='new badge purple{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}' data-badge-caption='Crit. féd.'></span>
    {% endif %}

    {% if joueur.isLoisir %}
        {% if joueur.isAdmin or joueur.isCompetiteur or joueur.isCritFed %}<br>{% endif %}
        <span style="margin-top: 2px" class='new badge orange{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}' data-badge-caption='Loisir'></span>
    {% endif %}

    {% if joueur.isCapitaine %}
        {% if joueur.isAdmin or joueur.isCompetiteur or joueur.isLoisir or joueur.isCritFed %}<br>{% endif %}
        <span style="margin-top: 2px" class='new badge blue{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}' data-badge-caption='Capitaine'></span>
    {% endif %}

    {% if joueur.isEntraineur %}
        {% if joueur.isAdmin or joueur.isCompetiteur or joueur.isLoisir or joueur.isCritFed or joueur.isCapitaine %}<br>{% endif %}
        <span style="margin-top: 2px" class="new badge brown{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}" data-badge-caption="Entraîneur"></span>
    {% endif %}

    {% if joueur.isJeune %}
        {% if joueur.isAdmin or joueur.isCompetiteur or joueur.isLoisir or joueur.isCritFed or joueur.isCapitaine or joueur.isEntraineur %}<br>{% endif %}
        <span style="margin-top: 2px" class="new badge teal{% if options.dejaInscrit and not options.sheetDataHasViolations %} lighten-3{% endif %}" data-badge-caption="Jeune"></span>
    {% endif %}
{% endmacro %}