{% macro modalAlertPlayers(id, response, titre, linkMail, linkSMS, options) %}
    <div id="modal{{ id }}" class="modal modal-medium modal-fixed-footer">
        <div class="modal-content">
            <h5>{{ titre }}</h5>
            <div class="row">
                <p style="margin-top: 2px;" class="hide-on-small-only"><i>Rendez-vous sur votre smartphone pour contacter par SMS</i></p>

                {% if options.info is defined %}
                    <p class="blue-text"><i class="material-icons">info</i> {{ options.info }}</p>
                {% endif %}

                {% if not options.noSMS is defined %}
                    {{ _self.cardAlertPlayers(response['sms'], 'hide-on-med-and-up', 'sms', options.btnTxtSMS ?? 'par sms', linkSMS, id) }}
                {% endif %}

                {{ _self.cardAlertPlayers(response['mail'], null, 'mail', options.btnTxtMail ?? 'par e-mail', linkMail, id) }}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">Annuler</a>
        </div>
    </div>
{% endmacro %}

{% macro cardAlertPlayers(response, hideClass, media, btnTxt, link, id) %}
    <div class="{{ hideClass }} card grey lighten-3 z-depth-0">
        {% if response['contactables']|length %}
            <a href="{{ link }}" class="center-align btn blue lighten-2" id="btn_{{ media }}_{{ id }}">
                {{ btnTxt }}
            </a>

            <script type="text/javascript">
                $(document).ready(function() {
                    let btnSendMail = $('a#btn_{{ media }}_{{ id }}');
                    if (btnSendMail.length && !btnSendMail.attr('href').includes('mailto:') && !btnSendMail.attr('href').includes('sms:')) {
                        btnSendMail.click(function() {
                            btnSendMail.addClass('disabled').html("<i class='material-icons rotating-icon'>sync</i>")
                        });
                    }
                });
            </script>
        {% endif %}

        {% if (response['contactables'] | length) == 0 %}
            <p class="red-text" style="margin-bottom: 0; padding-top: 0; padding-bottom: 4px; margin-top: 8px;">Aucun membre contactable par {{ media }}</p>
        {% elseif response['notContactables'] | length %}
            <p class="red-text" style="margin-bottom: 0; padding-top: 0; padding-bottom: 4px; margin-top: 8px;">{{ response['notContactables'] | length }} membre{{ (response['notContactables'] | length) > 1 ? 's' : ''}} non contactable{{ (response['notContactables'] | length) > 1 ? 's' : ''}} par {{ media }}</p>
        {% endif %}

        <ul class="row">
            {% for joueurContactable in response['contactables'] %}
                <li class="green-text lighten-1 col s12 m6" id="contactable_{{ joueurContactable.idCompetiteur }}">
                    <div class="chip">
                        {% if joueurContactable.avatar %}
                            <img src="{{ vich_uploader_asset(joueurContactable, 'imageFile') | imagine_filter('thumb') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                        {% endif %}
                        <span class="truncate" style="color: green">{{ joueurContactable.nom ~ ' ' ~ joueurContactable.prenom }}</span>
                    </div>
                </li>
            {% endfor %}
            {% for joueurNotContactable in response['notContactables'] %}
                <li class="col s12 m6" id="notContactables_{{ joueurNotContactable.idCompetiteur }}">
                    <div class="chip">
                        {% if joueurNotContactable.avatar %}
                            <img src="{{ vich_uploader_asset(joueurNotContactable, 'imageFile') | imagine_filter('thumb') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                        {% endif %}
                        <span style="color: red">{{ joueurNotContactable.nom ~ ' ' ~ joueurNotContactable.prenom }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro modalGPS(id, adresse, complementAdresse, hrefMapsAdresse, hrefWazeAdresse, siteWeb, telephone) %}
    <script type="text/javascript" defer src="{{ asset('JS/copyPaste.min.js') }}"></script>
    <div id="modalGPS{{ id }}" class="modal modal-small modal-fixed-footer">
        <div class="modal-content modal-gps center">
            <h5>Coordonnées de l'adversaire</h5>

            <h6><i class="material-icons red-text">place</i>Adresse</h6>
            {% if adresse or complementAdresse %}
                {% if adresse %}
                    <div class="btn-gps">
                        <div class="row_btns row">
                            <div class="card grey lighten-3 z-depth-0 col m4">
                                <div><h6>Maps</h6></div>
                                <div>
                                    <a href="https://www.google.fr/maps?q={{ hrefMapsAdresse }}" class="z-depth-3 btn-small btn-floating white waves-effect modal-trigger">
                                        <img src="{{ asset('images/maps.svg') }}" alt="logo de google maps">
                                    </a>
                                </div>
                            </div>
                            <div class="card grey lighten-3 z-depth-0 col m4">
                                <div><h6>Waze</h6></div>
                                <div>
                                    <a href="https://waze.com/ul?q={{ hrefWazeAdresse }}" class="z-depth-3 btn-small btn-floating waves-effect modal-trigger">
                                        <img src="{{ asset('images/waze.svg') }}" alt="logo de waze">
                                    </a>
                                </div>
                            </div>
                            <div class="card grey lighten-3 z-depth-0 col m4">
                                <div><h6>Copier</h6></div>
                                <div>
                                    <button onclick="copyPaste('{{ id }}')" class="z-depth-3 btn-small btn-floating white waves-effect modal-trigger">
                                        <i class="material-icons white black-text">content_copy</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <p class="adr adresse_{{ id }}"><b>{{ adresse }}</b></p>
                    </div>
                {% elseif not adresse and complementAdresse %}
                    <p class="complAdr" style="margin-top: 2px;"><i>Non fournie par l'adversaire</i></p>
                {% endif %}

                {% if complementAdresse %}
                    <p class="complAdr adresse_{{ id }}">{{ complementAdresse }}</p><br>
                {% endif %}
            {% else %}
                <p style="margin-top: 2px; margin-bottom: 30px;"><i>Non fournie par l'adversaire</i></p>
            {% endif %}

            <h6><i class="material-icons green-text">contact_phone</i> Numéro de téléphone</h6>
            {% if telephone %}
                <p style="margin-top: 2px;" class="complAdr hide-on-small-only"><i>Rendez-vous sur smartphone pour contacter</i></p>
                <div class="valign-wrapper telephoneDiv">
                    <div>
                        <span>{{ telephone | split('', 2) | join(' ') }}</span>
                    </div>
                    <div class="hide-on-med-and-up">
                        <a class="btn blue phone" href="tel:{{ telephone }}">
                            <i class="material-icons">phone</i>
                        </a>
                    </div>
                    {% if telephone | slice(0, 2) == "06" or telephone | slice(0, 2) == "07" %}
                        <div class="hide-on-med-and-up">
                            <a class="btn blue phone" href="sms:{{ telephone }}">
                                <i class="material-icons">message</i>
                            </a>
                        </div>
                    {% endif %}
                </div><br>
            {% else %}
                <p style="margin-top: 2px;"><i>Non pas fourni par l'adversaire</i></p>
            {% endif %}

            <h6><i class="material-icons blue-text lighten-3">language</i> Site Internet</h6>
            {% if siteWeb %}
                <a href="{{ siteWeb }}">{{ siteWeb }}</a>
            {% else %}
                <p style="margin-top: 2px;"><i>Non fourni par l'adversaire</i></p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">Fermer</a>
        </div>
    </div>
{% endmacro %}