{% macro contact(competiteur, mail, idMail) %}
    {# Modale d'envoi de mail de contact #}
    <div id="contactMail{{ idMail }}{{ competiteur.idCompetiteur }}" class="modal modal-fixed-footer">
        <div class="modal-content">
            {% if (app.user.mail and app.user.contactableMail) or (app.user.mail2 and app.user.contactableMail2) %}
                {% if (app.user.mail and app.user.contactableMail) and (app.user.mail2 and app.user.contactableMail2) %}
                    <p class="left" style="padding-left: 0; margin-top: 0; margin-bottom: 0;">
                        <b>De</b> :
                    <div class="input-field" style="width: 20rem !important;">
                        <select id="selectMailSender{{ idMail }}{{ competiteur.idCompetiteur }}">
                            <option value="{{ app.user.mail }}">{{ app.user.mail }}</option>
                            <option value="{{ app.user.mail2 }}">{{ app.user.mail2 }}</option>
                        </select>
                    </div>
                    </p>
                {% else %}
                    <p class="left" style="padding-left: 0; margin-top: 0; margin-bottom: 0;"><b>De</b> :
                        {% if app.user.mail and app.user.contactableMail %}
                            <span class="grey-text">{{ app.user.mail }}</span>
                        {% elseif app.user.mail2 and app.user.contactableMail2 %}
                            <span class="grey-text">{{ app.user.mail2 }}</span>
                        {% endif %}
                    </p><br><br>
                {% endif %}

                <p class="left" style="padding-left: 0; margin-top: 0; margin-bottom: 0;"><b>À</b> : <span class="grey-text">{{ mail }}</span></p><br>

                <p class="left" style="padding-left: 0; margin-top: 20px; margin-bottom: 0;">
                    <label style="padding-left: 0;">
                        <input type="checkbox" id="importance{{ idMail }}{{ competiteur.idCompetiteur }}" />
                        <span>Haute importance</span>
                    </label>
                </p><br><br><br>

                <div class="input-field" style="margin-top: 0;">
                    <input id="sujetMail{{ idMail }}{{ competiteur.idCompetiteur }}" type="text" class="validate" placeholder="Sujet" required>
                </div>

                <div class="input-field">
                    <textarea id="messageMail{{ idMail }}{{ competiteur.idCompetiteur }}" class="materialize-textarea validate" placeholder="Message" required></textarea>
                </div>

                <a style="margin: 5px;" id="btnSendMail{{ idMail }}{{ competiteur.idCompetiteur }}" onclick="contact('{{ competiteur.idCompetiteur}}', '{{ idMail }}', '{{ mail }}', '{{ competiteur.nom }} {{ competiteur.prenom }}')" class="btn waves-effect green lighten-2 waves-light">
                    <i class="material-icons left">email</i>Envoyer par mail
                </a>

                <div id="preloaderSendMail" class="preloaderSendMail progress container">
                    <div class="indeterminate"></div>
                </div>
            {% else %}
                <p class="red-text">Renseignez vos coordonnées</p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a style="margin-right: 3%;" href="mailto:{{ mail }}" class="modal-close btn waves-effect waves-light blue"><i class="material-icons">exit_to_app</i> Application externe</a>
            <a class="modal-close btn waves-effect waves-light grey right">Annuler</a>
        </div>
    </div>

    <script>
        $('#btnSendMail{{ idMail }}{{ competiteur.idCompetiteur }}').addClass('disabled');

        $('#sujetMail{{ idMail }}{{ competiteur.idCompetiteur }}').on('keyup', function () {
            if ($('#sujetMail{{ idMail }}{{ competiteur.idCompetiteur }}').val() && $('#messageMail{{ idMail }}{{ competiteur.idCompetiteur }}').val())
                $('#btnSendMail{{ idMail }}{{ competiteur.idCompetiteur }}').removeClass('disabled');
            else $('#btnSendMail{{ idMail }}{{ competiteur.idCompetiteur }}').addClass('disabled');
        });

        $('#messageMail{{ idMail }}{{ competiteur.idCompetiteur }}').on('keyup', function () {
            if ($('#sujetMail{{ idMail }}{{ competiteur.idCompetiteur }}').val() && $('#messageMail{{ idMail }}{{ competiteur.idCompetiteur }}').val())
                $('#btnSendMail{{ idMail }}{{ competiteur.idCompetiteur }}').removeClass('disabled');
            else $('#btnSendMail{{ idMail }}{{ competiteur.idCompetiteur }}').addClass('disabled');
        });
    </script>
{% endmacro %}