{% macro modalAlertPlayers(id, response, titre, options) %}
    <div id="modal{{ id }}" class="modal modal-alert modal-fixed-footer">
        <div class="modal-content">
            <h5>{{ titre }}</h5>
            <div class="row">
                <p style="margin-top: 2px;" class="hide-on-small-only"><i>Rendez-vous sur votre smartphone pour contacter par SMS</i></p>
                {% set message = options ? '&body=' ~ ('Salut, c\'est ' ~ (app.user.username|title) ~ '.%0D%0A%0D%0A' ~
                    (options.compo.exempt ? 'Vous êtes sélectionnés en équipe ' ~ options.compo.idEquipe.numero ~ ' le ' ~ (options.compo.idJournee.dateJournee|format_datetime('long', 'none', locale='fr')) ~ '.%0D%0A%0D%0ACependant, l\'équipe ' ~ options.compo.idEquipe.numero ~ ' est exemptée pour cette journée ce qui signifie qu\'il n\'y aura donc pas match à cette date.%0D%0A%0D%0ABonne journée à vous.' :
                    'Vous êtes sélectionnés pour jouer en compétition en équipe ' ~ options.compo.idEquipe.numero ~ (not options.compo.idJournee.undefined ? ' le ' ~ (not options.compo.reporte ? (options.compo.idJournee.dateJournee|format_datetime('long', 'none', locale='fr')) : (options.compo.dateReport|format_datetime('long', 'none', locale='fr'))) : ' pour une date indéterminée pour le moment') ~ '.%0D%0A%0D%0A' ~
                    'Vous avez rendez-vous à la ' ~ (not options.compo.hosted and options.compo.domicile ? 'salle Albert Marquet à 20h00' : 'gare de La Frette à 19h30') ~ ' et nous jouerons ' ~ ((not options.compo.domicile or options.compo.hosted) ? 'à l\'extérieur' : 'à domicile') ~ ' contre ' ~ options.compo.adversaire ~ '.%0D%0A%0D%0A' ~
                    'Merci de me confirmer et à vendredi !')) : null %}
                {{ _self.cardAlertPlayers(response['mail'], null, 'mail', 'mailto:' ~ response['mail']['toString'] ~ (message ? '?subject=' ~ 'RDV Ping Compétition' ~ (not options.compo.idJournee.undefined ? ' - ' ~ (not options.compo.reporte ? (options.compo.idJournee.dateJournee|format_datetime('long', 'none', locale='fr')) : (options.compo.dateReport|format_datetime('long', 'none', locale='fr'))) : '') ~ message : '')) }}
                {{ _self.cardAlertPlayers(response['sms'], 'hide-on-med-and-up', 'sms', 'sms:' ~ response['sms']['toString'] ~ (message ? ';?' ~ message : null)) }}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat grey-text">Annuler</a>
        </div>
    </div>
{% endmacro %}

{% macro cardAlertPlayers(response, hideClass, media, link) %}
    <div class="{{ hideClass }} card grey lighten-3 z-depth-0">
        {% if response['contactables']|length %}
            <a href="{{ link }}" class="center-align btn waves-effect waves-light blue lighten-2">
                PAR {{ media }}
            </a>
        {% else %}
            <p class="red-text" style="margin-bottom: 0;"><b>Aucun membre contactable</b></p>
        {% endif %}
        <ul class="row">
            {% for joueurContactable in response['contactables'] %}
                <li class="green-text lighten-1 col s12 m6">
                    <div class="chip">
                        {% if joueurContactable.avatar %}
                            <img src="{{ vich_uploader_asset(joueurContactable, 'imageFile') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                        {% endif %}
                        <span style="color: green">{{ joueurContactable.prenom ~ ' ' ~ joueurContactable.nom }}</span>
                    </div>
                </li>
            {% endfor %}
            {% for joueurNotContactable in response['notContactables'] %}
                <li class="col s12 m6">
                    <div class="chip">
                        {% if joueurNotContactable.avatar %}
                            <img src="{{ vich_uploader_asset(joueurNotContactable, 'imageFile') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                        {% endif %}
                        <span style="color: red">{{ joueurNotContactable.prenom ~ ' ' ~ joueurNotContactable.nom }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}