{% macro modalAlertPlayers(id, response, titre, linkMail, linkSMS, options) %}
    <div id="modal{{ id }}" class="modal modal-alert modal-fixed-footer">
        <div class="modal-content">
            <h5>{{ titre }}</h5>
            <div class="row">
                <p style="margin-top: 2px;" class="hide-on-small-only"><i>Rendez-vous sur votre smartphone pour contacter par SMS</i></p>

                {% if options.info is defined %}
                    <p class="blue-text"><i class="material-icons">info</i>{{ options.info }}</p>
                {% endif %}

                {{ _self.cardAlertPlayers(response['mail'], null, 'mail', options.btnTxtMail ?? 'par mail', linkMail) }}

                {% if not options.noSMS is defined %}
                    {{ _self.cardAlertPlayers(response['sms'], 'hide-on-med-and-up', 'sms', options.btnTxtSMS ?? 'par sms', linkSMS) }}
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">Annuler</a>
        </div>
    </div>
{% endmacro %}

{% macro cardAlertPlayers(response, hideClass, media, btnTxt, link) %}
    <div class="{{ hideClass }} card grey lighten-3 z-depth-0">
        {% if response['contactables']|length %}
            <a href="{{ link }}" class="center-align btn waves-effect blue lighten-2">
                {{ btnTxt }}
            </a>
        {% else %}
            <p class="red-text" style="margin-bottom: 0;"><b>Aucun membre contactable {{ media }}</b></p>
        {% endif %}
        <ul class="row">
            {% for joueurContactable in response['contactables'] %}
                <li class="green-text lighten-1 col s12 m6">
                    <div class="chip">
                        {% if joueurContactable.avatar %}
                            <img src="{{ vich_uploader_asset(joueurContactable, 'imageFile') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                        {% endif %}
                        <span class="truncate" style="color: green">{{ joueurContactable.prenom ~ ' ' ~ joueurContactable.nom }}</span>
                    </div>
                </li>
            {% endfor %}
            {% for joueurNotContactable in response['notContactables'] %}
                <li class="col s12 m6">
                    <div class="chip">
                        {% if joueurNotContactable.avatar %}
                            <img src="{{ vich_uploader_asset(joueurNotContactable, 'imageFile') }}" alt="Avatar">
                        {% else %}
                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                        {% endif %}
                        <span style="color: red">{{ joueurNotContactable.prenom ~ ' ' ~ joueurNotContactable.nom }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}