{% macro table(rencontres) %}
    {% if rencontres|length %}
        {% for numero, matches in rencontres %}
            <ul class="collapsible backoffice_disponibilites">
                <li>
                    <div class="collapsible-header" style="padding: 6px 0 !important;">
                        <div class="chip" style="padding: 0 !important;">
                            <i class="material-icons" style="vertical-align: middle;">people</i>
                            La Frette {{ numero }}
                            {% if (rencontres[numero]|first)['idDivision'] is null %}
                                <span class="center red-text noDivisionPill noDivisionPillHeader">
                                    <b>Sans division</b>
                                </span>
                            {% endif %}
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body">

                        {% if(rencontres[numero]|first)['idDivision'] is null %}
                            <p class="center red-text noDivisionPill noDivisionPillBody" hidden>
                                <b>Division non renseignée</b>
                            </p>
                        {% endif %}

                        <table class="striped centered responsive-table">
                            <thead>
                            <tr>
                                <th>Journée</th>
                                <th>Date</th>
                                <th>Adversaire</th>
                                <th>Lieu</th>
                                <th>Salle dispo</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for rencontre in matches %}
                                <tr>
                                    <td>
                                        <b>{{ loop.index }}</b>
                                    </td>
                                    <td>
                                        {% if rencontre.undefined %}
                                            <span class="red-text">Date indéfinie</span>
                                        {% else %}
                                            <div class="hide-on-small-only">
                                                {% if rencontre.reporte %}<span class="orange-text"><i class="material-icons">update</i> Reporté au {{ rencontre.dateReport|format_datetime('long', 'none', locale='fr') }}</span>
                                                {% else %}{{ rencontre.dateJournee|format_datetime('long', 'none', locale='fr') }}
                                                {% endif %}
                                            </div>
                                            <div class="hide-on-med-and-up">
                                                {% if rencontre.reporte %}<span class="orange-text">Reporté au {{ rencontre.dateReport | date("d/m/Y") }}</span>
                                                {% else %}{{ rencontre.dateJournee | date("d/m/Y") }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if rencontre.exempt %} <span style="margin-top: 0;" class="new badge red white-text" data-badge-caption=>Pas de match</span>
                                        {% else %}
                                            {% if rencontre.adversaire %} {{ rencontre.adversaire | title }}
                                            {% else %} <span class="red-text">Adversaire indéfini</span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td style="height: 59px;">
                                        {% if not rencontre.exempt %}
                                            {% if rencontre.domicile %} <i class="material-icons">home</i>
                                            {% else %} <i class="material-icons">directions_car</i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td style="height: 59px; padding-top: 8px;">
                                        {% if not rencontre.exempt and rencontre.domicile %}
                                            {% if not rencontre.hosted %} <i class="green-text material-icons">check</i>
                                            {% else %} <i class="red-text material-icons">clear</i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('backoffice.rencontre.edit', {idRencontre: rencontre.id}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        {% endfor %}
    {% else %}
        <p class="lobster_2 center missingTitle">Aucune rencontre enregistrée</p>
    {% endif %}
{% endmacro %}