{% extends 'base.html.twig' %}

{% block title %}Back office - Les rencontres{% endblock %}
{% import 'macros/flash.html.twig' as flash %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les rencontres</h4>
        </div>

        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#journees_departementales" class="active">Départemental</a></li>
            <li class="tab"><a href="#journees_paris">Paris</a></li>
        </ul>

        <div class="card-panel" id="journees_departementales">
            <table class="striped centered responsive-table">
                <thead>
                    <tr>
                        <th>Equipe n°</th>
                        <th>Journée n°</th>
                        <th>Date</th>
                        <th>Adversaire</th>
                        <th>Lieu</th>
                        <th>Salle dispo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for rencontre in rencontreDepartementales %}
                        <tr>
                            <td>{{ rencontre.idEquipe.idEquipe }}</td>
                            <td>{{ rencontre.idJournee.idJournee }}</td>
                            <td>{{ rencontre.idJournee.date|format_datetime('long', 'none', locale='fr') }}</td>
                            <td>{{ rencontre.adversaire }}</td>
                            <td>
                                {% if rencontre.domicile%} <i class="material-icons">home</i>
                                {% else%} <i class="material-icons">directions_car</i>
                                {% endif %}
                            </td>
                            <td>
                                {% if rencontre.domicile%}
                                    {% if not rencontre.hosted%} <i style="font-size: 2.1rem;" class="green-text material-icons">check</i>
                                    {% else%} <i style="font-size: 2.1rem;" class="red-text material-icons">clear</i>
                                    {% endif %}
                                {% else %}-
                                {% endif %}
                            </td>
                            <td><a href="{{ path('backoffice.rencontre.edit', {idRencontre: rencontre.id, type: 'departementale'}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-panel" id="journees_paris">
            <table class="striped centered responsive-table">
                <thead>
                    <tr>
                        <th>Equipe n°</th>
                        <th>Journée n°</th>
                        <th>Date</th>
                        <th>Adversaire</th>
                        <th>Lieu</th>
                        <th>Salle dispo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for rencontre in rencontreParis %}
                        <tr>
                            <td>{{ rencontre.idEquipe.idEquipe }}</td>
                            <td>{{ rencontre.idJournee.idJournee }}</td>
                            <td>{{ rencontre.idJournee.date|format_datetime('long', 'none', locale='fr') }}</td>
                            <td>{{ rencontre.adversaire }}</td>
                            <td>
                                {% if rencontre.domicile%} <i class="material-icons">home</i>
                                {% else%} <i class="material-icons">directions_car</i>
                                {% endif %}
                            </td>
                            <td>
                                {% if not rencontre.hosted%} <i style="font-size: 2.1rem;" class="green-text material-icons">check</i>
                                {% else%} <i style="font-size: 2.1rem;" class="red-text material-icons">clear</i>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('backoffice.rencontre.edit', {idRencontre: rencontre.id, type: 'paris'}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}