<tr>
    <td><b>#1</b></td>
    <td>{% if compo.idJoueur1 is null %}
            {{ form_row(form.idJoueur1) }}
        {% else %}
            {{ compo.idJoueur1.nom }} {% if compo.idJoueur1.role == "C" %}<span class="badge blue">Caps</span>{% endif %}
        {% endif %}
    </td>
</tr>

<tr>
    <td><b>#2</b></td>
    <td>{% if compo.idJoueur2 is null %}
            {{ form_row(form.idJoueur2) }}
        {% else %}
            {{ compo.idJoueur2.nom }} {% if compo.idJoueur2.role == "C" %}<span class="badge blue">Caps</span>{% endif %}
        {% endif %}
    </td>
</tr>

<tr>
    <td><b>#3</b></td>
    <td>{% if compo.idJoueur3 is null %}
            {{ form_row(form.idJoueur3) }}
        {% else %}
            {{ compo.idJoueur3.nom }} {% if compo.idJoueur3.role == "C" %}<span class="badge blue">Caps</span>{% endif %}
        {% endif %}
    </td>
</tr>

<tr>
    <td><b>#4</b></td>
    <td>{% if compo.idJoueur4 is null %}
            {{ form_row(form.idJoueur4) }}
        {% else %}
            {{ compo.idJoueur4.nom }} {% if compo.idJoueur4.role == "C" %}<span class="badge blue">Caps</span>{% endif %}
        {% endif %}
    </td>
</tr>