{% extends 'base.html.twig' %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/brulages.html.twig' as _brulage %}

{% block title %}J{{ idJournee }} - Équipe {{ compo.idEquipe.numero }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row main">
        <ul class="collapsible hide-on-large-only" style="margin-top: 20px; margin-bottom: 0;">
            <li>
                <div class="collapsible-header" style="padding-left: 5px; padding-right: 5px;">
                    <div class="chip" style="padding-left: 0; padding-right: 0;">
                        <i class="red-text material-icons" style="vertical-align: middle; margin-right: 0;">whatshot</i>
                        <span class="lobster" style="font-size: 115%;">Joueurs brûlés</span>
                    </div>
                    <i class="caret material-icons">keyboard_arrow_down</i>
                </div>
                <div class="collapsible-body">
                    {{ _brulage.joueursBrules(championnat, joueursBrules, compo.idEquipe.numero) }}
                </div>
            </li>
            <li>
                <div class="collapsible-header" style="padding-left: 5px; padding-right: 5px;">
                    <div class="chip" style="padding-left: 0; padding-right: 0;">
                        <i class="blue-text material-icons" style="vertical-align: middle; margin-right: 0;">check</i>
                        <span class="lobster" style="font-size: 115%;">Sélectionnables & brûlage J+1</span>
                    </div>
                    <i class="caret material-icons">keyboard_arrow_down</i>
                </div>
                <div class="collapsible-body">
                    {{ _brulage.selectionnables(championnat.j2Rule, championnat.limiteBrulage, brulageSelectionnables, compo.idEquipe.numero, idJournee, idEquipesBrulagePrint) }}
                </div>
            </li>
        </ul>

        <div class="col l2 hide-on-med-and-down">
            {{ _brulage.joueursBrules(championnat, joueursBrules, compo.idEquipe.numero) }}
        </div>

        <div class="col s12 l7">

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            <div class="center-align card-panel">

                {% if compo.reporte and not compo.idJournee.undefined %}
                    <span style="margin-top: 0; margin-bottom: 10px;" class="col s12 orange-text">
                        <i class="material-icons">update</i>
                        <b>Match {{ compo.idJournee.dateJournee > compo.dateReport ? 'avancé' : 'reporté' }} au {{ compo.dateReport | format_datetime('long', 'none', locale='fr')|title }}</b>
                    </span>
                {% endif %}

                {% if compo.hosted %}
                    <span style="margin-top: 0; margin-bottom: 10px;" class="col s12 orange-text">
                            <i class="material-icons">error_outline</i>
                            <b>Salle hôte indisponible : rencontre à {{ compo.villeHost }}</b>
                        </span>
                {% endif %}

                <h4 class="hide-on-small-only" style="margin-bottom: 15px; margin-top: 0;">Journée {{ idJournee }} - Équipe {{ compo.idEquipe.numero }}</h4>
                <h4 class="hide-on-med-and-up" style="margin-bottom: 15px; margin-top: 0;">J{{ idJournee }} - Équipe {{ compo.idEquipe.numero }}</h4>

                <div class="row header_compo">
                    <div class="s12 col hide-on-med-and-up lobster_2">
                        {% if compo.exempt %}
                            <h5 style="margin-top: 0; margin-bottom: 10px;" class="lobster_2{% if compo.exempt %} pastille exempt red{% endif %}">Exemptée</h5>
                        {% else %}
                            {% if compo.adversaire is null %}
                                <h5 class="red-text" style="margin-top: 0; margin-bottom: 10px;">Adversaire indéfini</h5>
                            {% else %}
                                <h5 style="margin-top: 0; margin-bottom: 10px;">{{ compo.adversaire | title }}</h5>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="col s4 m2">
                        <h5>
                            <span class="white-text divisionBubble">{% if compo.idEquipe.idDivision.shortName|length == 1 %}&thinsp;{% endif %}{{ compo.idEquipe.idDivision.shortName }}{% if compo.idEquipe.idDivision.shortName|length == 1 %}&thinsp;{% endif %}</span><br>
                        </h5>
                        <p class="poule" style="margin-bottom: 0;">
                            Poule
                            {% if compo.idEquipe.idPoule %}
                                <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.idPoule.poule }}</span>
                            {% else %}
                                <span class="red-text" style="font-size: 95%; font-family: 'Lora', serif;">?</span>
                            {% endif %}
                        </p>
                    </div>

                    {% if compo.idJournee.undefined %}
                        <h5 class="col s4 m3 red-text">
                            <i class="material-icons red-text" style="font-size: 2.1rem !important;">event_busy</i>
                        </h5>
                    {% else %}
                        <h5 class="col s4 m3 lobster_2">{{ compo.idJournee.dateJournee|date('d/m') }}</h5>
                    {% endif %}


                    <h5 class="col s4 m2">
                        {% if not compo.exempt %}
                            {% if compo.domicile is null %}
                                <i class='material-icons red-text'>location_off</i>
                            {% else %}
                                {% if compo.domicile %} <i class="iconPlace {% if compo.hosted %}orange-text{% endif%} material-icons">home</i>
                                {% else %} <i class="material-icons iconPlace">directions_car</i>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </h5>

                    <div class="hide-on-small-only col m5">
                        {% if compo.exempt %}
                            <h5 style="margin-top: 11px;" class="lobster_2{% if compo.exempt %} pastille exempt red{% endif %}">Exemptée</h5>
                        {% else %}
                            {% if compo.adversaire is null %}
                                <h5 class="red-text">Adversaire indéfini</h5>
                            {% else %}
                                <h5 class="lobster_2">{{ compo.adversaire | title }}</h5>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {{ form_start(form)}}
                    <div class="form_div_list">
                        {% for i in 0..(nbJoueursDivision - 1) %}
                            <div class="row">
                                <div class="col s12 m3">
                                    <h5 style="font-family: Lobster, cursive;" class="rank {% if compo.idEquipe.idDivision.nbJoueurs % 3 == 0 and i >= 3 and i < 6 %} rank_blue{% endif %}">Joueur {{ i + 1 }}</h5>
                                </div>
                                <div class="col s12 m9">{{ form_row(attribute(form,'idJoueur' ~ i)) }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div id="btnsEditCompo" style="height: 38px;">
                        <a href="{{ path("journee.show", {type: championnat.idChampionnat, id: compo.idJournee.idJournee}) }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
                        <button class="btn btn_form waves-effect waves-light blue lighten-2" onclick="preloaderConfirm()">Confirmer</button><br>
                    </div>

                    <div id="preloaderSetDispo" hidden style="height: 38px;">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function preloaderConfirm() {
                            $('#preloaderSetDispo').removeAttr('hidden');
                            $('#btnsEditCompo').attr('hidden', true);
                        }
                    </script>

                {{ form_end(form) }}
            </div>
        </div>
        <div class="col l3 hide-on-med-and-down">
            {{ _brulage.selectionnables(championnat.j2Rule, championnat.limiteBrulage, brulageSelectionnables, compo.idEquipe.numero, idJournee, idEquipesBrulagePrint) }}
        </div>
    </div>

{% endblock %}