{% extends 'base.html.twig' %}

{% block title %}J{{ compo.idJournee.idJournee }} - Equipe {{ compo.idEquipe.idEquipe }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row">
        <div class="col s3">
            <table style="margin-top: 30px;" class="centered striped card-panel dispos brulage_edit">
                <thead>
                <tr>
                    <th>
                        <h5>Brûlés en {{ compo.idEquipe.idEquipe }} <i class="red-text material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if compo.idEquipe.idEquipe == 1 or burntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de brûlés en {{ compo.idEquipe.idEquipe }}</td>
                    </tr>
                {% else %}
                    {% for burntPlayer in burntPlayers %}
                        <tr>
                            <td>{{ burntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <table class="centered striped card-panel dispos">
                <thead>
                <tr>
                    <th>
                        <h5>Futurs brûlés si sélectionnés <i class="orange-text lighten-1 material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if (compo.idEquipe.idEquipe == 4 and compo.idJournee.linkType == 'departementale') or (compo.idEquipe.idEquipe == 2 and compo.idJournee.linkType == 'paris') %}
                    <tr>
                        <td>Il n'y a pas de brûlés en dessous de cette équipe</td>
                    </tr>
                {% elseif almostBurntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de potentiels futurs brûlés</td>
                    </tr>
                {% else %}
                    {% for almostBurntPlayer in almostBurntPlayers %}
                        <tr>
                            <td>{{ almostBurntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <div class="center-align card-panel">
                <h4>Composition d'équipe</h4>

                <div class="row header_compo">
                    <div class="col s2">
                        <h5>
                            <span class="white-text bulle">{{ compo.idEquipe.division }}</span><br>
                        </h5>
                        <p class="lobster">Poule {{ compo.idEquipe.poule }}</p>
                    </div>
                    {% if compo.idJournee.linkType == 'departementale' %}<h5 class="col s2">Équipe {{ compo.idEquipe.idEquipe }}</h5>{% endif %}
                    <h5 class="col {% if compo.idJournee.linkType == 'departementale' %}s2{% else %}s3{% endif %}">{{ compo.idJournee.date|date('d/m') }}</h5>
                    <h5 class="col {% if compo.idJournee.linkType == 'departementale' %}s1{% else %}s2{% endif %}">
                        {% if compo.lieu == 'home'%} <i style="font-size: 2.1rem;" class="material-icons">home</i>
                        {% elseif compo.lieu == 'away'%} <i style="font-size: 2.1rem;" class="material-icons">directions_car</i>
                        {% endif %}
                    </h5>
                    <h5 class="col s5">{{ compo.adversaire }}</h5>
                </div>

                <div class="container">
                    {{ form_start(form)}}
                    <div class="form_div_list">
                        <div class="row">
                            <div class="col s4"><h5>Joueur 1</h5></div>
                            <div class="col s4">{{ form_row(form.idJoueur1) }}</div>
                            <div class="col s4"></div>
                        </div>
                        <div class="row">
                            <div class="col s4"><h5>Joueur 2</h5></div>
                            <div class="col s4">{{ form_row(form.idJoueur2) }}</div>
                            <div class="col s4"></div>
                        </div>
                        <div class="row">
                            <div class="col s4"><h5>Joueur 3</h5></div>
                            <div class="col s4">{{ form_row(form.idJoueur3) }}</div>
                            <div class="col s4"></div>
                        </div>

                        {% if (compo.idJournee.linkType == 'departementale') or (compo.idJournee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                        </div>
                                    </div>
                                <br><div class="divider"></div><br>
                                    <div class="container">
                                        <div class="form_div_list">
                            {% endif %}

                            <div class="row">
                                <div class="col s4"><h5>Joueur 4</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur4) }}</div>
                                <div class="col s4"></div>
                            </div>
                        {% endif %}

                        {% if compo.idJournee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                            <div class="row">
                                <div class="col s4"><h5>Joueur 5</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur5) }}</div>
                                <div class="col s4"></div>
                            </div>

                            <div class="row">
                                <div class="col s4"><h5>Joueur 6</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur6) }}</div>
                                <div class="col s4"></div>
                            </div>

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                        </div>
                                    </div>
                                <br><div class="divider"></div><br>
                                    <div class="container">
                                        <div class="form_div_list">
                            {% endif %}

                            <div class="row">
                                <div class="col s4"><h5>Joueur 7</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur7) }}</div>
                                <div class="col s4"></div>
                            </div>

                            <div class="row">
                                <div class="col s4"><h5>Joueur 8</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur8) }}</div>
                                <div class="col s4"></div>
                            </div>

                            <div class="row">
                                <div class="col s4"><h5>Joueur 9</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur9) }}</div>
                                <div class="col s4"></div>
                            </div>
                        {% endif %}

                    </div>
                    <br><button class="btn btn_form waves-effect waves-light blue lighten-2">Modifier</button><br>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col s3">
            <table style="margin-top: 30px;" class="centered striped card-panel dispos">
                <thead>
                <tr>
                    <th><h5>Sélectionnables <i class="light-green-text darken-3 material-icons">done</i></h5></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for selectionnable in selectionnables %}
                    <tr>
                        <td>
                            <span class="{% if selectionnable.disponibilite %} green-text lighten-3 {% elseif not selectionnable.disponibilite %} red-text lighten-3 {% endif %}">{{ selectionnable.idCompetiteur.nom }}</span>
                        </td>
                        <td>
                            {% if selectionnable.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}