{% extends 'base.html.twig' %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/brulages.html.twig' as _brulage %}

{% block title %}J{{ idJournee }} - Équipe {{ compo.idEquipe.numero }}{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
        <script type="text/javascript" src="{{ asset('JS/lastComposAdversaire.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/getClassementRanking.min.js') }}"></script>
    </header>

    <div class="row main">
        <div class="hide-on-large-only">
            <ul class="collapsible" style="margin-top: 20px; margin-bottom: 0;">
                <li>
                    <div class="collapsible-header" style="padding-left: 5px; padding-right: 5px;">
                        <div class="chip" style="padding-left: 0; padding-right: 0;">
                            <i class="red-text material-icons" style="vertical-align: middle; margin-right: 0;">whatshot</i>
                            <span class="lobster" style="font-size: 115%;">Joueurs brûlés</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body">
                        {{ _brulage.joueursBrules(championnat, joueursBrules, compo.idEquipe.numero) }}
                    </div>
                </li>
                <li>
                    <div class="collapsible-header" style="padding-left: 5px; padding-right: 5px;">
                        <div class="chip" style="padding-left: 0; padding-right: 0;">
                            <i class="blue-text material-icons" style="vertical-align: middle; margin-right: 0;">check</i>
                            <span class="lobster" style="font-size: 115%;">Sélectionnables & brûlage J+1</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body">
                        {{ _brulage.selectionnables(championnat.j2Rule, championnat.limiteBrulage, brulageSelectionnables, compo.idEquipe.numero, idJournee, idEquipesBrulagePrint) }}
                    </div>
                </li>
            </ul>

            {% if compo.idEquipe.numero in idEquipesBrulagePrint and idJournee == 2 and championnat.j2Rule %}
                <div class="card-panel center-align hide-on-large-only blue lighten-5" style="margin: 20px 10px 0 10px; padding: 8px 4px;">
                    <span style="margin-top: 0; margin-bottom: 0;">En J2, un seul joueur marqué <i class="material-icons red-text">whatshot</i> dans <span class="truncate"><i class="blue-text material-icons" style="vertical-align: middle; margin-right: 0;">check</i><span class="lobster" style="font-size: 100%;">Sélectionnables & brûlage J+1</span></span> peut être sélectionné</span>
                </div>
            {% endif %}
        </div>

        <div class="col l2 hide-on-med-and-down">
            {{ _brulage.joueursBrules(championnat, joueursBrules, compo.idEquipe.numero) }}
        </div>

        <div class="col s12 l7">
            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            <div class="center-align card-panel">

                {% if compo.reporte and not compo.idJournee.undefined %}
                    <span style="margin-top: 0; margin-bottom: 10px;" class="col s12 orange-text">
                        <i class="material-icons">update</i>
                        <b>Match {{ compo.idJournee.dateJournee > compo.dateReport ? 'avancé' : 'reporté' }} au {{ compo.dateReport | format_datetime('long', 'none', locale='fr')|title }}</b>
                    </span>
                {% endif %}

                {% if compo.villeHost %}
                    <span style="margin-top: 0; margin-bottom: 10px;" class="col s12 orange-text">
                            <i class="material-icons">error_outline</i>
                            <b>Salle indisponible : rencontre à {{ compo.villeHost }}</b>
                        </span>
                {% endif %}

                <div style="display: flex; justify-content: center;">
                    <div>
                        <h4 style="margin-bottom: 15px; margin-top: 0; margin-right: 10px;"><span class="hide-on-med-and-up">J</span><span class="hide-on-small-only">Journée</span> {{ idJournee }} - Équipe {{ compo.idEquipe.numero }}</h4>
                    </div>
                    <div>
                        {% if compo.idEquipe.lienDivision %}
                            <div class="col" style="padding-left: 0; padding-right: 0;">
                                <a onclick="getClassementPoule('{{ compo.idEquipe.lienDivision | raw }}', '{{ compo.idEquipe.numero }}')" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger pulse" href="#modalClassement{{ compo.idEquipe.numero }}">
                                    <i class="material-icons">equalizer</i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row header_compo">
                    <div class="col s4 m2">
                        <h5>
                            <span class="white-text divisionBubble">{% if compo.idEquipe.idDivision.shortName|length == 1 %}&thinsp;{% endif %}{{ compo.idEquipe.idDivision.shortName }}{% if compo.idEquipe.idDivision.shortName|length == 1 %}&thinsp;{% endif %}</span><br>
                        </h5>
                        <p class="poule" style="margin-bottom: 0;">
                            Poule
                            {% if compo.idEquipe.idPoule %}
                                <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.idPoule.poule }}</span>
                            {% else %}
                                <span class="red-text" style="font-size: 95%; font-family: 'Lora', serif;">?</span>
                            {% endif %}
                        </p>
                    </div>

                    {% if compo.idJournee.undefined %}
                        <h5 class="col s4 m3 red-text">
                            <i class="material-icons red-text" style="font-size: 2.1rem !important;">event_busy</i>
                        </h5>
                    {% else %}
                        <h5 class="col s4 m3 lobster_2">{{ compo.idJournee.dateJournee|date('d/m') }}</h5>
                    {% endif %}


                    <h5 class="col s4 m2">
                        {% if not compo.exempt %}
                            {% if compo.domicile is null %}
                                <i class='material-icons red-text'>location_off</i>
                            {% else %}
                                {% if compo.domicile %} <i class="iconPlace {% if compo.villeHost %}orange-text{% endif%} material-icons">home</i>
                                {% else %} <i class="material-icons iconPlace{% if compo.villeHost %} orange-text darken-4 {% endif%}">directions_car</i>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </h5>

                    <div class="col m5 hide-on-small-only">
                        {% if compo.exempt %}
                            <h5 style="margin-top: 11px;" class="lobster_2 pastille exempt reset red">Exemptée</h5>
                        {% else %}
                            {% if compo.adversaire is null %}
                                <h5 class="lobster_2 red-text" style="margin-top: 14px; margin-bottom: 0;">Adversaire indéfini</h5>
                            {% else %}
                                <div class="row" style="margin-top: 12px">
                                    <div class="col offset-s2" style="padding-left: 0; padding-right: 6px;">
                                        <h5 class="lobster_2" style="margin-top: 3px">
                                            {{ compo.adversaire | title }}
                                        </h5>
                                    </div>
                                    {% if compo.idEquipe.lienDivision %}
                                        <div class="col" style="padding-left: 0; padding-right: 0;">
                                            <a onclick="getLastComposAdversaire('{{ compo.adversaire }}', '{{ compo.idEquipe.lienDivision | raw }}', '{{ compo.idEquipe.numero }}')" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger pulse" href="#modalJoueursAdv{{ compo.idEquipe.numero }}"><i class="material-icons" style="font-size: 1.5rem;">format_list_bulleted</i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="hide-on-med-and-up adversaireLine center" style="margin-bottom: 8px">
                    <div class="{% if not compo.exempt %}m5{% endif%}">
                        {% if compo.exempt %}
                            <h5 class="lobster_2 pastille exempt reset red">Exemptée</h5>
                        {% else %}
                            {% if compo.adversaire is null %}
                                <h5 class="lobster_2 red-text advUndefined">Adversaire indéfini</h5>
                            {% else %}
                                <div class="advDefined">
                                    <div>
                                        <h5 class="lobster_2">
                                            {{ compo.adversaire | title }}
                                        </h5>
                                    </div>
                                    {% if compo.idEquipe.lienDivision %}
                                        <div>
                                            <a onclick="getLastComposAdversaire('{{ compo.adversaire }}', '{{ compo.idEquipe.lienDivision | raw }}', '{{ compo.idEquipe.numero }}')" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger pulse" href="#modalJoueursAdv{{ compo.idEquipe.numero }}">
                                                <i class="material-icons">format_list_bulleted</i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if compo.idChampionnat.compoSorted %}
                    <p class="blue pastille reset" style="margin-bottom: 8px; max-width: 590px;"><b>Joueurs triés automatiquement selon le classement</b> : ne vous embêtez pas à trier, sélectionnez les joueurs comme bon vous semble, même dans le désordre</p>
                {% endif %}

                {% if compo.idEquipe.lienDivision %}
                    {% if not compo.exempt and compo.adversaire is not null %}
                        <div id="modalJoueursAdv{{ compo.idEquipe.numero }}" class="modal modal-fixed-footer modal-alert center">
                            <div class="modal-content">
                                <div id="joueursAdv{{ compo.idEquipe.numero }}" style="padding-right: 4px;padding-left: 4px;">
                                    <div style="display: flex; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0;">
                                        <div class="preloader-wrapper small active">
                                            <div class="spinner-layer spinner-blue-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect btn-flat grey-text">Annuler</a>
                            </div>
                        </div>
                    {% endif %}

                    <div id="modalClassement{{ compo.idEquipe.numero }}" class="modal modal-fixed-footer modal-alert center">
                        <div class="modal-content">
                            <div id="classementContent{{ compo.idEquipe.numero }}" style="padding-right: 4px;padding-left: 4px;">
                                <div style="display: flex; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0;">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">OK</a>
                        </div>
                    </div>
                {% endif %}

                {{ form_start(form)}}
                    <div class="form_div_list">
                        {% for i in 0..(nbJoueursDivision - 1) %}
                            <div class="row">
                                <div class="col s12 m3">
                                    <h5 style="font-family: Lobster, cursive;" class="rank {% if compo.idEquipe.idDivision.nbJoueurs % 3 == 0 and i >= 3 and i < 6 %} rank_blue{% endif %}">Joueur {{ i + 1 }}</h5>
                                </div>
                                <div class="col s12 m9">{{ form_row(attribute(form,'idJoueur' ~ i)) }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <div id="btnsEditCompo" style="height: 38px;">
                        <a href="{{ path("journee.show", {type: championnat.idChampionnat, id: compo.idJournee.idJournee}) }}" class="btn waves-effect grey btn_gestion">Annuler</a>
                        <button class="btn btn_form waves-effect blue lighten-2" onclick="preloaderConfirm()">Confirmer</button><br>
                    </div>

                    <div id="preloaderSetDispo" hidden style="height: 38px;">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        function preloaderConfirm() {
                            $('#preloaderSetDispo').removeAttr('hidden');
                            $('#btnsEditCompo').attr('hidden', true);
                        }
                    </script>

                {{ form_end(form) }}
            </div>
        </div>
        <div class="col l3 hide-on-med-and-down">
            {{ _brulage.selectionnables(championnat.j2Rule, championnat.limiteBrulage, brulageSelectionnables, compo.idEquipe.numero, idJournee, idEquipesBrulagePrint) }}
        </div>
    </div>

{% endblock %}