{% extends 'base.html.twig' %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block title %}J{{ compo.idJournee.idJournee }} - Equipe {{ compo.idEquipe.idEquipe }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <style>
        #nom_ad_mobile {
            margin-top: 10px;
        }
    </style>

    <div class="row main">
        <div class="col l3 hide-on-small-only">
            <table style="margin-top: 30px;" class="centered card-panel dispos brulage_edit">
                <thead>
                <tr>
                    <th>
                        <h5>Brûlés en {{ compo.idEquipe.idEquipe }} <i class="red-text material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if compo.idEquipe.idEquipe == 1 or burntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de brûlés en {{ compo.idEquipe.idEquipe }}</td>
                    </tr>
                {% else %}
                    {% for burntPlayer in burntPlayers %}
                        <tr>
                            <td>{{ burntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <table class="centered card-panel dispos">
                <thead>
                <tr>
                    <th>
                        <h5>Futurs brûlés si sélectionnés <i class="orange-text lighten-1 material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if (compo.idEquipe.idEquipe == 4 and compo.idJournee.linkType == 'departementale') or (compo.idEquipe.idEquipe == 2 and compo.idJournee.linkType == 'paris') %}
                    <tr>
                        <td>Il n'y a pas de brûlés en dessous de cette équipe</td>
                    </tr>
                {% elseif almostBurntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de potentiels futurs brûlés</td>
                    </tr>
                {% else %}
                    {% for almostBurntPlayer in almostBurntPlayers %}
                        <tr>
                            <td>{{ almostBurntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <div class="col s12 m7">
            <div class="center-align card-panel">
                <h4>Composition d'équipe{% if compo.idJournee.linkType == 'departementale' %}</h4><h5 style="font-family: Lobster, cursive; margin-bottom: 15px; margin-top: 0;">Équipe {{ compo.idEquipe.idEquipe }}{% endif %}</h5>

                <div class="row header_compo">
                    {% if compo.hosted %}<span style="margin-top: 0; margin-bottom: 4px;" class="col s12 orange-text lighten-2"><i class="material-icons">error_outline</i><b>Salle indisponible : rencontre à Herblay</b></span>{% endif %}

                    <h5 class="col s12 m5 hide-on-med-and-up">{{ compo.adversaire }}</h5>

                    <div class="col s4 m2">
                        <h5>
                            <span class="white-text bulle">{% if compo.idEquipe.division|length == 1 %}&thinsp;{% endif %}{{ compo.idEquipe.division }}{% if compo.idEquipe.division|length == 1 %}&thinsp;{% endif %}</span><br>
                        </h5>
                        <p class="poule">Poule <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.poule }}</span></p>
                    </div>

                    <h5 class="col s4 m3">{{ compo.idJournee.date|date('d/m') }}</h5>

                    <h5 class="col s4 m2">
                        {% if compo.domicile %} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text lighten-2{% else %}green-text{% endif%} darken-4 material-icons">home</i>
                        {% else %} <i style="font-size: 2.1rem;" class="green-text darken-4 material-icons">directions_car</i>
                        {% endif %}
                    </h5>

                    <h5 class="hide-on-small-only col s12 m5">{{ compo.adversaire }}</h5>
                </div>

                    {{ form_start(form)}}
                    <div class="form_div_list">
                        <div class="row">
                            <div class="col s12 m3"><h5>Joueur 1</h5></div>
                            <div class="col s12 m9">{{ form_row(form.idJoueur1) }}</div>
                        </div>
                        <div class="row">
                            <div class="col s12 m3"><h5>Joueur 2</h5></div>
                            <div class="col s12 m9">{{ form_row(form.idJoueur2) }}</div>
                        </div>
                        <div class="row">
                            <div class="col s12 m3"><h5>Joueur 3</h5></div>
                            <div class="col s12 m9">{{ form_row(form.idJoueur3) }}</div>
                        </div>

                        {% if (compo.idJournee.linkType == 'departementale') or (compo.idJournee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                    </div>
                                <br><div class="divider"></div><br>
                                        <div class="form_div_list">
                            {% endif %}

                            <div class="row">
                                <div class="col s12 m3"><h5>Joueur 4</h5></div>
                                <div class="col s12 m9">{{ form_row(form.idJoueur4) }}</div>
                            </div>
                        {% endif %}

                        {% if compo.idJournee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                            <div class="row">
                                <div class="col s12 m3"><h5>Joueur 5</h5></div>
                                <div class="col s12 m9">{{ form_row(form.idJoueur5) }}</div>
                            </div>

                            <div class="row">
                                <div class="col s12 m3"><h5>Joueur 6</h5></div>
                                <div class="col s12 m9">{{ form_row(form.idJoueur6) }}</div>
                            </div>

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                    </div>
                                <br><div class="divider"></div><br>
                                    <div class="form_div_list">
                            {% endif %}

                            <div class="row">
                                <div class="col s12 m3"><h5>Joueur 7</h5></div>
                                <div class="col s12 m9">{{ form_row(form.idJoueur7) }}</div>
                            </div>

                            <div class="row">
                                <div class="col s12 m3"><h5>Joueur 8</h5></div>
                                <div class="col s12 m9">{{ form_row(form.idJoueur8) }}</div>
                            </div>

                            <div class="row">
                                <div class="col s12 m3"><h5>Joueur 9</h5></div>
                                <div class="col s12 m9">{{ form_row(form.idJoueur9) }}</div>
                            </div>
                        {% endif %}

                    </div>
                <br><button class="btn btn_form waves-effect waves-light blue lighten-2">Confirmer</button><br>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col s12 hide-on-med-and-up">
            <table style="margin-top: 30px;" class="centered card-panel dispos brulage_edit">
                <thead>
                <tr>
                    <th>
                        <h5>Brûlés en {{ compo.idEquipe.idEquipe }} <i class="red-text material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if compo.idEquipe.idEquipe == 1 or burntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de brûlés en {{ compo.idEquipe.idEquipe }}</td>
                    </tr>
                {% else %}
                    {% for burntPlayer in burntPlayers %}
                        <tr>
                            <td>{{ burntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <table class="centered card-panel dispos">
                <thead>
                <tr>
                    <th>
                        <h5>Futurs brûlés si sélectionnés <i class="orange-text lighten-1 material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if (compo.idEquipe.idEquipe == 4 and compo.idJournee.linkType == 'departementale') or (compo.idEquipe.idEquipe == 2 and compo.idJournee.linkType == 'paris') %}
                    <tr>
                        <td>Il n'y a pas de brûlés en dessous de cette équipe</td>
                    </tr>
                {% elseif almostBurntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de potentiels futurs brûlés</td>
                    </tr>
                {% else %}
                    {% for almostBurntPlayer in almostBurntPlayers %}
                        <tr>
                            <td>{{ almostBurntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m2">
            <table style="margin-top: 30px;" class="centered card-panel dispos">
                <thead>
                <tr>
                    <th><h5>Sélectionnables <i class="light-green-text darken-3 material-icons">done</i></h5></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for selectionnable in selectionnables %}
                    <tr>
                        <td>
                            <span class="{% if selectionnable.disponibilite %} green-text lighten-3 {% elseif not selectionnable.disponibilite %} red-text lighten-3 {% endif %}">{{ selectionnable.idCompetiteur.nom }}</span>
                        </td>
                        <td>
                            {% if selectionnable.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}