{% extends 'base.html.twig' %}

{% block title %}J{{ compo.idJournee.idJournee }} - Equipe {{ compo.idEquipe.idEquipe }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row">
        <div class="col s3">
            <table class="centered striped card-panel dispos brulage_edit">
                <thead>
                <tr>
                    <th>
                        <h5>Brûlés en {{ compo.idEquipe.idEquipe }} <i class="red-text material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if compo.idEquipe.idEquipe == 1 or burntPlayers is empty %}
                    <tr>
                        <td>Il n'y a pas de brûlés en {{ compo.idEquipe.idEquipe }}</td>
                    </tr>
                {% else %}
                    {% for burntPlayer in burntPlayers %}
                        <tr>
                            <td>{{ burntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <table class="centered striped card-panel dispos">
                <thead>
                <tr>
                    <th>
                        <h5>Futurs brûlés si sélectionnés <i class="orange-text lighten-1 material-icons">whatshot</i></h5>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% if (compo.idEquipe.idEquipe == 4 and compo.idJournee.linkType == 'departementale') or (compo.idEquipe.idEquipe == 2 and compo.idJournee.linkType == 'paris') %}
                    <tr>
                        <td>Il n'y a pas de brûlés en dessous de cette équipe</td>
                    </tr>
                {% elseif almostBurntPlayers is empty %} %}
                    <tr>
                        <td>Il n'y a pas de potentiels futurs brûlés</td>
                    </tr>
                {% else %}
                    {% for almostBurntPlayer in almostBurntPlayers %}
                        <tr>
                            <td>{{ almostBurntPlayer.nom }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <div class="center-align card-panel">
                <h4 class="h4_form">Composition d'équipe - Equipe {{ compo.idEquipe.idEquipe }}</h4>
                <h5>Journée {{ compo.idJournee.idJournee }} - {{ compo.idJournee.type }} - {{ compo.idJournee.date | date("d/m")}} - {{ compo.lieu }}</h5>
                <br>
                <div class="container">
                    {{ form_start(form)}}
                    <div class="form_div_list">
                        <div class="row">
                            <div class="col s4"><h5>Joueur 1</h5></div>
                            <div class="col s4">{{ form_row(form.idJoueur1) }}</div>
                            <div class="col s4"></div>
                        </div>
                        <div class="row">
                            <div class="col s4"><h5>Joueur 2</h5></div>
                            <div class="col s4">{{ form_row(form.idJoueur2) }}</div>
                            <div class="col s4"></div>
                        </div>
                        <div class="row">
                            <div class="col s4"><h5>Joueur 3</h5></div>
                            <div class="col s4">{{ form_row(form.idJoueur3) }}</div>
                            <div class="col s4"></div>
                        </div>

                        {% if (compo.idJournee.linkType == 'departementale') or (compo.idJournee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                <div class="grey lighten-1 divider"></div><br>
                            {% endif %}

                            <div class="row">
                                <div class="col s4"><h5>Joueur 4</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur4) }}</div>
                                <div class="col s4"></div>
                            </div>
                        {% endif %}

                        {% if compo.idJournee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                            <div class="row">
                                <div class="col s4"><h5>Joueur 5</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur5) }}</div>
                                <div class="col s4"></div>
                            </div>

                            <div class="row">
                                <div class="col s4"><h5>Joueur 6</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur6) }}</div>
                                <div class="col s4"></div>
                            </div>

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                <div class="grey lighten-1 divider"></div><br>
                            {% endif %}

                            <div class="row">
                                <div class="col s4"><h5>Joueur 7</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur7) }}</div>
                                <div class="col s4"></div>
                            </div>

                            <div class="row">
                                <div class="col s4"><h5>Joueur 8</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur8) }}</div>
                                <div class="col s4"></div>
                            </div>

                            <div class="row">
                                <div class="col s4"><h5>Joueur 9</h5></div>
                                <div class="col s4">{{ form_row(form.idJoueur9) }}</div>
                                <div class="col s4"></div>
                            </div>
                        {% endif %}

                    </div>
                    <br><button class="btn btn_form waves-effect waves-light blue lighten-2">Modifier</button><br>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col s3">
            <table class="centered striped card-panel dispos">
                <thead>
                <tr>
                    <th><h5>Dispos <i class="light-blue-text darken-3 material-icons">record_voice_over</i></h5></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for dispo in dispos %}
                    <tr>
                        <td>
                            <span class="{% if dispo.disponibilite %} green-text lighten-3 {% elseif not dispo.disponibilite %} red-text lighten-3 {% endif %}">{{ dispo.idCompetiteur.nom }}</span>
                        </td>
                        <td>
                            {% if dispo.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for dispoNonDeclaree in joueursNonDeclares %}
                    <tr>
                        <td>
                            <span class="grey-text lighten-3">{{ dispoNonDeclaree.nom }}</span>
                        </td>
                        <td>
                            {% if dispoNonDeclaree.id_competiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}