{% extends 'base.html.twig' %}

{% block title %}Journee 1{% endblock %}

{% block body %}

    <div class="container center">
        <h2>Modifier la composition</h2>
    </div>

    <div class="container center">
        {{ form_start(form)}}
            {{ form_row(form.idJoueur1) }}
            {{ form_row(form.idJoueur2) }}
            {{ form_row(form.idJoueur3) }}
            {{ form_row(form.idJoueur4) }}

            <br><button class="btn waves-effect waves-light blue lighten-2">Modifier</button><br>
        {{ form_end(form) }}
    </div>

{% endblock %}