{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/composition.html.twig' as _composition %}
{% import 'macros/actualite.html.twig' as _actualite %}
{% import 'macros/brulages.html.twig' as _brulage %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}

{% block title %}Journee {{ journee.idJournee}} - {{ journee.type }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row main">
        <div class="col l3 brulages_large">
            {{ _brulage.table(journee.linkType, competiteurs) }}
        </div>

        <div class="col s12 m7">
            {% for message in app.flashes('success') %}
                {{ _flash.success(message) }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ _flash.fail(message) }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ _flash.warning(message) }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ journee.idJournee }} - {{ journee.type }}</h4>
                <h5>{{ journee.date|format_datetime('long', 'none', locale='fr') }}</h5>
            </div>

            <div class="card-panel center">
                <h5>{{ app.user.username | capitalize }}, êtes-vous disponible pour cette journée ?</h5>

                {% if journee.linkType == 'departementale' %}
                    {% set dispoJournee = app.user.disposDepartementales %}
                {% elseif journee.linkType == 'paris' %}
                    {% set dispoJournee = app.user.disposParis %}
                {% endif %}

                {% if journee.idJournee in dispoJournee|keys %}
                    {% if dispoJournee[journee.idJournee] %}
                        <p><i>Vous vous êtes inscrit comme étant </i><span class="green-text lighten-3"><b>disponible</b></span></p>
                        <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 0}) }}">
                            <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                        </a>
                    {% else %}
                        <p><i>Vous vous êtes inscrit comme étant </i><span class="red-text lighten-3"><b>indisponible</b></span></p>
                        <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 1}) }}">
                            <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                        </a>
                    {% endif %}
                {% else %}
                    <p><i>Vous n'avez pas encore signalé votre disponibilité</i></p>
                    <div class="row">
                        <div class="col s6">
                            <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 1}) }}">
                                <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Disponible</button>
                            </a>
                        </div>
                        <div class="col s6">
                            <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 0}) }}">
                                <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Indisponible</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% for compo in compos %}

                <div class="carousel carousel-slider center card-panel">
                    <div class="carousel-item" href="#one!">
                        <div class="row header_compo">

                            <h5 id="nom_ad_mobile" class="col s12 {% if journee.linkType == 'departementale' %}m5{% else %}m4{% endif%} nom_adversaire"><i class="red-text darken-2 material-icons">place</i>{{ compo.adversaire }}</h5>

                            <div class="col {% if journee.linkType == 'departementale' %}s4 m2{% else %}s6 m2{% endif %}">
                                <h5>
                                    <span class="white-text bulle">{{ compo.idEquipe.division }}</span><br>
                                </h5>
                                <p class="poule">Poule {{ compo.idEquipe.poule }}</p>
                            </div>

                            {% if journee.linkType == 'departementale' %}<h5 class="col s4 m3">Équipe {{ compo.idEquipe.idEquipe }}</h5>{% endif %}

                            <h5 class="col {% if journee.linkType == 'departementale' %}s4 m2{% else %}s6 m2{% endif %}">
                                {% if compo.domicile%} <i style="font-size: 2.1rem;" class="green-text darken-4 material-icons">home</i>
                                {% else%} <i style="font-size: 2.1rem;" class="green-text darken-4 material-icons">directions_car</i>
                                {% endif %}
                            </h5>

                            <h5 id="nom_ad_pc" class="col s12 {% if journee.linkType == 'departementale' %}m5{% else %}m4{% endif%} nom_adversaire"><i class="red-text darken-2 material-icons">place</i>{{ compo.adversaire }}</h5>
                        </div>
                        <table class="striped responsive-table">
                            <tbody>
                            {{ _composition.tr("1", compo.idJoueur1) }}
                            {{ _composition.tr("2", compo.idJoueur2) }}
                            {{ _composition.tr("3", compo.idJoueur3) }}

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                            </tbody>
                        </table>
                        <br><div class="divider"></div><br>
                        <table class="striped responsive-table">
                            <tbody>
                            {% endif %}

                            {% if (journee.linkType == 'departementale') or (journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                                {{ _composition.tr("4", compo.idJoueur4) }}
                            {% endif %}

                            {% if journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                            {{ _composition.tr("5", compo.idJoueur5) }}
                            {{ _composition.tr("6", compo.idJoueur6) }}

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                            </tbody>
                        </table>
                        <br><div class="divider"></div><br>
                        <table class="striped responsive-table">
                            <tbody>
                            {% endif %}

                            {{ _composition.tr("7", compo.idJoueur7) }}
                            {{ _composition.tr("8", compo.idJoueur8) }}
                            {{ _composition.tr("9", compo.idJoueur9) }}

                            {% endif %}
                            </tbody>
                        </table>

                        {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
                            <a href="{{ path('composition.edit', {type: journee.linkType, compo: compo.id}) }}"
                               class="btn waves-effect waves-light blue lighten-2">Modifier la compo
                            </a>
                        {% endif %}
                    </div>

                    <div class="carousel-item" style="font-size: 95%;" href="#two!">

                        {# <table class="striped">
                            <tbody>
                            <tr>
                                <td class="rank center"><b>1</b></td>
                                <td>Saint Martin du Tertre</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>2</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>3</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>4</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>5</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>6</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>7</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            <tr>
                                <td class="rank center"><b>8</b></td>
                                <td>Herblay</td>
                                <td>12</td>
                                <td><span class="green-text">3</span>/<span class="red-text">4</span></td>
                            </tr>
                            </tbody>
                        </table> #}

                        <h5 class="center-align">Le classement de la poule sera bientôt disponible ;)</h5>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col s12 brulage_mobile" hidden>
            {{ _brulage.table(journee.linkType, competiteurs) }}
        </div>

        <div class="col s12 m2">
            {{ _disponibilites.table(joueursNonDeclares, selectedPlayers, dispos, allDisponibilitesDepartementales, allDisponibiliteParis) }}
        </div>
    </div>

    {# <div class="row">
        <div class="container">
            <div class="center-align white-text">
                <h4>Les actualités FFTT</h4>
            </div>
        </div>

        {% for actu in actualites %}
            {{ _actualite.actualite(actu.date, actu.titre, actu.description, actu.url, actu.photo, actu.categorie) }}
        {% endfor %}
    </div> #}

    <script>
        $(window).ready(function() {
            if ($(window).width() <= 600){
                $('.main').addClass("container");
                $('.brulage_mobile').removeAttr('hidden');
                $("[id='nom_ad_pc']").attr("hidden", true);
                $("[id='nom_ad_mobile']").removeAttr('hidden');
            }
            else{
                $('.main').removeClass("container");
                $('.brulage_mobile').attr("hidden", true);
                $("[id='nom_ad_mobile']").attr("hidden", true);
                $("[id='#nom_ad_pc']").removeAttr('hidden');
            }
        });
    </script>

{% endblock %}
