{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/composition.html.twig' as _composition %}
{% import 'macros/brulages.html.twig' as _brulage %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}
{% import 'macros/classement.poule.html.twig' as _poule %}

{% block title %}J{{ journee.idJournee}} - {{ journee.type }}{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
    </header>

    <div class="row main">
        <div class="col l3 hide-on-small-only">
            {{ _brulage.table(journee.linkType, brulages) }}
        </div>

        <div class="col s12 m7">
            {% for message in app.flashes('success') %}
                {{ _flash.message(message, 'green') }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ _flash.message(message, 'orange') }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ journee.idJournee }} - {{ journee.type }}</h4>
                <h5>{{ journee.date|format_datetime('long', 'none', locale='fr') }}</h5>
            </div>

            <div class="card-panel center" style="padding-top: 4px; padding-bottom: 14px;">

                {% if disponible is not null %}
                    {% if disponible == 1 %}
                        <h5>Vous vous êtes déclaré <span class="green-text lighten-3">disponible</span></h5>
                        <a href="{{ path('journee.disponibilite.update', {type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 0}) }}">
                            <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                        </a>
                    {% elseif disponible == 0 %}
                        <h5>Vous vous êtes déclaré <span class="red-text lighten-3">indisponible</span></h5>
                        <a href="{{ path('journee.disponibilite.update', {type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 1}) }}">
                            <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                        </a>
                    {% endif %}
                {% else %}
                    <h5>{{ app.user.username | capitalize }}, êtes-vous disponible pour cette journée ?</h5>
                    <div class="row">
                        <div class="col s6">
                            <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 1}) }}">
                                <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Disponible</button>
                            </a>
                        </div>
                        <div class="col s6">
                            <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 0}) }}">
                                <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Indisponible</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% for compo in compos %}

                <div class="center card-panel">
                    <div class="row header_compo">

                        {% if compo.hosted %}<span style="margin-top: 0; margin-bottom: 4px;" class="col s12 orange-text lighten-2"><i class="material-icons">error_outline</i><b>Salle indisponible : rencontre à Herblay</b></span>{% endif %}

                        <div class="row hide-on-med-and-up" style="margin-bottom: 10px;">
                            <div class="col s9 m5 nom_adversaire">
                                <h5>{{ compo.adversaire }}</h5>
                            </div>

                            <div class="col s3">
                                <h5>
                                    {% if compo.domicile%} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text lighten-2{% else %}green-text{% endif%} darken-4 material-icons">home</i>
                                    {% else%} <i style="font-size: 2.1rem;" class="green-text darken-4 material-icons">directions_car</i>
                                    {% endif %}
                                </h5>
                            </div>
                        </div>

                        <div class="col s4 m2">
                            <h5>
                                <span class="white-text bulle">{% if compo.idEquipe.division.shortName|length == 1 %}&thinsp;{% endif %}{{ compo.idEquipe.division.shortName }}{% if compo.idEquipe.division.shortName|length == 1 %}&thinsp;{% endif %}</span><br>
                            </h5>
                            <p class="poule">Poule <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.poule.poule }}</span></p>
                        </div>

                        <h5 class="col s4 m3">Équipe {{ compo.idEquipe.idEquipe }}</h5>

                        <div class="col s4 m1">
                            <h5 class="hide-on-small-only">
                                {% if compo.domicile%} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text lighten-2{% else %}green-text{% endif%} darken-4 material-icons">home</i>
                                {% else%} <i style="font-size: 2.1rem;" class="green-text darken-4 material-icons">directions_car</i>
                                {% endif %}
                            </h5>

                            <div class="hide-on-med-and-up" style="padding-left: 20px; padding-right: 20px;">
                                <a style="width: 100%; margin-bottom: 0; margin-top: 10px;" class="card-panel modal-trigger waves-effect waves-block btn black-text blue lighten-3" href="#classement"><i class="material-icons">equalizer</i></a>
                            </div>
                        </div>

                        <div class="col s12 m5 nom_adversaire hide-on-small-only">
                            <h5>{{ compo.adversaire }}</h5>
                        </div>

                        <div class="hide-on-small-only col m1" style="padding-left: 0;">
                            <a style="padding-left: 0; padding-right: 0;" class="card-panel modal-trigger waves-effect waves-block btn black-text blue lighten-3" href="#classement"><i class="material-icons">equalizer</i></a>
                        </div>

                        <div id="classement" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                {{ _poule.classement(classement) }}
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close btn waves-effect waves-light blue lighten-2">OK</a>
                            </div>
                        </div>
                    </div>

                    <table class="striped responsive-table">
                        <tbody>
                        {{ _composition.tr("1", compo.idJoueur1) }}
                        {{ _composition.tr("2", compo.idJoueur2) }}
                        {{ _composition.tr("3", compo.idJoueur3) }}

                        {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                        </tbody>
                    </table>
                    <br><div class="divider"></div><br>
                    <table class="striped responsive-table">
                        <tbody>
                        {% endif %}

                        {% if (journee.linkType == 'departementale') or (journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                            {{ _composition.tr("4", compo.idJoueur4) }}
                        {% endif %}

                        {% if journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                        {{ _composition.tr("5", compo.idJoueur5) }}
                        {{ _composition.tr("6", compo.idJoueur6) }}

                        {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                        </tbody>
                    </table>
                    <br><div class="divider"></div><br>
                    <table class="striped responsive-table">
                        <tbody>
                        {% endif %}

                        {{ _composition.tr("7", compo.idJoueur7) }}
                        {{ _composition.tr("8", compo.idJoueur8) }}
                        {{ _composition.tr("9", compo.idJoueur9) }}

                        {% endif %}
                        </tbody>
                    </table>

                    {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
                        <a href="{{ path('composition.edit', {type: journee.linkType, compo: compo.id}) }}"
                            {% if journee.linkType == 'departementale' %}
                                {% if compo.isEmpty %}
                                    class="btn waves-effect waves-light green lighten-2">
                                    Créer la compo
                                {% else %}
                                    class="btn waves-effect waves-light blue lighten-2">
                                    Modifier la compo
                                {% endif %}
                            {% elseif journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1%}
                                {% if compo.isEmptyHaut %}
                                    class="btn waves-effect waves-light green lighten-2">
                                    Créer la compo
                                {% else %}
                                    class="btn waves-effect waves-light blue lighten-2">
                                    Modifier la compo
                                {% endif %}
                            {% elseif journee.linkType == 'paris' and compo.idEquipe.idEquipe == 2%}
                                {% if compo.isEmptyBas %}
                                    class="btn waves-effect waves-light green lighten-2">
                                    Créer la compo
                                {% else %}
                                    class="btn waves-effect waves-light blue lighten-2">
                                    Modifier la compo
                                {% endif %}
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="col s12 m2">
            {{ _disponibilites.table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilitesDepartementales, allDisponibiliteParis, journee.linkType) }}
        </div>

        <div class="col s12 hide-on-med-and-up">
            {{ _brulage.table(journee.linkType, brulages) }}
        </div>
    </div>

{% endblock %}
