{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/composition.html.twig' as _composition %}
{% import 'macros/brulages.html.twig' as _brulage %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}
{% import 'macros/index.html.twig' as _index %}

{% block title %}J{{ journee.idJournee}} - {{ championnat.nom }}{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
    </header>

    <div class="row main">
        <div class="col l3 hide-on-small-only">
            {{ _brulage.table(championnat.limiteBrulage, brulages, idEquipes) }}
        </div>

        <div class="col s12 m7">
            {% for message in app.flashes('success') %}
                {{ _flash.message(message, 'green') }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ _flash.message(message, 'orange') }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ journee.idJournee }} - {{ championnat.nom }}</h4>
                {% if journee.undefined %}
                    <h5 class="red-text"><b>Date indéfinie</b></h5>
                {% else %}
                    <h5>{{ journee.dateJournee|format_datetime('long', 'none', locale='fr')|title }}</h5>
                {% endif %}
            </div>

            {% if selectedPlayers|length == nbTotalJoueurs %}
                <div class="complete_compos card-panel center green lighten-1 title_journee rainbow">
                    <h5 class="white-text"><i class="material-icons">check_circle</i> Kompositions complètes</h5>
                </div>
            {% else %}
                <div class="hide-on-med-and-up">
                    {{ _disponibilites.labelDispoSelec(selectedPlayers|length, nbDispos, nbMinJoueurs, nbTotalJoueurs) }}
                </div>
            {% endif %}

            {% if 'ROLE_VISITEUR' not in app.token.roleNames and journeeStillEditable(journee, compos) %}
                <div class="card-panel center" style="padding-top: 4px; padding-bottom: 14px;">

                    {% if app.user.licence and app.user.classementOfficiel %}
                        {% if disponible is not null %}
                            {% if disponible == 1 %}
                                <h5>Vous vous êtes déclaré <span class="green-text">disponible</span></h5>
                                <a {% if selected %}onclick="return confirm('Vous risquez d\'être désélectionné. Continuer ?')"{% endif %} href="{{ path('journee.disponibilite.update', {type: championnat.idChampionnat, dispoJoueur: dispoJoueur.idDisponibilite, dispo: 0}) }}">
                                    <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                                </a>
                            {% elseif disponible == 0 %}
                                <h5>Vous vous êtes déclaré <span class="red-text">indisponible</span></h5>
                                <a href="{{ path('journee.disponibilite.update', {type: championnat.idChampionnat, dispoJoueur: dispoJoueur.idDisponibilite, dispo: 1}) }}">
                                    <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                                </a>
                            {% endif %}
                        {% else %}
                            <h5>Êtes-vous disponible pour cette journée ?</h5>
                            <div class="row">
                                <div class="col s6">
                                    <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: championnat.idChampionnat, dispo: 1}) }}">
                                        <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Disponible</button>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: championnat.idChampionnat, dispo: 0}) }}">
                                        <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Indisponible</button>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if app.user.licence and not app.user.classementOfficiel %}
                            <h5 class="red-text lighten-2" style="font-size: 130%;">Renseignez votre classement dans <a href="{{ path('account') }}">votre compte</a> pour déclarer vos disponibilités</h5>
                        {% elseif not app.user.licence and app.user.classementOfficiel %}
                            <h5 class="red-text lighten-2" style="font-size: 130%;">Renseignez votre licence dans <a href="{{ path('account') }}">votre compte</a> pour déclarer vos disponibilités</h5>
                        {% elseif not app.user.licence and not app.user.classementOfficiel %}
                            <h5 class="red-text lighten-2" style="font-size: 130%;">Renseignez votre licence et classement dans <a href="{{ path('account') }}">votre compte</a> pour déclarer vos disponibilités</h5>
                        {% endif %}
                    {% endif %}
                </div>
            {% elseif 'ROLE_VISITEUR' not in app.token.roleNames and not journeeStillEditable(journee, compos) and app.user.licence and app.user.classementOfficiel and disponible is null %}
                <div class="card-panel center" style="padding-top: 4px; padding-bottom: 14px;">
                    <h5>Vous n'avez pas déclaré votre disponibilité ...</h5>
                </div>
            {% endif %}

            {% if 'ROLE_CAPITAINE' in app.token.roleNames and equipesSansDivision|length > 0 %}
                <div class="card-panel center cardTeamsWithoutDiv">
                    <p class="red-text" style="margin-bottom: 0;"><b>{{ equipesSansDivision | listeEquipesSansDivision }}</b></p>
                    <a href="{{ path('backoffice.equipes') }}">Corriger</a>
                </div>
            {% endif %}

            {% if compos|length > 0 %}
                {% for compo in compos %}
                    <div class="center card-panel"{% if compo.isFull %} style="border: green solid 4px" {% endif %}>
                        <div class="row header_compo">

                            {% if compo.reporte %}
                                <span style="margin-top: 0; margin-bottom: 10px;" class="col s12 orange-text">
                                <i class="material-icons">update</i>
                                <b>Match reporté au {{ compo.dateReport | format_datetime('long', 'none', locale='fr') }}</b>
                                </span>
                            {% endif %}

                            {% if compo.hosted %}
                                <span style="margin-top: 0; margin-bottom: 10px;" class="col s12 orange-text">
                                    <i class="material-icons">error_outline</i>
                                    <b>Salle indisponible : rencontre à Herblay</b>
                                </span>
                            {% endif %}

                            <div class="col s4 m2">
                                <h5>
                                {% if compo.idEquipe.idDivision %}
                                    <span class="white-text bulle"{% if compo.idEquipe.idDivision.shortName|length == 1 %} style="padding-left: 16px; padding-right: 16px;"{% endif %}>{{ compo.idEquipe.idDivision.shortName }}</span><br>
                                {% else %}
                                    <span class="red-text bulle">&thinsp;&thinsp;?&thinsp;&thinsp;</span><br>
                                {% endif %}
                                </h5>
                                <p class="poule" style="margin-bottom: 0;">
                                    Poule
                                    {% if compo.idEquipe.idPoule %}
                                        <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.idPoule.poule }}</span>
                                    {% else %}
                                        <span class="red-text" style="font-size: 95%; font-family: 'Lora', serif;">?</span>
                                    {% endif %}
                                </p>
                            </div>

                            <div class="col s4 m3">
                                <h5 class="lobster_2" style="margin-bottom: 0; margin-top: 14px;">Équipe {{ compo.idEquipe.numero }}</h5>
                            </div>

                            {% if not compo.exempt %}
                                <div class="col s4 hide-on-med-and-up">
                                    <h5 style="margin-top: 12px; margin-bottom: 0;">
                                        {% if compo.domicile%} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text{% else %}green-text{% endif%} darken-4 material-icons">home</i>
                                        {% else%} <i style="font-size: 2.1rem;" class="green-text material-icons">directions_car</i>
                                        {% endif %}
                                    </h5>
                                </div>
                            {% endif %}

                            <div class="col s4 m2 hide-on-small-only">
                                <h5 style="margin-top: 12px; margin-bottom: 0;">
                                    {% if not compo.exempt %}
                                        {% if compo.domicile%} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text{% else %}green-text{% endif%} material-icons">home</i>
                                        {% else%} <i style="font-size: 2.1rem;" class="green-text material-icons">directions_car</i>
                                        {% endif %}
                                    {% endif %}
                                </h5>
                            </div>

                            <div class="col s12 m5 hide-on-small-only">
                                {% if compo.exempt %}
                                    <h5 style="margin-top: 11px;" class="lobster_2{% if compo.exempt %} pastille exempt red{% endif %}">Exemptée</h5>
                                {% else %}
                                    {% if compo.adversaire is null %}
                                        <h5 class="lobster_2 red-text" style="margin-top: 14px; margin-bottom: 0;">Adversaire indéfini</h5>
                                    {% else %}
                                        <h5 class="lobster_2" style="margin-top: 14px; margin-bottom: 0;">{{ compo.adversaire | title }}</h5>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="row hide-on-med-and-up" style="margin-bottom: 0;">
                                <div class="col s12{% if not compo.exempt %} m5{% endif%}">
                                    {% if compo.exempt %}
                                        <h5 style="margin-top: 0; margin-bottom: 10px;" class="lobster_2{% if compo.exempt %} pastille exempt red{% endif %}">Exemptée</h5>
                                    {% else %}
                                        {% if compo.adversaire is null %}
                                            <h5 class="lobster_2 red-text" style="margin-top: 0; margin-bottom: 10px;">Adversaire indéfini</h5>
                                        {% else %}
                                            <h5 class="lobster_2" style="margin-top: 0; margin-bottom: 10px;">{{ compo.adversaire | title }}</h5>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% if ('ROLE_CAPITAINE' in app.token.roleNames) and (rencontreStillEditable(compo)) %}
                            <p class="center" style="margin: 0;"><b>N° ESFTT : 08951331</b></p>
                        {% endif %}

                        <table class="{% if compo.idEquipe.idDivision.nbJoueurs > 4 %}striped_table {% endif%}responsive-table">
                            <tbody>
                                {% for i in 0..(compo.idEquipe.idDivision.getNbJoueurs - 1) %}
                                    {{ _composition.joueur(i, compo.idJoueurN(i)) }}
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if ('ROLE_CAPITAINE' in app.token.roleNames) and (rencontreStillEditable(compo)) %}
                            <div style="margin-bottom: 10px; margin-top: 5px;">
                                {% if compo.isEmpty %}
                                    {{ _index.btnCreateEditCompo(championnat.idChampionnat, compo.id, 'Créer la compo', 'green') }}
                                {% else %}
                                    {{ _index.btnCreateEditCompo(championnat.idChampionnat, compo.id, 'Modifier la compo', 'blue') }}
                                    {{ _index.btnEmptyCompo(championnat.idChampionnat, compo.id, compo.idEquipe.idDivision.getNbJoueurs) }}<br>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
            <div class="center card-panel">
                <span class="lobster_2" style="font-size: 20px;">Il n'y a pas d'équipes enregistrées</span>
            </div>
            {% endif %}
        </div>

        <ul class="collapsible hide-on-med-and-up">
            <li>
                <div class="collapsible-header">
                    <div class="chip">
                        <i class="blue-text material-icons" style="vertical-align: middle;">people</i>
                        Disponibilités
                    </div>
                    <i class="caret material-icons">keyboard_arrow_down</i>
                </div>
                <div class="collapsible-body">
                    {{ _disponibilites.table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilites, championnat.slug, championnat.nbJournees, nbMinJoueurs, nbTotalJoueurs, 'mobile') }}
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <div class="chip">
                        <i class="red-text material-icons" style="vertical-align: middle;">whatshot</i>
                        Brûlage
                    </div>
                    <i class="caret material-icons">keyboard_arrow_down</i>
                </div>
                <div class="collapsible-body">
                    {{ _brulage.table(championnat.limiteBrulage, brulages, idEquipes) }}
                </div>
            </li>
        </ul>

        <div class="col s12 m2 hide-on-small-only">
            {{ _disponibilites.table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilites, championnat.slug, championnat.nbJournees, nbMinJoueurs, nbTotalJoueurs, 'pc') }}
        </div>
    </div>

{% endblock %}