{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Journee {{ journee.idJournee}} - {{ journee.type }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row">
        <div class="col s3">

            <div class="card-panel bottom_0">
                <div class="row bottom_0">
                    <div class="col s2"><i class="red-text lighten-1 material-icons">highlight_off</i></div>
                    <div class="col s10">Brûlé dans l'équipe</div>
                </div>

                <div class="row bottom_0">
                    <div class="col s2"><i class="orange-text lighten-1 material-icons">error_outline</i></div>
                    <div class="col s10">Futur brûlé en équipes inférieures</div>
                </div>
            </div>

            <table class="striped card-panel dispos">
                <thead>
                    <tr>
                        <th class="center"><h5>Brûlages</h5></th>
                        <th class="center"><h5>1</h5></th>
                        <th class="center"><h5>2</h5></th>
                        {% if journee.linkType == 'departementale' %}
                            <th class="center"><h5>3</h5></th>
                            <th class="center"><h5>4</h5></th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                {% for joueurBrule in competiteurs %}
                    <tr>
                        <td class="left">{{ joueurBrule.nom }}</td>
                        {% if journee.linkType == 'departementale' %}
                            <td class="center">
                                {% if 1 in joueurBrule.FirstBurntTeamDepartemental["almost"] %}
                                    <i class="orange-text lighten-1 material-icons">error_outline</i>
                                {% endif %}</td>
                            <td class="center">
                                {% if 2 in joueurBrule.FirstBurntTeamDepartemental["burnt"] %}
                                    <i class="red-text lighten-1 material-icons">highlight_off</i>
                                {% elseif 2 in joueurBrule.FirstBurntTeamDepartemental["almost"] %}
                                    <i class="orange-text lighten-1 material-icons">error_outline</i>
                                {% endif %}
                            </td>
                            <td class="center">
                                {% if 3 in joueurBrule.FirstBurntTeamDepartemental["burnt"] %}
                                    <i class="red-text lighten-1 material-icons">highlight_off</i>
                                {% elseif 3 in joueurBrule.FirstBurntTeamDepartemental["almost"] %}
                                    <i class="orange-text lighten-1 material-icons">error_outline</i>
                                {% endif %}
                            </td>
                            <td class="center">
                                {% if 4 in joueurBrule.FirstBurntTeamDepartemental["burnt"] %}
                                    <i class="red-text lighten-1 material-icons">highlight_off</i>
                                {% endif %}
                            </td>
                        {% elseif journee.linkType == 'paris' %}
                            <td class="center">
                                {% if 1 in joueurBrule.FirstBurntTeamParis["almost"] %}
                                    <i class="orange-text lighten-1 material-icons">error_outline</i>
                                {% endif %}</td>
                            <td class="center">
                                {% if 2 in joueurBrule.FirstBurntTeamParis["burnt"] %}
                                    <i class="red-text lighten-1 material-icons">highlight_off</i>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col s7">
            {% for message in app.flashes('success') %}
                {{ flash.success(message) }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ flash.fail(message) }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ journee.idJournee }} - {{ journee.type }} - {{ journee.date|format_datetime('long', 'none', locale='fr') }}</h4>
            </div>

            {% if app.user %}
                <div class="card-panel center">

                    <h5>{{ app.user.username | capitalize }}, êtes-vous disponible pour cette journée ?</h5>

                    {% if journee.linkType == 'departementale' %}
                        {% set dispoJournee = app.user.disposDepartementales %}
                    {% elseif journee.linkType == 'paris' %}
                        {% set dispoJournee = app.user.disposParis %}
                    {% endif %}

                    {% if journee.idJournee in dispoJournee|keys %}
                        {% if dispoJournee[journee.idJournee] %}
                            <p><i>Vous vous êtes inscrit comme étant <span class="green-text lighten-3"><b>disponible</b></span></i></p>
                            <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 0}) }}">
                                <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                            </a>
                        {% else %}
                            <p><i>Vous vous êtes inscrit comme étant <span class="red-text lighten-3"><b>indisponible</b></span></i></p>
                            <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 1}) }}">
                                <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <p><i>Vous n'avez pas encore signalé votre disponibilité</i></p>
                        <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 1}) }}">
                            <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                        </a>
                        <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 0}) }}">
                            <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                        </a>
                    {% endif %}

                </div>
            {% else %}
                <div class="card-panel green lighten-4 center">
                    <p class="lobster">Vous devez vous connecter pour indiquer votre disponibilité pour cette journée.</p>
                    <a href="{{ path('login') }}">
                        <button class="btn btn_form waves-effect waves-light" type="submit" name="action">Se connecter</button>
                    </a>
                </div>
            {% endif %}

            {% for compo in compos %}
                <div class="card-panel center">
                    <div class="row header_compo">
                        <div class="col">
                            <h5>
                                <span class="white-text bulle">{{ compo.idEquipe.division }}</span><br>
                            </h5>
                            <p class="poule">Poule {{ compo.idEquipe.poule }}</p>
                        </div>
                        {% if journee.linkType == 'departementale' %}<h5 class="col">Équipe {{ compo.idEquipe.idEquipe }}</h5>{% endif %}
                        <h5 class="col">
                            {% if compo.lieu == 'home'%} <i style="font-size: 2.1rem;" class="material-icons">home</i>
                            {% elseif compo.lieu == 'away'%} <i style="font-size: 2.1rem;" class="material-icons">directions_car</i>
                            {% endif %}
                        </h5>
                        <h5 class="col">{{ compo.adversaire }}</h5>
                    </div>
                    <table class="striped responsive-table">
                        <tbody>
                            <tr>
                                <td class="rank center"><b>#1</b></td>
                                <td class="center">
                                    {% if compo.idJoueur1 is not null %}
                                        <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur1.classementOfficiel }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur1 is not null %}
                                        <div class="chip">
                                            <img src="{{ compo.idJoueur1.avatar }}" alt="Avatar">
                                            <span>{{ compo.idJoueur1.nom }}</span>
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if compo.idJoueur1 is not null %}
                                        {{ compo.idJoueur1.licence }}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td class="rank center"><b>#2</b></td>
                                 <td class="center">
                                    {% if compo.idJoueur2 is not null %}
                                        <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur2.classementOfficiel }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur2 is not null %}
                                        <div class="chip">
                                            <img src="{{ compo.idJoueur2.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur2.nom }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if compo.idJoueur2 is not null %}
                                        {{ compo.idJoueur2.licence }}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td class="rank center"><b>#3</b></td>
                                <td class="center">
                                    {% if compo.idJoueur3 is not null %}
                                        <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur3.classementOfficiel }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur3 is not null %}
                                        <div class="chip">
                                            <img src="{{ compo.idJoueur3.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur3.nom }}
                                        </div>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if compo.idJoueur3 is not null %}
                                        {{ compo.idJoueur3.licence }}
                                    {% endif %}
                                </td>
                            </tr>

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                    </tbody>
                                </table>
                                <br><div class="divider"></div><br>
                                <table class="striped">
                                    <tbody>
                            {% endif %}


                            {% if (journee.linkType == 'departementale') or (journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                                <tr>
                                    <td class="rank center"><b>#4</b></td>
                                    <td class="center">
                                        {% if compo.idJoueur4 is not null %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur4.classementOfficiel }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur4 is not null %}
                                            <div class="chip">
                                                <img src="{{ compo.idJoueur4.avatar }}" alt="Avatar">
                                                {{ compo.idJoueur4.nom }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if compo.idJoueur4 is not null %}
                                            {{ compo.idJoueur4.licence }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                            {% if journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                                <tr>
                                    <td class="rank center"><b>#5</b></td>
                                    <td class="center">
                                        {% if compo.idJoueur5 is not null %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur5.classementOfficiel }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur5 is not null %}
                                            <div class="chip">
                                            <img src="{{ compo.idJoueur5.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur5.nom }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if compo.idJoueur5 is not null %}
                                            {{ compo.idJoueur5.licence }}
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="rank center"><b>#6</b></td>
                                    <td class="center">
                                        {% if compo.idJoueur6 is not null %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur6.classementOfficiel }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur6 is not null %}
                                            <div class="chip">
                                            <img src="{{ compo.idJoueur6.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur6.nom }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if compo.idJoueur6 is not null %}
                                            {{ compo.idJoueur6.licence }}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}
                                    </tbody>
                                </table>
                                <br><div class="divider"></div><br>
                                <table class="striped  responsive-table">
                                    <tbody>
                        {% endif %}

                                <tr>
                                    <td class="rank center"><b>#7</b></td>
                                    <td class="center">
                                        {% if compo.idJoueur7 is not null %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur7.classementOfficiel }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur7 is not null %}
                                            <div class="chip">
                                                <img src="{{ compo.idJoueur7.avatar }}" alt="Avatar">
                                                {{ compo.idJoueur7.nom }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if compo.idJoueur7 is not null %}
                                            {{ compo.idJoueur7.licence }}
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="rank center"><b>#8</b></td>
                                    <td class="center">
                                        {% if compo.idJoueur8 is not null %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur8.classementOfficiel }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur8 is not null %}
                                            <div class="chip">
                                                <img src="{{ compo.idJoueur8.avatar }}" alt="Avatar">
                                                {{ compo.idJoueur8.nom }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if compo.idJoueur8 is not null %}
                                            {{ compo.idJoueur8.licence }}
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="rank center"><b>#9</b></td>
                                     <td class="center">
                                        {% if compo.idJoueur9 is not null %}
                                            <span class="new badge light-blue darken-3" data-badge-caption="pts">{{ compo.idJoueur9.classementOfficiel }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur9 is not null %}
                                            <div class="chip">
                                                <img src="{{ compo.idJoueur9.avatar }}" alt="Avatar">
                                                {{ compo.idJoueur9.nom }}
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        {% if compo.idJoueur9 is not null %}
                                            {{ compo.idJoueur9.licence }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
                        <a href="{{ path('composition.edit', {type: journee.linkType, compo: compo.id}) }}"
                           class="btn waves-effect waves-light blue lighten-2">Modifier la compo
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="col s2">

            <div class="card-panel bottom_0">
                <div class="row bottom_0">
                    <div class="col s2"><i class="blue-text darken-1 material-icons">playlist_add_check</i></div>
                    <div class="col s10">Sélectionné</div>
                </div>
            </div>

            <table class="striped card-panel dispos">
                <thead>
                    <tr>
                        <th>
                            <h5 class="center">Les dispos</h5>
                        </th>
                    </tr>
                </thead>

                <tbody>
                {% for dispo in dispos %}
                    <tr>
                        <td>
                            <span class="{% if dispo.disponibilite %} green-text lighten-3 {% elseif not dispo.disponibilite %} red-text lighten-3 {% endif %}">{{ dispo.idCompetiteur.nom }}</span>
                        </td>
                        <td class="left">
                            {% if dispo.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for dispoNonDeclaree in joueursNonDeclares %}
                    <tr>
                        <td>
                            <span class="grey-text lighten-3">{{ dispoNonDeclaree.nom }}</span>
                        </td>
                        <td class="left">
                            {% if dispoNonDeclaree.id_competiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
