{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/composition.html.twig' as _composition %}
{% import 'macros/modalContact.html.twig' as _modalContact %}
{% import 'macros/brulages.html.twig' as _brulage %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}
{% import 'macros/virtualPointsClassement.html.twig' as _virtualPointsClassement %}
{% import 'macros/modales/previousResultatsAdversaire.html.twig' as _previousResultatsAdversaire %}

{% block title %}J{{ numJournee }} - {{ championnat.nom }}{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar.html.twig") %}
        <script type="text/javascript" src="{{ asset('JS/chart.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/getClassementVirtualPoints.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/getHistoMatches.min.js') }}"></script>
        <script type="text/javascript" defer src="{{ asset('JS/lastComposAdversaire.min.js') }}"></script>
        <script type="text/javascript" defer src="{{ asset('JS/getClassementRanking.min.js') }}"></script>
        <script type="text/javascript" defer src="{{ asset('JS/toggleCompoValidation.min.js') }}"></script>
    </header>

    <div class="row main">
        <div class="col l3 hide-on-med-and-down">
            {{ _brulage.table(championnat.limiteBrulage, brulages, idEquipes) }}
            {{ _brulage.cardAnniversaires(anniversaires, championnat.limiteBrulage) }}
        </div>

        <div class="col s12 l6">
            {% for message in app.flashes('success') %}
                {{ _flash.message(message, 'green') }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ _flash.message(message, 'orange') }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ numJournee }} - {{ championnat.nom }}</h4>
                {% if journee.undefined %}
                    <h5 class="red-text"><b>Date indéfinie</b></h5>
                {% else %}
                    <h5>{{ journee.dateJournee | format_datetime('long', 'none', locale='fr') | title }}</h5>
                {% endif %}
            </div>

            {% if journeesWithReportedRencontresFormatted %}
                <div class="divProfileCompletionCol center">
                    <div class="divProfileCompletion orange-text text-darken-4">
                        <p><i class="material-icons">update</i><b> Rencontre{{ journeesWithReportedRencontresFormatted|length > 1 ? 's' : '' }} décalée{{ journeesWithReportedRencontresFormatted|length > 1 ? 's' : '' }} - J{{ numJournee }}</b></p>

                        <div class="champsManquants">
                            <ul>
                                {% for rencontre in journeesWithReportedRencontresFormatted %}
                                    <li>
                                        <b>-</b> Match de la <b>{{ rencontre.idEquipe.numero }}</b> <b>{{ rencontre.adversaire ? 'contre ' ~ rencontre.adversaire : '' }} {{ (rencontre.idJournee.dateJournee > rencontre.dateReport ? ' avancé' : ' reporté') }}</b> au <b>{{ rencontre.dateReport | format_datetime(pattern='EEEE d LLLL y', locale='fr') | title }}</b>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% set userClassementLicenceIndefinies = not (app.user.licence and app.user.classementOfficiel) %}
            {# Certificat médical invalide à partir de mai #}
            {% set userCertifMedicalInvalid = app.user.certifMedicalInvalid.status and ("now" | date('m')) >= 4 %}
            {% set hasJoueursCertifMedicPerim = countJoueursCertifMedicPerim and app.user.admin %}
            {% set hasJoueursWithoutLicenceClassoff = (joueursWithoutLicence.count or competiteursWithoutClassement.count) and (app.user.admin or app.user.capitaine) %}

            {% if app.user.competiteur %}
                {% if journeeStillEditable(journee.latestDate) %}
                    <div class="card-panel center setDispoCard"
                            {% if userClassementLicenceIndefinies and (userCertifMedicalInvalid or hasJoueursCertifMedicPerim or hasJoueursWithoutLicenceClassoff) %}
                                style="margin-bottom: 10px;"
                            {% endif %}
                    >
                        {% if not app.user.licence or not app.user.classementOfficiel %}
                            <p class="red-text lighten-2">
                                <i class="material-icons red-text">warning_amber</i>
                                {% if app.user.licence and not app.user.classementOfficiel %}
                                    Votre <b>classement</b> n'est pas renseigné
                                {% elseif not app.user.licence and app.user.classementOfficiel %}
                                    Votre <b>licence</b> n'est pas renseignée
                                {% elseif not app.user.licence and not app.user.classementOfficiel %}
                                    Votre <b>classement</b> et <b>licence</b> ne sont pas renseignés
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if disponible != -1 %}
                            {% if disponible == 1 %}
                                <h5 class="unsetTitle">Vous vous êtes déclaré <span class="green-text">disponible</span></h5>
                                <a {% if selection %}onclick="return confirm('Vous serez désélectionné de l\'équipe {{ selection }}. Continuer ?')"{% endif %} href="{{ path('journee.disponibilite.update', {dispoJoueur: dispoJoueur, dispo: 0}) }}">
                                    <button class="btn btn_form waves-effect red" type="submit" name="action">Se déclarer indisponible</button>
                                </a>
                            {% elseif disponible == 0 %}
                                <h5 class="unsetTitle">Vous vous êtes déclaré <span class="red-text">indisponible</span></h5>
                                <a href="{{ path('journee.disponibilite.update', {dispoJoueur: dispoJoueur, dispo: 1}) }}">
                                    <button class="btn btn_form waves-effect green" type="submit" name="action">Se déclarer disponible</button>
                                </a>
                            {% endif %}
                            {% if selection %}
                                <h6 class="lobster_2 pastille reset" style="padding: 10px; margin-top: 14px; background-color: #0c3a69;">
                                    Vous êtes sélectionné en équipe {{ selection }}
                                </h6>
                            {% endif %}
                        {% else %}
                            <h5 class="unsetTitle">Êtes-vous disponible pour cette journée ?</h5>
                            <div style="display: flex; justify-content: space-evenly">
                                <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, dispo: 1}) }}">
                                    <button class="btn btn_form waves-effect green" type="submit" name="action">Disponible</button>
                                </a>
                                <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, dispo: 0}) }}">
                                    <button class="btn btn_form waves-effect red" type="submit" name="action">Indisponible</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if (app.user.capitaine or app.user.admin) and equipesSansDivision | length %}
                    <div class="card-panel center cardTeamsWithoutDiv">
                        <p class="red-text" style="margin-bottom: 0;"><b>{{ equipesSansDivision | listeEquipesSansDivision }}</b></p>
                        <a href="{{ path('backoffice.equipes', {focusedTab: championnat.nom | customSlug}) }}">Corriger</a>
                    </div>
                {% endif %}
            {% endif %}

            {% if userCertifMedicalInvalid %}
                <div class="card-panel center setDispoCard"
                     style="{% if userClassementLicenceIndefinies %}margin-top: 10px;{% endif %}{% if hasJoueursCertifMedicPerim or hasJoueursWithoutLicenceClassoff %}margin-bottom: 10px;{% endif %}"
                >
                    <p class="red-text lighten-2"><i class="material-icons red-text">health_and_safety</i>
                        {{ app.user.certifMedicalInvalid.message | raw }}
                    </p>
                </div>
            {% endif %}

            {% if hasJoueursCertifMedicPerim %}
                <div class="card-panel center setDispoCard"
                        {% if userCertifMedicalInvalid or hasJoueursWithoutLicenceClassoff or userClassementLicenceIndefinies %}
                    style="
                    {% if userCertifMedicalInvalid or userClassementLicenceIndefinies %}margin-top: 10px;{% endif %}
                            {% if hasJoueursWithoutLicenceClassoff %}margin-bottom: 10px;{% endif %}"
                        {% endif %}>
                    <p class="red-text lighten-2"><i class="material-icons">health_and_safety</i>
                        Il y a <b>{{ countJoueursCertifMedicPerim }} compétiteur{{ countJoueursCertifMedicPerim > 1 ? 's' : '' }}</b> dont le certificat médical devra être renouvelé pour la rentrée <b>{{ 'now' | date('Y') }}/{{ 'now' | date('Y')+1 }}</b>
                        <br><a href="{{ path('backoffice.competiteurs') }}">Gérer et alerter ici</a>
                    </p>
                </div>
            {% endif %}

            {% if hasJoueursWithoutLicenceClassoff %}
                <div class="card-panel center setDispoCard"
                     {% if userCertifMedicalInvalid or hasJoueursCertifMedicPerim or userClassementLicenceIndefinies %}style="margin-top: 10px;" {% endif %}
                >
                    <p class="red-text lighten-2"><i class="material-icons">warning_amber</i>
                        {{ joueursWithoutLicence.message | raw }}{{ competiteursWithoutClassement.message | raw }}
                        <br><a href="{{ path('backoffice.competiteurs') }}">Gérer ici</a>
                    </p>
                </div>
            {% endif %}

            {% if isPreRentreeLaunchable and app.user.admin %}
                <div class="card-panel center setDispoCard">
                    <p class="green-text lighten-2"><i class="material-icons">done</i>
                        La phase est terminée
                        <br><a href="{{ path('backoffice.settings.update') }}">Préparer la prochaine phase ici</a>
                    </p>
                </div>
            {% endif %}

            <div class="hide-on-large-only center-align">
                {{ _virtualPointsClassement.labelVirtualPoints(1, championnat.idChampionnat) }}
            </div>

            <div class="hide-on-large-only center-align">
                {{ _disponibilites.labelDispoSelec(selectedPlayers | length, nbDispos, nbMinJoueurs, nbMaxSelectedJoueurs, (compos | length), true, nbMaxPotentielPlayers) }}
            </div>

            {% if compos | length %}
                {% for compo in compos %}
                    <div class="center card-panel">
                        <div class="row header_compo">
                            {% if not compo.isOver %}
                                <div id="pastilleBorder{{ compo.id }}" class="pastilleBorder {% if compo.isValidationCompo %}validee{% else %}enAttente{% endif %}">
                                    <div class="pastilleBorderContent" style="display: flex;align-items: center; justify-content: center;">
                                        <div id="pastilleBorderContentText{{ compo.id }}">
                                            {% if compo.isValidationCompo %}
                                                <i class="material-icons">checklist_rtl</i> Équipe confirmée
                                            {% else %}
                                                <i class="material-icons">rule</i> Équipe non confirmée
                                            {% endif %}
                                        </div>
                                        {% if "ROLE_CAPITAINE" in app.user.roles or app.user.admin %}
                                            <div>
                                                <i class="material-icons blue-text text-lighten-1 swap-validation" id="compoValidation{{ compo.id }}" onclick="toggleCompoValidation('{{ compo.id }}')">
                                                    swap_horizontal_circle
                                                </i>
                                            </div>
                                            <div id="preloader{{ compo.id }}" class="preloader micro" style="display: none">
                                                <div class="preloader-wrapper micro active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}

                            {% if compo.reporte and not journee.undefined %}
                                <span style="margin-top: 0; margin-bottom: 10px; padding-left: 4px; padding-right: 4px;" class="col s12 orange-text">
                                <i class="material-icons">update</i>
                                <b>{{ journee.dateJournee > compo.dateReport ? 'Avancé' : 'Reporté' }} au {{ compo.dateReport | format_datetime(pattern='EEEE d LLLL y', locale='fr') | title }}</b>
                                </span>
                            {% endif %}

                            {% if compo.villeHost %}
                                <span style="margin-top: 0; margin-bottom: 10px; padding-left: 4px; padding-right: 4px;" class="col s12 orange-text">
                                    <i class="material-icons">wrong_location</i>
                                    <b>Salle indisponible : rencontre à {{ compo.villeHost }}</b>
                                </span>
                            {% endif %}

                            {% if compo.consigne %}
                                <span style="margin-top: 0; margin-bottom: 10px; padding-left: 4px; padding-right: 4px;" class="col s12 orange-text">
                                    <i class="material-icons">warning</i>
                                    <b>{{ compo.consigne }}</b>
                                </span>
                            {% endif %}

                            <div class="col {% if not compo.exempt %}s4 m2{% else %}s3 m4{% endif %}" style="padding-right: 0">
                                <h5>
                                    <span class="white-text divisionBubble">{% if compo.idEquipe.idDivision.shortName | length == 1 %}&thinsp;{% endif %}{{ compo.idEquipe.idDivision.shortName }}{% if compo.idEquipe.idDivision.shortName | length == 1 %}&thinsp;{% endif %}</span><br>
                                </h5>
                                <div class="poule">
                                    {% if compo.idEquipe.idPoule and compo.idEquipe.lienDivision %}
                                    <a onclick="getClassementPoule('{{ compo.idEquipe.lienDivision | raw }}', '{{ compo.idEquipe.numero }}', '{{ compo.idEquipe.idDivision.shortName }}', '{{ compo.idEquipe.idPoule.poule }}')" class="btn-small blue lighten-1 waves-effect modal-trigger" href="#modalClassement{{ compo.idEquipe.numero }}">
                                        {% endif %}
                                        Poule
                                        {% if compo.idEquipe.idPoule %}
                                            {{ compo.idEquipe.idPoule.poule }}
                                        {% else %}
                                            <span class="red-text">?</span>
                                        {% endif %}
                                        {% if compo.idEquipe.idPoule and compo.idEquipe.lienDivision %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col {% if compo.exempt %}s4{% else %}m3 s4{% endif %}" style="padding-left: 0; padding-right: 0;">
                                <div class="row" style="margin-top: 12px">
                                    <div class="col offset-s4" style="padding-left: 0; padding-right: 6px;">
                                        <h5 class="lobster_2" style="margin-top: 3px;">
                                            Équipe {{ compo.idEquipe.numero }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            {% if not compo.exempt %}
                                <div class="col s4 hide-on-med-and-up" style="padding-left: 0; padding-right: 0;">
                                    <h5 style="margin-top: 12px; margin-bottom: 0;">
                                        {% if compo.domicile is null %}
                                            <i class='material-icons red-text'>location_off</i>
                                        {% else %}
                                            <i class="material-icons iconPlace{% if compo.villeHost %} orange-text darken-4{% endif %}">
                                                {% if compo.domicile %}
                                                    home
                                                {% else %}
                                                    directions_car
                                                {% endif %}
                                            </i>
                                        {% endif %}
                                    </h5>
                                </div>
                            {% endif %}

                            {% if not compo.exempt %}
                                <div class="col m2 hide-on-small-only">
                                    <h5 style="margin-top: 12px; margin-bottom: 0;">
                                        {% if compo.domicile is null %}
                                            <i class='material-icons red-text'>location_off</i>
                                        {% else %}
                                            <i class="material-icons iconPlace{% if compo.villeHost %} orange-text darken-4{% endif %}">
                                                {% if compo.domicile %}
                                                    home
                                                {% else %}
                                                    directions_car
                                                {% endif %}
                                            </i>
                                        {% endif %}
                                    </h5>
                                </div>
                            {% endif %}

                            <div class="col {% if not compo.exempt %}m5 hide-on-small-only{% else %}s5 m4 exempt{% endif %}">
                                {% if compo.exempt %}
                                    <h5 class="lobster_2 pastille reset red">Exemptée</h5>
                                {% else %}
                                    <div class="row" style="margin-top: 12px">
                                        <div class="col offset-s2" style="padding-left: 0; padding-right: 6px;">
                                            {% if compo.adversaire is null %}
                                                <h5 class="lobster_2 red-text" style="margin-top: 3px">Adversaire indéfini</h5>
                                            {% else %}
                                                <a style="padding-left: 5px; padding-right: 5px;  margin-top: 0; margin-bottom: 0; font-family: Lobster Two, cursive; text-transform: none;" href="#modalGPS{{ compo.id }}" class="btn-small blue lighten-1 waves-effect modal-trigger">
                                                    <span style="font-size: 20px">{{ compo.adversaire | title }}</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                        {% if compo.idEquipe.lienDivision and compo.adversaire is not null %}
                                            <div class="col" style="padding-left: 0; padding-right: 0;">
                                                <a onclick="getLastComposAdversaire('{{ compo.adversaire }}', '{{ compo.idEquipe.lienDivision | raw }}', '{{ compo.idEquipe.numero }}')" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger" href="#modalJoueursAdv{{ compo.idEquipe.numero }}">
                                                    <i class="material-icons" style="font-size: 1.5rem;">groups</i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        {% if not compo.exempt %}
                            <div class="hide-on-med-and-up adversaireLine center">
                                <div class="m5">
                                    <div class="advDefined">
                                        <div>
                                            {% if compo.adversaire is null %}
                                                <h5 class="lobster_2 red-text advUndefined">Adversaire indéfini</h5>
                                            {% else %}
                                                <a style="padding-left: 5px; padding-right: 5px; margin-top: 8px; margin-bottom: 10px; font-family: Lobster Two, cursive; text-transform: none;" href="#modalGPS{{ compo.id }}" class="btn-small blue lighten-1 waves-effect modal-trigger">
                                                    <span style="font-size: 20px">{{ compo.adversaire | title }}</span>
                                                </a>
                                            {% endif %}
                                        </div>
                                        {% if compo.idEquipe.lienDivision and compo.adversaire is not null %}
                                            <div>
                                                <a style="margin-bottom: 10px; margin-top: 8px;" onclick="getLastComposAdversaire('{{ compo.adversaire }}', '{{ compo.idEquipe.lienDivision | raw }}', '{{ compo.idEquipe.numero }}')" class="btn-small btn-floating blue lighten-1 waves-effect modal-trigger" href="#modalJoueursAdv{{ compo.idEquipe.numero }}">
                                                    <i class="material-icons">groups</i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if (app.user.capitaine or app.user.admin) and not compo.isOver %}
                            <p class="center" style="margin: 0;"><b>N° {{ club_diminutif }} : {{ club_id }}</b></p>
                        {% endif %}

                        <table class="{% if compo.idEquipe.idDivision.nbJoueurs > 4 %}striped_table {% endif %}responsive-table composition-equipe">
                            <tbody>
                            {% for i in 0..(compo.idEquipe.idDivision.getNbJoueurs - 1) %}
                                {{ _composition.joueur(i, compo.idJoueurN(i), compo.idEquipe.idDivision.getNbJoueurs, brulages, numJournee, loop.parent.loop.index0, compo.getSelectedPlayers, championnat.j2Rule, compo.idEquipe.numero) }}
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if compo.selectedPlayers | length == compo.idEquipe.idDivision.nbJoueurs %}
                            {% set listeRemplacants = listeRemplacants(compo.idEquipe.numero, brulages, disponibilitesJournee, selectedPlayers) %}
                            {% if listeRemplacants | length %}
                                <div class="blue pastille reset remplacants">
                                    <div class="header">
                                        <p>
                                            <i class="material-icons tooltipped" data-position="top" data-tooltip="Remplaçant : si son équipe est complète, c'est un joueur déclaré disponible, non brûlé et non sélectionné dans une équipe">help</i>
                                        </p>
                                        <p>
                                            <b>Remplaçant{% if listeRemplacants | length > 1 %}s{% endif %}</b><br>
                                        </p>
                                        <p></p>
                                    </div>
                                    {{ listeRemplacants | join(', ', ' et ') }}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if (app.user.capitaine or app.user.admin) and not compo.isOver %}
                            <div style="margin-bottom: 10px; margin-top: 5px;">
                                <a id="compoEdition{{ compo.id }}" href="{{ path('composition.edit', {type: championnat.idChampionnat, compo: compo.id}) }}" class="center-align btn waves-effect green lighten-2{% if compo.isValidationCompo %} hide{% endif %}">
                                    <i class="material-icons">group_add</i>
                                </a>
                                {% if not compo.isEmpty %}
                                    {% set getListContactSelectedPlayers = compo.getListContactSelectedPlayers(app.user.idCompetiteur) %}
                                    {% if getListContactSelectedPlayers.nbJoueursWithoutMe > 0 %}
                                        <a href="#modal{{ compo.id }}" class="center-align btn waves-effect blue lighten-2 modal-trigger">
                                            <i class="material-icons campaign">campaign</i>
                                        </a>
                                        {{ _modalContact.modalAlertPlayers
                                            (
                                            compo.id,
                                            getListContactSelectedPlayers,
                                            'Convoquer les joueurs',
                                            'mailto:' ~ getListContactSelectedPlayers.mail.toString ~ compo.objetAlertPlayers ~ compo.messageAlertPlayers(app.user.prenom),
                                            'sms:' ~ getListContactSelectedPlayers.sms.toString ~ ';?' ~ compo.messageAlertPlayers(app.user.prenom),
                                            false
                                        ) }}
                                    {% endif %}
                                    <a onclick="return confirm('Êtes-vous sûr de vider la compo ?')" class="center-align btn waves-effect red lighten-2" href="{{ path('composition.vider', {type: championnat.idChampionnat, idJournee: numJournee, idCompo: compo.id}) }}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}

                        {{ _modalContact.modalGPS
                            (
                            compo.id,
                            compo.adresse,
                            compo.complementAdresse,
                            compo.hrefMapsAdresse,
                            compo.hrefWazeAdresse,
                            compo.site,
                            compo.telephone,
                            compo.adversaire,
                            compo.villeHost,
                            compo.consigne
                        ) }}

                        {% if not compo.exempt %}
                            {{ _previousResultatsAdversaire.previousResultats(compo.idEquipe.numero, compo.adversaire | title) }}
                        {% endif %}
                    </div>

                    <div id="modalClassement{{ compo.idEquipe.numero }}" class="modal modal-fixed-footer modal-medium center">
                        <div class="modal-content">
                            <div id="classementContent{{ compo.idEquipe.numero }}" style="padding-right: 4px;padding-left: 4px;">
                                <div style="display: flex; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0;">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">FERMER</a>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <div class="center card-panel">
                    <span class="lobster_2 missingTitle">Aucune équipe valide enregistrée</span>
                </div>
            {% endif %}
        </div>

        <div class="hide-on-large-only">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">
                        <div class="chip">
                            <i class="blue-text material-icons" style="vertical-align: sub;">people</i>
                            <span class="lobster">Disponibilités</span>
                        </div>
                        <i class="caret material-icons">keyboard_arrow_down</i>
                    </div>
                    <div class="collapsible-body">
                        <div class="center-align">
                            {{ _disponibilites.table(objetJoueursSansDispos, messageJoueursSansDispo, joueursNonDeclaresContact, selectedPlayers, disponibilitesJournee, nbDispos, nbNonDeclares, allDisponibilites, championnat.slug, nbMinJoueurs, nbMaxSelectedJoueurs, 'mobile', (compos | length), nbMaxPotentielPlayers, journee.isOver) }}
                        </div>
                    </div>
                </li>
                {% if championnat.limiteBrulage %}
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <i class="red-text material-icons" style="vertical-align: sub;">whatshot</i>
                                <span class="lobster">Brûlage</span>
                            </div>
                            <i class="caret material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="collapsible-body">
                            {{ _brulage.table(championnat.limiteBrulage, brulages, idEquipes) }}
                        </div>
                    </li>
                {% endif %}
            </ul>
            <div class="col s12 l6">
                {{ _brulage.cardAnniversaires(anniversaires, true) }}
            </div>
        </div>

        <div class="col l3 hide-on-med-and-down">
            <div class="center-align">
                <div class="hide-on-med-and-down">
                    {{ _virtualPointsClassement.labelVirtualPoints(2, championnat.idChampionnat) }}
                </div>
                {{ _disponibilites.table(objetJoueursSansDispos, messageJoueursSansDispo, joueursNonDeclaresContact, selectedPlayers, disponibilitesJournee, nbDispos, nbNonDeclares, allDisponibilites, championnat.slug, nbMinJoueurs, nbMaxSelectedJoueurs, 'pc', (compos | length), nbMaxPotentielPlayers, journee.isOver) }}
            </div>
        </div>

        {% if linkNextJournee %}
            <div class="fixed-action-btn">
                <a class="btn-floating light-blue tooltipped pulse hide-on-med-and-down" href="{{ linkNextJournee }}" data-position="left" data-tooltip="Aller à la journée à venir">
                    <i class="large material-icons">event</i>
                </a>
            </div>
        {% endif %}

        {# Modale des classement des points virtuels #}
        {{ _virtualPointsClassement.modaleGeneralRanking(championnat.idChampionnat) }}

        {# Modale de l'historique des matches #}
        {% if app.user.competiteur %}
            {% import 'macros/modales/histoMatches.html.twig' as _histoMatches %}
            {{ _histoMatches.histoMatches() }}
        {% endif %}
    </div>

    <script type="text/javascript">
        getPersonnalClassementVirtuel({{ app.user.licence ?: 'null' }});
    </script>
{% endblock %}