{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/composition.html.twig' as _composition %}
{% import 'macros/brulages.html.twig' as _brulage %}
{% import 'macros/disponibilites.html.twig' as _disponibilites %}
{% import 'macros/classement.poule.html.twig' as _poule %}
{% import 'macros/index.html.twig' as _index %}

{% block title %}J{{ journee.idJournee}} - {{ journee.type }}{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
    </header>

    <div class="row main">
        <div class="col l3 hide-on-small-only">
            {{ _brulage.table(journee.linkType, brulages) }}
        </div>

        <div class="col s12 m7">
            {% for message in app.flashes('success') %}
                {{ _flash.message(message, 'green') }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ _flash.message(message, 'red') }}
            {% endfor %}

            {% for message in app.flashes('warning') %}
                {{ _flash.message(message, 'orange') }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ journee.idJournee }} - {{ journee.type }}</h4>
                {% if journee.undefined %}
                    <h5 class="red-text"><b>Date indéterminée</b></h5>
                {% else %}
                    <h5>{{ journee.date | format_datetime('long', 'none', locale='fr') }}</h5>
                {% endif %}
            </div>

            {% if (selectedPlayers|length == 16 and journee.linkType == 'departementale') or (selectedPlayers|length == 12 and journee.linkType == 'paris') %}
                <div class="complete_compos card-panel center green lighten-1 title_journee">
                    <div class="white-text">
                        <h5><i class="material-icons">check_circle</i> Kompositions komplètes</h5>
                    </div>
                </div>
            {% else %}
                <div class="hide-on-med-and-up">
                    {{ _disponibilites.labelDispoSelec(selectedPlayers, journee.linkType, nbDispos) }}
                </div>
            {% endif %}

            {% if 'ROLE_VISITEUR' not in app.token.roleNames %}
                <div class="card-panel center" style="padding-top: 4px; padding-bottom: 14px;">

                    {% if disponible is not null %}
                        {% if disponible == 1 %}
                            <h5>Vous vous êtes déclaré <span class="green-text">disponible</span></h5>
                            {% if stillEditable(journee) %}
                                <a href="{{ path('journee.disponibilite.update', {type: journee.linkType, dispoJoueur: dispoJoueur.idDisponibilite, dispo: 0}) }}">
                                    <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                                </a>
                            {% endif %}
                        {% elseif disponible == 0 %}
                            <h5>Vous vous êtes déclaré <span class="red-text">indisponible</span></h5>
                            {% if stillEditable(journee) %}
                                <a href="{{ path('journee.disponibilite.update', {type: journee.linkType, dispoJoueur: dispoJoueur.idDisponibilite, dispo: 1}) }}">
                                    <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if stillEditable(journee) %}
                            <h5>{{ app.user.username | capitalize }}, êtes-vous disponible pour cette journée ?</h5>
                            <div class="row">
                                <div class="col s6">
                                    <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 1}) }}">
                                        <button class="btn btn_form waves-effect green lighten-2 waves-light" type="submit" name="action">Disponible</button>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 0}) }}">
                                        <button class="btn btn_form waves-effect red lighten-2 waves-light" type="submit" name="action">Indisponible</button>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <h5>{{ app.user.username | capitalize }}, vous n'avez pas déclaré votre disponibilité ...</h5>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}

            {% for compo in compos %}
                <div class="center card-panel">
                    <div class="row header_compo">

                        {% if compo.reporte %}<span style="margin-top: 0; margin-bottom: 4px;" class="col s12 orange-text"><i class="material-icons">update</i><b>Match reporté au {{ compo.dateReport | format_datetime('long', 'none', locale='fr') }}</b></span>{% endif %}
                        {% if compo.hosted %}<span style="margin-top: 0; margin-bottom: 15px;" class="col s12 orange-text"><i class="material-icons">error_outline</i><b>Salle indisponible : rencontre à Herblay</b></span>{% endif %}

                        <div class="row hide-on-med-and-up" style="margin-bottom: 0;">
                            <div class="col {% if not compo.exempt %}s9 m5{% else %}s12{% endif%}">
                                {% if compo.exempt %}
                                    <h5 style="margin-top: 0;" class="lobster_2{% if compo.exempt %} pastille exempt red{% endif %}">Exemptée</h5>
                                {% else %}
                                    <h5 class="lobster_2" style="margin-top: 0;">{{ compo.adversaire | title }}</h5>
                                {% endif %}
                            </div>

                            {% if not compo.exempt %}
                                <div class="col s3">
                                    <h5 style="margin-top: 0;">
                                        {% if compo.domicile%} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text{% else %}green-text{% endif%} darken-4 material-icons">home</i>
                                        {% else%} <i style="font-size: 2.1rem;" class="green-text material-icons">directions_car</i>
                                        {% endif %}
                                    </h5>
                                </div>
                            {% endif %}
                        </div>

                        <div class="col s4 m2">
                            <h5>
                                <span class="white-text bulle">{% if compo.idEquipe.division.shortName|length == 1 %}&thinsp;{% endif %}{{ compo.idEquipe.division.shortName }}{% if compo.idEquipe.division.shortName|length == 1 %}&thinsp;{% endif %}</span><br>
                            </h5>
                            <p class="poule" style="margin-bottom: 0;">Poule <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.poule.poule }}</span></p>
                        </div>

                        <div class="col s4 m3">
                            <h5 class="lobster_2{% if compo.isFull %} pastille green{% endif %}">Équipe {{ compo.idEquipe.idEquipe }}</h5>
                        </div>

                        <div class="col s4 m1">
                            <h5 class="hide-on-small-only">
                                {% if not compo.exempt %}
                                    {% if compo.domicile%} <i style="font-size: 2.1rem;" class="{% if compo.hosted %}orange-text{% else %}green-text{% endif%} material-icons">home</i>
                                    {% else%} <i style="font-size: 2.1rem;" class="green-text material-icons">directions_car</i>
                                    {% endif %}
                                {% endif %}
                            </h5>

                            <div class="hide-on-med-and-up" style="padding-left: 20px; padding-right: 20px;">
                                <a style="width: 100%; margin-bottom: 0; margin-top: 10px;" class="card-panel modal-trigger waves-effect waves-block btn black-text blue lighten-3" href="#classement{{ compo.idEquipe.idEquipe }}"><i class="material-icons">equalizer</i></a>
                            </div>
                        </div>

                        <div class="col s12 m5 hide-on-small-only">
                            {% if compo.exempt %}
                                <h5 class="lobster_2{% if compo.exempt %} pastille exempt red{% endif %}">Exemptée</h5>
                            {% else %}
                                <h5 class="lobster_2">{{ compo.adversaire | title }}</h5>
                            {% endif %}
                        </div>

                        <div class="hide-on-small-only col m1" style="padding-left: 0;">
                            <a style="padding-left: 0; padding-right: 0; margin-top: 20%;" class="card-panel modal-trigger waves-effect waves-block btn black-text blue lighten-3" href="#classement{{ compo.idEquipe.idEquipe }}"><i class="material-icons">equalizer</i></a>
                        </div>


                        <div id="classement{{ compo.idEquipe.idEquipe }}" class="modal modal-fixed-footer">
                            <div class="modal-content" style="padding: 0 1%;">
                                {{ _poule.classement(classement[compo.idEquipe.idEquipe]) }}
                            </div>
                            <div class="modal-footer">
                                {% if classement is not empty %} <h6 class="valign-wrapper left"><b>{{ compo.idEquipe.division.shortName }} - Poule <span style="font-size: 95%; font-family: 'Lora', serif;">{{ compo.idEquipe.poule.poule }}</span></b></h6> {% endif %}
                                <a href="#!" class="modal-close btn waves-effect waves-light blue lighten-2 right">OK</a>
                            </div>
                        </div>
                    </div>

                    <p class="center" style="margin: 0;"><b>N° club : 08951331</b></p>

                    <table class="{% if compo.idEquipe.idEquipe == 1 and compo.idJournee.linkType == 'paris' %}paris_table {% endif%}responsive-table">
                        <tbody>
                        {{ _composition.tr("1", compo.idJoueur1) }}
                        {{ _composition.tr("2", compo.idJoueur2) }}
                        {{ _composition.tr("3", compo.idJoueur3) }}

                        {% if (journee.linkType == 'departementale') or (journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1) %}
                            {{ _composition.tr("4", compo.idJoueur4) }}
                        {% endif %}

                        {% if journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1 %}
                            {{ _composition.tr("5", compo.idJoueur5) }}
                            {{ _composition.tr("6", compo.idJoueur6) }}
                            {{ _composition.tr("7", compo.idJoueur7) }}
                            {{ _composition.tr("8", compo.idJoueur8) }}
                            {{ _composition.tr("9", compo.idJoueur9) }}
                        {% endif %}
                        </tbody>
                    </table>

                    {% if ('ROLE_CAPITAINE' in app.token.roleNames) and (stillEditable(journee)) %}
                        <div style="margin-bottom: 10px; margin-top: 5px;">
                            {% if journee.linkType == 'departementale' %}
                                {% if compo.isEmpty %} {{ _index.btnCreateEditCompo(journee.linkType, compo.id, 'Créer la compo', 'green') }}
                                {% else %}
                                    {{ _index.btnCreateEditCompo(journee.linkType, compo.id, 'Modifier la compo', 'blue') }}
                                    {{ _index.btnEmptyCompo(journee.linkType, compo.id) }}<br>
                                    {{ _index.btnContact(journee.linkType, compo) }}
                                {% endif %}
                            {% elseif journee.linkType == 'paris' and compo.idEquipe.idEquipe == 1%}
                                {% if compo.isEmptyHaut %} {{ _index.btnCreateEditCompo(journee.linkType, compo.id, 'Créer la compo', 'green') }}
                                {% else %}
                                    {{ _index.btnCreateEditCompo(journee.linkType, compo.id, 'Modifier la compo', 'blue') }}
                                    {{ _index.btnEmptyCompo(journee.linkType, compo.id) }}<br>
                                    {{ _index.btnContact(journee.linkType, compo) }}
                                {% endif %}
                            {% elseif journee.linkType == 'paris' and compo.idEquipe.idEquipe == 2%}
                                {% if compo.isEmptyBas %} {{ _index.btnCreateEditCompo(journee.linkType, compo.id, 'Créer la compo', 'green') }}
                                {% else %}
                                    {{ _index.btnCreateEditCompo(journee.linkType, compo.id, 'Modifier la compo', 'blue') }}
                                    {{ _index.btnEmptyCompo(journee.linkType, compo.id) }}<br>
                                    {{ _index.btnContact(journee.linkType, compo) }}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="col s12 m2">
            {{ _disponibilites.table(joueursNonDeclares, selectedPlayers, dispos, nbDispos, allDisponibilitesDepartementales, allDisponibiliteParis, journee.linkType) }}
        </div>

        <div class="col s12 hide-on-med-and-up">
            {{ _brulage.table(journee.linkType, brulages) }}
        </div>
    </div>

{% endblock %}