{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="{{ asset('ckeditor5/ckeditor.scss') }}" media="screen,projection"/>
    {% if typePage == 'infos' %}
        <script type="text/javascript" defer src="{{ asset('JS/uploadFichier.min.js') }}"></script>
    {% endif %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar" ~ (isBackOffice ? '_backoffice' : '') ~ ".html.twig") %}
    </header>

    <div class="container" id="settings-page">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4 style="font-family: Lobster, cursive">{{ title }}</h4>
        </div>

        <div class="card-panel" id="ckeditor-render">
            <div class="row">
                <p style="text-align: center; margin-bottom: 0;"><b><i class="material-icons prefix">cloud_download</i> Fichiers</b></p>
                {% if fichiersUploades|length %}
                    <div class="col s12 m8 offset-m2 l8 offset-l2">
                        <ul class="collection listeFichiersUploades">
                            {% for fichier in fichiersUploades %}
                                <li class="collection-item">
                                    <a target="_blank" href="{{ fichier.nomFichier }}">{{ fichier.nomFichier }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p style="text-align: center; margin-bottom: 0;"><i>Pas de fichier uploadé</i></p>
                {% endif %}
            </div>
            <br>

            {% if showConcernedPlayers %}
                <h5><b>Compétiteurs concernés</b></h5>
                {% if concernedPlayers|length %}
                    <table class="striped responsive-table">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Catégorie</th>
                            <th>N° licence</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for player in concernedPlayers %}
                            <tr>
                                <td>{{ player.nom }}</td>
                                <td>{{ player.prenom }}</td>
                                <td {% if player.categorieAgeLabel is null %}class="red-text"{% endif %}>{{ player.categorieAgeLabel ?: 'Âge indéfini' }}</td>
                                <td>{{ player.licence }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="center"><i>Aucun joueur ne participe au {{ label | lower }} pour le moment ...</i></p>
                {% endif %}
            {% endif %}

            <p {% if not HTMLContent %}class="center"{% endif %}>
                {% if HTMLContent %}{{ HTMLContent | raw }}
                {% else %}<i>Il n'y a pas de contenu pour le moment ...</i>
                {% endif %}
            </p>
        </div>

        {% if app.user.admin %}
            <div class="card-panel" id="settings-form">
                {{ form_start(form) }}
                <div class="center">
                    <h5 class="adminTitle">Formulaire d'édition administrateur</h5><br>

                    <div class="row">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <b><i class="material-icons prefix">short_text</i> Titre</b>{{ form_row(form.title) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <b><i class="material-icons prefix">cloud_download</i> Fichiers</b>
                        </div>

                        <div class="col s12 m10 offset-m1 l8 offset-l2">
                            {% if fichiersUploades|length %}
                                <ul class="collection listeFichiersUploades">
                                    {% for fichier in fichiersUploades %}
                                        <li class="collection-item">
                                            <div class="row">
                                                <div class="col s9">
                                                    <p>{{ fichier.nomFichier }}</p>
                                                </div>
                                                <div class="col s3">
                                                    <button type="button" class="waves-effect btn red"><i class="material-icons">delete</i></button>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p style="text-align: center; margin-bottom: 0;"><i>Pas de fichier uploadé</i></p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Uploader un fichier</span>
                            <input type="file" name="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf" id="uploadFile">
                        </div>
                        <div class="file-path-wrapper">
                            <label for="inputTextUploadFile"></label>
                            <input class="file-path validate" id="inputTextUploadFile" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                    <br>

                    <div id="editor"></div>

                    <br>
                    <button class="btn waves-effect blue lighten-2 btn_gestion">
                        Modifier
                    </button>
                </div>
                {{ form_end(form) }}
            </div>

            <script type="text/javascript">
                let ckeditor_content = '{{ HTMLContent }}';
                let idSetting = '{{ idSetting }}';
            </script>
            <script type="text/javascript" src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
            <script type="text/javascript" src="{{ asset('JS/ckeditor5.min.js') }}"></script>
        {% endif %}
    </div>
{% endblock %}