{% extends 'base.html.twig' %}

{% block title %}Journee 1{% endblock %}

{% block body %}

    <div class="container">
        <div class="center titre">
            <h2>Journée {{ app.request.pathinfo | last}}</h2>
        </div>

        {% for compo in journee %}
            <div class="cadre center">
                <div class="row">
                    <h5 class="col s2">Equipe n°{{ compo.idEquipe }}</h5>
                    <h5 class="col s3">Journée n°{{ compo.journee }}</h5>
                    <h5 class="col s3">Date : {{ compo.date | date("m/d/Y")}}</h5>
                    <h5 class="col s4">Lieu : {{ compo.lieu }}</h5>
                </div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Composition</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>#1</b></td>
                            <td>
                                {% if compo.idJoueur1 is not null %}
                                    {{ compo.idJoueur1.nom }} {% if compo.idJoueur1.role == "C" %}<span class="new badge red" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>#2</b></td>
                            <td>
                                {% if compo.idJoueur2 is not null %}
                                    {{ compo.idJoueur2.nom }} {% if compo.idJoueur2.role == "C" %}<span class="new badge red" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>#3</b></td>
                            <td>
                                {% if compo.idJoueur3 is not null %}
                                    {{ compo.idJoueur3.nom }} {% if compo.idJoueur3.role == "C" %}<span class="new badge red" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>#4</b></td>
                            <td>
                                {% if compo.idJoueur4 is not null %}
                                    {{ compo.idJoueur4.nom }} {% if compo.idJoueur4.role == "C" %}<span class="new badge red" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                <a href="{{ path('journee.edit', {id: compo.id}) }}"
                   class="btn waves-effect waves-light blue lighten-2 btn-register">Modifier la compo<i class="material-icons">edit</i>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
