{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}

{% block title %}Journee {{ journee.idJournee}} - {{ journee.type }}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row">
        <div class="col s3">
            <table class="centered highlight card-panel dispos">
                <thead>
                <tr>
                    <th><h5>Brûlages</h5></th>
                    <th><h5>1</h5></th>
                    <th><h5>2</h5></th>
                    <th><h5>3</h5></th>
                    <th><h5>4</h5></th>
                </tr>
                </thead>

                <tbody>
                {% for joueurBrule in competiteurs %}
                    <tr>
                        <td>{{ joueurBrule.nom }}</td>
                        <td>
                            {% if 1 in joueurBrule.FirstBurntTeam["almost"] %}
                                <i class="orange-text lighten-1 material-icons">error_outline</i>
                            {% endif %}</td>
                        <td>
                            {% if 2 in joueurBrule.FirstBurntTeam["burnt"] %}
                                <i class="red-text lighten-1 material-icons">highlight_off</i>
                            {% elseif 2 in joueurBrule.FirstBurntTeam["almost"] %}
                                <i class="orange-text lighten-1 material-icons">error_outline</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if 3 in joueurBrule.FirstBurntTeam["burnt"] %}
                                <i class="red-text lighten-1 material-icons">highlight_off</i>
                            {% elseif 3 in joueurBrule.FirstBurntTeam["almost"] %}
                                <i class="orange-text lighten-1 material-icons">error_outline</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if 4 in joueurBrule.FirstBurntTeam["burnt"] %}
                                <i class="red-text lighten-1 material-icons">highlight_off</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            {% for message in app.flashes('success') %}
                {{ flash.success(message) }}
            {% endfor %}

            {% for message in app.flashes('fail') %}
                {{ flash.fail(message) }}
            {% endfor %}

            <div class="card-panel center-align white-text title_journee">
                <h4>Journée {{ journee.nJournee }} - {{ journee.type }} - {{ journee.date|date('d/m/Y') }}</h4>
            </div>

            {% if app.user %}
                <div class="card-panel center">

                    <h5>{{ app.user.username | capitalize }}, êtes-vous disponible pour cette journée ?</h5>

                    {% if journee.linkType == 'departementale' %}
                        {% set dispoJournee = app.user.disposDepartemental %}
                    {% elseif journee.linkType == 'paris' %}
                        {% set dispoJournee = app.user.disposParis %}
                    {% endif %}

                    {% if journee.nJournee in dispoJournee|keys %}
                        {% if dispoJournee[journee.nJournee] %}
                            <p>Vous vous êtes inscrit comme étant <span class="green-text lighten-3"><b>disponible</b></span></p>
                            <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 0, NJournee: journee.nJournee}) }}">
                                <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                            </a>
                        {% else %}
                            <p>Vous vous êtes inscrit comme étant <span class="red-text lighten-3"><b>indisponible</b></span></p>
                            <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, type: journee.linkType, disposJoueur: disposJoueur.idDisponibilite, dispo: 1, NJournee: journee.nJournee}) }}">
                                <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                            </a>
                        {% endif %}
                    {% else %}
                        <p><i>Vous n'avez pas encore signalé votre disponibilité</i></p>
                        <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 1}) }}">
                            <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                        </a>
                        <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, type: journee.linkType, dispo: 0}) }}">
                            <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                        </a>
                    {% endif %}

                </div>
            {% else %}
                <div class="card-panel green lighten-4 center">
                    <p>Vous devez vous connecter pour indiquer votre disponibilité pour cette journée.</p>
                    <a href="{{ path('login') }}">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter</button>
                    </a>
                </div>
            {% endif %}

            {% for compo in compos %}
                <div class="card-panel center">
                    <div class="row header_compo">
                        <h5 class="col {% if journee.linkType == 'departementale' %}s3{% else %}s2{% endif %}">
                            <span class="white-text bulle">{{ compo.division }}</span>
                        </h5>
                        {% if journee.linkType == 'departementale' %}<h5 class="col s3">Équipe {{ compo.idEquipe }}</h5>{% endif %}
                        <h5 class="col {% if journee.linkType == 'departementale' %}s3{% else %}s5{% endif %}">{{ journee.date|date('d/m') }}</h5>
                        <h5 class="col {% if journee.linkType == 'departementale' %}s3{% else %}s5{% endif %}">{{ compo.lieu }}</h5>
                    </div>
                    <table class="highlight centered">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Dispo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rank"><b>#1</b></td>
                                <td>
                                    {% if compo.idJoueur1 is not null %}
                                        {{ compo.idJoueur1.license }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur1 is not null %}
                                        <div class="chip">
                                            <img src="{{ compo.idJoueur1.avatar }}" alt="Avatar">
                                            <span>{{ compo.idJoueur1.nom }}</span>
                                        </div>{% if compo.idJoueur1.role == "C" %}<i class="blue-text material-icons">copyright</i>{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur1 is not null %}
                                        {% if journee.linkType == 'departementale' %}
                                            {% set dispoJournee = compo.idJoueur1.disposDepartemental %}
                                        {% elseif journee.linkType == 'paris' %}
                                            {% set dispoJournee = compo.idJoueur1.disposParis %}
                                        {% endif %}

                                        {% if journee.nJournee in dispoJournee|keys %}
                                            {% if dispoJournee[journee.nJournee] %}
                                                <i class="green-text material-icons">check_circle</i>
                                            {% else %}
                                                <i class="red-text material-icons">highlight_off</i>
                                            {% endif %}
                                        {% else %}
                                            <i class="grey-text lighten-3 material-icons">help_outline</i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td class="rank"><b>#2</b></td>
                                <td>
                                    {% if compo.idJoueur2 is not null %}
                                        {{ compo.idJoueur2.license }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur2 is not null %}
                                        <div class="chip">
                                            <img src="{{ compo.idJoueur2.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur2.nom }}
                                        </div>{% if compo.idJoueur2.role == "C" %}<i class="blue-text material-icons">copyright</i>{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur2 is not null %}
                                        {% if journee.linkType == 'departementale' %}
                                            {% set dispoJournee = compo.idJoueur2.disposDepartemental %}
                                        {% elseif journee.linkType == 'paris' %}
                                            {% set dispoJournee = compo.idJoueur2.disposParis %}
                                        {% endif %}

                                        {% if journee.nJournee in dispoJournee|keys %}
                                            {% if dispoJournee[journee.nJournee] %}
                                                <i class="green-text material-icons">check_circle</i>
                                            {% else %}
                                                <i class="red-text material-icons">highlight_off</i>
                                            {% endif %}
                                        {% else %}
                                            <i class="grey-text lighten-3 material-icons">help_outline</i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td class="rank"><b>#3</b></td>
                                <td>
                                    {% if compo.idJoueur3 is not null %}
                                        {{ compo.idJoueur3.license }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur3 is not null %}
                                        <div class="chip">
                                            <img src="{{ compo.idJoueur3.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur3.nom }}
                                        </div>{% if compo.idJoueur3.role == "C" %}<i class="blue-text material-icons">copyright</i>{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if compo.idJoueur3 is not null %}
                                        {% if journee.linkType == 'departementale' %}
                                            {% set dispoJournee = compo.idJoueur3.disposDepartemental %}
                                        {% elseif journee.linkType == 'paris' %}
                                            {% set dispoJournee = compo.idJoueur3.disposParis %}
                                        {% endif %}

                                        {% if journee.nJournee in dispoJournee|keys %}
                                            {% if dispoJournee[journee.nJournee] %}
                                                <i class="green-text material-icons">check_circle</i>
                                            {% else %}
                                                <i class="red-text material-icons">highlight_off</i>
                                            {% endif %}
                                        {% else %}
                                            <i class="grey-text lighten-3 material-icons">help_outline</i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                            {% if (journee.linkType == 'departementale') or (journee.linkType == 'paris' and compo.equipe == 'haut') %}
                                <tr>
                                    <td class="rank"><b>#4</b></td>
                                    <td>
                                        {% if compo.idJoueur4 is not null %}
                                            {{ compo.idJoueur4.license }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur4 is not null %}
                                            <div class="chip">
                                                <img src="{{ compo.idJoueur4.avatar }}" alt="Avatar">
                                                {{ compo.idJoueur4.nom }}
                                            </div>{% if compo.idJoueur4.role == "C" %}<i class="blue-text material-icons">copyright</i>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur4 is not null %}
                                            {% if journee.linkType == 'departementale' %}
                                                {% set dispoJournee = compo.idJoueur4.disposDepartemental %}
                                            {% elseif journee.linkType == 'paris' %}
                                                {% set dispoJournee = compo.idJoueur4.disposParis %}
                                            {% endif %}

                                            {% if journee.nJournee in dispoJournee|keys %}
                                                {% if dispoJournee[journee.nJournee] %}
                                                    <i class="green-text material-icons">check_circle</i>
                                                {% else %}
                                                    <i class="red-text material-icons">highlight_off</i>
                                                {% endif %}
                                            {% else %}
                                                <i class="grey-text lighten-3 material-icons">help_outline</i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}

                        {% if journee.linkType == 'paris' %}
                            {% if compo.equipe == 'haut' %}
                                <tr>
                                    <td class="rank"><b>#5</b></td>
                                    <td>
                                        {% if compo.idJoueur5 is not null %}
                                            {{ compo.idJoueur5.license }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur5 is not null %}
                                            <div class="chip">
                                            <img src="{{ compo.idJoueur5.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur5.nom }}
                                            </div>{% if compo.idJoueur5.role == "C" %}<i class="blue-text material-icons">copyright</i>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur5 is not null %}
                                            {% if journee.linkType == 'departementale' %}
                                                {% set dispoJournee = compo.idJoueur5.disposDepartemental %}
                                            {% elseif journee.linkType == 'paris' %}
                                                {% set dispoJournee = compo.idJoueur5.disposParis %}
                                            {% endif %}

                                            {% if journee.nJournee in dispoJournee|keys %}
                                                {% if dispoJournee[journee.nJournee] %}
                                                    <i class="green-text material-icons">check_circle</i>
                                                {% else %}
                                                    <i class="red-text material-icons">highlight_off</i>
                                                {% endif %}
                                            {% else %}
                                                <i class="grey-text lighten-3 material-icons">help_outline</i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="rank"><b>#5</b></td>
                                    <td>
                                        {% if compo.idJoueur6 is not null %}
                                            {{ compo.idJoueur6.license }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur6 is not null %}
                                            <div class="chip">
                                            <img src="{{ compo.idJoueur6.avatar }}" alt="Avatar">
                                            {{ compo.idJoueur6.nom }}
                                            </div>{% if compo.idJoueur6.role == "C" %}<i class="blue-text material-icons">copyright</i>{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if compo.idJoueur6 is not null %}
                                            {% if journee.linkType == 'departementale' %}
                                                {% set dispoJournee = compo.idJoueur6.disposDepartemental %}
                                            {% elseif journee.linkType == 'paris' %}
                                                {% set dispoJournee = compo.idJoueur6.disposParis %}
                                            {% endif %}

                                            {% if journee.nJournee in dispoJournee|keys %}
                                                {% if dispoJournee[journee.nJournee] %}
                                                    <i class="green-text material-icons">check_circle</i>
                                                {% else %}
                                                    <i class="red-text material-icons">highlight_off</i>
                                                {% endif %}
                                            {% else %}
                                                <i class="grey-text lighten-3 material-icons">help_outline</i>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>

                    {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
                        <a href="{{ path('journee.edit', {type: journee.linkType, id: compo.id}) }}"
                           class="btn waves-effect waves-light blue lighten-2">Modifier la compo
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col s3">
            <table class="centered highlight card-panel dispos">
                <thead>
                    <tr>
                        <th><h5>Les dispos</h5></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                {% for dispo in dispos %}
                    <tr>
                        <td>
                            <span class="{% if dispo.disponibilite %} green-text lighten-3 {% elseif not dispo.disponibilite %} red-text lighten-3 {% endif %}">{{ dispo.idCompetiteur.nom }}</span>
                        </td>
                        <td>
                            {% if dispo.idCompetiteur.idCompetiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for dispoNonDeclaree in joueursNonDeclares %}
                    <tr>
                        <td>
                            <span class="grey-text lighten-3">{{ dispoNonDeclaree.nom }}</span>
                        </td>
                        <td>
                            {% if dispoNonDeclaree.id_competiteur in selectedPlayers %}
                                <i class="blue-text right-align darken-1 material-icons">playlist_add_check</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
