{% extends 'base.html.twig' %}

{% block title %}Journee {{ journee.idJournee}}{% endblock %}

{% block body %}

    {% include("components/navbar.html.twig") %}

    <div class="row">
        <div class="col s3">
            <table class="centered card-panel dispos">
                <thead>
                <tr>
                    <th>Les brûlés en ...</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
                </thead>

                <tbody>
                {% for joueurBrule in joueursBrules %}
                    <tr>
                        <td>{{ joueurBrule.nom }}</td>
                        <td>
                            {% if joueurBrule.FirstBurntTeam <= 1 %}
                                <i class="red-text lighten-1 material-icons">do_not_disturb_on</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if joueurBrule.FirstBurntTeam <= 2 %}
                                <i class="red-text lighten-1 material-icons">do_not_disturb_on</i>
                            {% endif %}
                        </td>
                        <td>
                            {% if joueurBrule.FirstBurntTeam <= 3 %}
                                <i class="red-text lighten-1 material-icons">do_not_disturb_on</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s7">
            {% if app.user %}
                <div class="card-panel center">

                    <h5>Etes-vous disponible pour cette journée ?</h5>

                    {% if disposJoueur is empty %}
                        <p>Vous n'êtes pas encore inscrit</p>
                        <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, dispo: 1}) }}">
                            <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                        </a>
                        <a href="{{ path('journee.disponibilite.new', {journee: journee.idJournee, dispo: 0}) }}">
                            <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                        </a>
                    {% elseif not disposJoueur[0].disponibilite  %}
                        <p>Vous vous êtes inscrit comme étant <span class="red-text lighten-3"><b>indisponible</b></span></p>
                        <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, disposJoueur: disposJoueur[0].idDisponibilite, dispo: 1}) }}">
                            <button class="btn waves-effect green lighten-2 waves-light" type="submit" name="action">Se déclarer disponible</button>
                        </a>
                    {% elseif disposJoueur[0].disponibilite %}
                        <p>Vous vous êtes inscrit comme étant <span class="green-text lighten-3"><b>disponible</b></span></p>
                        <a href="{{ path('journee.disponibilite.update', {journee: journee.idJournee, disposJoueur: disposJoueur[0].idDisponibilite, dispo: 0}) }}">
                            <button class="btn waves-effect red lighten-2 waves-light" type="submit" name="action">Se déclarer indisponible</button>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="card-panel green lighten-4 center">
                    <p>Vous devez vous connecter pour indiquer votre disponibilité pour cette journée.</p>
                    <a href="{{ path('login') }}">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Se connecter</button>
                    </a>
                </div>
            {% endif %}

            {% for compo in compos %}
                <div class="card-panel center">
                    <div class="row">
                        <h5 class="col s3">Team #{{ compo.idEquipe }}</h5>
                        <h5 class="col s3">Journée #{{ compo.idJournee.nJournee }}</h5>
                        <h5 class="col s3">{{ compo.idJournee.date | date("m/d/Y")}}</h5>
                        <h5 class="col s3">{{ compo.lieu }}</h5>
                    </div>
                    <table class="centered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>License</th>
                            <th>Composition</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>#1</b></td>
                            <td>
                                {% if compo.idJoueur1 is not null %}
                                    {{ compo.idJoueur1.license }}
                                {% endif %}
                            </td>
                            <td>
                                {% if compo.idJoueur1 is not null %}
                                    {{ compo.idJoueur1.nom }} {% if compo.idJoueur1.role == "C" %}<span class="new badge blue" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>#2</b></td>
                            <td>
                                {% if compo.idJoueur2 is not null %}
                                    {{ compo.idJoueur2.license }}
                                {% endif %}
                            </td>
                            <td>
                                {% if compo.idJoueur2 is not null %}
                                    {{ compo.idJoueur2.nom }} {% if compo.idJoueur2.role == "C" %}<span class="new badge blue" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>#3</b></td>
                            <td>
                                {% if compo.idJoueur3 is not null %}
                                    {{ compo.idJoueur3.license }}
                                {% endif %}
                            </td>
                            <td>
                                {% if compo.idJoueur3 is not null %}
                                    {{ compo.idJoueur3.nom }} {% if compo.idJoueur3.role == "C" %}<span class="new badge blue" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td><b>#4</b></td>
                            <td>
                                {% if compo.idJoueur4 is not null %}
                                    {{ compo.idJoueur4.license }}
                                {% endif %}
                            </td>
                            <td>
                                {% if compo.idJoueur4 is not null %}
                                    {{ compo.idJoueur4.nom }} {% if compo.idJoueur4.role == "C" %}<span class="new badge blue" data-badge-caption="Capitaine"></span>{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
                        <a href="{{ path('journee.edit', {id: compo.id}) }}"
                           class="btn waves-effect waves-light blue lighten-2">Modifier la compo
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col s2">
            <table class="centered card-panel dispos">
                <thead>
                    <tr>
                        <th>Les dispos</th>
                    </tr>
                </thead>

                <tbody>
                {% for dispo in dispos %}
                    <tr>
                        <td class="{% if dispo.disponibilite %} green-text lighten-3 {% elseif not dispo.disponibilite %} red-text lighten-3 {% endif %}">
                            <b>{{ dispo.idCompetiteur.nom }}</b>
                        </td>
                    </tr>
                {% endfor %}
                {% for dispoNonDeclaree in joueursNonDeclares %}
                    <tr>
                        <td class="grey-text lighten-3">
                            {{ dispoNonDeclaree.nom }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
