{% if disponibiliteBoolean is not null %}
    {% if disponibiliteBoolean == 1 %}
        <p style="margin-top: 5px; margin-bottom: 5px;"><i>Joueur <span class="green-text"><b>disponible</b></span></i></p>
        <button onclick="updateDisponibilite('{{ idCompetiteur }}', '{{ idDisponibilite }}', 0, '{{ idJournee }}')" class="btn waves-effect red btn_gestion" type="submit" name="action">Déclarer indisponible</button>
    {% else %}
        <p style="margin-top: 5px; margin-bottom: 5px;"><i>Joueur <span class="red-text"><b>indisponible</b></span></i></p>
        <button onclick="updateDisponibilite('{{ idCompetiteur }}', '{{ idDisponibilite }}', 1, '{{ idJournee }}')" class="btn waves-effect green btn_gestion" type="submit" name="action">Déclarer disponible</button>
    {% endif %}
    <button onclick="deleteDisponibilite('{{ idCompetiteur }}', '{{ idDisponibilite }}', {{ disponibiliteBoolean }}, '{{ idJournee }}')" class="btn waves-effect red lighten-1 btn_gestion"><i class="material-icons">close</i></button>
{% else %}
    <div class="row" style="margin-bottom: 0;">
        <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
            <button onclick="newDisponibilite('{{ idJournee }}', 1, '{{ idCompetiteur }}')" class="btn waves-effect green btn_gestion" type="submit" name="action">Déclarer&nbsp;disponible</button>
        </div>
        <div class="col s12 xl6" style="padding-bottom: 5px; padding-top: 5px">
            <button onclick="newDisponibilite('{{ idJournee }}', 0, '{{ idCompetiteur }}')" class="btn waves-effect red tn_gestion" type="submit" name="action">Déclarer&nbsp;indisponible</button>
        </div>
    </div>
{% endif %}