{% import 'macros/membre.html.twig' as _membre %}

{% if joueurs %}
    {% if sheetDataHasViolations %}
        <div class="pastille red lighten-1 reset">
            <i class="material-icons">error</i> Il y a des erreurs dans le document importé : corrigez les erreurs dans le document et réimportez-le de nouveau
        </div><br>
    {% else %}
        <div class="pastille green lighten-2 reset">
            <i class="material-icons">checklist_rtl</i> Le document est conforme et les joueurs sont prêts à être inscrits
        </div><br>

        {% if hasDoublon %}
            <div class="pastille orange lighten-1 reset">
                <i class="material-icons">error_outline</i> Le document contient probablement des doublons, signalés par le logo <i class="material-icons">people_alt</i>
            </div><br>
        {% endif %}
    {% endif %}

    <script type="text/javascript" defer src="{{ asset('JS/resizeResponsiveTable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('JS/importJoueursFromExcel_ajax.min.js') }}"></script>

    <table class="striped centered responsive-table backoffice-table import-excel-table table-to-adapt-columns">
        <thead class="hide-on-med-and-down">
            <tr>
                {% if not sheetDataHasViolations %}
                    <th><i class="material-icons">person_add_alt_1</i></th>
                {% endif %}
                {% if hasDoublon %}
                    <th></th>
                {% endif %}
                <th>Rôles</th>
                <th>Licence</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Certificat médical</th>
                <th>Classement</th>
                <th>Mail(s)</th>
                <th>Téléphone(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for joueur in joueurs %}
                <tr {% if joueur.dejaInscrit and not sheetDataHasViolations %}class="grey-text text-lighten-1"{% endif %} id="tr_{{ joueur.joueur.username }}">
                    {% if not sheetDataHasViolations %}
                        <td>
                            <label>
                                <input onchange="changeColor('{{ joueur.joueur.username }}')" value="{{ loop.index0 }}" id="{{ joueur.joueur.username }}" type="checkbox" class="filled-in" {% if not joueur.dejaInscrit and not sheetDataHasViolations %}checked="checked" {% else %}disabled="disabled"{% endif %} />
                                <span style="padding-left: 20px;vertical-align: middle;height: 21px;"></span>
                            </label>
                        </td>
                    {% endif %}
                    {% if hasDoublon %}
                        <td>
                            {% if joueur.doublon and not joueur.dejaInscrit %}
                                <i class="material-icons orange-text">people_alt</i>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td style="padding-top: 8px; padding-bottom: 8px;"
                        {% if 'roles' in joueur.violations|keys %}
                            class="pastille reset white-text red lighten-1 tooltipped"
                            data-position="top"
                            data-tooltip="{{ joueur.violations['roles']['message'] }}"
                        {% endif %}
                    >
                        {{ _membre.badgesRoles(joueur.joueur, {sheetDataHasViolations, dejaInscrit: joueur.dejaInscrit}) }}
                    </td>
                    <td>
                        <span {% if 'licence' in joueur.violations|keys %}
                            class="pastille reset white-text red lighten-1 tooltipped"
                            data-position="top"
                            data-tooltip="{{ joueur.violations['licence']['message'] }}"
                        {% endif %}
                        >
                            {% if 'licence' in joueur.violations|keys and 'value' in joueur.violations['licence']|keys %}
                                {{ joueur.violations['licence']['value'] }}
                            {% else %}
                                {{ joueur.joueur.licence }}
                            {% endif %}
                        </span>&nbsp;
                    </td>
                    <td>
                        <span {% if 'nom' in joueur.violations|keys %}
                                class="pastille reset white-text red lighten-1 tooltipped"
                                data-position="top"
                                data-tooltip="{{ joueur.violations['nom']['message'] }}"
                            {% endif %}
                        >
                            {% if 'nom' in joueur.violations|keys and 'value' in joueur.violations['nom']|keys %}
                                {{ joueur.violations['nom']['value'] }}
                            {% else %}
                                {{ joueur.joueur.nom }}
                            {% endif %}
                        </span>&nbsp;
                        <span {% if 'prenom' in joueur.violations|keys %}
                                class="pastille reset white-text red lighten-1 tooltipped"
                                data-position="top"
                                data-tooltip="{{ joueur.violations['prenom']['message'] }}"
                            {% endif %}
                        >
                            {% if 'prenom' in joueur.violations|keys and 'value' in joueur.violations['prenom']|keys %}
                                {{ joueur.violations['prenom']['value'] }}
                            {% else %}
                                {{ joueur.joueur.prenom }}
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <span {% if 'dateNaissance' in joueur.violations|keys %}
                                class="pastille reset white-text red lighten-1 tooltipped"
                                data-position="top"
                                data-tooltip="{{ joueur.violations['dateNaissance']['message'] }}"
                            {% endif %}>
                            {% if 'dateNaissance' in joueur.violations|keys and 'value' in joueur.violations['dateNaissance']|keys %}
                                {{ joueur.violations['dateNaissance']['value'] }}
                            {% else %}
                                {% if joueur.joueur.dateNaissance %}
                                    {{ joueur.joueur.dateNaissance|date('d/m/Y') }}
                                    <br><span class="{% if joueur.dejaInscrit and not sheetDataHasViolations %} lighten-3{% endif %} pastille blue centered">{{ joueur.joueur.categorieAgeLabel }}</span>
                                {% endif %}
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        {% if 'anneeCertificatMedical' in joueur.violations|keys %}
                            <span class="pastille reset white-text red lighten-1 tooltipped" data-position="top" data-tooltip="{{ joueur.violations['anneeCertificatMedical']['message'] }}">
                                {% if 'value' in joueur.violations['anneeCertificatMedical']|keys %}
                                    {{ joueur.violations['anneeCertificatMedical']['value'] }}
                                {% else %}
                                    {{ joueur.joueur.anneeCertificatMedical }}
                                {% endif %}
                            </span>
                        {% else %}
                            {% if joueur.joueur.age != null and joueur.joueur.age < 18 %}
                                <span class="grey-text"><i>Mineur (facultatif)</i></span>
                            {% elseif joueur.joueur.anneeCertificatMedical %}
                                <span>
                                    <i class="{% if joueur.dejaInscrit and not sheetDataHasViolations %}text-lighten-3{% endif %} {% if not joueur.joueur.certifMedicalInvalid.status %}green{% else %}red{% endif %}-text material-icons" style="vertical-align: bottom;">health_and_safety</i>
                                    {{ joueur.joueur.anneeCertificatMedical }}
                                </span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <span
                            {% if 'classement_officiel' in joueur.violations|keys %}
                                class="pastille reset white-text red lighten-1 tooltipped"
                                data-position="top"
                                data-tooltip="{{ joueur.violations['classement_officiel']['message'] }}"
                            {% endif %}
                        >
                            {% if 'classement_officiel' in joueur.violations|keys and 'value' in joueur.violations['classement_officiel']|keys %}
                                {{ joueur.violations['classement_officiel']['value'] }}
                            {% else %}
                                {{ joueur.joueur.classementOfficiel }}
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <span
                            {% if 'mail' in joueur.violations|keys %}
                                class="pastille reset white-text red lighten-1 tooltipped"
                                data-position="top"
                                data-tooltip="{{ joueur.violations['mail']['message'] }}"
                            {% endif %}
                        >
                            {{ joueur.joueur.mail }}
                        </span>
                        {% if not joueur.joueur.mail2 is null %}
                            <br>
                            <span
                                {% if 'mail2' in joueur.violations|keys %}
                                    style="margin-top: 2px"
                                    class="pastille reset white-text red lighten-1 tooltipped"
                                    data-position="top"
                                    data-tooltip="{{ joueur.violations['mail2']['message'] }}"
                                {% endif %}
                            >
                                {{ joueur.joueur.mail2 }}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <span
                            {% if 'phoneNumber' in joueur.violations|keys %}
                                class="pastille reset white-text red lighten-1 tooltipped"
                                data-position="top"
                                data-tooltip="{{ joueur.violations['phoneNumber']['message'] }}"
                            {% endif %}
                        >
                            {{ joueur.joueur.phoneNumber | split('', 2) | join(' ') }}
                        </span>
                        {% if not joueur.joueur.phoneNumber2 is null %}
                            <br>
                            <span
                                {% if 'phoneNumber2' in joueur.violations|keys %}
                                    class="pastille reset white-text red lighten-1 tooltipped"
                                    data-position="top"
                                    data-tooltip="{{ joueur.violations['phoneNumber2']['message'] }}"
                                {% endif %}
                            >
                                {{ joueur.joueur.phoneNumber2 | split('', 2) | join(' ')}}
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not sheetDataHasViolations %}
        <div class="pastille orange lighten-2 reset hide" id="noPeopleToImport">
            <i class="material-icons">person_add_disabled</i> Vous n'avez sélectionné aucun joueur
        </div>

        <script type="text/javascript">
            $(document).ready(() => {
                setNbFutursMembres();
            })
        </script>
        <p id="nbFutursMembres" style="margin-top: 12px" class="pastille reset blue lighten-2">
            <i class="material-icons">info</i><span></span>
        </p>
    {% endif %}

    <div id="progress-bar" class="hide" style="margin-bottom: 10px;">
        <p class="grey-text"><i>Inscriptions des joueurs ... Merci de patienter, le processus peut durer plusieurs minutes suivant le nombre de joueurs à inscrire</i></p>
        <div class="progress" style="width: 30%; margin: 0 auto;">
            <div class="indeterminate"></div>
        </div>
    </div>

    <div id="importButtons">
        <a id="annulerImportJoueurs" href="{{ path('backoffice.competiteurs') }}" class="btn waves-effect grey btn_gestion">Annuler</a>

        {% if not sheetDataHasViolations %}
            <div id="submitImportButton">
                {# Liste des joueurs cochés à inscrire #}
                <input type="hidden" name="usernamesToRegister" value="">
                <button id="enregistrerJoueurs" onclick="getUsernamesToRegister()" type="submit" class="btn waves-effect blue btn_gestion">Enregistrer</button>
            </div>
        {% endif %}
    </div>
{% else %}
    <p><i>Aucun joueur trouvé dans le document importé</i></p>
{% endif %}