{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block title %}Nouvelle phase{% endblock %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class="container fftt_api_manager">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h3>Recommencer une nouvelle phase</h3>
        </div>

        <form class="center" action="{{ path('backoffice.reset.phase') }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de recommencer une nouvelle phase ?')">
            {% if phaseFinished %}
                <p class="pastille green">La phase de ce championnat est terminée</p>
            {% else %}
                <p class="pastille red">La phase de ce championnat est en cours ...</p>
            {% endif %}
            <input type="hidden" name="resetPhase" value="1">
            <input type="hidden" name="idChampionnat" value="{# championnat.idChampionnat }}#}1">
            <button class='btn waves-effect waves-light green lighten-2 btn_gestion'>Tout mettre à jour</button>
        </form>

        <div class='card-panel center'>
            <h4>Les compétiteurs</h4>
            <p><b><span class="pastille center-align center" style="background-color: black;width: fit-content;padding-left: 10px;padding-right: 10px;">{{ messageJoueurs|striptags('<span>')|raw }}</span></b></p>

            {% if joueursIssued|length %}
                <table class="striped centered responsive-table">
                    <thead>
                        <tr>
                            <th>Licence</th>
                            <th>Nom</th>
                            <th>Points officiels</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for joueur in joueursIssued %}
                            <tr>
                                <td>{{ joueur.joueur.licence }}</td>
                                <td>
                                    <div class="chip">
                                        {% if joueur.joueur.avatar %}
                                            <img src="{{ vich_uploader_asset(joueur.joueur, 'imageFile') }}" alt="Avatar">
                                        {% else %}
                                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                                        {% endif %}
                                        <span {% if not joueur.sameName %} class="red-text"{% endif %}>{{ joueur.joueur.nom ~ ' ' ~ joueur.joueur.prenom }}</span>
                                        {% if not joueur.sameName %}<i class="material-icons black-text" style="vertical-align: sub;">arrow_forward</i>{{ joueur.nomFFTT ~ ' ' ~ joueur.prenomFFTT }}{% endif %}
                                    </div>
                                </td>
                                <td>
                                    <span {% if joueur.joueur.classementOfficiel != joueur.pointsFFTT %}class="red-text"{% endif %}>{{ joueur.joueur.classementOfficiel }}</span>
                                    {% if joueur.joueur.classementOfficiel != joueur.pointsFFTT %}
                                        <i class="material-icons black-text">arrow_forward</i> {{ joueur.pointsFFTT }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="card-panel center">
            <h4>Les disponibilités</h4>
            <p><b><span class="pastille center-align center" style="background-color: black;width: fit-content;padding-left: 10px;padding-right: 10px;">{{ messageDisponiblites|striptags('<span>')|raw }}</span></b></p>
        </div>

        <div class="card-panel center">
            <h4>Les équipes</h4>
            <p><b><span class="pastille center-align center" style="background-color: black;width: fit-content;padding-left: 10px;padding-right: 10px;">{{ messageEquipes|striptags('<span>')|raw }}</span></b></p>

            {% if equipesIssued|length %}
                    <table class="striped centered responsive-table">
                        <thead>
                            <tr>
                                <th>Numéro</th>
                                <th>Division</th>
                                <th>Poule</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for numero, equipe in equipesIssued %}
                                <tr>
                                    <td><b>{{ equipe.equipe.numero }}</b></td>
                                    <td>
                                        <span {% if not equipe.sameDivision %}class="red-text" {% endif %}>{{ equipe.equipe.idDivision ? equipe.equipe.idDivision.shortName : '?' }}</span>
                                        {% if not equipe.sameDivision %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.divisionFFTT }}{% endif %}
                                    </td>
                                    <td>
                                        <span {% if not equipe.samePoule %}class="red-text" {% endif %}>{{ equipe.equipe.idPoule ? equipe.equipe.idPoule.poule : '?' }}</span>
                                        {% if not equipe.samePoule %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.pouleFFTT }}{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% endif %}
        </div>

        <div class="card-panel center">
            <h4>Les rencontres</h4>
            <p><b><span class="pastille center-align center" style="background-color: black;width: fit-content;padding-left: 10px;padding-right: 10px;">{{ messageRencontres|striptags('<span>')|raw }}</span></b></p>

            {% if rencontresParEquipesSorted|length %}
                {% for equipe, rencontres in rencontresParEquipesSorted %}
                    <ul class="collapsible backoffice_disponibilites">
                        <li class="active">
                            <div class="collapsible-header">
                                <div class="chip">
                                    <i class="material-icons" style="vertical-align: middle;">people</i>
                                    {{ equipe }}
                                </div>
                                <i class="caret material-icons">keyboard_arrow_down</i>
                            </div>

                            <div class="collapsible-body">
                                <table class="striped centered responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Journée</th>
                                        <th>Adversaire</th>
                                        <th>Lieu</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for rencontre in rencontres %}
                                        <tr>
                                            <td><b>{{ rencontre.journee }}</b></td>
                                            <td>
                                                <span {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}class="red-text"{% endif %}>{{ rencontre.rencontre.adversaire }}</span>
                                                {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.adversaireFFTT }}{% endif %}
                                            </td>
                                            <td>
                                                <span {% if rencontre.rencontre.domicile != rencontre.domicileFFTT %}class="red-text" {% endif %}>{{ rencontre.rencontre.domicile ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>" }}</span>
                                                {% if rencontre.rencontre.domicile != rencontre.domicileFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.domicileFFTT ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>

        <div class="card-panel center">
            <h4>Les dates des journées</h4>
            <p><b><span class="pastille center-align center" style="background-color: black;width: fit-content;padding-left: 10px;padding-right: 10px;">{{ messageDates|striptags('<span>')|raw }}</span></b></p>

            {% if datesIssued|length %}
                <table class="striped centered responsive-table">
                    <thead>
                        <tr>
                            <th>Journée</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for index, date in datesIssued %}
                        <tr>
                            <td><b>{{ date.nJournee }}</b></td>
                            <td>
                                <span class="red-text">{{ date.journee.date|date('d-m-Y') }}</span>
                                <i class="material-icons black-text">arrow_forward</i> {{ date.dateFFTT|date('d-m-Y') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}