{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block title %}Mises à jour{% endblock %}

{% block body %}
    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class="container fftt_api_manager">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {% if not errorMajJoueurs %}
            <div class='card-panel center-align white-text title_journee'>
                <h3>Mises à jour</h3>
            </div>

            <div class='card-panel center'>
                <h4 style="margin-bottom: 15px;">Les compétiteurs</h4>

                <div style="padding-top: 8px; padding-bottom: 8px; margin-bottom: 10px;" class="col pastille blue lighten-1 reset"><i class="material-icons white-text">info</i> Seuls les membres ayant leurs licences renseignées dans Kompo sont sujets à la mise à jour</div>

                {% if joueursIssued.competition %}
                    <p id="messageNbJoueursIssued" class="col pastille reset {% if ((joueursIssued.competition|length) - joueursIssued.nbJoueursCritFedOnly) > 0 %}orange darken-2{% else %}green{% endif %}" style="margin-bottom: 10px;">
                        <span id="nbJoueurs">
                            {% if ((joueursIssued.competition|length) - joueursIssued.nbJoueursCritFedOnly) > 0 %}
                                {{ ((joueursIssued.competition|length) - joueursIssued.nbJoueursCritFedOnly) ~ ' joueur' ~ (((joueursIssued.competition|length) - joueursIssued.nbJoueursCritFedOnly) <= 1 ? ' sera' : 's seront') ~' mis à jour' }}
                            {% else %}
                                Tous les joueurs sont à jour
                            {% endif %}
                        </span>
                    </p>

                    <form class="center" action="{{ path('backoffice.settings.update') }}" method="POST" onsubmit="return confirm('Mettre à jour les joueurs ?')">
                        {% if joueursIssued.nbJoueursCritFed > 0 %}
                            <p style="margin-top: 10px; margin-bottom: 10px;">
                                <label>
                                    <input id="showCritFed" type="checkbox" name="unsubCritFedplayers"/>
                                    <span>Désinscrire le{{ joueursIssued.nbJoueursCritFed > 1 ? 's' : '' }} {{ joueursIssued.nbJoueursCritFed > 1 ? joueursIssued.nbJoueursCritFed : '' }} joueur{{ joueursIssued.nbJoueursCritFed > 1 ? 's' : '' }} du critérium fédéral <i>(si nouvelle saison)</i></span>
                                </label>

                                <script type="text/javascript">
                                    const nbJoueursCritFedOnly = {{ joueursIssued.nbJoueursCritFedOnly }};
                                    const nbJoueursAll = {{ joueursIssued.competition|length }};
                                    const noCritFed = nbJoueursAll - nbJoueursCritFedOnly;
                                    let messageNbJoueursIssued = $('p#messageNbJoueursIssued')

                                    $('#showCritFed').change(function () {
                                        if (!this.checked) {
                                            $('.isCritFed').toggleClass('hide', '');
                                            $('span#nbJoueurs').text(noCritFed + ' joueur' + (noCritFed > 1 ? 's' : '') + (noCritFed > 1 ? ' seront' : ' sera') + ' mis à jour')
                                            if (noCritFed === 0) $('button#updateJoueursIssued').prop('disabled', true);
                                            else $('button#updateJoueursIssued').prop('disabled', false);
                                            if (noCritFed > 0) {
                                                messageNbJoueursIssued.removeClass('blue');
                                                messageNbJoueursIssued.addClass('orange darken-2');
                                            } else {
                                                $('span#nbJoueurs').text('Tous les joueurs sont à jour')
                                                messageNbJoueursIssued.addClass('blue');
                                                messageNbJoueursIssued.removeClass('orange darken-2');
                                            }
                                            if (noCritFed === 0) $('table#joueursIssued').toggleClass('hide');
                                        } else {
                                            $('.isCritFed').toggleClass('hide');
                                            if (noCritFed === 0) $('table#joueursIssued').toggleClass('hide');
                                            if (nbJoueursAll === 0) {
                                                messageNbJoueursIssued.addClass('blue');
                                                messageNbJoueursIssued.removeClass('orange darken-2');
                                            } else {
                                                messageNbJoueursIssued.removeClass('blue');
                                                messageNbJoueursIssued.addClass('orange darken-2');
                                            }
                                            $('span#nbJoueurs').text(nbJoueursAll + ' joueur' + (nbJoueursAll > 1 ? 's' : '') + (nbJoueursAll > 1 ? ' seront' : ' sera') + ' mis à jour')
                                            if (nbJoueursAll === 0) $('button#updateJoueursIssued').prop('disabled', true);
                                            else $('button#updateJoueursIssued').prop('disabled', false);
                                        }
                                    })
                                </script>
                            </p>
                        {% endif %}

                        <input type="hidden" name="resetPlayers" value="1">
                        <button {% if ((joueursIssued.competition|length) - (joueursIssued.nbJoueursCritFedOnly)) == 0 %}disabled{% endif %} class='btn waves-effect green btn_gestion' id="updateJoueursIssued">Mettre à jour</button>
                    </form>

                    <table class="striped centered responsive-table {% if ((joueursIssued.competition|length) - (joueursIssued.nbJoueursCritFedOnly)) == 0 %} hide{% endif %}" id="joueursIssued">
                        <thead>
                        <tr>
                            <th>Licence</th>
                            <th class="th_mobile_nom">Nom</th>
                            <th class="th_mobile_pts_off">Points officiels</th>
                            <th class="th_mobile_pts_off isCritFed hide">Critérium fédéral</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for joueur in joueursIssued.competition %}
                            <tr {% if joueur.sameName and joueur.sameClassement and joueur.isCritFed %} class="isCritFed hide"{% endif %}>
                                <td>{{ joueur.joueur.licence }}</td>
                                <td>
                                    <div class="chip">
                                        {% if joueur.joueur.avatar %}
                                            <img src="{{ vich_uploader_asset(joueur.joueur, 'imageFile') | imagine_filter('thumb') }}" alt="Avatar">
                                        {% else %}
                                            <img src="{{ asset('images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                                        {% endif %}
                                        <span {% if not joueur.sameName %} class="red-text"{% endif %}>{{ joueur.joueur.nom ~ ' ' ~ joueur.joueur.prenom }}</span>
                                        {% if not joueur.sameName %}<i class="material-icons black-text" style="vertical-align: sub;">arrow_forward</i>{{ joueur.nomFFTT ~ ' ' ~ joueur.prenomFFTT }}{% endif %}
                                    </div>
                                </td>
                                <td>
                                    <span {% if not joueur.sameClassement %}class="red-text"{% endif %}>{{ (joueur.joueur.classementOfficiel is not null ? joueur.joueur.classementOfficiel : "<i class='material-icons'>clear</i>") }}</span>
                                    {% if not joueur.sameClassement %}
                                        <i class="material-icons black-text">arrow_forward</i> {{ joueur.pointsFFTT }}
                                    {% endif %}
                                </td>
                                <td class="isCritFed hide">
                                    {% if joueur.joueur.critFed %}
                                        <i class="material-icons green-text">done</i><i class="material-icons black-text" style="vertical-align: sub;">arrow_forward</i><i class="material-icons red-text">clear</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}

        <br>
        {% if not errorMajRencontresEquipes %}
            {% if allChampionnatsReset|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 20px;'>
                    {% for nomChampionnat, data in allChampionnatsReset %}
                        <li class='tab'><a href='{{ '#championnat_' ~ nomChampionnat|slug }}'>{{ nomChampionnat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, data in allChampionnatsReset %}
                <div id='{{ 'championnat_' ~ nomChampionnat|slug }}'>
                    {% if data.enAttenteNouvellePhase %}
                        {% if data.preRentree.finished.launchable %}
                            <div class='backoffice-panel center card-panel'>

                                <h3 style="margin-top: 10px; margin-bottom: 10px;">La pré-phase</h3>
                                <p class="pastille green white-text reset" style="margin-bottom: 25px;">{{ data.preRentree.finished.message }}</p>

                                <div class="center">
                                    <h4>Les journées</h4>
                                    {% if data.preRentree.journees|length > 0 %}<p class="pastille reset orange darken-2">{{ data.preRentree.journees|length ~ (data.preRentree.journees|length == 1 ? ' date sera réinitialisée' : ' dates seront réinitialisées') }}</p>
                                    {% else %}<p class="pastille reset blue">Toutes les dates ont été réinitialisées</p>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                <div class="center">
                                    <h4>Les équipes</h4>
                                    {% if data.preRentree.teams|length > 0 %}<p class="pastille reset orange darken-2">{{ data.preRentree.teams|length ~ (data.preRentree.teams|length == 1 ? ' équipe sera réinitialisée' : ' équipes seront réinitialisées') }}</p>
                                    {% else %}<p class="pastille reset blue">Toutes les équipes ont été réinitialisées</p>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                <div class="center">
                                    <h4>Les disponibilités</h4>
                                    {% if data.preRentree.countDispos > 0 %}<p class="pastille reset orange darken-2">{{ data.preRentree.countDispos ~ (data.preRentree.countDispos|length == 1 ? ' disponibilité de joueur sera réinitialisée' : ' disponibilités de joueurs seront réinitialisées') }}</p>
                                    {% else %}<p class="pastille reset blue">Toutes les disponibilités de joueurs ont été supprimées</p>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                <div class="center">
                                    <h4>Les compositions</h4>
                                    {% if data.preRentree.compositions|length > 0 %}<p class="pastille reset orange darken-2">{{ data.preRentree.compositions|length ~ (data.preRentree.compositions|length == 1 ? ' composition d\'équipe sera remise à zéro' : ' compositions d\'équipes seront remises à zéro') }}</p>
                                    {% else %}<p class="pastille reset blue">Toutes les compositions d'équipes ont été remises à zéro</p>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                <div class="center">
                                    <h4>Les rencontres</h4>
                                    {% if data.preRentree.rencontres|length > 0 %}<p class="pastille reset orange darken-2">{{ data.preRentree.rencontres|length ~ (data.preRentree.rencontres|length == 1 ? ' rencontre sera remise à zéro' : ' rencontres seront remises à zéro') }}</p>
                                    {% else %}<p class="pastille reset blue">Toutes les rencontres ont été remises à zéro</p>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 25px; margin-bottom: 35px;"></div>

                                <form class="center" action="{{ path('backoffice.settings.update') }}" method="POST" onsubmit="return preRentreeResetPhasePreloader('{{ nomChampionnat }}')">
                                    <input type="hidden" name="preRentreeResetChampionnats" value="1">
                                    <input type="hidden" name="idChampionnat" value="{{ data.idChampionnat }}">
                                    <button id="PreRentreeBtnResetPhase{{ nomChampionnat }}" class='btn waves-effect green btn_gestion' style="margin-bottom: 10px">Lancer la pré-phase</button>

                                    <div id="preloaderPreRentreeResetPhase{{ nomChampionnat }}" hidden style="height: 38px;">
                                        <div class="preloader-wrapper small active">
                                            <div class="spinner-layer spinner-blue-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {% endif %}

                        {% if not data.preRentree.finished.launchable %}
                            <div class='backoffice-panel center card-panel'>
                                <h3 style="margin-top: 10px; margin-bottom: 10px;">La phase</h3>

                                {% if not (data.teams.toUpdate or data.teams.notRegistered or data.teams.toCreate or data.dates.issued or data.dates.missing or data.dates.surplus or data.matches.issuedSorted) %}
                                    <p class="pastille green white-text reset">Toutes les données sont à jour</p>
                                    <div style="margin-top: 25px; margin-bottom: 15px;"></div>
                                {% endif %}

                                <div class="center">
                                    <h4>Les journées</h4>
                                    {% if not data.dates.issued and not data.dates.missing and not data.dates.surplus %}<p class="pastille blue reset" style="margin-top: 5px; margin-bottom: 5px;">Toutes les journées sont à jour</p>{% endif %}
                                    {% if data.dates.issued %}<p class="pastille orange darken-2 reset" style="margin-top: 5px; margin-bottom: 5px;">{{ data.dates.issued|length ~ (data.dates.issued|length == 1 ? ' date sera mise à jour' : ' dates seront mises à jour') }}</p>{% endif %}
                                    {% if data.dates.missing %}<p class="pastille green reset" style="margin-top: 5px; margin-bottom: 5px;">{{ data.dates.missing|length ~ (data.dates.missing|length == 1 ? ' dates sera créée' : ' dates seront créées') }}</p>{% endif %}
                                    {% if data.dates.surplus %}<p class="pastille red reset" style="margin-top: 5px; margin-bottom: 5px;">{{ data.dates.surplus|length ~ (data.dates.surplus|length == 1 ? ' date sera supprimée' : ' dates seront supprimées') }}</p>{% endif %}

                                    {% if data.dates.issued or data.dates.missing or data.dates.surplus %}
                                        <table class="striped centered responsive-table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Journée</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for dateIssued in data.dates.issued %}
                                                <tr>
                                                    <td><i class="material-icons orange-text text-darken-2">edit</i></td>
                                                    <td><b>{{ dateIssued.nJournee }}</b></td>
                                                    <td>
                                                        <span class="red-text">{{ dateIssued.undefined ? "<i class='material-icons red-text'>event_busy</i>" : dateIssued.journee.dateJournee|format_datetime('long', 'none', locale='fr')|title }}</span>
                                                        <i class="material-icons black-text">arrow_forward</i> {{ dateIssued.dateFFTT|format_datetime('long', 'none', locale='fr')|title }}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for index, dateMissing in data.dates.missing %}
                                                <tr>
                                                    <td><i class="material-icons green-text">add_circle</i></td>
                                                    <td><b>{{ index }}</b></td>
                                                    <td>{{ dateMissing.dateJournee|format_datetime('long', 'none', locale='fr')|title }}</td>
                                                </tr>
                                            {% endfor %}

                                            {% for dateSurplus in data.dates.surplus %}
                                                <tr>
                                                    <td><i class="material-icons red-text">delete</i></td>
                                                    <td><b>{{ loop.index + data.dates.realNbDates }}</b></td>
                                                    <td>
                                                        {% if dateSurplus.undefined %}
                                                            <i class='material-icons red-text'>event_busy</i>
                                                        {% else %}
                                                            {{ dateSurplus.dateJournee|format_datetime('long', 'none', locale='fr')|title }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                <div class="center">
                                    <h4>Les équipes</h4>
                                    {% if data.teams.toUpdate %}<p class="col pastille orange darken-2 reset">{{ data.teams.toUpdate|listeEquipeToManage(2) }}</p>{% endif %}
                                    {% if data.teams.notRegistered %}<p class="col pastille grey reset" style="margin-top: 5px; margin-bottom: 5px;">{{ data.teams.notRegisteredIDs|listeEquipeToManage(0) }}</p>{% endif %}
                                    {% if data.teams.toCreate %}<p class="col pastille green lighten-1 reset" style="margin-top: 5px; margin-bottom: 5px;">{{ data.teams.toCreateIDs|listeEquipeToManage(1) }}</p>{% endif %}
                                    {% if not data.teams.toUpdate and not data.teams.toCreate %}<p class="col pastille blue reset">Toutes les équipes sont à jour</p>{% endif %}

                                    {% if data.teams.issued or data.teams.toCreate %}
                                        <table class="striped centered responsive-table">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Équipe</th>
                                                <th>Libellé division</th>
                                                <th>Poule</th>
                                                <th>Liaison à la FFTT</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            {% for equipe in data.teams.issued %}
                                                <tr>
                                                    <td><i class="material-icons orange-text text-darken-2 ">edit</i></td>
                                                    <td>{{ club_name|title ~ ' ' ~ equipe.equipe.numero }}</td>
                                                    <td>
                                                        <span {% if not equipe.sameDivision %}class="red-text" {% endif %}>{{ equipe.equipe.idDivision ? equipe.equipe.idDivision.shortName : "<span class='new badge red white-text' data-badge-caption>Division indéfinie</span>" }}</span>
                                                        {% if not equipe.sameDivision %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.divisionFFTTShortName }}{% endif %}
                                                    </td>
                                                    <td>
                                                        <span {% if not equipe.samePoule %}class="red-text" {% endif %}>{{ equipe.equipe.idPoule ? equipe.equipe.idPoule.poule : "<span class='new badge red white-text' data-badge-caption>Poule indéfinie</span>" }}</span>
                                                        {% if not equipe.samePoule %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.pouleFFTT }}{% endif %}
                                                    </td>
                                                    <td>
                                                        <span {% if not equipe.sameLienDivision %}class="red-text" {% endif %}>{{ equipe.equipe.lienDivision ? "<i class='material-icons orange-text'>update</i>" : "<i class='material-icons red-text'>leak_remove</i>" }}</span>
                                                        {% if not equipe.sameLienDivision and not equipe.equipe.lienDivision %}<i class="material-icons black-text">arrow_forward</i><i class='material-icons green-text'>leak_add</i>{% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for numero, equipe in data.teams.toCreate %}
                                                <tr>
                                                    <td><i class="material-icons green-text">add_circle</i></td>
                                                    <td><b>{{ numero }}</b></td>
                                                    <td>
                                                        {{ equipe.divisionShortName }}
                                                    </td>
                                                    <td>
                                                        {{ equipe.poule }}
                                                    </td>
                                                    <td><i class='material-icons green-text'>leak_add</i></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endif %}
                                </div>

                                <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                <div class="center">
                                    <h4>Les rencontres</h4>

                                    {% if data.matches.issuedSorted %}
                                        <p class="pastille orange darken-2 reset">{{ data.matches.issued|length ~ (data.matches.issued|length == 1 ? ' rencontre sera mise à jour' : ' rencontres seront mises à jour') }}</p>

                                        {% for equipe, rencontres in data.matches.issuedSorted %}
                                            <ul class="collapsible backoffice_disponibilites">
                                                <li class="active">
                                                    <div class="collapsible-header">
                                                        <div class="chip">
                                                            <i class="material-icons" style="vertical-align: middle;">people</i>
                                                            {{ equipe }}
                                                        </div>
                                                        <i class="caret material-icons">keyboard_arrow_down</i>
                                                    </div>

                                                    <div class="collapsible-body">
                                                        <table class="striped centered responsive-table">
                                                            <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Journée</th>
                                                                <th>Adversaire</th>
                                                                <th>Lieu</th>
                                                                <th>Coordonnées</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            {% for rencontre in rencontres %}
                                                                <tr>
                                                                    <td><i class="material-icons {{ rencontre.enAttenteNouvellePhase ? 'orange' : 'green' }}-text text-darken-2">{{ rencontre.enAttenteNouvellePhase ? 'edit' : 'add_circle' }}</i></td>
                                                                    <td>{{ rencontre.journee }}</td>
                                                                    <td>
                                                                        {% if not rencontre.exempt %}
                                                                            <span {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}class="red-text"{% endif %}>
                                                                                    {% if rencontre.rencontre.exempt %}
                                                                                        <span class="new badge red white-text" data-badge-caption>Exemptée</span>
                                                                                    {% elseif rencontre.rencontre.adversaire is null %}
                                                                                        <span class="new badge red white-text" data-badge-caption>Adversaire indéfini</span>
                                                                                    {% else %}
                                                                                        {{ rencontre.rencontre.adversaire }}
                                                                                    {% endif %}
                                                                                </span>
                                                                            {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.adversaireFFTT }}{% endif %}
                                                                        {% else %}
                                                                            <span class="new badge red white-text" data-badge-caption>Exemptée</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                            <span>
                                                                                {% if rencontre.rencontre.domicile is null %}
                                                                                    <i class='material-icons red-text'>location_off</i>
                                                                                {% else %}
                                                                                    {% if rencontre.rencontre.domicile %}<i class='material-icons{% if rencontre.rencontre.domicile != rencontre.domicileFFTT %} red-text{% endif %}'>home</i>
                                                                                    {% else %}<i class='material-icons{% if rencontre.rencontre.domicile != rencontre.domicileFFTT %} red-text{% endif %}'>directions_car</i>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            </span>
                                                                        {% if rencontre.rencontre.domicile is null or rencontre.rencontre.domicile != rencontre.domicileFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.domicileFFTT ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>" }}{% endif %}
                                                                    </td>
                                                                    <td class="{{ rencontre.enAttenteNouvellePhase ? 'orange' : 'green' }}-text">
                                                                        {% if not rencontre.infosContact.complementAdresse and not rencontre.infosContact.site and not rencontre.infosContact.telephone and not rencontre.infosContact.adresse %}
                                                                            <i class="material-icons green-text">done</i>
                                                                        {% else %}
                                                                            {% if rencontre.infosContact.adresse %}<i class="material-icons">place</i>{% endif %}
                                                                            {% if rencontre.infosContact.complementAdresse %}<i class="material-icons">explore</i>{% endif %}
                                                                            {% if rencontre.infosContact.telephone %}<i class="material-icons">contact_phone</i>{% endif %}
                                                                            {% if rencontre.infosContact.site %}<i class="material-icons">language</i>{% endif %}
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    {% else %}<p class="pastille blue reset">Toutes les rencontres sont à jour</p>
                                    {% endif %}

                                    {% if data.teams.toUpdate or data.teams.toCreate or data.dates.issued or data.dates.missing or data.dates.surplus or data.matches.issuedSorted %}
                                        <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                                        <form class="center" action="{{ path('backoffice.settings.update') }}" method="POST" onsubmit="return resetPhasePreloader('{{ nomChampionnat }}')">
                                            <input type="hidden" name="resetChampionnats" value="1">
                                            <input type="hidden" name="idChampionnat" value="{{ data.idChampionnat }}">
                                            <button id="btnResetPhase{{ nomChampionnat }}" class='btn waves-effect green btn_gestion' style="margin-bottom: 10px">Mettre à jour</button>

                                            <div id="preloaderResetPhase{{ nomChampionnat }}" hidden style="height: 38px;">
                                                <div class="preloader-wrapper small active">
                                                    <div class="spinner-layer spinner-blue-only">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="gap-patch">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class='backoffice-panel center card-panel'>
                            <p class="pastille orange center reset" style="margin-top: 10px; margin-bottom: 10px;">{{ data.messageChampionnat }}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <script type="text/javascript">
        function resetPhasePreloader(nomChampionnat) {
            const response = confirm('Mettre à jour les matches de ' + nomChampionnat + ' ?');
            if (response) {
                $('#preloaderResetPhase' + nomChampionnat).removeAttr('hidden');
                $('#btnResetPhase' + nomChampionnat).addClass('hide');
            }
            return response;
        }

        function preRentreeResetPhasePreloader(nomChampionnat) {
            const response = confirm('Réinitialiser les matches de ' + nomChampionnat + ' ?');
            if (response) {
                $('#preloaderPreRentreeResetPhase' + nomChampionnat).removeAttr('hidden');
                $('#PreRentreeBtnResetPhase' + nomChampionnat).addClass('hide');
            }
            return response;
        }
    </script>

{% endblock %}