{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block title %}Nouvelle phase{% endblock %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class="container fftt_api_manager">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}


        <div class='card-panel center-align white-text title_journee'>
            <h3>Mise à jour des données</h3>
        </div>

        {% if joueursIssued|length %}
            <form class="center" action="{{ path('backoffice.reset.phase') }}" method="POST" onsubmit="return confirm('Mettre à jour les compétiteurs ?')">
                <input type="hidden" name="resetPlayers" value="1">
                <button class='btn waves-effect waves-light green btn_gestion'>Mettre à jour les compétiteurs</button>
            </form>
        {% endif %}

        <div class='card-panel center'>
            <h4>Les compétiteurs</h4>
            <p><b><span class="pastille blue center-align center" style="width: fit-content; padding-left: 10px; padding-right: 10px;">{{ messageJoueurs }}</span></b></p>

            {% if joueursIssued|length %}
                <table class="striped centered responsive-table">
                    <thead>
                        <tr>
                            <th>Licence</th>
                            <th>Nom</th>
                            <th>Points officiels</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for joueur in joueursIssued %}
                            <tr>
                                <td>{{ joueur.joueur.licence }}</td>
                                <td>
                                    <div class="chip">
                                        {% if joueur.joueur.avatar %}
                                            <img src="{{ vich_uploader_asset(joueur.joueur, 'imageFile') }}" alt="Avatar">
                                        {% else %}
                                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                                        {% endif %}
                                        <span {% if not joueur.sameName %} class="red-text"{% endif %}>{{ joueur.joueur.nom ~ ' ' ~ joueur.joueur.prenom }}</span>
                                        {% if not joueur.sameName %}<i class="material-icons black-text" style="vertical-align: sub;">arrow_forward</i>{{ joueur.nomFFTT ~ ' ' ~ joueur.prenomFFTT }}{% endif %}
                                    </div>
                                </td>
                                <td>
                                    <span {% if joueur.joueur.classementOfficiel != joueur.pointsFFTT %}class="red-text"{% endif %}>{{ joueur.joueur.classementOfficiel }}</span>
                                    {% if joueur.joueur.classementOfficiel != joueur.pointsFFTT %}
                                        <i class="material-icons black-text">arrow_forward</i> {{ joueur.pointsFFTT }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        {% if allChampionnatsReset|length > 1 %}
            <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 20px;'>
                {% for nomChampionnat, data in allChampionnatsReset %}
                    <li class='tab'><a href='{{ '#championnat_' ~ nomChampionnat|slug }}'>{{ nomChampionnat }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for nomChampionnat, data in allChampionnatsReset %}
            <div class='backoffice-panel center' id='{{ 'championnat_' ~ nomChampionnat|slug }}'>

                {% if data.recorded %}
                    {% if data.finished %} <p class="green-text text-lighten-2 reset">La phase de ce championnat est terminée</p>

                        <form class="center" action="{{ path('backoffice.reset.phase') }}" method="POST" onsubmit="return confirm('Recommencer la phase de \'{{ nomChampionnat }}\' ?')">
                            <input type="hidden" name="resetChampionnats" value="1">
                            <input type="hidden" name="idChampionnat" value="{{ data.idChampionnat }}">
                            <button class='btn waves-effect waves-light green btn_gestion'>Mettre à jour '{{ nomChampionnat }}'</button>
                        </form>

                        <div class="card-panel center">
                            <h4>Les disponibilités</h4>
                            <p class="pastille blue reset"><b>{{ data.disposMessage }}</b></p>
                        </div>

                        <div class="card-panel center">
                            <h4>Les équipes</h4>
                            {% if data.teams.toUpdate %} <p class="col pastille blue reset"><b>{{ data.teams.toUpdate|listeEquipeToManage(2) }}</b></p> {% endif %}
                            {% if data.teams.toDelete %} <p class="col pastille red lighten-1 reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.teams.toDeleteIDs|listeEquipeToManage(0) }}</b></p> {% endif %}
                            {% if data.teams.toCreate %} <p class="col pastille green lighten-1 reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.teams.toCreateIDs|listeEquipeToManage(1) }}</b></p> {% endif %}
                            {% if not data.teams.toUpdate and not data.teams.toDelete and not data.teams.toCreate %} <p class="col pastille blue reset"><b>Toutes les équipes sont à jour</b></p> {% endif %}

                            {% if data.teams.issued|length %}
                                <table class="striped centered responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Numéro</th>
                                        <th>Division</th>
                                        <th>Poule</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for numero, equipe in data.teams.issued %}
                                        <tr>
                                            <td><b>{{ equipe.equipe.numero }}</b></td>
                                            <td>
                                                <span {% if not equipe.sameDivision %}class="red-text" {% endif %}>{{ equipe.equipe.idDivision ? equipe.equipe.idDivision.shortName : '?' }}</span>
                                                {% if not equipe.sameDivision %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.divisionFFTTShortName }}{% endif %}
                                            </td>
                                            <td>
                                                <span {% if not equipe.samePoule %}class="red-text" {% endif %}>{{ equipe.equipe.idPoule ? equipe.equipe.idPoule.poule : '?' }}</span>
                                                {% if not equipe.samePoule %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.pouleFFTT }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>

                        <div class="card-panel center">
                            <h4>Les rencontres</h4>
                            <p class="pastille blue reset"><b>{{ data.matches.message }}</b></p>

                            {% if data.matches.issuedSorted|length %}
                                {% for equipe, rencontres in data.matches.issuedSorted %}
                                    <ul class="collapsible backoffice_disponibilites">
                                        <li class="active">
                                            <div class="collapsible-header">
                                                <div class="chip">
                                                    <i class="material-icons" style="vertical-align: middle;">people</i>
                                                    {{ equipe }}
                                                </div>
                                                <i class="caret material-icons">keyboard_arrow_down</i>
                                            </div>

                                            <div class="collapsible-body">
                                                <table class="striped centered responsive-table">
                                                    <thead>
                                                    <tr>
                                                        <th>Journée</th>
                                                        <th>Adversaire</th>
                                                        <th>Lieu</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    {% for rencontre in rencontres %}
                                                        <tr>
                                                            <td><b>{{ rencontre.journee }}</b></td>
                                                            <td>
                                                                <span {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}class="red-text"{% endif %}>{{ rencontre.rencontre.adversaire }}</span>
                                                                {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.adversaireFFTT }}{% endif %}
                                                            </td>
                                                            <td>
                                                                <span {% if rencontre.rencontre.domicile != rencontre.domicileFFTT %}class="red-text" {% endif %}>{{ rencontre.rencontre.domicile ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>" }}</span>
                                                                {% if rencontre.rencontre.domicile != rencontre.domicileFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.domicileFFTT ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>" }}{% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="card-panel center">
                            <h4>Les dates des journées</h4>
                            <p class="pastille blue reset"><b>{{ data.dates.message }}</b></p>

                            {% if data.dates.issued|length %}
                                <table class="striped centered responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Journée</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for index, date in data.dates.issued %}
                                        <tr>
                                            <td><b>{{ date.nJournee }}</b></td>
                                            <td>
                                                <span class="red-text">{{ date.journee.dateJournee|format_datetime('long', 'none', locale='fr')|title }}</span>
                                                <i class="material-icons black-text">arrow_forward</i> {{ date.dateFFTT|format_datetime('long', 'none', locale='fr')|title }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    {% else %} <p class="pastille orange reset" style="margin-top: 20px; margin-bottom: 20px;">La phase de ce championnat est encore en cours ...</p>
                    {% endif %}
                {% else %}
                    <p class="pastille red center reset" style="margin-top: 20px;">Mise à jour impossible du championnat '{{ nomChampionnat }}' car ses équipes n'ont pas été inscrites auprès de la FFTT</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}