{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as _flash %}

{% block title %}Nouvelle phase{% endblock %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class="container fftt_api_manager">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {% if not errorMajJoueurs %}
            <div class='card-panel center-align white-text title_journee'>
                <h3>Nouvelles phases</h3>
            </div>

            <div class='card-panel center'>
                <h4>Les compétiteurs</h4>

                <div style="padding-top: 8px; padding-bottom: 8px; margin-bottom: 10px;" class="col pastille blue lighten-1 reset"><i class="material-icons white-text">info</i> Avant de mettre à jour les joueurs compétiteurs, pensez à :
                    <ul style="margin-bottom: 0;">
                        <li style="margin-bottom: 6px">• renseigner les numéros de licence des joueurs compétiteurs</li>
                        <li>• cocher bien la case <b>compétiteur</b> pour les joueurs étant compétiteurs</li>
                    </ul>
                </div>

                {% if joueursIssued %}<p class="col pastille orange darken-2 reset" style="margin-bottom: 10px;"><b>{{ joueursIssued | length ~ ' joueurs seront mis à jour' }}</b></p>
                {% else %}<p class="col pastille blue reset"><b>Tous les joueurs sont à jour</b></p>
                {% endif %}

                {% if joueursIssued %}
                    <form class="center" action="{{ path('backoffice.reset.phase') }}" method="POST" onsubmit="return confirm('Mettre à jour les compétiteurs ?')">
                        <input type="hidden" name="resetPlayers" value="1">
                        <button class='btn waves-effect waves-light green btn_gestion'>Mettre à jour les compétiteurs</button>
                    </form>
                {% endif %}

                {% if joueursIssued %}
                    <table class="striped centered responsive-table">
                        <thead>
                            <tr>
                                <th>Licence</th>
                                <th>Nom</th>
                                <th>Points officiels</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for joueur in joueursIssued %}
                                <tr>
                                    <td>{{ joueur.joueur.licence }}</td>
                                    <td>
                                        <div class="chip">
                                            {% if joueur.joueur.avatar %}
                                                <img src="{{ vich_uploader_asset(joueur.joueur, 'imageFile') }}" alt="Avatar">
                                            {% else %}
                                                <img src="{{ asset('images/account.png') }}" alt="Avatar">
                                            {% endif %}
                                            <span {% if not joueur.sameName %} class="red-text"{% endif %}>{{ joueur.joueur.nom ~ ' ' ~ joueur.joueur.prenom }}</span>
                                            {% if not joueur.sameName %}<i class="material-icons black-text" style="vertical-align: sub;">arrow_forward</i>{{ joueur.nomFFTT ~ ' ' ~ joueur.prenomFFTT }}{% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <span {% if joueur.joueur.classementOfficiel != joueur.pointsFFTT %}class="red-text"{% endif %}>{{ joueur.joueur.classementOfficiel }}</span>
                                        {% if joueur.joueur.classementOfficiel != joueur.pointsFFTT %}
                                            <i class="material-icons black-text">arrow_forward</i> {{ joueur.pointsFFTT }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}

        <br>
        {% if not errorMajRencontresEquipes %}
            {% if allChampionnatsReset|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 20px;'>
                    {% for nomChampionnat, data in allChampionnatsReset %}
                        <li class='tab'><a href='{{ '#championnat_' ~ nomChampionnat|slug }}'>{{ nomChampionnat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, data in allChampionnatsReset %}
                <div class='backoffice-panel center card-panel' id='{{ 'championnat_' ~ nomChampionnat|slug }}'>

                    {% if data.recorded %}
                        {% if data.finished %}

                            {% if data.countDispos > 0 or data.teams.toUpdate or data.teams.toDelete or data.teams.toCreate or data.dates.issued or data.dates.missing or data.dates.surplus or data.matches.issuedSorted %}
                                <p class="pastille green white-text reset" style="margin-bottom: 10px"><b>La phase de ce championnat est terminée</b></p>
                                <form class="center" action="{{ path('backoffice.reset.phase') }}" method="POST" onsubmit="return resetPhasePreloader(this)">
                                    <input type="hidden" name="resetChampionnats" value="1">
                                    <input type="hidden" name="idChampionnat" value="{{ data.idChampionnat }}">
                                    <button id="btnResetPhase{{ nomChampionnat }}" class='btn waves-effect waves-light green btn_gestion' style="margin-bottom: 10px">Mettre à jour '{{ nomChampionnat }}'</button>

                                    <div id="preloaderResetPhase{{ nomChampionnat }}" hidden style="height: 38px;">
                                        <div class="preloader-wrapper small active">
                                            <div class="spinner-layer spinner-blue-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div><div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div><div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <script type="text/javascript">
                                    function resetPhasePreloader(form) {
                                        const response = confirm('Recommencer la phase de {{ nomChampionnat }} ?');
                                        if (response){
                                            $('#preloaderResetPhase{{ nomChampionnat }}').removeAttr('hidden');
                                            $('#btnResetPhase{{ nomChampionnat }}').addClass('hide');
                                        }
                                        return response;
                                    }
                                </script>

                            {% else %}
                                <p class="pastille green white-text reset"><b>Toutes les données sont à jour</b></p>
                            {% endif %}

                            <div style="margin-top: 15px; margin-bottom: 35px;"></div>

                            <div class="center">
                                <h4>Les disponibilités</h4>
                                {% if data.countDispos %}<p class="pastille reset orange darken-2"><b>{{ data.countDispos ~ ' disponibilités de joueurs seront supprimées' }}</b></p>
                                {% else%}<p class="pastille reset blue"><b>Toutes les disponibilités de joueurs ont été supprimées</b></p>
                                {% endif %}
                            </div>

                            <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                            <div class="center">
                                <h4>Les journées</h4>
                                {% if not data.dates.issued and not data.dates.missing and not data.dates.surplus %}<p class="pastille blue reset" style="margin-top: 5px; margin-bottom: 5px;"><b>Toutes les journées sont à jour</b></p>{% endif %}
                                {% if data.dates.issued %}<p class="pastille orange darken-2 reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.dates.issued | length ~ ' dates seront mises à jour' }}</b></p>{% endif %}
                                {% if data.dates.missing %}<p class="pastille green reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.dates.missing | length ~ ' dates seront créées' }}</b></p>{% endif %}
                                {% if data.dates.surplus %}<p class="pastille red reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.dates.surplus | length ~ ' dates seront supprimées' }}</b></p>{% endif %}

                                {% if data.dates.issued or data.dates.missing or data.dates.surplus %}
                                    <table class="striped centered responsive-table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Journée</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for dateIssued in data.dates.issued %}
                                            <tr>
                                                <td><i class="material-icons orange-text text-darken-2">edit</i></td>
                                                <td><b>{{ dateIssued.nJournee }}</b></td>
                                                <td>
                                                    <span class="red-text">{{ dateIssued.undefined ? "<i class='material-icons red-text'>event_busy</i>" : dateIssued.journee.dateJournee|format_datetime('long', 'none', locale='fr')|title }}</span>
                                                    <i class="material-icons black-text">arrow_forward</i> {{ dateIssued.dateFFTT|format_datetime('long', 'none', locale='fr')|title }}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        {% for index, dateMissing in data.dates.missing %}
                                            <tr>
                                                <td><i class="material-icons green-text">add_circle</i></td>
                                                <td><b>{{ index }}</b></td>
                                                <td>{{ dateMissing.dateJournee|format_datetime('long', 'none', locale='fr')|title }}</td>
                                            </tr>
                                        {% endfor %}

                                        {% for dateSurplus in data.dates.surplus %}
                                            <tr>
                                                <td><i class="material-icons red-text">delete</i></td>
                                                <td><b>{{ loop.index + data.dates.realNbDates }}</b></td>
                                                <td>
                                                    {% if dateSurplus.undefined %}
                                                        <i class='material-icons red-text'>event_busy</i>
                                                    {% else %}
                                                        {{ dateSurplus.dateJournee|format_datetime('long', 'none', locale='fr')|title }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                            <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                            <div class="center">
                                <h4>Les équipes</h4>
                                {% if data.teams.toUpdate %}<p class="col pastille orange darken-2 reset"><b>{{ data.teams.toUpdate|listeEquipeToManage(2) }}</b></p>{% endif %}
                                {% if data.teams.toDelete %}<p class="col pastille red lighten-1 reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.teams.toDeleteIDs|listeEquipeToManage(0) }}</b></p>{% endif %}
                                {% if data.teams.toCreate %}<p class="col pastille green lighten-1 reset" style="margin-top: 5px; margin-bottom: 5px;"><b>{{ data.teams.toCreateIDs|listeEquipeToManage(1) }}</b></p>{% endif %}
                                {% if not data.teams.toUpdate and not data.teams.toDelete and not data.teams.toCreate %}<p class="col pastille blue reset"><b>Toutes les équipes sont à jour</b></p>{% endif %}

                                {% if data.teams.issued or data.teams.toCreate or data.teams.toDelete %}
                                    <table class="striped centered responsive-table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Numéro</th>
                                                <th>Division</th>
                                                <th>Poule</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for equipe in data.teams.issued %}
                                                <tr>
                                                    <td><i class="material-icons orange-text text-darken-2 ">edit</i></td>
                                                    <td><b>{{ equipe.equipe.numero }}</b></td>
                                                    <td>
                                                        <span {% if not equipe.sameDivision %}class="red-text" {% endif %}>{{ equipe.equipe.idDivision ? equipe.equipe.idDivision.shortName : 'Division indéfinie' }}</span>
                                                        {% if not equipe.sameDivision %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.divisionFFTTShortName }}{% endif %}
                                                    </td>
                                                    <td>
                                                        <span {% if not equipe.samePoule %}class="red-text" {% endif %}>{{ equipe.equipe.idPoule ? equipe.equipe.idPoule.poule : 'Poule indéfinie' }}</span>
                                                        {% if not equipe.samePoule %}<i class="material-icons black-text">arrow_forward</i>{{ equipe.pouleFFTT }}{% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for numero, equipe in data.teams.toCreate %}
                                                <tr>
                                                    <td><i class="material-icons green-text">add_circle</i></td>
                                                    <td><b>{{ numero }}</b></td>
                                                    <td>
                                                        {{ equipe.divisionShortName }}
                                                    </td>
                                                    <td>
                                                        {{ equipe.poule }}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for equipe in data.teams.toDelete %}
                                                <tr>
                                                    <td><i class="material-icons red-text">delete</i></td>
                                                    <td><b>{{ equipe.numero }}</b></td>
                                                    <td>
                                                        {% if equipe.idDivision %}
                                                            {{ equipe.idDivision.shortName }}
                                                        {% else %}
                                                            <span class="red-text lighten-2">Division indéfinie</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{ equipe.idPoule.poule }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>

                            <div style="margin-top: 45px; margin-bottom: 35px;"></div>

                            <div class="center">
                                <h4>Les rencontres</h4>

                                {% if data.matches.issuedSorted %}
                                    <p class="pastille orange darken-2 reset"><b>{{ data.matches.issued | length ~ ' rencontres seront mises à jour. Toutes les compositions d\'équipe seront vidées.' }}</b></p>

                                    {% for equipe, rencontres in data.matches.issuedSorted %}
                                        <ul class="collapsible backoffice_disponibilites">
                                            <li class="active">
                                                <div class="collapsible-header">
                                                    <div class="chip">
                                                        <i class="material-icons" style="vertical-align: middle;">people</i>
                                                        {{ equipe }}
                                                    </div>
                                                    <i class="caret material-icons">keyboard_arrow_down</i>
                                                </div>

                                                <div class="collapsible-body">
                                                    <table class="striped centered responsive-table">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Journée</th>
                                                                <th>Adversaire</th>
                                                                <th>Lieu</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            {% for rencontre in rencontres %}
                                                                <tr>
                                                                    <td><i class="material-icons {{ rencontre.recorded ? 'orange' : 'green' }}-text text-darken-2">{{ rencontre.recorded ? 'edit' : 'add_circle' }}</i></td>
                                                                    <td><b>{{ rencontre.journee }}</b></td>
                                                                    <td>
                                                                        {% if not rencontre.exempt %}
                                                                            <span {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}class="red-text"{% endif %}>
                                                                                {% if rencontre.rencontre.exempt %}
                                                                                    <span class="new badge red white-text" data-badge-caption=>Exemptée</span>
                                                                                {% else %}
                                                                                    {{ rencontre.rencontre.adversaire }}
                                                                                {% endif %}
                                                                            </span>
                                                                            {% if rencontre.rencontre.adversaire != rencontre.adversaireFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.adversaireFFTT }}{% endif %}
                                                                        {% else %}
                                                                            <span class="new badge red white-text" data-badge-caption=>Exemptée</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <span {% if rencontre.rencontre.domicile != rencontre.domicileFFTT %}class="red-text" {% endif %}>{{ (rencontre.rencontre.domicile is null ? "<i class='material-icons'>location_off</i>" : (rencontre.rencontre.domicile ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>")) }}</span>
                                                                        {% if rencontre.rencontre.domicile != rencontre.domicileFFTT %}<i class="material-icons black-text">arrow_forward</i>{{ rencontre.domicileFFTT ? "<i class='material-icons'>home</i>" : "<i class='material-icons'>directions_car</i>" }}{% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                {% else %}<p class="pastille blue reset"><b>Toutes les rencontres sont à jour</b></p>
                                {% endif %}
                            </div>
                        {% else %} <p class="pastille orange darken-2 reset" style="margin-top: 20px; margin-bottom: 20px;">La phase de ce championnat est encore en cours ...</p>
                        {% endif %}
                    {% else %}
                        <p class="pastille red center reset">{{ data.messageChampionnat }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}