{% extends 'base.html.twig' %}

{% block title %}Back-office - Les journées{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/journee.html.twig' as _journee %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les journées</h4>
        </div>

        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            {% for nomChampionnat, renc_equipes in journees %}
                <li class="tab"><a href="{{ '#journees_' ~ nomChampionnat|slug }}" class="active">{{ nomChampionnat }}</a></li>
            {% endfor %}
        </ul>

        {% for nomChampionnat, journees_champ in journees %}
            <div class="card-panel" id="{{ 'journees_' ~ nomChampionnat|slug }}">
                {{ _journee.table(journees_champ) }}
            </div>
        {% endfor %}
    </div>

{% endblock %}