{% extends 'base.html.twig' %}

{% block title %}Les journées{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/journee.html.twig' as _journee %}

{% block body %}
    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les journées</h4>
        </div>

        {% if not journees|length %}
            <div class='card-panel center'>
                <p class="lobster_2 center missingTitle">Aucun championnat enregistré</p>

                <a href='{{ path('backoffice.championnat.new') }}'
                   class='btn waves-effect blue lighten-1 btn_gestion'>
                    Créer un championnat
                </a>
            </div>
        {% else %}
            {% if journees|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1'>
                    {% for nomChampionnat, id_et_journees in journees %}
                        <li class="tab">
                            <a {% if active == id_et_journees.idChampionnat %} class="active"{% endif %} href='{{ '#journees_' ~ id_et_journees.idChampionnat }}'>{{ nomChampionnat }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, id_et_journees in journees %}
                <div class='card-panel backoffice-panel center' id='{{ 'journees_' ~ id_et_journees.idChampionnat }}'>
                    {{ _journee.table(id_et_journees.journees) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}