{% extends 'base.html.twig' %}
{% import 'contact/modal.html.twig' as _modal %}

{% block title %}Page de contact{% endblock %}

{% block body %}

    <header>
        {% include("components/navbar.html.twig") %}
    </header>

    <div class="container">
        <div class="card-panel center-align white-text title_journee">
            <h4>Contacter les membres</h4>
        </div>

        {% if competiteurs|length %}
            <table class="card-panel striped centered responsive-table table_contact">
                <thead>
                    <tr class="hide-on-med-and-down">
                        <th></th>
                        <th></th>
                        <th>Nom</th>
                        <th>E-mails</th>
                        <th>Téléphones</th>
                    </tr>
                </thead>

                <tbody class="center">
                    {% for competiteur in competiteurs %}
                        {% if competiteur.idCompetiteur != app.user.idCompetiteur %}
                            <tr>
                                <td>
                                    {% if not competiteur.visitor %}
                                        {% if competiteur.isAdmin %}
                                            <span class="new badge red" data-badge-caption="Administrateur"></span>
                                        {% elseif competiteur.isCapitaine %}
                                            <span class="new badge blue" data-badge-caption="Capitaine"></span>
                                        {% else %}
                                            <span class="new badge green" data-badge-caption="Joueur"></span>
                                        {% endif %}
                                    {% else %}
                                        <span class="new badge orange" data-badge-caption="Visiteur"></span>
                                    {% endif %}
                                </td>
                                <td class="td_picture_compet">
                                    {% if competiteur.avatar %}
                                        <img class="picture_compet avatar" src="{{ vich_uploader_asset(competiteur, 'imageFile') }}" alt="Avatar" width="60rem" height="60rem">
                                    {% else %}
                                        <img class="picture_compet avatar" src="{{ asset('images/account.png') }}" alt="Avatar" width="60rem" height="60rem">
                                    {% endif %}
                                </td>
                                <td>{{ competiteur.nom }} {{ competiteur.prenom }}</td>
                                <td>
                                    {% if (competiteur.mail and competiteur.contactableMail) or (competiteur.mail2 and competiteur.contactableMail2) %}
                                        {% if competiteur.mail and competiteur.contactableMail %}
                                            <a class="btn blue modal-trigger truncate" href="#contactMail1{{ competiteur.idCompetiteur }}">
                                                <i class="material-icons">mail</i> <span>{{ competiteur.mail }}</span>
                                            </a><br>
                                            {{ _modal.contact(competiteur, competiteur.mail, '1') }}
                                        {% endif %}
                                        {% if competiteur.mail2 and competiteur.contactableMail2 %}
                                            <a class="btn blue modal-trigger truncate" href="#contactMail2{{ competiteur.idCompetiteur }}">
                                                <i class="material-icons">mail</i> <span>{{ competiteur.mail2 }}</span>
                                            </a>
                                            {{ _modal.contact(competiteur, competiteur.mail2, '2') }}
                                        {% endif %}
                                    {% else %}
                                        <p class="grey-text"><i>Non renseigné</i></p>
                                    {% endif %}
                                </td>
                                <td class="td_buttons_contact_phone">
                                    {% if (competiteur.phoneNumber and competiteur.contactablePhoneNumber) or (competiteur.phoneNumber2 and competiteur.contactablePhoneNumber2) %}
                                        {% if (competiteur.phoneNumber and competiteur.contactablePhoneNumber) %}
                                            <div class="row center-align valign-wrapper" style="margin-bottom: 0;">
                                                <div class="col l12 m6" style="width: 100%; margin: 0 !important;">
                                                    <span class="phone_number_span">{{ competiteur.phoneNumber | split('', 2) | join(' ') }}</span>
                                                </div>
                                                <div class="col m2 hide-on-large-only">
                                                    <a class="btn blue truncate" href="tel:{{ competiteur.phoneNumber }}">
                                                        <i class="material-icons">phone</i>
                                                    </a>
                                                </div>
                                                <div class="col m2 hide-on-large-only">
                                                    <a class="btn blue truncate" href="sms:{{ competiteur.phoneNumber }}">
                                                        <i class="material-icons">message</i>
                                                    </a>
                                                </div>
                                                <div class="col m2 hide-on-large-only whatsapp_btn">
                                                    <a class="btn truncate" href="https://wa.me/{{ competiteur.phoneNumber }}">
                                                        <img src="{{ asset('images/whatsapp_icon.png') }}" alt="whatsapp_icon">
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                        {% endif %}
                                        {% if (competiteur.phoneNumber2 and competiteur.contactablePhoneNumber2) %}
                                            <div class="row center-align valign-wrapper">
                                                <div class="col m12 l6" style="width: 100%; margin: 0 !important;">
                                                    <span>{{ competiteur.phoneNumber2 | split('', 2) | join(' ') }}</span>
                                                </div>
                                                <div class="col m3 hide-on-large-only">
                                                    <a class="btn blue truncate" href="tel:{{ competiteur.phoneNumber2 }}">
                                                        <i class="material-icons">phone</i>
                                                    </a>
                                                </div>
                                                <div class="col m3 hide-on-large-only">
                                                    <a class="btn blue truncate" href="sms:{{ competiteur.phoneNumber2 }}">
                                                        <i class="material-icons">message</i>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <p class="grey-text"><i>Non renseigné</i></p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="lobster_2 missingTitle">Il n'y a pas de compétiteurs enregistrés.</p>
        {% endif %}
    </div>

    <script type="text/javascript" src="{{ asset('JS/sendMail.js') }}" defer></script>
{% endblock %}