<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="https://www.esftt.com/favicon.ico?v3">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('CSS/materialize-v1.0.0/materialize/css/materialize.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('CSS/style.css') }}" media="screen,projection" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ asset('JS/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('CSS/materialize-v1.0.0/materialize/js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JS/script.js') }}"></script>
    </head>

    <body>
        <div id="wrap">
            <div id="main">
                {% block body %}{% endblock %}
            </div>

            {% include('components/footer.html.twig') %}
        </div>
    </body>
</html>