<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="{{ asset('css_js/materialize-v1.0.0/materialize/css/materialize.min.css') }}">
        <!--Import my own style.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset('css_js/style.css') }}" media="screen,projection" />
        <!--Import Google Font Family-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

        <!--Scripts trigger de JQuery-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!--Scripts trigger de Materialize-->
        <script src="{{ asset('css_js/materialize-v1.0.0/materialize/js/materialize.min.js') }}"></script>
        <!--Scripts perso -->
        <script src="{{ asset('css_js/script.js') }}"></script>
        <!--Scripts trigger de Nice-Scroll-->
        <script src="{{ asset('jquery.nicescroll-3.7.6/jquery.nicescroll.js') }}"></script>
    </head>

    <body> {% block body %}{% endblock %} </body>
</html>
