{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}

{% block body %}

    <div class="container fftt_api_manager">
        <div class='card-panel center-align white-text title_journee'>
            <h3 style="margin-bottom: 15px; margin-top: 15px;">Vérifications des données</h3>
        </div>

        <div class='card-panel center'>
            <h4>Les compétiteurs</h4>
            <p><b>{{ message }}</b></p>

            {% if joueursIssued|length %}

                <table class="centered responsive-table">
                    <thead>
                    <tr>
                        <th>Recensé</th>
                        <th>Points valides</th>
                        <th>Nom</th>
                        <th>Licence</th>
                        <th>Points Kompo</th>
                        <th>Points FFTT</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for joueur in joueursIssued %}
                            <tr>
                                <td>
                                    {% if joueur.recorded %}
                                        <i class='green-text material-icons'>done</i>
                                    {% else %}
                                        <i class='red-text material-icons'>clear</i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not joueur.hasSamePoints %}
                                        <i class='green-text material-icons'>done</i>
                                    {% else %}
                                        <i class='red-text material-icons'>clear</i>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="chip">
                                        {% if joueur.joueur.avatar %}
                                            <img src="{{ vich_uploader_asset(joueur.joueur, 'imageFile') }}" alt="Avatar">
                                        {% else %}
                                            <img src="{{ asset('images/account.png') }}" alt="Avatar">
                                        {% endif %}
                                        <span>{{ joueur.joueur.nom }} {{ joueur.joueur.prenom }}</span>
                                    </div>
                                </td>
                                <td>{{ joueur.joueur.licence }}</td>
                                <td>
                                    {% if joueur.hasSamePoints %}
                                        <span class="red-text"><b>{{ joueur.joueur.classementOfficiel }}</b></span>
                                    {% else %}
                                        {{ joueur.joueur.classementOfficiel }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if joueur.hasSamePoints %}
                                        <span class="red-text"><b>{{ joueur.pointsFFTT }}</b></span>
                                    {% else %}
                                        {{ joueur.pointsFFTT }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="card-panel center">
            <h4>Les équipes - Départemental</h4>

            {% if equipesIssued|length %}
                    <table class="striped centered responsive-table">
                        <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Division Kompo</th>
                            <th>Division FFTT</th>
                            <th>Poule Kompo</th>
                            <th>Poule FFTT</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for numero, equipe in equipesIssued %}
                                <tr>
                                    <td><b>{{ equipe.numeroKompo }}</b></td>
                                    <td {% if equipe.divisionKompo != equipe.divisionFFTT %}class="red-text" {% endif %}>{{ equipe.divisionKompo }}</td>
                                    <td {% if equipe.divisionKompo != equipe.divisionFFTT %}class="red-text" {% endif %}>{{ equipe.divisionFFTT }}</td>
                                    <td {% if equipe.pouleKompo != equipe.pouleFFTT %}class="red-text" {% endif %}>{{ equipe.pouleKompo }}</td>
                                    <td {% if equipe.pouleKompo != equipe.pouleFFTT %}class="red-text" {% endif %}>{{ equipe.pouleFFTT }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% else %}
                <p class="lobster_2 missingTitle">Il n'y a pas d'équipes incorrectes.</p>
            {% endif %}
        </div>

        <div class="card-panel center">
            <h4>Les rencontres - Départemental</h4>

            {% if rencontresParEquipesSorted|length %}
                {% for equipe, rencontres in rencontresParEquipesSorted %}
                    <ul class="collapsible backoffice_disponibilites">
                        <li>
                            <div class="collapsible-header">
                                <div class="chip">
                                    <i class="material-icons" style="vertical-align: middle;">people</i>
                                    {{ equipe }}
                                </div>
                                <i class="caret material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="collapsible-body">

                                <table class="striped centered responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Journée</th>
                                        <th>Adversaire Kompo</th>
                                        <th>Adversaire FFTT</th>
                                        <th>Domicile Kompo</th>
                                        <th>Domicile FFTT</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for rencontre in rencontres %}
                                        <tr>
                                            <td><b>{{ rencontre.journee }}</b></td>
                                            <td {% if rencontre.adversaireKompo != rencontre.adversaireFFTT %}class="red-text" {% endif %}>{{ rencontre.adversaireKompo }}</td>
                                            <td {% if rencontre.adversaireKompo != rencontre.adversaireFFTT %}class="red-text" {% endif %}>{{ rencontre.adversaireFFTT }}</td>
                                            <td {% if rencontre.domicileKompo != rencontre.domicileFFTT %}class="red-text" {% endif %}>{{ rencontre.domicileKompo ? 'Oui' : 'Non' }}</td>
                                            <td {% if rencontre.domicileKompo != rencontre.domicileFFTT %}class="red-text" {% endif %}>{{ rencontre.domicileFFTT ? 'Oui' : 'Non' }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <p class="lobster_2 missingTitle">Il n'y a pas de rencontres incorrectes.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}