<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">
            <a class="center" href="https://www.esftt.com">Site du club</a><br>
            <a class="center" href="https://www.esftt.com/forum">Forum privé</a><br>
            <a class="center" href="https://www.facebook.com/groups/46831155736">Notre Facebook</a>
        </div>
        <div class="container center">
            <div class="lien_long">
                <a class="center" href="{{ path('informations', {type: 'championnat-departemental'}) }}">Championnat départemental</a><br>
                <a class="center" href="{{ path('informations', {type: 'championnat-de-paris'}) }}">Championnat de Paris</a><br>
            </div>
            <div class="lien_court">
                <a class="center" href="{{ path('informations', {type: 'championnat-departemental'}) }}">Champ. depart.</a><br>
                <a class="center" href="{{ path('informations', {type: 'championnat-de-paris'}) }}">Champ. de Paris</a><br>
            </div>
            <a class="center" href="{{ path('informations', {type: 'criterium-federal'}) }}">Critérium fédéral</a><br>
            <a class="center" href="{{ path('index.tournois') }}">Tournois</a><br>
        </div>
        <div class="container center">
            <div class="lien_long">
                <a class="center" href="{{ path('informations', {type: 'general'}) }}">Informations générales</a><br>
            </div>
            <div class="lien_court">
                <a class="center" href="{{ path('informations', {type: 'general'}) }}">Infos générales</a><br>
            </div>
            <a class="center" href="https://www.pingpocket.fr/">PingPocket</a><br>
            <a class="center" href="{{ path('aide') }}">Aide Kompo</a>
        </div>
    </div>
</footer>