<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">
            <a target="_blank" class="center" href="https://www.esftt.com">Site du club</a><br>
            <a target="_blank" class="center" href="https://www.esftt.com/forum">Forum privé</a><br>
            <a target="_blank" class="center" href="https://www.facebook.com/groups/46831155736">Notre Facebook</a>
        </div>
        {% set suffixebackoffice = (app.request.get('backoffice') == 'true' or app.request.getPathInfo starts with '/backoffice' ? 'true' : null) %}
        <div class="container center">
            <div class="lien_long">
                <a class="center{% if app.request.getPathInfo starts with '/informations/championnat-departemental' %} active{% endif %}" href="{{ path('informations', {type: 'championnat-departemental', backoffice: suffixebackoffice}) }}">Championnat départemental</a><br>
                <a class="center{% if app.request.getPathInfo starts with '/informations/championnat-de-paris' %} active{% endif %}" href="{{ path('informations', {type: 'championnat-de-paris', backoffice: suffixebackoffice}) }}">Championnat de Paris</a><br>
            </div>
            <div class="lien_court">
                <a class="center{% if app.request.getPathInfo starts with '/informations/championnat-departemental' %} active{% endif %}" href="{{ path('informations', {type: 'championnat-departemental', backoffice: suffixebackoffice}) }}">Champ. depart.</a><br>
                <a class="center{% if app.request.getPathInfo starts with '/informations/championnat-de-paris' %} active{% endif %}" href="{{ path('informations', {type: 'championnat-de-paris', backoffice: suffixebackoffice}) }}">Champ. de Paris</a><br>
            </div>
            <a class="center{% if app.request.getPathInfo starts with '/informations/criterium-federal' %} active{% endif %}" href="{{ path('informations', {type: 'criterium-federal', backoffice: suffixebackoffice}) }}">Critérium fédéral</a><br>
            <a class="center{% if app.request.getPathInfo starts with '/tournois' %} active{% endif %}" href="{{ path('index.tournois', {backoffice: suffixebackoffice}) }}">Tournois FFTT</a><br>
        </div>
        <div class="container center">
            <div class="lien_long">
                <a class="center{% if app.request.getPathInfo starts with '/informations/general' %} active{% endif %}" href="{{ path('informations', {type: 'general', backoffice: suffixebackoffice}) }}">Informations générales</a><br>
            </div>
            <div class="lien_court">
                <a class="center{% if app.request.getPathInfo starts with '/informations/general' %} active{% endif %}" href="{{ path('informations', {type: 'general', backoffice: suffixebackoffice}) }}">Infos générales</a><br>
            </div>
            <a target="_blank" class="center" href="https://www.pingpocket.fr/">PingPocket</a><br>
            <a class="center{% if app.request.getPathInfo starts with '/aide' %} active{% endif %}" href="{{ path('aide', suffixebackoffice ? {backoffice: suffixebackoffice} : {}) }}">Aide Kompo</a>
        </div>
    </div>
</footer>