{% if app.user %}
    <li class="li_in_line{% if app.request.getPathInfo starts with '/compte' %} active blue darken-3{% endif %}">
        <a class="white-text center-align" style="padding-left: 26px;" href="{{ path('account', app.request.get('backoffice') == 'true' or app.request.getPathInfo starts with '/backoffice' ? {backoffice: 'true'} : {}) }}">
            <div class="chip chip-menu chip-mobile left">
                {% if app.user.avatar %}
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') | imagine_filter('thumb') }}" alt="Avatar">
                {% else %}
                    <img src="{{ asset('images/account.png') | imagine_filter('thumb') }}" alt="Avatar">
                {% endif %}
            </div>
            Mon compte
        </a>
    </li>

    <li class="li_in_line{% if app.request.getPathInfo starts with '/contact' %} active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path('contact', app.request.get('backoffice') == 'true' or app.request.getPathInfo starts with '/backoffice' ? {backoffice: 'true'} : {}) }}"><i class="white-text material-icons left">perm_phone_msg</i>Contacter</a>
    </li>

    {% if ('ROLE_CAPITAINE' in app.token.roleNames or 'ROLE_ADMIN' in app.token.roleNames) %}
        <li class="li_in_line{% if app.request.getPathInfo starts with '/backoffice' %} active blue darken-3{% endif %}">
            <a class="white-text center-align" href="{{ path('backoffice') }}"><i class="white-text material-icons left">tune</i>Gestion</a>
        </li>
    {% endif %}

    <li class="li_in_line deconnexion"><a class="white-text center-align" href="{{ path('logout') }}"><i class="white-text material-icons left">power_settings_new</i>Se déconnecter</a></li>
{% endif %}