{% if app.request.getPathInfo == '/login' %}
    {% set type = 'departementale' %}
{% else %}
    {% if app.session.get('type') is not null %}
        {% set type = app.session.get('type') %}
    {% else %}
        {% set type = 'departementale' %}
    {% endif %}
{% endif %}

<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo show-on-small hide-on-med-and-up"><img width="100%" src="https://www.esftt.com/images/logo-new.png" alt="logo ESFTT"></a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            {% if app.user %}
                <ul class="left hide-on-med-and-down">
                    {% set otherType = (type == 'paris') ? 'departementale' : 'paris' %}

                    {% for journee in journees %}
                        <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo == '/journee/' ~ type ~ '/' ~ journee.idJournee %}active blue darken-3{% endif %}">
                            <a class="white-text" href="{{ path("journee.show", {type: type, id: journee.idJournee}) }}"><span style="font-family: 'Lora', serif;">J</span>{{ journee.idJournee }} - {{ journee.date|date('d/m') }}</a>
                        </li>
                    {% endfor %}

                    <li class="waves-light waves-effect li_in_line">
                        <a class="white-text" href="{{ path("journee.show", {type: otherType, id: 1}) }}">
                            <i class="material-icons left green-text">swap_horiz</i>
                            {% if type == 'paris' %}
                                Champ. départemental
                            {% elseif type == 'departementale' %}
                                Champ. de Paris
                            {% endif %}
                        </a>
                    </li>
                </ul>
            {% endif %}

            {% include('components/navbar_common_pc.html.twig') %}
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    {% set otherType = (type == 'paris') ? 'departementale' : 'paris' %}

    <div class="first_sidenav">
        {% for journee in journees %}
            <li class="li_in_line {% if app.request.getPathInfo == '/journee/' ~ type ~ '/' ~ journee.idJournee %}active blue darken-3{% endif %}">
                <a class="white-text center-align" href="{{ path("journee.show", {type: type, id: journee.idJournee}) }}">Journée {{ journee.idJournee }} - {{ journee.date|date('d/m/Y') }}</a>
            </li>
        {% endfor %}
    </div>

    <li class="li_in_line">
        <a class="white-text" href="{{ path("journee.show", {type: otherType, id: 1}) }}">
            <i class="material-icons left green-text">swap_horiz</i>
            {% if type == 'paris' %}
                Champ. départemental
            {% elseif type == 'departementale' %}
                Champ. de Paris
            {% endif %}
        </a>
    </li>
    {% include('components/navbar_common_mobile.html.twig') %}
</ul>