<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                {% if app.request.getPathInfo == '/compte' or app.request.getPathInfo == '/login' %}
                    {% set type = 'departementale' %}
                {% elseif app.request.getPathInfo|split('/')[2] != 'paris' or app.request.getPathInfo|split('/')[2] != 'departementale' %}
                    {% set type = ('departementale' in app.request.getPathInfo ? 'departementale' : 'paris') %}
                {% else %}
                    {% set type = 'departementale' %}
                {% endif %}
                {% set otherType = (type == 'paris') ? 'departementale' : 'paris' %}

                {% for journee in journees %}
                    <li class="li_in_line {% if app.request.getPathInfo == '/journee/' ~ type ~ '/' ~ journee.idJournee %}active blue darken-3{% endif %}">
                        <a class="waves-light waves-effect white-text" href="{{ path("journee.show", {type: type, id: journee.idJournee}) }}">J{{ journee.idJournee }} - {{ journee.date|date('d/m') }}</a>
                    </li>
                {% endfor %}

                <li id="btn_link">
                    <a class="waves-light waves-effect dropdown-trigger" href="{{ path("journee.show", {type: otherType, id: 1}) }}">
                        <i class="material-icons left green-text">swap_horiz</i>
                        {% if type == 'paris' %}
                            Champ. départemental
                        {% elseif type == 'departementale' %}
                            Champ. de Paris
                        {% endif %}
                    </a>
                </li>

            </ul>

            <ul class="right hide-on-med-and-down">
                <li class="li_in_line">
                    <a class="waves-light waves-effect white-text" href="https://www.esftt.com/forum">Forums</a>
                </li>

                {% if app.user %}
                    <li class="li_in_line {% if app.request.getPathInfo == '/compte' %}active blue darken-3{% endif %}">
                        <a class="waves-light waves-effect white-text" href="{{ path('account') }}">Mon compte</a>
                    </li>

                    {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
                        <li class="li_in_line {% if app.request.getPathInfo == '/back/office' %}active blue darken-3{% endif %}">
                            <a class="waves-light waves-effect white-text" href="{{ path('back_office') }}">Gestion</a>
                        </li>
                    {% endif %}

                    <li class="li_in_line"><a class="waves-light waves-effect white-text" href="{{ path('logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li class="li_in_line"><a class="waves-light waves-effect white-text" href="{{ path('login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    {% if app.request.getPathInfo == '/compte' or app.request.getPathInfo == '/login' %}
        {% set type = 'departementale' %}
    {% elseif app.request.getPathInfo|split('/')[2] != 'paris' or app.request.getPathInfo|split('/')[2] != 'departementale' %}
        {% set type = ('departementale' in app.request.getPathInfo ? 'departementale' : 'paris') %}
    {% else %}
        {% set type = 'departementale' %}
    {% endif %}
    {% set otherType = (type == 'paris') ? 'departementale' : 'paris' %}

    <div class="first_sidenav">
        {% for journee in journees %}
            <li class="li_in_line {% if app.request.getPathInfo == '/journee/' ~ type ~ '/' ~ journee.idJournee %}active blue darken-3{% endif %}">
                <a class="white-text waves-light waves-effect center-align" href="{{ path("journee.show", {type: type, id: journee.idJournee}) }}">Journée {{ journee.idJournee }} - {{ journee.date|date('d/m/Y') }}</a>
            </li>
        {% endfor %}
    </div>

    <li id="btn_link">
        <a class="waves-light waves-effect white-text dropdown-trigger" href="{{ path("journee.show", {type: otherType, id: 1}) }}">
            <i class="material-icons left green-text">swap_horiz</i>
            {% if type == 'paris' %}
                Champ. départemental
            {% elseif type == 'departementale' %}
                Champ. de Paris
            {% endif %}
        </a>
    </li>
    {% include('macros/navbar_common.html.twig') %}
</ul>