<!-- Dropdown Structure -->
<ul id="champ_de_paris" class="dropdown-content">
    {% for journee in journeesParis %}
        <li style="background-color: #012242" {% if app.request.getPathInfo == '/journee/' ~ journee.linkType ~ '/' ~ journee.idJournee %}class="active blue darken-3"{% endif %}>
            <a class="white-text center-align" href="{{ path("journee.show", {type: journee.linkType, id: journee.idJournee}) }}">
                J{{ journee.idJournee }} - {{ journee.date|date('d/m/Y') }}</a>
        </li>
    {% endfor %}
</ul>

<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                {% for journee in journeesDepartementales %}
                    <li class="li_in_line {% if app.request.getPathInfo == '/journee/' ~ journee.linkType ~ '/' ~ journee.idJournee %}active blue darken-3{% endif %}"><a class="white-text" href="{{ path("journee.show", {type: journee.linkType, id: journee.idJournee}) }}">J{{ journee.idJournee }} - {{ journee.date|date('d/m') }}</a></li>
                {% endfor %}
                <!-- Dropdown Trigger -->
                <li id="dropdown_link" {% if app.request.getPathInfo starts with '/journee/paris/' %}class="active blue darken-3"{% endif %}>
                    <a class="dropdown-trigger" href="#" data-target="champ_de_paris">
                        Champ. de Paris<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>

            </ul>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="li_in_line"><a class="white-text" href="https://www.esftt.com/forum">Forums</a></li>
                {% if app.user %}
                    <li class="li_in_line{% if app.request.getPathInfo == '/compte' %}active blue darken-3{% endif %}"><a class="white-text" href="{{ path('account') }}">Mon compte</a></li>
                    <li class="divider"></li>
                    <li class="li_in_line"><a class="white-text" href="{{ path('logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li class="li_in_line"><a class="white-text" href="{{ path('login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>