{% if app.session.get('type') is not null %}
    {% set type = app.session.get('type') %}
{% else %}
    {% set type = 'departementale' %}
{% endif %}

<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo hide-on-med-and-up"><img width="180px" src="https://www.esftt.com/images/logo-new.png" alt="logo ESFTT"></a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul class="left hide-on-med-and-down">
                <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo starts with '/backoffice/rencontre' %}active blue darken-3{% endif %}">
                    <a class="white-text" href="{{ path("backoffice.rencontres") }}"><i class="material-icons left">flash_on</i>Rencontres</a>
                </li>
                <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo starts with '/backoffice/journee' %}active blue darken-3{% endif %}">
                    <a class="white-text" href="{{ path("backoffice.journees") }}"><i class="material-icons left">date_range</i>Journées</a>
                </li>
                <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo starts with '/backoffice/equipe' %}active blue darken-3{% endif %}">
                    <a class="white-text" href="{{ path("backoffice.equipes") }}"><i class="material-icons left">format_list_numbered</i>Équipes</a>
                </li>
                <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo starts with '/backoffice/division' %}active blue darken-3{% endif %}">
                    <a class="white-text" href="{{ path("backoffice.divisions") }}"><i class="material-icons left">star_border</i>Divisions</a>
                </li>
                <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo == '/backoffice/disponibilites' %}active blue darken-3{% endif %}">
                    <a class="white-text" href="{{ path("backoffice.disponibilites") }}"><i class="material-icons left">feedback</i>Disponibilités</a>
                </li>
                <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo starts with '/backoffice/competiteur' %}active blue darken-3{% endif %}">
                    <a class="white-text" href="{{ path("backoffice.competiteurs") }}"><i class="material-icons left">account_box</i>Compétiteurs</a>
                </li>
                <li class="waves-light waves-effect li_in_line">
                    <a class="white-text" href="{{ path("index") }}">
                        <i class="green-text material-icons left">keyboard_return</i>Compositions
                    </a>
                </li>
            </ul>

            {% include('components/navbar_common_pc.html.twig') %}
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    <li class="li_in_line {% if app.request.getPathInfo starts with '/backoffice/rencontre' %}active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path("backoffice.rencontres") }}"><i class="white-text material-icons left">flash_on</i>Rencontres</a>
    </li>
    <li class="li_in_line {% if app.request.getPathInfo starts with '/backoffice/journee' %}active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path("backoffice.journees") }}"><i class="white-text material-icons left">date_range</i>Journées</a>
    </li>
    <li class="li_in_line {% if app.request.getPathInfo starts with '/backoffice/equipe' %}active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path("backoffice.equipes") }}"><i class="white-text material-icons left">format_list_numbered</i>Équipes</a>
    </li>
    <li class="li_in_line {% if app.request.getPathInfo starts with '/backoffice/division' %}active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path("backoffice.divisions") }}"><i class="white-text material-icons left">star_border</i>Divisions</a>
    </li>
    <li class="first_sidenav li_in_line {% if app.request.getPathInfo == '/backoffice/disponibilites' %}active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path("backoffice.disponibilites") }}"><i class="white-text material-icons left">feedback</i>Disponibilités</a>
    </li>
    <li class="li_in_line {% if app.request.getPathInfo starts with '/backoffice/competiteur' %}active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path("backoffice.competiteurs") }}"><i class="white-text material-icons left">account_box</i>Compétiteurs</a>
    </li>
    <li class="li_in_line">
        <a class="white-text center-align dropdown-trigger" href="{{ path("index") }}">
            <i class="green-text material-icons left">keyboard_return</i>Compositions
        </a>
    </li>

    <li><div class="divider_custom"></div></li>

    {% include('components/navbar_common_mobile.html.twig') %}
</ul>