<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="https://www.esftt.com/"><img class="responsive-img" width="70" height="70" src="https://www.esftt.com/images/logo-new.png" alt="Logo du club"></a></li>

            {% for journee in journees %}
                <li {% if app.request.getPathInfo == '/journee/' ~ journee.nJournee %}class="active blue darken-3"{% endif %}><a class="white-text" href="{{ path("journee.show", {id: journee.nJournee}) }}">J{{ journee.nJournee }} - {{ journee.date|date('d/m') }}</a></li>
            {% endfor %}
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="white-text" href="https://www.esftt.com/forum">Forums</a></li>
            {% if app.user %}
                <li><a class="white-text" href="{{ path('account') }}">Mon compte</a></li>
                <li class="divider"></li>
                <li><a class="white-text" href="{{ path('logout') }}">Se déconnecter</a></li>
            {% else %}
                <li><a class="white-text" href="{{ path('login') }}">Se connecter</a></li>
            {% endif %}
        </ul>
    </div>
</nav>