<ul class="right_items_navbar right hide-on-med-and-down">
    <li class="waves-light waves-effect li_in_line">
        <a class="white-text" href="https://www.esftt.com/forum">Forum</a>
    </li>

    {% if app.user %}

        {% if 'ROLE_VISITEUR' not in app.token.roleNames %}
            <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo == '/compte' %}active blue darken-3{% endif %}">
                <a class="white-text" href="{{ path('account') }}">Compte</a>
            </li>
        {% endif %}

        {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
            <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo starts with '/backoffice' %}active blue darken-3{% endif %}">
                <a class="white-text" href="{{ path('back_office') }}">Gestion</a>
            </li>
        {% endif %}

        <li class="waves-light waves-effect li_in_line"><a class="white-text" href="{{ path('logout') }}">Se déconnecter</a></li>
    {% endif %}
</ul>

<ul class="right">
    <!-- Dropdown Trigger -->
    <li>
        <a hidden id="dropdowner" class="menu_navbar dropdown-trigger" href="#!" data-target="menu_dropdown">Menu<i class="material-icons right">arrow_drop_down</i></a>
    </li>
</ul>



<!-- Dropdown Structure -->
<ul id="menu_dropdown" class="dropdown-content">
    <li class="waves-light waves-effect" style="margin-left: 0;">
        <a class="white-text" href="https://www.esftt.com/forum">Forum</a>
    </li>

    {% if app.user %}

        {% if 'ROLE_VISITEUR' not in app.token.roleNames %}
            <li class="waves-light waves-effect {% if app.request.getPathInfo == '/compte' %}active blue darken-3{% endif %}">
                <a class="white-text" href="{{ path('account') }}">Compte</a>
            </li>
        {% endif %}

        {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
            <li class="waves-light waves-effect {% if app.request.getPathInfo starts with '/backoffice' %}active blue darken-3{% endif %}">
                <a class="white-text" href="{{ path('back_office') }}">Gestion</a>
            </li>
        {% endif %}

        <li class="waves-light waves-effect">
            <a class="white-text" href="{{ path('logout') }}">Se déconnecter</a>
        </li>
    {% endif %}
</ul>