{% set idJourneeCompo = (compo is defined ? compo.idJournee.idJournee : -1) %}

<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper navbar-general">
            <div class="esftt_logo" {% if app.user %}hidden{% endif %}>
                <img class="brand-logo" width="180px" src="https://www.esftt.com/images/logo-new.png" alt="logo ESFTT">
            </div>
            
            {% if app.user %}
                <a href="#" data-target="slide-out" class="sidenav-trigger sidenav-general"><i class="material-icons">menu</i></a>
            {% endif %}

            {% if app.user %}
                <ul class="left_items">
                    {% if allChampionnats|length == 0 %}
                        <li class="li_in_line{% if app.request.getPathInfo == '/' %} active blue darken-3{% endif %}">
                            <a class="white-text center-align" href="{{ path('index') }}"><i class="white-text material-icons left">home</i>Accueil</a>
                        </li>
                    {% endif %}

                    {% for i, journee in journees %}
                        <li class="waves-light waves-effect li_in_line {% if app.request.getPathInfo == '/journee/' ~ championnat.idChampionnat ~ '/' ~ journee.idJournee or journee.idJournee == idJourneeCompo %}active blue darken-3{% endif %}">
                            <a class="white-text" href="{{ path("journee.show", {type: championnat.idChampionnat, id: journee.idJournee}) }}">
                                <span style="font-family: 'Lora', serif;">J</span>
                                {{ i+1 }} -
                                {% if journee.undefined %}
                                    <span class="red-text"><b>?/?</b></span>
                                {% else %}
                                    {{ journee.dateJournee|date('d/m') }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}

                    <!-- Dropdown Trigger -->
                    {% if allChampionnats|length > 1 %}
                        <li class="li_in_line">
                            <a id="dropdowner" class="dropdown-trigger" href="#!" data-target="menu_dropdown">
                                {{ championnat.nom }}
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>

                        <!-- Dropdown Structure -->
                        <ul id="menu_dropdown" class="dropdown-content">
                            {% for championnatList in allChampionnats %}
                                <li class="waves-light waves-effect li_in_line{% if championnat.idChampionnat == championnatList.idChampionnat %} blue darken-3{% endif %}">
                                    <a class="white-text" href="{{ path("index.type", {type: championnatList.idChampionnat}) }}">
                                        <i class="material-icons left green-text">swap_horiz</i>{{ championnatList.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </ul>
            {% endif %}

            <div class="right_items_navbar_general">
                {% include('components/navbar_common_pc.html.twig') %}
            </div>
        </div>
    </nav>
</div>

{% if app.user %}
<!-- SideNav Structure -->
    <ul id="slide-out" class="sidenav">
        <div class="first_sidenav">
            {% if allChampionnats|length > 1 %}
                <ul class="collapsible collapsible-accordion">
                    <li class="li_in_line center">
                        <a class="collapsible-header collapsible-header-sidenav white-text center">
                            <div class="chip white-text chip-sidenav">
                                {{ championnat.nom }}
                            </div>
                            <i class="caret caret-sidenav material-icons white-text right">keyboard_arrow_down</i>
                        </a>
                        <div id="collapsible-sidenav" class="collapsible-body" style="padding: 0">
                            <ul>
                                {% for championnatList in allChampionnats %}
                                    <li class="waves-light waves-effect li_in_line{% if championnat.idChampionnat == championnatList.idChampionnat %} blue darken-3{% endif %}">
                                        <a class="white-text center" href="{{ path("index.type", {type: championnatList.idChampionnat}) }}">
                                            <i class="material-icons left green-text">swap_horiz</i>{{ championnatList.nom }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            {% endif %}

            {% for i, journee in journees %}
                <li class="li_in_line {% if app.request.getPathInfo == '/journee/' ~ championnat.idChampionnat ~ '/' ~ journee.idJournee or journee.idJournee == idJourneeCompo %}active blue darken-3{% endif %}">
                    <a class="white-text center-align" href="{{ path('journee.show', {type: championnat.idChampionnat, id: journee.idJournee}) }}">
                        Journée {{ i+1 }} -
                        {% if journee.undefined %}
                            <span class="red-text"><b>?/?</b></span>
                        {% else %}
                            {{ journee.dateJournee|date('d/m/Y') }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </div>

        {% if allChampionnats|length > 0 %}
            <li><div class="divider_custom"></div></li>
        {% endif %}
        {% if allChampionnats|length == 0 %}
            <li class="li_in_line{% if app.request.getPathInfo == '/' %} active blue darken-3{% endif %}">
                <a class="white-text center-align" href="{{ path('index') }}"><i class="white-text material-icons left">home</i>Accueil</a>
            </li>
        {% endif %}

        {% include('components/navbar_common_mobile.html.twig') %}
    </ul>
{% endif %}