{% if app.user %}
    <li class="li_in_line{% if app.request.getPathInfo == '/compte' %} active blue darken-3{% endif %}">
        <a class="white-text center-align" style="padding-left: 26px;" href="{{ path('account') }}">
            <div class="chip chip-menu chip-mobile left">
                {% if app.user.avatar %}
                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="Avatar">
                {% else %}
                    <img src="{{ asset('images/account.png') }}" alt="Avatar">
                {% endif %}
            </div>
            Mon compte
        </a>
    </li>

    <li class="li_in_line{% if app.request.getPathInfo starts with '/contact' %} active blue darken-3{% endif %}">
        <a class="white-text center-align" href="{{ path('contact') }}"><i class="white-text material-icons left">perm_phone_msg</i>Contacter</a>
    </li>

    {% if 'ROLE_CAPITAINE' in app.token.roleNames %}
        <li class="li_in_line{% if app.request.getPathInfo starts with '/backoffice' %} active blue darken-3{% endif %}">
            <a class="white-text center-align" href="{{ path('backoffice') }}"><i class="white-text material-icons left">format_list_bulleted</i>Gestion</a>
        </li>
    {% endif %}

    <li class="li_in_line deconnexion"><a class="white-text center-align" href="{{ path('logout') }}"><i class="white-text material-icons left">power_settings_new</i>Se déconnecter</a></li>
{% endif %}