{% macro edit_account(type, title, form, urlImage, btn_text) %}
    <div class="card-panel center-align">
        <h4 class="h4_form" style="margin-bottom: 0;">{{ title }}</h4><br>
        {{ form_start(form) }}
            <div class="row section">
                <h5 style="margin-top: 0;">Informations personnelles</h5>

                <div class="col s12 m6">
                    <span><i class="material-icons prefix">person</i> NOM Prénom</span>{{ form_row(form.nom) }}
                </div>
                <div class="col s12 m6">
                    <span><i class="material-icons prefix">account_circle</i> Pseudo</span>{{ form_row(form.username, {'attr': {'autocapitalize': 'off'}}) }}
                </div>

                {% if type == 'backoffice' %}
                    <div class="col s12 m6">
                        {{ form_row(form.role) }}
                    </div>
                    <div class="col s12 m6">
                        {{ form_row(form.visitor) }}
                    </div>
                {% endif %}
            </div>

            <div class="divider"></div>

            <div class="row section">
                <h5>Contacts</h5>

                <div class="col s12 m6 offset-m1">
                    <span><i class="material-icons prefix">mail</i> Adresse mail</span>{{ form_row(form.mail) }}
                </div>
                <div class="col s12 m5 left-align" style="margin-top: 40px;">
                    {{ form_row(form.contactableMail) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m1">
                    <span><i class="material-icons prefix">mail</i> Adresse mail bis</span>{{ form_row(form.mail2) }}
                </div>
                <div class="col s12 m5 left-align" style="margin-top: 40px;">
                    {{ form_row(form.contactableMail2) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m1">
                    <span><i class="material-icons prefix">smartphone</i> Numéro de téléphone</span>{{ form_row(form.phoneNumber) }}
                </div>
                <div class="col s12 m5 left-align" style="margin-top: 40px;">
                    {{ form_row(form.contactablePhoneNumber) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m1">
                    <span><i class="material-icons prefix">smartphone</i> Numéro de téléphone bis</span>{{ form_row(form.phoneNumber2) }}
                </div>
                <div class="col s12 m5 left-align" style="margin-top: 40px;">
                    {{ form_row(form.contactablePhoneNumber2) }}
                </div>
            </div>

            <div class="divider"></div>

            <div class="row section">
                <h5>Informations Ping</h5>

                <div class="col s12 m6">
                    <span><i class="material-icons prefix">payment</i> Licence</span>{{ form_row(form.licence) }}
                </div>
                <div class="col s12 m6">
                    <span><i class="material-icons prefix">trending_up</i> Classement</span>{{ form_row(form.classementOfficiel) }}
                </div>
            </div>
            <br>

            <div class="divider"></div>

            <div class="row section" style="margin-bottom: 0;">
                <h5>Image de profil</h5>

                <div class="col s12 m9">
                    <br>{{ form_row(form.avatar, { 'id': 'competiteur_avatar'}) }}
                </div>
                <div class="col s12 m3">
                    <img id="img_competiteur_avatar" class="center-align" src="{{ urlImage }}" alt="image de profil du joueur" width="120rem" height="120rem">
                </div>
            </div>

            {% if app.request.getPathInfo == '/backoffice/competiteurs' %}
                <p style="margin-top: 0; margin-bottom: 0;" class="blue-text"><i class="material-icons">info</i> Le mot de passe par défaut est <b>esftt</b></p>
            {% endif %}

            <br><button class="btn waves-effect waves-light light-blue darken-1">{{ btn_text }}</button>
        {{ form_end(form) }}
    </div>

    <style>
        .col {
            margin-top: 20px;
        }
    </style>
{% endmacro %}

{% macro edit_password(title, path, type, options) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ title }}</h4>

        {% if type == 'general' %}
            <form action="{{ path(path) }}" method="POST">
        {% elseif type == 'backoffice' %}
            <form action="{{ path(path, {id: options.competiteurId}) }}" method="POST">
        {% endif %}

            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="new_password" id="new_password" type="password" class="validate" required>
                    <label for="new_password">Nouveau mot de passe</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="new_password_validate" id="new_password_validate" type="password" class="validate" required>
                    <label for="new_password_validate">Ressaisissez le nouveau mot de passe</label>
                </div>
            </div>
            <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        </form>
    </div>
{% endmacro %}