{% macro edit_account(type, title, form, urlImage, btn_text, options) %}
    <style>
        .col {
            margin-top: 20px;
        }
    </style>

    <div class="card-panel center-align">
        <h4 class="h4_form" style="margin-bottom: 0;">{{ title }}</h4><br>
        {{ form_start(form) }}
            <div class="row section" style="margin-bottom: 0;">
                <h5 style="margin-top: 0;">Informations personnelles</h5>

                <div class="col s12 m6">
                    <span><i class="material-icons prefix">person</i> NOM Prénom</span>{{ form_row(form.nom) }}
                </div>
                <div class="col s12 m6">
                    <span><i class="material-icons prefix">account_circle</i> Pseudo</span>{{ form_row(form.username, {'attr': {'autocapitalize': 'off'}}) }}
                </div>

                {% if 'ROLE_ADMIN' in app.token.roleNames %}
                    <div class="col s12 m6">
                        {{ form_row(form.isCapitaine) }}
                    </div>
                    <div class="col s12 m6">
                        {{ form_row(form.visitor) }}
                    </div>
                {% endif %}
            </div>

            {% if type == 'general' or (('ROLE_ADMIN' in app.token.roleNames or ('ROLE_CAPITAINE' in app.token.roleNames and options is not null and options.idActualUser == options.competiteurId)) and type == 'backoffice') %}
                <div class="row section">
                    <h5>Contacts</h5>

                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">mail</i> Adresse mail</span>{{ form_row(form.mail) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactableMail) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">mail</i> Adresse mail bis</span>{{ form_row(form.mail2) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactableMail2) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">smartphone</i> Numéro de téléphone</span>{{ form_row(form.phoneNumber) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactablePhoneNumber) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 offset-m1">
                        <span><i class="material-icons prefix">smartphone</i> Numéro de téléphone bis</span>{{ form_row(form.phoneNumber2) }}
                    </div>
                    <div class="col s12 m5 left-align" style="margin-top: 40px;">
                        {{ form_row(form.contactablePhoneNumber2) }}
                    </div>
                </div>
            {% endif %}

            <div class="row section" style="margin-bottom: 0;">
                <h5>Informations Ping</h5>

                <div class="col s12 m6">
                    <span><i class="material-icons prefix">payment</i> Licence</span>{{ form_row(form.licence) }}
                </div>
                <div class="col s12 m6">
                    <span><i class="material-icons prefix">trending_up</i> Classement (points officiels de la phase)</span>{{ form_row(form.classementOfficiel) }}
                </div>
            </div>
            <br>

            <div class="section profile_pic" style="margin-bottom: 0;">
                <h5>Image de profil</h5>
                <p><i>Formats acceptés : .jpeg, .png et .gif</i></p>
                {{ form_row(form.imageFile) }}
                {% if urlImage %}
                    <img style="max-height: 10rem; margin-top: 8px;" id="img_competiteur_avatar" class="center-align" src="{{ asset(urlImage ? 'images/profile_pictures/' ~ urlImage : 'images/account.png') }}" alt="image de profil du joueur">
                {% endif %}
            </div>

            {% if app.request.getPathInfo == '/backoffice/competiteur/new' %}
                <p style="margin-top: 0; margin-bottom: 25px;" class="blue-text"><i class="material-icons">info</i> Le mot de passe par défaut est <b>esftt</b></p>
            {% endif %}

            <a href="{{ path(type == 'backoffice' ? 'backoffice.competiteurs' : 'index') }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
            <button class="btn waves-effect waves-light light-blue darken-1 btn_gestion">{{ btn_text }}</button>
        {{ form_end(form) }}
    </div>

    {% if type == 'backoffice' %}
        <script>
            let it_c_m = $('#backoffice_competiteur_mail');
            let it_c_m_2 = $('#backoffice_competiteur_mail2');
            let it_c_pn = $('#backoffice_competiteur_phoneNumber');
            let it_c_pn_2 = $('#backoffice_competiteur_phoneNumber2');

            let cb_c_m = $('#backoffice_competiteur_contactableMail');
            let cb_c_m_2 = $('#backoffice_competiteur_contactableMail2');
            let cb_c_pn = $('#backoffice_competiteur_contactablePhoneNumber');
            let cb_c_pn_2 = $('#backoffice_competiteur_contactablePhoneNumber2');
        </script>
    {% else %}
        <script>
            let it_c_m = $('#competiteur_mail');
            let it_c_m_2 = $('#competiteur_mail2');
            let it_c_pn = $('#competiteur_phoneNumber');
            let it_c_pn_2 = $('#competiteur_phoneNumber2');

            let cb_c_m = $('#competiteur_contactableMail');
            let cb_c_m_2 = $('#competiteur_contactableMail2');
            let cb_c_pn = $('#competiteur_contactablePhoneNumber');
            let cb_c_pn_2 = $('#competiteur_contactablePhoneNumber2');
        </script>
    {% endif %}
    <script src="{{ asset('JS/editAccount.js') }}"></script>
{% endmacro %}

{% macro edit_password(title, path, type, options) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ title }}</h4>

        <form action="{% if type == 'general' %}{{ path(path) }}{% elseif type == 'backoffice' %}{{ path(path, {id: options.competiteurId}) }}{% endif %}" method="POST">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="new_password" id="new_password" type="password" class="validate" maxlength="100" required>
                    <label for="new_password">Nouveau mot de passe</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="new_password_validate" id="new_password_validate" type="password" maxlength="100" class="validate" required>
                    <label for="new_password_validate">Ressaisissez le nouveau mot de passe</label>
                </div>
            </div>
            <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        </form>
    </div>
{% endmacro %}