{% macro edit(form, btnText) %}
    <style>
        li {
            color: red;
        }
    </style>

    <div class="card-panel center-align">
        <h4 class="h4_form">{{ btnText }} une division</h4>

        {{ form_start(form) }}
            <div class="row">
                <div class="col s12 m2">
                    <span><i class="material-icons prefix">short_text</i> Diminutif</span>{{ form_row(form.shortName) }}
                </div>
                <div class="col s12 m4">
                    <span><i class="material-icons prefix">subject</i> Nom</span>{{ form_row(form.longName) }}
                </div>
                <div class="col s12 m3">
                    <span><i class="material-icons prefix">people</i> Nombre de joueurs</span>
                    {{ form_row(form.nbJoueurs) }}
                </div>
                <div class="col s12 m3">
                    <span><i class="material-icons prefix">stars</i> Championnat</span>
                    {{ form_row(form.idChampionnat) }}
                </div>
            </div>

            <br>
            <a href="{{ path('backoffice.divisions') }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
            <button class="btn btn_form waves-effect waves-light light-blue darken-1">{{ btnText }}</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}