{% macro division(form, btnText) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ btnText }} une division</h4>

        {{ form_start(form) }}
        <div class="row">
            <div class="col s12 m4">
                <span><i class="material-icons prefix">short_text</i> Nom court</span>{{ form_row(form.shortName) }}
            </div>
            <div class="col s12 m4">
                <span><i class="material-icons prefix">subject</i> Nom long</span>{{ form_row(form.longName) }}
            </div>
            <div class="col s12 m4">
                <span><i class="material-icons prefix">people</i> Nombre de joueurs en champ. de Paris</span>{{ form_row(form.nbJoueursChampParis) }}
            </div>
        </div>

        <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">{{ btnText }}</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}