{% macro equipe(form, btnText) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">{{ btnText }} une équipe</h4>

        {{ form_start(form) }}
            <div class="row form_div_list">
                <div class="col s12 m6 row">
                    {{ form_row(form.idDivision) }}
                </div>
                <div class="col s12 m6 row">
                    {{ form_row(form.idPoule) }}
                </div>
            </div>

            <br>
            <a href="{{ path('backoffice.equipes') }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
            <button class="btn btn_form waves-effect waves-light light-blue darken-1">{{ btnText }}</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}