{% macro journee(type, idJournee, form) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">
            Modifier la date de la journée{% if type == 'paris' %} de {{ type | capitalize }} {% else %} départementale{% endif %}
        </h4>
        <h5>Journée N° {{ idJournee }}</h5><br>

        {{ form_start(form) }}
            <div class="row">
                <div class="col s12">
                    {{ form_row(form.date) }}
                </div>
            </div>

            <button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}