{% macro journee(type, idJournee, form) %}
    <div class="card-panel center-align">
        <h4 class="h4_form">
            Date de la journée{% if type == 'paris' %} de {{ type | capitalize }} {% else %} départementale{% endif %}
        </h4>
        <h5>Journée n°{{ idJournee }}</h5><br>

        {{ form_start(form) }}
            <div class="container">
                {{ form_row(form.date) }}
            </div>

            <h5>OU</h5>

            {{ form_row(form.undefined) }}

            <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>

    <script>
        $(document).ready(function() {
            let undefinedDep = $('#journee_departementale_undefined');
            let undefinedPar = $('#journee_paris_undefined');

            if ("{{ type }}" === "departementale"){

                if (undefinedDep.is(':checked')) $('.select-dropdown').prop('disabled', true);

                undefinedDep.change(function() {
                    if(this.checked) $('.select-dropdown').prop('disabled', true);
                    else $('.select-dropdown').prop('disabled', false);
                });
            }
            else if ("{{ type }}" === "paris") {

                if (undefinedPar.is(':checked')) $('.select-dropdown').prop('disabled', true);

                undefinedPar.change(function() {
                    if(this.checked) $('.select-dropdown').prop('disabled', true);
                    else $('.select-dropdown').prop('disabled', false);
                });
            }
        });
    </script>
{% endmacro %}