{% macro rencontre(idJournee, idEquipe, date, form, domicile) %}
    <div class="card-panel center-align">
        <h4 class="hide-on-small-only titre">Journée {{ idJournee }} - Equipe {{ idEquipe }} - {{ date|format_datetime('long', 'none', locale='fr') }}</h4>
        <h4 class="hide-on-med-and-up titre">J{{ idJournee }} - Equipe {{ idEquipe }}<br>{{ date|date("m/d/Y") }}</h4>

        {{ form_start(form) }}
            <div class="row" style="margin-top: 50px;">
                <div class="col s12 m6">
                    {{ form_row(form.adversaire, {'id': 'adversaire'}) }}
                    <div class="row">
                        <div class="col s12 m6" style="margin-top: 20px; margin-bottom: 10px;">
                            <div class="switch">
                                <label>
                                    <span id="domicile">Domicile</span>
                                    <input type="checkbox" name="lieu_rencontre" class="validate" id="lieu_rencontre">
                                    <span class="lever"></span>
                                    <span id="exterieur">Extérieur</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12 m6" style="margin-top: 20px;">
                            {{ form_row(form.hosted, {'id': 'hosted'}) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="issue" style="margin-top: 0; padding-top: 0;">
                        {{ form_row(form.reporte, {'id': 'reporte'}) }}
                        <div class="container">
                            {{ form_row(form.dateReport) }}
                        </div>
                    </div>
                </div>
                <div class="col s12 m2" style="margin-top: 20px;">
                    {{ form_row(form.exempt, {'id': 'exempt'}) }}
                </div>
            </div>

            <br>
            <a href="{{ path('backoffice.rencontres') }}" class="btn waves-effect waves-light grey btn_gestion">Annuler</a>
            <button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>

    <script>
        let exterieur = "{{ domicile }}";
        let lieu_rencontre = $('#lieu_rencontre');
        let span_domicile = $('#domicile');
        let span_exterieur = $('#exterieur');
        let exempt = $('#exempt');
        let adversaire = $('#adversaire');
        let hosted = $('#hosted');
        let reported = $('#reporte');
    </script>
    <script src="{{ asset('JS/editRencontre.js') }}"></script>
{% endmacro %}