{% macro rencontre(idJournee, type, idEquipe, date, form) %}
    <div class="card-panel center-align">
        <h4 class="hide-on-small-only titre">Journée {{ idJournee }} - Equipe {{ idEquipe }} - {{ date|format_datetime('long', 'none', locale='fr') }}</h4>
        <h4 class="hide-on-med-and-up titre">J{{ idJournee }} - Equipe {{ idEquipe }}<br>{{ date|date("m/d/Y") }}</h4>

        {{ form_start(form) }}
            <div class="row">
                <div class="col s12 m4">
                    <span>Adversaire</span>{{ form_row(form.adversaire) }}
                </div>
                <br>
                <div class="col s12 m4">
                    {{ form_row(form.domicile) }}
                </div>
                <div class="col s12 m4">
                    {{ form_row(form.hosted) }}
                </div>
            </div>

            <br><button class="btn btn_form waves-effect waves-light light-blue darken-1">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}