{% extends 'base.html.twig' %}

{% block title %}Les équipes{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/equipe.html.twig' as _equipe %}

{% block body %}
    <header>
        {% include("components/navbar_backoffice.html.twig") %}
    </header>

    <div class='container center'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les équipes</h4>
        </div>

        {% if not equipes|length %}
            <div class='card-panel center'>
                <p class="lobster_2 center missingTitle">Aucun championnat enregistré</p>

                <a href='{{ path('backoffice.championnat.new') }}'
                   class='btn waves-effect blue lighten-1 btn_gestion'>
                    Créer un championnat
                </a>
            </div>
        {% else %}
            {% if app.user.admin %}
                <a href='{{ path('backoffice.equipe.new') }}'
                   class='btn waves-effect blue lighten-1 btn_gestion'>
                    Créer une équipe
                </a>
            {% endif %}

            {% if equipes|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 20px;'>
                    {% for nomChampionnat, id_et_equipes in equipes %}
                        <li class='tab'>
                            <a {% if id_et_equipes.idChampionnat == active %} class="active" {% endif %}href='{{ '#equipes_' ~ id_et_equipes.idChampionnat }}'>{{ nomChampionnat }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, id_et_equipes in equipes %}
                <div class='card-panel backoffice-panel center' id='{{ 'equipes_' ~ id_et_equipes.idChampionnat }}'>
                    {{ _equipe.table(id_et_equipes.equipes, id_et_equipes.idChampionnat) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}