{% extends 'base.html.twig' %}

{% block title %}Back-office - Les équipes{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/equipe.html.twig' as _equipe %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class='container center'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les équipes</h4>
        </div>

        {% if not equipes|length %}
            <div class='card-panel center'>
                <p class="lobster_2 center missingTitle">Aucun championnat enregistré</p>
            </div>
        {% else %}
            <a href='{{ path('backoffice.equipe.new') }}'
               class='btn waves-effect waves-light blue lighten-2 btn_gestion'>
                Créer une équipe
            </a>

            {% if equipes|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 20px;'>
                    {% for nomChampionnat, renc_equipes in equipes %}
                        <li class='tab'><a {% if nomChampionnat|customSlug == focusedTab %} class="active" {% endif %}href='{{ '#equipes_' ~ nomChampionnat|slug }}'>{{ nomChampionnat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, renc_equipes in equipes %}
                <div class='card-panel backoffice-panel center' id='{{ 'equipes_' ~ nomChampionnat|slug }}'>
                    {{ _equipe.table(renc_equipes) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}