{% extends 'base.html.twig' %}

{% block title %}Back office - Les divisions{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les divisions</h4>
        </div>

        <div class="card-panel center">

            <a style="margin-bottom: 20px;" href="{{ path('backoffice.division.new') }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion">Créer une division</a>

            {% if divisions|length > 0 %}
                <table class="striped centered responsive-table">
                    <thead>
                        <tr>
                            <th>Diminutif</th>
                            <th>Nom long</th>
                            <th>Championnat départemental</th>
                            <th>Championnat de Paris</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for division in divisions %}
                        <tr>
                            <td>{{ division.shortName }}</td>
                            <td>{{ division.longName }}</td>
                            <td>{{ division.nbJoueursChamp('departementale') != -1 ? division.nbJoueursChampDepartementale : "<i class='grey-text material-icons'>block</i>" }} joueurs</td>
                            <td>{{ division.nbJoueursChamp('paris') != -1 ? division.nbJoueursChampParis : "<i class='grey-text material-icons'>block</i>" }} joueurs</td>
                            <td>
                                <a href="{{ path('backoffice.division.edit', {idDivision: division.idDivision}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('backoffice.division.delete', {idDivision: division.idDivision}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer la division ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ division.idDivision) }}">
                                    <button class="btn waves-effect waves-light red lighten-2 btn_gestion">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="lobster_2" style="font-size: 20px;">Il n'y a pas de divisions enregistrées.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}