{% extends 'base.html.twig' %}

{% block title %}Back-office - Les divisions{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/division.html.twig' as _division %}

{% block body %}
    {{ include('components/navbar_backoffice.html.twig') }}
    <script type="text/javascript" defer src="{{ asset('JS/resizeResponsiveTable.min.js') }}"></script>

    <div class='container center'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les divisions</h4>
        </div>

        {% if not divisions|length %}
            <div class='card-panel center'>
                <p class="lobster_2 center missingTitle">Aucun championnat enregistré</p>

                <a href='{{ path('backoffice.championnat.new') }}'
                   class='btn waves-effect blue lighten-1 btn_gestion'>
                    Créer un championnat
                </a>
            </div>
        {% else %}
            <a href='{{ path('backoffice.division.new') }}'
               class='btn waves-effect blue lighten-1 btn_gestion'>
                Créer une division
            </a>

            {% if divisions|length > 1 %}
                <ul class='tabs tabs-fixed-width tab-demo z-depth-1' style='margin-top: 20px;'>
                    {% for nomChampionnat, id_et_divisions in divisions %}
                        <li class='tab'>
                            <a href='{{ '#divisions_' ~ id_et_divisions.idChampionnat }}' {% if id_et_divisions.idChampionnat == active %} class="active" {% endif %}>{{ nomChampionnat }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% for nomChampionnat, id_et_divisions in divisions %}
                <div class='card-panel backoffice-panel center' id='{{ 'divisions_' ~ id_et_divisions.idChampionnat }}'>
                    {{ _division.table(id_et_divisions.divisions) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}