{% extends 'base.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}

    {# include("components/navbar.html.twig") #}

    <ul class="tabs">
        <li class="tab col s3"><a href="#disponibilites">Les disponibilités</a></li>
        <li class="tab col s3"><a href="#competiteurs">Les compétiteurs</a></li>
        <li class="tab col s3"><a href="#equipes">Les équipes</a></li>
    </ul>

    <div class="container">

        <div id="disponibilites">
            <div class="card-panel center-align white-text title_journee">
                <h4>Les disponibilités</h4>
            </div>

            <ul class="tabs">
                <li class="tab col s3"><a href="#disponibilites_departementales" class="active">Les disponibilités départementales</a></li>
                <li class="tab col s3"><a href="#disponibilites_paris">Les disponibilités en Paris</a></li>
            </ul>

            <div class="card-panel center" id="disponibilites_departementales">
                <table class="striped">
                    <thead>
                        <tr>
                            <th><h5>Joueur</h5></th>
                            <th><h5>N° de journée</h5></th>
                            <th><h5>Date</h5></th>
                            <th><h5>Disponiblité</h5></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteDepartementales %}
                        <tr>
                            <td>{{ dispo.idCompetiteur.nom }}</td>
                            <td>{{ dispo.idJournee.idJournee }}</td>
                            <td>{{ dispo.idJournee.date | date("d/m/Y") }}</td>
                            <td>{{ dispo.disponibilite }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-panel center" id="disponibilites_paris">
                <table class="striped">
                    <thead>
                        <tr>
                            <th><h5>Joueur</h5></th>
                            <th><h5>N° de journée</h5></th>
                            <th><h5>Date</h5></th>
                            <th><h5>Disponiblité</h5></th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for dispo in disponibiliteDepartementales %}
                        <tr>
                            <td>{{ dispo.idCompetiteur.nom }}</td>
                            <td>{{ dispo.idJournee.idJournee }}</td>
                            <td>{{ dispo.idJournee.date | date("d/m/Y") }}</td>
                            <td>{{ dispo.disponibilite }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div id="competiteurs" class="col s12">
            <div class="card-panel center-align white-text title_journee">
                <h4>Les compétiteurs</h4>
            </div>

            <div class="card-panel center">
                <table class="striped">
                    <thead>
                    <tr>
                        <th><h5>Nom</h5></th>
                        <th><h5>Identifiant</h5></th>
                        <th><h5>License</h5></th>
                        <th><h5>Classement officiel</h5></th>
                        <th><h5>Rôle</h5></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for competiteur in competiteurs %}
                        <tr>
                            <td>{{ competiteur.nom }}</td>
                            <td>{{ competiteur.username }}</td>
                            <td>{{ competiteur.licence }}</td>
                            <td>{{ competiteur.classementOfficiel }}</td>
                            <td>{% if competiteur.role == 'P' %}
                                    Joueur
                                {% elseif competiteur.role == 'C' %}
                                    Capitaine
                                {% endif %}
                            </td>
                            <td><a href="{{ path('competiteur.edit', {id: competiteur.idCompetiteur}) }}" class="btn waves-effect waves-light blue lighten-2"><i class="material-icons">edit</i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="equipes" class="col s12">
            <div class="card-panel center-align white-text title_journee">
                <h4>Les équipes</h4>
            </div>

            <ul class="tabs">
                <li class="tab col s3"><a href="#equipes_departementales" class="active">Les équipes départementales</a></li>
                <li class="tab col s3"><a href="#equipes_paris">Les équipes de Paris</a></li>
            </ul>

            <div class="card-panel center" id="equipes_departementales">
                <table class="striped">
                    <thead>
                    <tr>
                        <th><h5>N° équipe</h5></th>
                        <th><h5>Division</h5></th>
                        <th><h5>Poule</h5></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for equipe in equipesDepartementales %}
                        <tr>
                            <td>{{ equipe.idEquipe }}</td>
                            <td>{{ equipe.division }}</td>
                            <td>{{ equipe.poule }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-panel center" id="equipes_paris">
                <table class="striped">
                    <thead>
                    <tr>
                        <th><h5>N° équipe</h5></th>
                        <th><h5>Division</h5></th>
                        <th><h5>Poule</h5></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for equipe in equipesParis %}
                        <tr>
                            <td>{{ equipe.idEquipe }}</td>
                            <td>{{ equipe.division }}</td>
                            <td>{{ equipe.poule }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}