{% extends 'base.html.twig' %}

{% block title %}Back-office - Importer des joueurs{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    <header>
        {% include("components/navbar_backoffice.html.twig") %}
        <script type="text/javascript" defer src="{{ asset('JS/importJoueursFromExcel.js') }}"></script>
    </header>

    <div style="width: 90%" class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Importer des joueurs</h4>
        </div>

        <div class='card-panel backoffice-panel center'>

            <a class="waves-effect waves-light btn modal-trigger blue" href="#instructions">
                <i class="material-icons">info</i> Instructions</a>

            <div id="instructions" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Instructions pour l'importation de joueurs</h4>

                    <div style="text-align: start">
                        <p>A bunch of text</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-blue btn-flat grey-text">Compris !</a>
                </div>
            </div>

            <form id="inputFileJoueurs" action="{{ path('backoffice.competiteurs.import.file.save') }}" method="POST" enctype="multipart/form-data">
                <div class="row" style="margin-bottom: 0;">
                    <div class="file-field input-field col s12 m10 offset-m1 l6 offset-l3">
                        <div class="btn blue" id="btnFileInputExcelDocument">
                            <i class="material-icons">attach_file</i>
                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="excelDocument" id="excelDocument">
                        </div>
                        <div class="file-path-wrapper">
                            <label for="filePathExcelDocument" hidden></label>
                            <input class="file-path" type="text" id="filePathExcelDocument">
                        </div>
                    </div>
                </div>

                <div id="tableJoueursImportes"></div>
                <div id="tableJoueursImportesLoader" class="hide" style="padding-right: 4px; padding-left: 4px;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <a href="{{ path('backoffice.competiteurs') }}" class="btn waves-effect grey btn_gestion" id="retourMembres">Retour</a>
        </div>
    </div>
{% endblock %}