{% extends 'base.html.twig' %}

{% block title %}Back-office - Les compétiteurs{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les compétiteurs</h4>
        </div>

        <div class='card-panel backoffice-panel center'>

            <a style='margin-bottom: 20px;' href='{{ path('backoffice.competiteur.new') }}' class='btn waves-effect waves-light blue lighten-2 btn_gestion'>Créer un compétiteur</a>

            {% if competiteurs|length %}
                <table class='striped centered responsive-table backoffice-table'>
                    <thead>
                        <tr>
                            <th class='th_picture_compet_table'></th>
                            <th class='hide-on-med-and-down'>Avatar</th>
                            <th>Nom</th>
                            <th class='hide-on-small-only'>Licence</th>
                            <th class='hide-on-med-and-up'>Lic.</th>
                            <th class='hide-on-small-only'>Classement</th>
                            <th class='hide-on-med-and-up'>Class.</th>
                            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                                <th>Certificat médical</th>
                            {% endif %}
                            <th></th>
                            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                    {% for competiteur in competiteurs %}
                        <tr>
                            <td>
                                {% if not competiteur.visitor %}
                                    {% if competiteur.isAdmin %}
                                        <span class='new badge red' data-badge-caption='Administrateur'></span>
                                    {% elseif competiteur.isCapitaine %}
                                        <span class='new badge blue' data-badge-caption='Capitaine'></span>
                                    {% else %}
                                        <span class='new badge green' data-badge-caption='Joueur'></span>
                                    {% endif %}
                                {% else %}
                                    <span class='new badge orange' data-badge-caption='Visiteur'></span>
                                {% endif %}
                            </td>
                            <td class="td_picture_compet">
                                {% if competiteur.avatar %}
                                    <img class="picture_compet avatar" src='{{ vich_uploader_asset(competiteur, 'imageFile') }}' alt='Avatar' width='60rem' height='60rem'>
                                {% else %}
                                    <img class="picture_compet avatar" src='{{ asset('images/account.png') }}' alt='Avatar' width='60rem' height='60rem'>
                                {% endif %}
                            </td>
                            <td>{{ competiteur.nom }} {{ competiteur.prenom }}</td>
                            <td>
                                {% if competiteur.visitor %}
                                    <i>Sans licence</i>
                                {% else %}
                                    {% if competiteur.licence %}
                                        {{ competiteur.licence }}
                                    {% else %}
                                        <span class='red-text lighten-2'>License indéfinie</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if competiteur.visitor %}
                                    <i>Sans classement</i>
                                {% else %}
                                    {% if competiteur.classementOfficiel %}
                                        {{ competiteur.classementOfficiel }}
                                    {% else %}
                                        <span class='red-text lighten-2'>Non renseigné</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                                <td class="td_certificat_btn{% if not competiteur.anneeCertificatMedical or competiteur.anneeCertificatMedical < "now"|date('Y')-2 %} td_certificat_btned{% endif %}">
                                    {% if not competiteur.anneeCertificatMedical %}
                                        <form method='post' action='{{ path('backoffice.competiteur.renouveler.certificat', {id: competiteur.idCompetiteur, routeToRedirect: 'backoffice.competiteurs'}) }}' onsubmit="return confirm('Renouveler le certificat médical ?')">
                                            <i class="red-text material-icons" style="vertical-align: middle;">clear</i><button style="margin-left: 4px" class="btn waves-effect waves-light green lighten-2 btn_gestion btn_renouveler_certif_mobile"><i class="material-icons">sync</i></button>
                                        </form>
                                    {% else %}
                                        <span style="vertical-align: sub;">
                                            {% if competiteur.anneeCertificatMedical >= "now"|date('Y')-2 %}
                                                <i class="green-text material-icons" style="vertical-align: middle;">done</i>
                                                {{ competiteur.anneeCertificatMedical+3 }} - {{ competiteur.anneeCertificatMedical+4 }}
                                            {% endif %}
                                            {% if not competiteur.anneeCertificatMedical or competiteur.anneeCertificatMedical < "now"|date('Y')-2 %}
                                                <form method='post' action='{{ path('backoffice.competiteur.renouveler.certificat', {id: competiteur.idCompetiteur, routeToRedirect: 'backoffice.competiteurs'}) }}' onsubmit="return confirm('Renouveler le certificat médical ?')">
                                                    <i class="red-text material-icons" style="vertical-align: middle;">clear</i>{{ competiteur.anneeCertificatMedical+3 }} - {{ competiteur.anneeCertificatMedical+4 }}<button style="margin-left: 4px" class="btn waves-effect waves-light green lighten-2 btn_gestion btn_renouveler_certif_mobile"><i class="material-icons">sync</i></button>
                                                </form>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                    {% if not competiteur.anneeCertificatMedical or competiteur.anneeCertificatMedical < "now"|date('Y')-2 %}
                                        <form method='post' action='{{ path('backoffice.competiteur.renouveler.certificat', {id: competiteur.idCompetiteur, routeToRedirect: 'backoffice.competiteurs'}) }}' onsubmit="return confirm('Renouveler le certificat médical ?')">
                                            <button class='btn waves-effect waves-light green lighten-2 btn_gestion btn_renouveler_certif_pc'>
                                                Renouveler
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td style="padding-bottom: 0; padding-top: 0;">
                                <a href='{{ path('backoffice.competiteur.edit', {idCompetiteur: competiteur.idCompetiteur}) }}' class='btn waves-effect waves-light blue lighten-2 btn_gestion'><i class='material-icons'>edit</i></a>
                            </td>
                            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                                <td style="padding-top: 10px; padding-bottom: 4px;">
                                    <form method='post' action='{{ path('backoffice.competiteur.delete', {id: competiteur.idCompetiteur}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le joueur ?')">
                                        <input type='hidden' name='_method' value='DELETE'>
                                        <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ competiteur.idCompetiteur) }}'>
                                        <button class='btn waves-effect waves-light red lighten-2 btn_gestion'>
                                            <i class='material-icons'>delete</i>
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun compétiteur enregistré</p>
            {% endif %}
        </div>
    </div>
{% endblock %}