{% extends 'base.html.twig' %}

{% block title %}Back-office - Les membres{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/membre.html.twig' as _membre %}
{% import 'macros/modalContact.html.twig' as _modalContact %}

{% block body %}

    <header>
        {% include("components/navbar_backoffice.html.twig") %}
        <script type="text/javascript" defer src="{{ asset('JS/resizeResponsiveTable.min.js') }}"></script>
    </header>

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les membres</h4>
        </div>

        {% if app.user.admin %}
            <div class='card-panel backoffice-panel center'>
                <h5 style="margin-top: 0">Modifier le contenu des mails automatiques de ...</h5>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-bienvenue'}) }}' class='btn waves-effect blue lighten-1 btn_gestion'>Bienvenue</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-mdp-oublie'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_mdp_oublie">Mot de passe oublié</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-certif-medic-perim'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_certif_medic_perim">Certif. médic. périm.</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-pre-phase'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_certif_medic_perim">Pré-phase</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-sans-dispo'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_certif_medic_perim">Dispo non déclarée</a>
            </div>
        {% endif %}

        <div class='card-panel backoffice-panel center'>

            <a style='margin-bottom: 20px;' href='{{ path('backoffice.competiteur.new') }}' class='btn waves-effect blue lighten-1 btn_gestion'>Créer un membre</a>
            <a style='margin-bottom: 20px;' href='{{ path('backoffice.competiteurs.export.excel') }}' class='btn waves-effect green btn_gestion'>
                <img style="padding: 6px 0;" src="{{ asset('images/excel.png') }}" alt="excel_icon">
            </a><br>

            {% if joueursInvalidCertifMedic|length and app.user.admin %}
                <a class="modal-trigger btn waves-effect btn_gestion blue lighten-1" href="#modal{{ 'certif_medic_invalides' }}" style='margin-bottom: 20px;'>Alert. certif. médic. périm.<span id="badgeCertifInvalidButton">{{ joueursInvalidCertifMedic|length }}</span></a>
                {{ _modalContact.modalAlertPlayers(
                    'certif_medic_invalides',
                    contactsJoueursInvalidCertifMedic,
                    'Alerter les joueurs dont le certificat médical n\'est plus valable pour la rentrée',
                    path('backoffice.alert.certif-medic-perim'),
                    null,
                    {
                        noSMS: 1,
                        linkPathMail: path('backoffice.alert.certif-medic-perim'),
                        btnTxtMail: 'envoyer mail',
                        info: 'Pour raison de confidentialité, les joueurs sont destinataires du mail en copie cachée. L\'alerte est envoyée au click sur le bouton \'ENVOYER MAIL\'.'
                    })
                }}
            {% endif %}

            {% if joueurs|length %}
                {{ _membre.tableActifs(joueurs, onlyOneAdmin ) }}
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun membre enregistré</p>
            {% endif %}

            {% if joueursArchives|length %}
                <ul class="collapsible backoffice_archives" style="margin-top: 15px">
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <i class="material-icons" style="vertical-align: middle;">inventory</i>
                                {{ joueursArchives|length }} joueur{{ joueursArchives|length > 1 ? 's' : '' }} archivé{{ joueursArchives|length > 1 ? 's' : '' }}
                            </div>
                            <i class="caret material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="collapsible-body">
                            {{ _membre.tableArchives(joueursArchives, onlyOneAdmin ) }}
                        </div>
                    </li>
                </ul>
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun membre archivé</p>
            {% endif %}
        </div>

        <div class='card-panel backoffice-panel center'>
            <h5>Résultats - Chasse aux codes</h5>

            <table class="responsive-table striped">
                <thead>
                    <tr>
                        <th class="center">Nom</th>
                        <th class="center">Sans triche</th>
                        <th class="center">Codes corrects</th>
                        <th class="center"><i class="material-icons prefix" style="color: #b9f2ff">diamond</i>Code Diamant</th>
                        <th class="center"><i class="material-icons prefix" style="color: #0131b4">diamond</i>Code Saphir</th>
                        <th class="center"><i class="material-icons prefix" style="color: #e0115f">diamond</i>Code Rubis</th>
                    </tr>
                </thead>

                <tbody>
                    {% for joueur in joueurs %}
                        {% if joueur.ownCodes | length %}
                            <tr>
                                <td>
                                    {% if joueur.winner and not joueur.fullWinner %}
                                        <span class="material-icons green-text" style="vertical-align: bottom;">emoji_events</span>
                                    {% elseif joueur.fullWinner %}
                                        <span class="material-icons gold-color" style="vertical-align: bottom;">emoji_events</span>
                                    {% endif %}
                                    {{ joueur.nom }} {{ joueur.prenom }}
                                </td>
                                <td class="center">
                                    {% if not joueur.cheating %}
                                        <i class="material-icons green-text">check</i>
                                    {% else %}
                                        <i class="material-icons red-text">report_problem</i>
                                    {% endif %}
                                </td>
                                <td class="center"><b {% if joueur.winner and not joueur.fullWinner %}class="green-text"{% elseif joueur.fullWinner %}class="gold-color"{% endif %}>{{ joueur.ownCodes | length }}</b> / 11 + 3</td>
                                <td class="center">
                                    {% if joueur.codeBonus1Correct %}
                                        <i class="material-icons green-text">check</i>
                                    {% else %}
                                        <i class="material-icons red-text">clear</i>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if joueur.codeBonus2Correct %}
                                        <i class="material-icons green-text">check</i>
                                    {% else %}
                                        <i class="material-icons red-text">clear</i>
                                    {% endif %}
                                </td>
                                <td class="center">
                                    {% if joueur.codeBonus3Correct %}
                                        <i class="material-icons green-text">check</i>
                                    {% else %}
                                        <i class="material-icons red-text">clear</i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}