{% extends 'base.html.twig' %}

{% block title %}Les membres{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/membre.html.twig' as _membre %}
{% import 'macros/modalContact.html.twig' as _modalContact %}

{% block body %}

    <header>
        {% include("components/navbar_backoffice.html.twig") %}
        <script type="text/javascript" defer src="{{ asset('JS/resizeResponsiveTable.min.js') }}"></script>
    </header>

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les membres</h4>
        </div>

        {% if app.user.admin %}
            <div class='card-panel backoffice-panel center'>
                <h5 style="margin-top: 0">Modifier le contenu des emails automatiques de ...</h5>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-bienvenue-loisirs'}) }}' class='btn waves-effect blue lighten-1 btn_gestion'>Bienvenue (loisirs)</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-bienvenue'}) }}' class='btn waves-effect blue lighten-1 btn_gestion'>Bienvenue</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-mdp-oublie'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_mdp_oublie">Mot de passe oublié</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-certif-medic-perim'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_certif_medic_perim">Certif. médic. périm.</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-pre-phase'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_certif_medic_perim">Pré-phase</a>
                <a href='{{ path('backoffice.mail.edit', {type: 'mail-sans-dispo'}) }}' class='btn waves-effect blue lighten-1 btn_gestion' id="bo_mail_certif_medic_perim">Dispo non déclarée</a>
            </div>
        {% endif %}

        <div class='card-panel backoffice-panel center'>

            <a style='margin-bottom: 5px;' href='{{ path('backoffice.competiteur.new') }}' class='btn waves-effect blue lighten-1 btn_gestion'>Créer un membre</a>
            <a style='margin-bottom: 5px;' href='{{ path('backoffice.competiteurs.export.excel') }}' data-tooltip="Exporter les joueurs" data-position="top" class='btn waves-effect green btn_gestion tooltipped'>
                <i class='material-icons'>download</i>
            </a>
            {% if app.user.admin %}
                <a style='margin-bottom: 5px;' href='{{ path('backoffice.competiteurs.import.file') }}' data-tooltip="Importer des joueurs" data-position="top" class='btn waves-effect green btn_gestion tooltipped'>
                    <i class='material-icons'>upload</i>
                </a>
            {% endif %}

            {% if joueursInvalidCertifMedic|length and app.user.admin %}
                <div style="display: flex; justify-content: center; align-items: center;">
                    <p class="red-text lighten-2" style="padding-left: 0; width: fit-content; margin-bottom: 8px;"><i class="material-icons">dangerous</i>
                        Il y a <b><span id="badgeCertifInvalidButton">{{ joueursInvalidCertifMedic|length }}</span> membre{{ joueursInvalidCertifMedic|length > 1 ? 's' : '' }}</b> dont le certificat médical devra être renouvelé pour la rentrée <b>{{ 'now'|date('Y') }}/{{ 'now'|date('Y')+1 }}</b>
                    </p>
                    <a style="width: 27px; height: 27px;" class="modal-trigger btn waves-effect btn_gestion blue btn-floating lighten-1 btn-small" href="#modal{{ 'certif_medic_invalides' }}">
                        <i class="material-icons" style="font-size: 14px; top: -3px; position: relative; right: 9px;">campaign</i>
                    </a>
                    {{ _modalContact.modalAlertPlayers(
                        'certif_medic_invalides',
                        contactsJoueursInvalidCertifMedic,
                        'Alerter les joueurs dont le certificat médical n\'est plus valable pour la rentrée',
                        path('backoffice.alert.certif-medic-perim'),
                        null,
                        {
                            noSMS: 1,
                            linkPathMail: path('backoffice.alert.certif-medic-perim'),
                            btnTxtMail: 'envoyer e-mail',
                            info: 'Pour raison de confidentialité, les joueurs sont destinataires de l\'e-mail en copie cachée. L\'alerte est envoyée au click sur le bouton ENVOYER E-MAIL.'
                        })
                    }}
                </div>
            {% endif %}

            {% if joueursWithoutLicence.count or competiteursWithoutClassement.count %}
                <p class="red-text lighten-2" style="margin-top: 8px; margin-bottom: 20px;"><i class="material-icons">dangerous</i>
                    {{ joueursWithoutLicence.message | raw }}{{ competiteursWithoutClassement.message | raw }}
                </p>
            {% endif %}

            {% if joueurs|length %}
                {{ _membre.tableActifs(joueurs, onlyOneAdmin ) }}
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun membre enregistré</p>
            {% endif %}

            {% if joueursArchives|length %}
                <ul class="collapsible backoffice_archives" style="margin-top: 15px">
                    <li>
                        <div class="collapsible-header">
                            <div class="chip">
                                <i class="material-icons" style="vertical-align: middle;">inventory</i>
                                {{ joueursArchives|length }} joueur{{ joueursArchives|length > 1 ? 's' : '' }} archivé{{ joueursArchives|length > 1 ? 's' : '' }}
                            </div>
                            <i class="caret material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="collapsible-body">
                            {{ _membre.tableArchives(joueursArchives, onlyOneAdmin) }}
                        </div>
                    </li>
                </ul>
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun membre archivé</p>
            {% endif %}
        </div>
    </div>
{% endblock %}