{% extends 'base.html.twig' %}

{% block title %}Back-office - Les compétiteurs{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class='container'>

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class='card-panel center-align white-text title_journee'>
            <h4>Les compétiteurs</h4>
        </div>

        <div class='card-panel backoffice-panel center'>

            <a style='margin-bottom: 20px;' href='{{ path('backoffice.competiteur.new') }}' class='btn waves-effect waves-light blue lighten-1 btn_gestion'>Créer un compétiteur</a>
            <a style='margin-bottom: 20px;' href='{{ path('backoffice.competiteurs.export.excel') }}' class='btn waves-effect waves-light green btn_gestion'>
                <img style="padding: 6px 0;" src="{{ asset('images/excel.png') }}" alt="excel_icon">
            </a>

            {% if competiteurs|length %}
                <table class='striped centered responsive-table backoffice-table'>
                    <thead>
                        <tr class='hide-on-med-and-down'>
                            <th class='th_picture_compet_table'></th>
                            <th>Avatar</th>
                            <th>Nom</th>
                            <th>Licence</th>
                            <th>Classement</th>
                            <th class="truncate">Certificat médical</th>
                            <th></th>
                            {% if 'ROLE_ADMIN' in app.token.roleNames %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody>
                        {% for competiteur in competiteurs %}
                            <tr>
                                <td style="padding-top: 8px; padding-bottom: 8px;">
                                    {% if competiteur.isAdmin %}
                                        <span class='new badge red{% if not competiteur.isEntraineur and not competiteur.isCapitaine %} badge-role{% endif %}' data-badge-caption='Administrateur'></span>
                                    {% endif %}

                                    {% if not competiteur.isArchive %}
                                        {% if competiteur.isCompetiteur %}
                                            {% if competiteur.isAdmin %}<br>{% endif %}
                                            <span style="margin-top: 2px" class='new badge green{% if not competiteur.isEntraineur and not competiteur.isCapitaine %} badge-role{% endif %}' data-badge-caption='Compétiteur'></span>
                                        {% elseif competiteur.isLoisir %}
                                            {% if competiteur.isAdmin %}<br>{% endif %}
                                            <span style="margin-top: 2px" class='new badge orange{% if not competiteur.isEntraineur and not competiteur.isCapitaine %} badge-role{% endif %}' data-badge-caption='Loisir'></span>
                                        {% endif %}

                                        {% if competiteur.isCapitaine %}
                                            <br>
                                            <span style="margin-top: 2px" class='new badge blue' data-badge-caption='Capitaine'></span>
                                        {% endif %}

                                        {% if competiteur.isEntraineur %}
                                            <br>
                                            <span style="margin-top: 2px" class="new badge brown lighten-1" data-badge-caption="Entraîneur"></span>
                                        {% endif %}
                                    {% else %}
                                        <span class="new badge grey lighten-1" data-badge-caption="Archivé"></span>
                                    {% endif %}
                                </td>
                                <td class="td_picture_compet">
                                    {% if competiteur.avatar %}
                                        <img class="picture_compet avatar" src='{{ vich_uploader_asset(competiteur, 'imageFile') }}' alt='Avatar' width='60rem' height='60rem'>
                                    {% else %}
                                        <img class="picture_compet avatar" src='{{ asset('images/account.png') }}' alt='Avatar' width='60rem' height='60rem'>
                                    {% endif %}
                                </td>
                                <td>{{ competiteur.nom }} {{ competiteur.prenom }}</td>
                                <td {% if competiteur.isArchive %}class="hide-on-med-and-down"{% endif %}>
                                    {% if not competiteur.isArchive %}
                                        {% if competiteur.licence %}
                                            {{ competiteur.licence }}
                                        {% else %}
                                            <span class='red-text lighten-2'>Licence indéfinie</span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {% if competiteur.isArchive %}class="hide-on-med-and-down"{% endif %}>
                                    {% if not competiteur.isArchive %}
                                        {% if not competiteur.isCompetiteur %}
                                            <i>Sans classement</i>
                                        {% else %}
                                            {% if competiteur.classementOfficiel %}
                                                {{ competiteur.classementOfficiel }} pts
                                            {% else %}
                                                <span class='red-text lighten-2'>Classement indéfini</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {% if competiteur.isArchive %}class="hide-on-med-and-down"{% endif %}>
                                    {% if not competiteur.isArchive %}
                                        {% if competiteur.age != null and competiteur.age < 18 %}
                                            <span style="color: grey"><i>Mineur (facultatif)</i></span>
                                        {% else %}
                                            {% if not competiteur.anneeCertificatMedical %}
                                                <span class="red-text">Certificat indéfini</span>
                                            {% else %}
                                                <span>
                                                    {% if competiteur.anneeCertificatMedical >= "now"|date('Y')-2 %}
                                                        <i class="green-text material-icons" style="vertical-align: bottom;">done</i>
                                                        {{ competiteur.anneeCertificatMedical+3 }} - {{ competiteur.anneeCertificatMedical+4 }}
                                                    {% else %}
                                                        <i class="red-text material-icons" style="vertical-align: bottom;">clear</i>{{ competiteur.anneeCertificatMedical+3 }} - {{ competiteur.anneeCertificatMedical+4 }}
                                                    {% endif %}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td style="padding-bottom: 0; padding-top: 0;">
                                    <a href='{{ path('backoffice.competiteur.edit', {idCompetiteur: competiteur.idCompetiteur}) }}' class='btn waves-effect waves-light blue lighten-2 btn_gestion'><i class='material-icons'>edit</i></a>
                                </td>
                                {% if 'ROLE_ADMIN' in app.token.roleNames %}
                                    <td>
                                        {% if not (onlyOneAdmin and competiteur.admin) %}
                                            <form method='post' action='{{ path('backoffice.competiteur.delete', {id: competiteur.idCompetiteur}) }}' onsubmit="return confirm('Êtes-vous sûr de supprimer le membre ?')">
                                                <input type='hidden' name='_method' value='DELETE'>
                                                <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ competiteur.idCompetiteur) }}'>
                                                <button class='btn waves-effect waves-light red lighten-2 btn_gestion'>
                                                    <i class='material-icons'>delete</i>
                                                </button>
                                            </form>
                                        {% else %}
                                            <div class="tooltipped" data-position="top" data-tooltip="Vous êtes le seul administrateur">
                                                <a class='btn red lighten-2 btn_gestion' disabled="">
                                                    <i class='material-icons'>delete</i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class='lobster_2 missingTitle'>Aucun compétiteur enregistré</p>
            {% endif %}
        </div>
    </div>
{% endblock %}