{% extends 'base.html.twig' %}

{% block title %}Back office - Les compétiteurs{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/edit/account.html.twig' as edit_account %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">
        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ form_errors(form) }}

        {{ edit_account.edit_account('backoffice', 'Créer un compétiteur', form, null, 'Créer') }}
    </div>

{% endblock %}