{% extends 'base.html.twig' %}

{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/form/account.html.twig' as _account %}
{% form_theme form 'components/materialize_form_theme.html.twig' %}
{% block title %}Créer un compétiteur{% endblock %}

{% block body %}

    {{ include('components/navbar_backoffice.html.twig') }}

    <div class="container">
        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        {{ form_errors(form) }}

        {{ _account.edit_account('backoffice', 'Créer un compétiteur', form, null, false, -1) }}
    </div>

{% endblock %}