{% extends 'base.html.twig' %}

{% block title %}Back office - Les équipes{% endblock %}
{% import 'macros/flash.html.twig' as _flash %}
{% import 'macros/equipe.html.twig' as _equipe %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ _flash.message(message, 'green') }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ _flash.message(message, 'red') }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les équipes</h4>
        </div>

        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#equipes_departementales" class="active">Départemental</a></li>
            <li class="tab"><a href="#equipes_paris">Paris</a></li>
        </ul>

        <div class="card-panel" id="equipes_departementales">
            {{ _equipe.table(equipesDepartementales) }}
        </div>

        <div class="card-panel" id="equipes_paris">
            {{ _equipe.table(equipesParis) }}
        </div>
    </div>

{% endblock %}