{% extends 'base.html.twig' %}

{% block title %}Back office - Les équipes{% endblock %}
{% import 'macros/flash.html.twig' as flash %}

{% block body %}

    {{ include("components/navbar_backoffice.html.twig") }}

    <div class="container">

        {% for message in app.flashes('success') %}
            {{ flash.success(message) }}
        {% endfor %}

        {% for message in app.flashes('fail') %}
            {{ flash.fail(message) }}
        {% endfor %}

        <div class="card-panel center-align white-text title_journee">
            <h4>Les équipes</h4>
        </div>

        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a href="#equipes_departementales" class="active">Départemental</a></li>
            <li class="tab"><a href="#equipes_paris">Paris</a></li>
        </ul>

        <div class="card-panel" id="equipes_departementales">
            <table class="striped centered">
                <thead>
                <tr>
                    <th>Equipe</th>
                    <th>Division</th>
                    <th>Poule</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for equipe in equipesDepartementales %}
                    <tr>
                        <td>{{ equipe.idEquipe }}</td>
                        <td>{{ equipe.division.longName }}</td>
                        <td>{{ equipe.poule.poule }}</td>
                        <td><a href="{{ path('backoffice.equipe.edit', {idEquipe: equipe.idEquipe, type: 'departementale'}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-panel" id="equipes_paris">
            <table class="striped centered">
                <thead>
                <tr>
                    <th>Equipe</th>
                    <th>Division</th>
                    <th>Poule</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for equipe in equipesParis %}
                    <tr>
                        <td>{{ equipe.idEquipe }}</td>
                        <td>{{ equipe.division.longName }}</td>
                        <td>{{ equipe.poule.poule }}</td>
                        <td><a href="{{ path('backoffice.equipe.edit', {idEquipe: equipe.idEquipe, type: 'paris'}) }}" class="btn waves-effect waves-light blue lighten-2 btn_gestion"><i class="material-icons">edit</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}